{% if type == 'danger' or type == 'error' %}
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <div class="p-2 flex-grow-1"><i class="fa-solid fa-circle-exclamation"></i> {{ message|raw }}</div>
        <button type="button" class="btn-close p-2" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% elseif type == 'warning' %}
    <div class="alert alert-warning d-flex align-items-center" role="alert">
        <div class="p-2 flex-grow-1"><i class="fa-solid fa-triangle-exclamation"></i> {{ message|raw }}</div>
        <button type="button" class="btn-close p-2" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% elseif type == 'info' %}
    <div class="alert alert-info d-flex align-items-center" role="alert">
        <div class="p-2 flex-grow-1"><i class="fa-solid fa-circle-info"></i> {{ message|raw }}</div>
        <button type="button" class="btn-close p-2" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% elseif type == 'success' %}
    <div class="alert alert-success d-flex flex-row align-items-center" role="alert">
        <div class="p-2 flex-grow-1"><i class="fa-solid fa-circle-check"></i> {{ message|raw }}</div>
        <button type="button" class="btn-close p-2" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% elseif type == 'gamemaster' %}
    <div class="alert alert-gamemaster d-flex align-items-center" role="alert">
        <div class="p-2 flex-grow-1"><i class="fa-solid fa-feather"></i> {{ message|raw }}</div>
        <button type="button" class="btn-close p-2" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}
