{# display is for the whole bloc, may we want to display some public button and not admin one #}
{% if isAdmin is defined and not isAdmin and display is not defined %}
    {% set display = false %}
{% endif %}

{% if display is not defined %}
    {% set display = true %}
{% endif %}

{% if buttons is not defined %}
    {% set buttons = [] %}
{% endif %}

{% if display and buttons|length > 0 %}
    <div data-turbo="false">
        <div class="d-flex justify-content-between" role="toolbar">
            <div class="d-flex btn-group{% if css is defined %} {{ css|join(' ') }}{% endif %}" role="group">

                {% for button in buttons %}
                    {# may only some button are admin reserved #}
                    {% if button.isAdmin is not defined or not button.isAdmin or (button.isAdmin and isAdmin) %}
                        <a class="btn {% if button.css is defined %} {{ button.css|join(' ') }}{% else %}btn-secondary{% endif %} align-self-center"
                           data-bs-toggle="tooltip" data-bs-placement="bottom"
                                {% if button.title is defined %} title="{{ button.title }}" {% endif %}
                                {% if button.target is defined %}target="{{ button.target }}"{% endif %}
                                {% if button.route is defined %}href="{{ button.route }}"{% endif %}>
                            {% if button.icon is defined %}<i class="fa {{ button.icon }}"></i>{% endif %}
                            {% if button.label is defined %}{{ button.label }}{% endif %}
                        </a>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
{% endif %}
