{# pagerService must be defined if form is not #}
{% if form is not defined %}
    {% set form = pagerService.getForm.createView %}
{% endif %}


<div class="d-flex justify-content-center" data-turbo="false">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="btn-toolbar" role="toolbar">
                {{ form_start(form, {"action": actionPath}) }}
                <div class="form-group">
                    <div class="input-group">
                        {{ form_widget(form.value) }}
                        {{ form_widget(form.type) }}
                        {% if searchCriterias is defined %}
                            {% for searchCriteria in searchCriterias %}
                                // TODO add form inputs from searchCriterias
                            {% endfor %}
                        {% endif %}
                        <div class="input-group-btn {% if buttons is defined %}me-2{% endif %}">
                            <button type="submit" class="btn btn-default"
                                    data-bs-toggle="tooltip" data-bs-placement="bottom"
                                    title="Lancer la recherche"><i class="fa fa-search"></i>
                            </button>
                            <a class="btn btn-default"
                               data-bs-toggle="tooltip" data-bs-placement="bottom" title="Reset"
                               href="{{ actionPath }}"><i class="fa fa-refresh"></i>
                            </a>
                        </div>
                        <div class="input-group-btn btn-group" role="group">
                            {% if canAdd is defined and canAdd %}
                                <a class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom"
                                   title="{{ canAdd.title }}" href="{{ canAdd.path }}">
                                    <i class="fa fa-plus"></i> Ajouter
                                </a>
                            {% endif %}
                            {% if print is defined and print %}
                                <a class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom"
                                   title="{{ print.title }}" href="{{ print.path }}">
                                    <i class="fa fa-print"></i> Imprimer
                                </a>
                            {% endif %}
                            {% if buttons is defined %}
                                {% for button in buttons %}
                                    <a class="btn {% if button.css is defined %}{{ button.css }}{% else %}btn-secondary{% endif %}"
                                       data-toggle="tooltip" data-placement="bottom"
                                       {% if button.title is defined %}title="{{ button.title }}"{% endif %}
                                            {% if button.target is defined %}target="{{ button.target }}"{% endif %}
                                       href="{{ button.route }}">
                                        {% if button.icon is defined %}<i
                                            class="fa {{ button.icon }}"></i>{% endif %}
                                        {% if button.label is defined %}{{ button.label }}{% endif %}
                                    </a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </li>
    </ul>
</div>
