{# ROW #}
<div class="container bg-body border border-secondary border-top-0 p-0">
    <div class="d-flex justify-content-start">
        <div class="align-middle w-25 lh-lg col-sm-3 p-1 text-center bg-body-secondary border-end fw-bold">
            {{ title }}
        </div>
        <div class="w-100 mx-2 mt-1">
            <div class="d-flex justify-content-between lh-lg">
                {% if item.collapse.id is defined %}
                    <div>
                        {{ text }}
                    </div>
                    <button class="btn btn-sm btn-secondary ms-2" role="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#{{ item.collapse.id }}"
                            aria-expanded="false"
                            title="historique"
                            aria-controls="{{ item.collapse.id }}">
                        <i class="fa {% if item.collapse.icon is defined %}{{ item.collapse.icon }}{% else %}fa-info{% endif %}"
                           aria-hidden="true"></i>
                    </button>
                {% else %}
                    {{ text }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% if item.collapse.id is defined %}
    {% include '_partials/listCollapse.twig' with {'idCollapse': item.collapse.id, 'text': item.collapse.text} %}
{% endif %}
