{% set _currentRoute = app.request.attributes.get('_route') %}
{% set _currentParams = app.request.query.all|merge(app.request.attributes.get('_route_params')) %}

{% set total = paginator.count %}
{% set page = (paginator.getQuery.getFirstResult/max(1, paginator.getQuery.getMaxResults))|round(0, 'floor')+1 %}
{% set limit = paginator.getQuery.getMaxResults %}
{% set pageQueryParam = 'page' %}
{% set nearbyPagesLimit = 4 %}
{% set lastPage = (total / max(1, limit))|round(0, 'ceil') %}

{% if lastPage > 1 %}
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item{{ page <= 1 ? ' disabled' : '' }}">
                <a class="page-link" href="{{ path(_currentRoute, _currentParams|merge({page: page - 1})) }}"
                   aria-label="Previous">
                    &laquo;
                </a>
            </li>

            {% for i in 1..lastPage %}
                {% if 0 == (page - nearbyPagesLimit) - loop.index %}
                    <li class="page-item"><a
                                href="{{ (app.request.pathInfo ~ '?' ~ (app.request.query.all|merge({(pageQueryParam): 1})|url_encode))|e }}"
                                class="page-link">1</a></li>
                    {% if 1 != loop.index %}
                        <li class="page-item">
                            <a href="{{ (app.request.pathInfo ~ '?' ~ (app.request.query.all|merge({(pageQueryParam): (loop.index / 2)|round(0, 'ceil')+1})|url_encode))|e }}"
                                class="page-link">...</a>
                        </li>
                    {% endif %}
                {% elseif 0 == (page + nearbyPagesLimit) - loop.index  and (page + nearbyPagesLimit) < lastPage %}
                    <li class="page-item">
                        <a href="{{ (app.request.pathInfo ~ '?' ~ (app.request.query.all|merge({(pageQueryParam): min(loop.index * 2, lastPage - 1)})|url_encode))|e }}"
                                class="page-link">...</a>
                    </li>
                {% elseif 0 < (page - nearbyPagesLimit) - loop.index %}
                {% elseif 0 > (page + nearbyPagesLimit) - loop.index %}
                {% else %}
                    <li class="page-item{{ page == loop.index ? ' active' }}">
                        <a href="{{ (app.request.pathInfo ~ '?' ~ (app.request.query.all|merge({(pageQueryParam): loop.index})|url_encode))|e }}"
                           class="page-link">{{ loop.index }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if page != lastPage  and (page + nearbyPagesLimit) < lastPage %}
                <li class="page-item"><a
                            href="{{ (app.request.pathInfo ~ '?' ~ (app.request.query.all|merge({(pageQueryParam): lastPage})|url_encode))|e }}"
                            class="page-link">{{ lastPage }}</a></li>
            {% endif %}

            <li class="page-item {{ page >= lastPage ? ' disabled' : '' }}">
                <a class="page-link" href="{{ path(_currentRoute, _currentParams|merge({page: page + 1})) }}"
                   aria-label="Next">
                    &raquo;
                </a>
            </li>
        </ul>
    </nav>
{% endif %}
