{% extends "base.html.twig" %}

{% block title %}Lieux{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('lieu') }}">Liste des lieux</a></li>
		<li class="active">Suppression d'un lieu</li>
	</ol>
	
	<div class="well bs-component">
		{{ form_start(form, {"attr": {"action": path('lieu.delete', {'lieu':lieu.id}) }}) }}
			<fieldset>
				<legend>Suppression d'un lieu</legend>
				{{ lieu.nom }}
				
				{{ form(form) }}
			</fieldset>
		{{ form_end(form) }}
	</div>
	
{% endblock %}