{% extends "base.html.twig" %}

{% block title %}Lieux{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('document.index') }}">Liste des lieux</a></li>
		<li class="active">Modification d'un lieu</li>
	</ol>
	
	<div class="well bs-component">
		{{ form_start(form, {"attr": {"action": path('lieu.update', {'lieu':lieu.id}) }}" method="POST" {{ form_enctype(form) }}  novalidate>
			<fieldset>
				<legend>Modification d'un lieu</legend>
				
	
				{{ form(form) }}
			</fieldset>
		{{ form_end(form) }}
	</div>
	
{% endblock %}