{% extends "base.html.twig" %}

{% block title %}Monnaie{% endblock title %}

{% block body %}

	{% include '_partials/breadcrumb.twig' with {'items' : {1 : {'name' : 'Liste des monnaies'}}} %}

	<div class="well well-sm">
		<div class="header">
			<h5>Monnaies <small>({{ monnaies|length }} monnaies)</small></h5>
		</div>

		<div class="btn-toolbar" role="toolbar" aria-label="...">
			<div class="btn-group" role="group" aria-label="...">
				<a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Ajouter une monnaie" href="{{ path('monnaie.add') }}"><i class="fa fa-add"></i> Ajouter</a>
			</div>
		</div>
	</div>	
	
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Label</th>
				<th>Description</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for monnaie in monnaies %}
			<tr>
				<td>{{ monnaie.label }}</td>
				<td>{{ monnaie.description|markdown_to_html }}</td>
				<td>
					<div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
						<div class="btn-group" role="group" aria-label="...">
							<a class="btn btn-secondary" title="Détail" href="{{ path('monnaie.detail',{'monnaie':monnaie.id}) }}"><i class="fa fa-eye"></i></a>
							<a class="btn btn-secondary" title="Modifier" href="{{ path('monnaie.update',{'monnaie':monnaie.id}) }}"><i class="fa fa-pencil"></i></a>
							<a class="btn btn-secondary" title="Supprimer" href="{{ path('monnaie.delete',{'monnaie':monnaie.id}) }}"><i class="fa fa-eraser"></i></a>
						</div>
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	
{% endblock %}
