{% extends "base.html.twig" %}

{% block title %}Monnaie{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('lieu') }}">Liste des monnaie</a></li>
		<li class="active">Mise à jour d'une monnaie</li>
	</ol>
	
	<div class="well well-sm">
		{{ form_start(form, {"attr": {"action": path('monnaie.update', {'monnaie': monnaie.id}) }}" method="POST" {{ form_enctype(form) }}  novalidate>
			<fieldset>
				<legend>Mise à jour d'une monnaie</legend>
				
	
				{{ form(form) }}
			</fieldset>
		{{ form_end(form) }}
	</div>
	
{% endblock %}