<ul class="list-group">
	{%  for proprietaire in proprietaires %}
		<a href="{{ path('stockProprietaire.update', {proprietaire: proprietaire.id}) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
			<div class="ms-2 me-auto">
				<h5 class="fw-bold">{{ proprietaire.nom }}</h5>
				<p class="mb-1">{{ proprietaire.mail }}&nbsp;{{ proprietaire.tel }}</p>
			</div>
			<span class="badge text-bg-info">{{ proprietaire.objets|length }}</span>
		</a>
	{%  endfor %}
</ul>
