{% extends "base.html.twig" %}

{% block title %}Construction{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('construction') }}">Liste des constructions</a></li>
		<li class="active">Supprimer une construction</li>
	</ol>
	
	
	<div class="well bs-component">
		{{ form_start(form, {"attr": {"action": path('construction.delete', {'construction': construction.id}) }}) }}
			<fieldset>
				<legend>Supression d'une construction</legend>
					{{ construction.label }} -- {{ construction.defense }}
					{{ construction.description|markdown_to_html }}
					
					{{ form(form) }}
			</fieldset>
		{{ form_end(form) }}
	</div>
				
{% endblock body %}
