{% extends "base.html.twig" %}

{% block title %}Répartition de la compétence {{ competenceFamily.label }} sur {{ gn.label }}{% endblock title %}

{% block body %}

    {% include '_partials/breadcrumb.twig' with {'items' :
        [
            {'name' : 'Statistiques', 'route': path('stats.list') },
            {'name' : 'Répartition de la compétence ' ~ competenceFamily.label ~ ' sur ' ~ gn.label },
        ]
    } %}

    <div class="d-flex justify-content-end">

        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group" role="group" aria-label="...">
                <a class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom"
                   title="Télécharger"
                   href="{{ path('stats.competenceFamily.gn.csv', {'gn':gn.id, 'competenceFamily':competenceFamily.id}) }}"><i
                            class="fa fa-file-csv"></i>
                    Télécharger</a>
                <a class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom"
                   title="format JSON"
                   href="{{ path('stats.competenceFamily.gn.json', {'gn':gn.id, 'competenceFamily':competenceFamily.id}) }}"><i
                            class="fa fa-file-lines"></i>
                    Json API</a>
            </div>
        </div>
    </div>

    <div class="well well-sm">
        <div class="header">
            <h5>Répartition de la compétence {{ competenceFamily.label }} sur {{ gn.label }}</h5>
        </div>

        <table class="table table-striped table-bordered table-condensed table-hover" id="stats-table">
            {% include '_partials/thead.twig' with  { 'route': 'stats.list', 'rows': [
                {'name' : 'Total', 'css': 'text-center'},
                {'name' : 'niveau'},
                {'name' : 'index niveau', 'css': 'text-center'},
            ]} %}
            <tbody>
            {% for competence in competences %}
                <tr>
                    <td class="text-center col-1">
                        {{ competence.total }}
                    </td>
                    <td>
                        <a href="{{ path('competenceFamily.detail', {'competenceFamily': competenceFamily.id}) }}">
                            {{ competence.niveau }}
                        </a>
                    </td>
                    <td class="text-center col-1">
                        {{ competence.indexNiveau }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
