{% extends "base.html.twig" %}

{% block title %}Competences par GN{% endblock title %}

{% block body %}

    {% include '_partials/breadcrumb.twig' with {'items' :
        [
            {'name' : 'Statistiques', 'route': path('stats.list') },
            {'name' : 'Répartition des compétences ' ~ gn.label },
        ]
    } %}

    <div class="d-flex justify-content-end">

        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group" role="group" aria-label="...">
                <a class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom"
                   title="Télécharger" href="{{ path('stats.competences.gn.csv', {'gn':gn.id}) }}"><i
                            class="fa fa-file-csv"></i>
                    Télécharger</a>
                <a class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom"
                   title="format JSON" href="{{ path('stats.competences.gn.json', {'gn':gn.id}) }}"><i
                            class="fa fa-file-lines"></i>
                    Json API</a>
            </div>
        </div>
    </div>

    <div class="well well-sm">
        <div class="header">
            <h5>Répartition des compétences {{ gn.label }}</h5>
        </div>

        {% include '_partials/cardNotif.twig' with {'type' : 'info', 'content' : "Liste des compétences des participants (PJ ou PNJ) vivant inscrits pour le GN"} %}

        <table class="table table-striped table-bordered table-condensed table-hover">
            {% include '_partials/thead.twig' with  { 'route': 'stats.list', 'rows': [
                {'name' : 'Total', 'css': 'text-center'},
                {'name' : 'Competence'},
                {'name' : 'Niveau'},
            ]} %}
            <tbody>
            {% for competence in competences %}
                <tr>
                    <td class="text-center col-1">{{ competence.total }}</td>
                    <td class="col-6">{{ competence.competence }}</td>
                    <td class="col-5">{{ competence.niveau }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
