{% extends "base.html.twig" %}

{% block title %}
    Organisation des groupes sur {{ gn.label }}
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.2/css/dataTables.dataTables.css"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.3/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.3/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.3/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.3/js/buttons.print.min.js"></script>

    <script type="module">
        jQuery(document).ready(function () {
            new DataTable('#stats-table', {
                'pageLength': 100,
                'layout': {
                    'topStart': {
                        'buttons': ['copy', 'csv', 'excel', 'pdf', 'print']
                    }
                }
            });
        });
    </script>
{% endblock %}

{% block body %}

    {% include '_partials/breadcrumb.twig' with {'items' :
        [
            {'name' : 'Statistiques', 'route': path('stats.list') },
            {'name' : 'Organisation des groupes sur ' ~ gn.label },
        ]
    } %}

    <div class="d-flex justify-content-end">

        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group" role="group" aria-label="...">
                <a class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom"
                   title="Télécharger" href="{{ path('stats.groupeOrganisation.gn.csv', {'gn': gn.id}) }}"><i
                        class="fa fa-file-csv"></i>
                    Télécharger</a>
                <a class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom"
                   title="format JSON" href="{{ path('stats.groupeOrganisation.gn.json', {'gn': gn.id}) }}"><i
                        class="fa fa-file-lines"></i>
                    Json API</a>
            </div>
        </div>
    </div>

    <div class="well well-sm">
        <div class="header">
            <h5>Organisation des groupes
                {% if previousGn %}
                    (GN passé de référence : {{ previousGn.label }})
                {% endif %}
                sur {{ gn.label }}</h5>
        </div>

        <div class="table-responsive">
        <table class="table table-striped table-bordered table-sm table-hover" id="stats-table">
            {% include '_partials/thead.twig' with  { 'route': 'stats.list', 'rows': [
                {'name' : 'N°', 'css': 'text-center'},
                {'name' : 'Nom', 'css': 'text-center'},
                {'name' : 'Places prises', 'css': 'text-center'},
                {'name' : 'Places total', 'css': 'text-center'},
                {'name' : 'Scénariste', 'css': 'text-center'},
                {'name' : 'Mail scénariste', 'css': 'text-center'},
                {'name' : 'Responsable (GN passé)', 'css': 'text-center'},
                {'name' : 'Mail responsable (GN passé)', 'css': 'text-center'},
                {'name' : 'Code (GN passé)', 'css': 'text-center'},
                {'name' : 'Responsable (GN à venir)', 'css': 'text-center'},
                {'name' : 'Mail responsable (GN à venir)', 'css': 'text-center'},
                {'name' : 'Code promo (GN à venir)', 'css': 'text-center'},
            ]} %}
            <tbody>
            {% for row in data %}
                <tr class="{% if row.dans_gn_passe and row.dans_gn_venir %}table-default{% elseif row.dans_gn_passe %}table-warning{% elseif row.dans_gn_venir %}table-info{% endif %}">
                    <td class="text-center">{{ row.numero }}</td>
                    <td class="text-center">{{ row.nom }}</td>
                    <td class="text-center">{{ row.places_prises }}</td>
                    <td class="text-center">{{ row.places_total }}</td>
                    <td class="text-center">{{ row.scenariste }}</td>
                    <td class="text-center">{{ row.mail_scenariste }}</td>
                    <td class="text-center">{{ row.responsable_gn_passe }}</td>
                    <td class="text-center">{{ row.mail_responsable_gn_passe }}</td>
                    <td class="text-center">{{ row.code_gn_passe }}</td>
                    <td class="text-center">{{ row.responsable_gn_venir }}</td>
                    <td class="text-center">{{ row.mail_responsable_gn_venir }}</td>
                    <td class="text-center">{{ row.code_promo_gn_venir }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>

    </div>

{% endblock %}
