{% extends 'base.html.twig' %}


{% block title %}Statistique{% endblock title %}


{% block body %}

    {% set gn = groupeService.nextSessionGn %}

    {% include '_partials/breadcrumb.twig' with {'items' :
        [
            {'name' : 'Statistiques' },
        ]
    } %}

    <div class="well well-sm">
        <div class="header">
            <h5>Statistiques</h5>
        </div>

        <div class="row">

            {% if is_granted('ROLE_ADMIN', app.user) %}

                <div class="col-md-6 mb-2">
                    <div class="card">
                        <div class="card-header border-danger border-2">
                            <h5><i class="fa fa-screwdriver-wrench text-danger"></i> Admin</h5>
                        </div>
                        <div class="card-body">
                            <div class="list-group link-offset-hover">
                                <div class="list-group-item">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.users.roles') }}">Répartition
                                        des rôles utilisateurs</a>
                                </div>
                                <div class="list-group-item">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.xpGap.gn', {'gn':gn.id, 'gap':50}) }}">Personnage avec un
                                        gap XP de 50
                                        sur {{ gn.label }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endif %}

            {% if is_granted('ROLE_ORGA', app.user) %}

                <div class="col-md-6 mb-2">
                    <div class="card">
                        <div class="card-header border-info border-2">
                            <h5><i class="fa fa-ticket text-info"></i> Gestion orga</h5>
                        </div>
                        <div class="card-body">
                            <div class="list-group link-offset-hover">
                                <div class="list-group-item">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.mineurs.gn', {'gn':gn.id}) }}">
                                        Listes des mineurs présents au {{ gn.label }}
                                    </a>
                                </div>
                                <div class="list-group-item">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.sensible.gn', {'gn':gn.id}) }}">
                                        Listes des personnages sensible présents au {{ gn.label }}
                                    </a>
                                </div>
                                <div class="list-group-item">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.alchimieHerboriste.gn', {'gn':gn.id}) }}">
                                        Listes des Alchimistes & Herboriste présent au {{ gn.label }}
                                    </a>
                                </div>
                                <div class="list-group-item">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.potionsDepart.gn', {'gn':groupeService.nextSessionGn.id}) }}">
                                        Potions de départ choisies sur {{ gn.label }}
                                    </a>
                                </div>
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.competenceFamily.gn', {'gn':gn.id, 'competenceFamily':constant('App\\Enum\\CompetenceFamilyType::MAGIC').id}) }}">
                                        Répartition des sorciers/magicien sur {{ gn.label }}
                                    </a>
                                </div>
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.competenceFamily.gn', {'gn':gn.id, 'competenceFamily':constant('App\\Enum\\CompetenceFamilyType::CRAFTSMANSHIP').id}) }}">
                                        Répartition des artisants sur {{ gn.label }}
                                    </a>
                                </div>
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.competenceFamily.gn', {'gn':gn.id, 'competenceFamily':constant('App\\Enum\\CompetenceFamilyType::THEFT').id}) }}">
                                        Répartition des voleurs sur {{ gn.label }}
                                    </a>
                                </div>
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.competenceFamily.gn', {'gn':gn.id, 'competenceFamily':constant('App\\Enum\\CompetenceFamilyType::MAPPING').id}) }}">
                                        Répartition des cartographes sur {{ gn.label }}
                                    </a>
                                </div>
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.competenceFamily.gn', {'gn':gn.id, 'competenceFamily':constant('App\\Enum\\CompetenceFamilyType::ALCHEMY').id}) }}">
                                        Répartition des alchimistes sur {{ gn.label }}
                                    </a>
                                </div>
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.competenceFamily.gn', {'gn':gn.id, 'competenceFamily':constant('App\\Enum\\CompetenceFamilyType::WEALTH').id}) }}">
                                        Répartition des riches sur {{ gn.label }}
                                    </a>
                                </div>
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.renomme.gn', {'gn': gn.id}) }}">
                                        Besoins en distinctions de renommé {{ gn.label }}
                                    </a>
                                </div>
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.gameItemWithoutPersonnage') }}">
                                        Objet de jeu sans personnage
                                    </a>
                                </div>
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.renommeGroupe.gn', {'gn': gn.id}) }}">
                                        Nombre de personnage par groupe ayant une renommé égale ou suppérieur à 10
                                        sur {{ gn.label }}
                                    </a>
                                </div>
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.nbClasseGroupe.gn', {'gn': gn.id, 'classe':15}) }}">
                                        Nombre de personnage de la classe Tacticien par groupe sur {{ gn.label }}
                                    </a>
                                </div>
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.nbClasseGroupe.gn', {'gn': gn.id, 'classe':12}) }}">
                                        Nombre de personnage de la classe Chevalier par groupe sur {{ gn.label }}
                                    </a>
                                </div>
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.nbClasseGroupe.gn', {'gn': gn.id, 'classe':14}) }}">
                                        Nombre de personnage de la classe Soldat par groupe sur {{ gn.label }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endif %}

            {% if is_granted('ROLE_SCENARISTE', app.user) %}

                <div class="col-md-6 mb-2">
                    <div class="card">
                        <div class="card-header border-gamemaster border-2">
                            <h5><i class="fa fa-feather text-gamemaster"></i> Scénarisation</h5>
                        </div>
                        <div class="card-body">
                            <div class="list-group">
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.competences.gn', {'gn':gn.id}) }}">
                                        Répartition des compétences {{ gn.label }}
                                    </a>
                                </div>
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.classes.gn', {'gn':gn.id}) }}">
                                        Répartition des classes {{ gn.label }}
                                    </a>
                                </div>
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.religions.gn', {'gn':gn.id}) }}">
                                        Répartition du nombre d'adeptes religieux sur {{ gn.label }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endif %}

            {% if is_granted('ROLE_WARGAME', app.user) %}
                <div class="col-md-6 mb-2">

                    <div class="card">
                        <div class="card-header border-warning border-2">
                            <h5><i class="fa fa-fist-raised text-warning"></i> Jeu de domaine</h5>
                        </div>
                        <div class="card-body">
                            <div class="list-group">
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.constructions') }}">
                                        Détails constructions
                                    </a>
                                </div>
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.constructions.fiefs') }}">
                                        Répartition des constructions sur les fiefs
                                    </a>
                                </div>
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.bateaux.gn', {'gn':gn.id}) }}">
                                        Totaux des bateaux par groupe sur {{ gn.label }}
                                    </a>
                                </div>
                                <div class="list-group-item link-offset-hover">
                                    <i class="fa-solid fa-person-digging"></i> Emplacement des bateaux (WIP)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>

{% endblock %}
