{% extends 'base.html.twig' %}


{% block title %}Statistiques{% if selectedGn %} - {{ selectedGn.label }}{% endif %}{% endblock title %}


{% block body %}

    {% include '_partials/breadcrumb.twig' with {'items' :
        [
            {'name' : 'Statistiques' },
        ]
    } %}

    <div class="well well-sm">
        <div class="header">
            <h5>Statistiques</h5>
        </div>

        {% if allGns is defined and allGns|length > 0 %}
        <div class="row mb-3">
            <div class="col-md-4">
                <form action="{{ path('stats.list') }}" method="get" class="form-inline">
                    <div class="form-group">
                        <label for="gn-selector"><strong>Sélectionner un GN :</strong></label>
                        <select id="gn-selector" name="gn" class="form-control">
                            {% for allGn in allGns %}
                                <option value="{{ allGn.id }}"{% if selectedGnId == allGn.id %} selected{% endif %}>
                                    {{ allGn.label }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Afficher</button>
                </form>
            </div>
        </div>
        {% endif %}

        <div class="row">

            {% if is_granted('ROLE_ADMIN', app.user) %}

                <div class="col-md-6 mb-2">
                    <div class="card">
                        <div class="card-header border-danger border-2">
                            <h5><i class="fa fa-screwdriver-wrench text-danger"></i> Admin</h5>
                        </div>
                        <div class="card-body">
                            <div class="list-group link-offset-hover">
                                <div class="list-group-item">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.users.roles') }}">Répartition
                                        des rôles utilisateurs</a>
                                </div>
                                {% if selectedGn %}
                                <div class="list-group-item">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.xpGap.gn', {'gn': selectedGn.id, 'gap':50}) }}">Personnage avec un
                                        gap XP de 50
                                        sur {{ selectedGn.label }}</a>
                                </div>
                                {% endif %}
                                <div class="list-group-item">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.fiefsState') }}">Etat des fiefs</a>
                                </div>
                                <div class="list-group-item">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.qrCodeScanList') }}">Accès aux infos objets</a>
                                </div>
                                <div class="list-group-item link-offset-hover">
                                    <i class="fa-solid fa-person-digging"></i> D'autre à venir ...
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endif %}

            {% if is_granted('ROLE_ORGA', app.user) %}

                <div class="col-md-6 mb-2">
                    <div class="card">
                        <div class="card-header border-info border-2">
                            <h5><i class="fa fa-ticket text-info"></i> Gestion orga</h5>
                        </div>
                        <div class="card-body">
                            <div class="list-group link-offset-hover">
                                {% if selectedGn %}
                                <div class="list-group-item">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.mineurs.gn', {'gn': selectedGn.id}) }}">
                                        Listes des mineurs présents au {{ selectedGn.label }}
                                    </a>
                                </div>
                                <div class="list-group-item">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.sensible.gn', {'gn': selectedGn.id}) }}">
                                        Listes des personnages sensible présents au {{ selectedGn.label }}
                                    </a>
                                </div>
                                <div class="list-group-item">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.alchimieHerboriste.gn', {'gn': selectedGn.id}) }}">
                                        Listes des Alchimistes & Herboriste présent au {{ selectedGn.label }}
                                    </a>
                                </div>
                                <div class="list-group-item">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.potionsDepart.gn', {'gn': selectedGn.id}) }}">
                                        Potions de départ choisies sur {{ selectedGn.label }}
                                    </a>
                                </div>
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.competenceFamily.gn', {'gn': selectedGn.id, 'competenceFamily':constant('App\\Enum\\CompetenceFamilyType::MAGIC').id}) }}">
                                        Répartition des sorciers/magicien sur {{ selectedGn.label }}
                                    </a>
                                </div>
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.competenceFamily.gn', {'gn': selectedGn.id, 'competenceFamily':constant('App\\Enum\\CompetenceFamilyType::CRAFTSMANSHIP').id}) }}">
                                        Répartition des artisants sur {{ selectedGn.label }}
                                    </a>
                                </div>
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.competenceFamily.gn', {'gn': selectedGn.id, 'competenceFamily':constant('App\\Enum\\CompetenceFamilyType::THEFT').id}) }}">
                                        Répartition des voleurs sur {{ selectedGn.label }}
                                    </a>
                                </div>
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.competenceFamily.gn', {'gn': selectedGn.id, 'competenceFamily':constant('App\\Enum\\CompetenceFamilyType::MAPPING').id}) }}">
                                        Répartition des cartographes sur {{ selectedGn.label }}
                                    </a>
                                </div>
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.competenceFamily.gn', {'gn': selectedGn.id, 'competenceFamily':constant('App\\Enum\\CompetenceFamilyType::ALCHEMY').id}) }}">
                                        Répartition des alchimistes sur {{ selectedGn.label }}
                                    </a>
                                </div>
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.competenceFamily.gn', {'gn': selectedGn.id, 'competenceFamily':constant('App\\Enum\\CompetenceFamilyType::WEALTH').id}) }}">
                                        Répartition des riches sur {{ selectedGn.label }}
                                    </a>
                                </div>
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.renomme.gn', {'gn': selectedGn.id}) }}">
                                        Besoins en distinctions de renommé {{ selectedGn.label }}
                                    </a>
                                </div>
                                {% endif %}
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.gameItemWithoutPersonnage') }}">
                                        Objet de jeu sans personnage
                                    </a>
                                </div>
                                {% if selectedGn %}
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.renommeGroupe.gn', {'gn': selectedGn.id}) }}">
                                        Nombre de personnage par groupe ayant une renommé égale ou suppérieur à 10
                                        sur {{ selectedGn.label }}
                                    </a>
                                </div>
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.nbClasseGroupe.gn', {'gn': selectedGn.id, 'classe':15}) }}">
                                        Nombre de personnage de la classe Tacticien par groupe sur {{ selectedGn.label }}
                                    </a>
                                </div>
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.nbClasseGroupe.gn', {'gn': selectedGn.id, 'classe':12}) }}">
                                        Nombre de personnage de la classe Chevalier par groupe sur {{ selectedGn.label }}
                                    </a>
                                </div>
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.nbClasseGroupe.gn', {'gn': selectedGn.id, 'classe':14}) }}">
                                        Nombre de personnage de la classe Soldat par groupe sur {{ selectedGn.label }}
                                    </a>
                                </div>
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.sumAll.gn', {'gn': selectedGn.id}) }}">
                                        Sommes des revenus par groupe sur {{ selectedGn.label }}
                                    </a>
                                </div>
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.list.arrivee.gn', {'gn': selectedGn.id}) }}">
                                        Liste d'arrivée sur {{ selectedGn.label }}
                                    </a>
                                </div>
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.groupeOrganisation.gn', {'gn': selectedGn.id}) }}">
                                        Organisation des groupes sur {{ selectedGn.label }}
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            {% endif %}

            {% if is_granted('ROLE_SCENARISTE', app.user) %}

                <div class="col-md-6 mb-2">
                    <div class="card">
                        <div class="card-header border-gamemaster border-2">
                            <h5><i class="fa fa-feather text-gamemaster"></i> Scénarisation</h5>
                        </div>
                        <div class="card-body">
                            <div class="list-group">
                                {% if selectedGn %}
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.competences.gn', {'gn': selectedGn.id}) }}">
                                        Répartition des compétences {{ selectedGn.label }}
                                    </a>
                                </div>
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.classes.gn', {'gn': selectedGn.id}) }}">
                                        Répartition des classes {{ selectedGn.label }}
                                    </a>
                                </div>
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.religions.gn', {'gn': selectedGn.id}) }}">
                                        Répartition du nombre d'adeptes religieux sur {{ selectedGn.label }}
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            {% endif %}

            {% if is_granted('ROLE_WARGAME', app.user) %}
                <div class="col-md-6 mb-2">

                    <div class="card">
                        <div class="card-header border-warning border-2">
                            <h5><i class="fa fa-fist-raised text-warning"></i> Jeu de domaine</h5>
                        </div>
                        <div class="card-body">
                            <div class="list-group">
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.constructions') }}">
                                        Détails constructions
                                    </a>
                                </div>
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.constructions.fiefs') }}">
                                        Répartition des constructions sur les fiefs
                                    </a>
                                </div>
                                {% if selectedGn %}
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.bateaux.gn', {'gn': selectedGn.id}) }}">
                                        Totaux des bateaux par groupe sur {{ selectedGn.label }}
                                    </a>
                                </div>
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.bateaux-ordre.gn', {'gn': selectedGn.id}) }}">
                                        Liste pour ordres de navigation sur {{ selectedGn.label }}</a>
                                </div>
                                <div class="list-group-item link-offset-hover">
                                    <a class="link-underline link-underline-opacity-0"
                                       href="{{ path('stats.whoswho.gn', {'gn': selectedGn.id, 'renomme': 20}) }}">
                                        Who's who {{ selectedGn.label }}</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>

{% endblock %}
