{% extends "base.html.twig" %}

{% block title %}
    Répartition du nombre d'adeptes religieux sur {{ gn.label }}
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.2/css/dataTables.dataTables.css"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/2.3.2/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.3/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.3/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.3/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.3/js/buttons.print.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    <script type="application/javascript">
        jQuery(document).ready(function () {
            new DataTable('#stats-table', {
                'pageLength': 100,
                'order': [[0, 'desc'], [1, 'asc']],
                'layout': {
                    'topStart': {
                        'buttons': ['copy', 'csv', 'excel', 'pdf', 'print']
                    }
                }
            });
        });
    </script>

    <script type="application/javascript">
        jQuery(document).ready(function () {
            const ctx = document.getElementById('statsChart');

            new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: {{ chartData.labels|json_encode|raw }},
                    datasets: [{
                        label: 'Adeptes',
                        data: {{ chartData.values|json_encode }},
                        borderWidth: 1
                    }]
                }
            })
        });
    </script>
{% endblock %}

{% block body %}

    {% include '_partials/breadcrumb.twig' with {'items' :
        [
            {'name' : 'Statistiques', 'route': path('stats.list') },
            {'name' : "Répartition du nombre d'adeptes religieux sur " ~ gn.label },
        ]
    } %}

    <div class="d-flex justify-content-end">

        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group" role="group" aria-label="...">
                <a class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom"
                   title="Télécharger" href="{{ path('stats.religions.gn.csv', {'gn':gn.id}) }}"><i
                            class="fa fa-file-csv"></i>
                    Télécharger</a>
                <a class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom"
                   title="format JSON" href="{{ path('stats.religions.gn.json', {'gn':gn.id}) }}"><i
                            class="fa fa-file-lines"></i>
                    Json API</a>
            </div>
        </div>
    </div>

    <div class="well well-sm">
        <div class="header">
            <h5>Répartition du nombre d'adeptes religieux sur {{ gn.label }}</h5>
        </div>

        <canvas id="statsChart"></canvas>

        <table class="table table-striped table-bordered table-condensed table-hover" id="stats-table">
            {% include '_partials/thead.twig' with  { 'route': 'stats.list', 'rows': [
                {'name' : 'Total', 'css': 'text-center'},
                {'name' : 'label', 'css': 'text-center'},
                {'name' : 'level', 'css': 'text-center'},
            ]} %}
            <tbody>
            {% for religion in religions %}
                <tr>
                    <td class="text-center col-1">
                        {{ religion.total }}
                    </td>
                    <td class="text-center col-1">
                        <a href="{{ path('religion.detail', {'religion': religion.id}) }}">
                            {{ religion.label }}
                        </a>
                    </td>
                    <td class="text-center col-1">
                        {{ religion.level }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
