{% extends "base.print.twig" %}

{% block title %}
    Bateaux sur {{ gn.label }}
{% endblock title %}

{% block style %}
{% endblock %}

{% block content %}

    <div class="well well-sm">
        <div class="header">
            <h5>Personnages illustres présents sur {{ gn.label }}</h5>
        </div>

        <div class="d-flex flex-wrap">
            {% for data in all %}
                <div class="col">
                    <div class="card m-1">
                        <div class="card-header text-center bg-body-secondary d-flex justify-content-around">
                            <h5><a href="{{ path('personnage.detail', {'personnage': data.personnage_id}) }}">
                                    {{ data.personnage_nom }}
                                </a></h5>
                        </div>

                        <div class="card-img text-center">
                            {% if data.personnage_trombine_url %}
                                <img class="media-object w-auto"
                                     style="max-height:200px;max-width: 200px"
                                     src="{{ path('personnage.trombine', {'personnage' : data.personnage_id }) }}"
                                     alt=""/>
                            {% else %}
                                <img class="media-object w-auto"
                                     style="max-height:200px;max-width: 200px"
                                     src="{{ app.request.basepath }}/img/no_trombine.png"/>
                            {% endif %}
                        </div>

                        <div class="card-footer">
                            <div class="list-group">
                                <div class="list-group-item">
                                    Groupe: <a href="{{ path('groupe.detail', {'groupe': data.groupe_id}) }}">
                                        {{ data.groupe_nom }}
                                    </a>
                                </div>
                                <div class="list-group-item">
                                    Joué par: <a href="{{ path('user.detail', {'user': data.user_id}) }}">
                                        {{ data.user_prenom }}
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}
