{% extends "base.html.twig" %}

{% block title %}Sort{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('magie.sort.list') }}">Liste des sorts</a></li>
		<li class="active">Ajouter un sort</li>
	</ol>
	
	
	<div class="well bs-component">
		{{ form_start(form, {"attr": {"action": path('magie.sort.add') }}) }}
			<fieldset>
				<legend>Ajout d'un sort</legend>
					
					{{ form(form) }}
			</fieldset>
		{{ form_end(form) }}
	</div>
				
{% endblock body %}