{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <div class="well well-sm">
        <div class="header">
            <h5>Connexion</h5>
        </div>

        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <label for="inputUsername">Email</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control"
                   autocomplete="email" required autofocus>
            <label for="inputPassword">Mot de pass</label>
            <input type="password" name="password" id="inputPassword" class="form-control"
                   autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <button class="btn btn-lg btn-primary" type="submit">
                Se connecter
            </button>
        </form>

    </div>

{% endblock %}
