<div class="panel panel-default">
    {% if isAdmin %}
        <div class="panel-heading d-flex justify-content-end mb-2">
            <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Ajouter"
               href="{{ path('background.add', {'groupe': groupe.id}) }}"><i class="fa fa-plus"></i></a>
        </div>
    {% endif %}
    <div class="panel-body">
        <div class="list-group">
            {% for background in groupeService.getGroupeBackgroundsVisibleForCurrentUser(groupe) %}
                <div class="list-group-item">
                    <div class="list-group-item-heading">
                        <h4>
                            {% if background.gn %}
                                GN {{ background.gn.label }} -&nbsp;
                            {% endif %}
                            <a href="{{ path('background.detail', {'background': background.id}) }}">{{ background.titre|default('Pas de titre') }}</a>

                            {% if isAdmin %}
                                <div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
                                    <div class="btn-group" role="group" aria-label="...">
                                        <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                                           title="Modifier"
                                           href="{{ path('background.update', {'background': background.id}) }}"><i
                                                    class="fa fa-pencil"></i></a>
                                        <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                                           title="Supprimer"
                                           href="{{ path('background.delete', {'background': background.id}) }}"><i
                                                    class="fa fa-eraser"></i></a>
                                    </div>
                                </div>
                            {% endif %}
                        </h4>
                    </div>
                    <p class="list-group-item-text text-warning">
                        {% if background.visibility.isGroupeMember() %}
                            Background visible pour les membres du groupe
                        {% elseif background.visibility.isGroupeOwner() %}
                            Background visible pour le responsable du groupe
                        {% elseif background.visibility.isPrivate() %}
                            Background visible pour les scénaristes
                        {% elseif background.visibility.isAuthor() %}
                            Background visible pour l'auteur
                        {% elseif background.visibility.isPublic() %}
                            Background visible à tous
                        {% endif %}
                    </p>
                    <p class="list-group-item-text">
                        Auteur : {{ background.user.username }}
                    </p>
                    <p class="list-group-item-text">
                        Création : {{ background.creationDate|date('Y-m-d H:i:s') }}
                    </p>
                    <p class="list-group-item-text">
                        Dernière modification : {{ background.updateDate|date('Y-m-d H:i:s') }}
                    </p>
                </div>
            {% else %}
                {% include '_partials/noResult.twig' with {'content': "Le groupe de dispose d'aucun background"} %}
            {% endfor %}
        </div>
    </div>
</div>
