<div class="panel panel-default">
    {% if isAdmin %}
        <div class="panel-heading d-flex justify-content-end mb-2">
            <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Ajouter"
               href="{{ path('debriefing.add', {'groupe': groupe.id}) }}"><i class="fa fa-plus"></i> Ajouter</a>
        </div>
    {% endif %}
    <div class="panel-body">
        <div class="list-group">
            {% for debriefing in groupeService.getGroupeDebriefingsVisibleForCurrentUser(groupe) %}
                <div class="list-group-item">
                    <div class="list-group-item-heading">
                        <h3>
                            {% if debriefing.gn %}
                                GN {{ debriefing.gn.label }} -&nbsp;
                            {% endif %}

                            {% if isAdmin %}
                                <a href="{{ path('debriefing.detail', {'debriefing': debriefing.id}) }}">{{ debriefing.titre|default('Pas de titre') }}</a>
                                <div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
                                    <div class="btn-group" role="group" aria-label="...">
                                        <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                                           title="Modifier"
                                           href="{{ path('debriefing.update', {'debriefing': debriefing.id}) }}"><i
                                                    class="fa fa-pencil"></i></a>
                                        <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                                           title="Supprimer"
                                           href="{{ path('debriefing.delete', {'debriefing': debriefing.id}) }}"><i
                                                    class="fa fa-eraser"></i></a>
                                    </div>
                                </div>
                            {% else %}
                                {{ debriefing.titre|default('Pas de titre') }}
                            {% endif %}
                        </h3>
                    </div>
                    <p class="list-group-item-text text-warning">
                        {% if debriefing.visibility == 'GROUPE_MEMBER' %}
                            Debriefing visible en qualité de membre du groupe
                        {% elseif debriefing.visibility == 'GROUPE_OWNER' %}
                            Debriefing visible en qualité de responsable du groupe
                        {% elseif debriefing.visibility == 'PRIVATE' %}
                            Debriefing visible en qualité de scénariste
                        {% elseif debriefing.visibility == 'AUTHOR' %}
                            Debriefing visible en qualité d'auteur
                        {% elseif debriefing.visibility == 'PUBLIC' %}
                            Debriefing visible à tous les joueurs
                        {% endif %}
                    </p>
                    <p class="list-group-item-text">
                        Scenariste : {{ debriefing.user.username }}
                    </p>
                    <p class="list-group-item-text">
                        Auteur :
                        {% if debriefing.player is null %}
                            Non renseigné
                        {% else %}
                            {{ debriefing.player.displayName }}
                        {% endif %}
                    </p>
                    <p class="list-group-item-text">
                        Création : {{ debriefing.creationDate|date('Y-m-d H:i:s') }}
                    </p>
                    <p class="list-group-item-text">
                        Dernière modification : {{ debriefing.updateDate|date('Y-m-d H:i:s') }}
                    </p>
                </div>
            {% else %}
                {% include '_partials/noResult.twig' with {'content': "Le groupe de dispose d'aucun debriefing"} %}
            {% endfor %}
        </div>
    </div>
</div>
