<div class="row">
    <div class="col-md-6 pt-2">

        <div class="card text-bg mb-3 overflow-auto ">
            <div class="header"><h5>Scénariste</h5></div>
            <div class="card-body">
                <div>
                    {% if groupe.scenariste %}
                        {{ groupe.scenariste.etatCivil }}<br/>
                        {{ groupe.scenariste.email }}
                    {% else %}
                        {% include '_partials/cardNotif.twig' with {'type' : 'warning', 'content' : "Attention, ce groupe n'a pas de scénariste."} %}
                    {% endif %}
                </div>
                {% if is_granted('ROLE_SCENARISTE', app.user) %}
                    <div class="d-flex justify-content-end m-2">
                        <a class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom"
                           title="Choisir le scénariste"
                           href="{{ path('groupe.scenariste', {'groupe': groupe.id}) }}"><i class="fa fa-pencil"></i>
                        </a>
                    </div>
                {% endif %}

            </div>
        </div>

        <div class="card text-bg mb-3 overflow-auto">
            <div class="header">
                <h5>Description publique</h5>
            </div>

            <div class="card-body">
                {% if is_granted('ROLE_SCENARISTE', app.user) %}
                    <div class="d-flex justify-content-end m-2">
                        <a class="btn btn-secondary" href="{{ path('groupe.description', {'groupe': groupe.id}) }}">
                            <i class="fa fa-pencil"></i> Modifier</a>
                    </div>
                {% endif %}

                {% if not groupe.description %}
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    Attention, ce groupe n'a pas de description.
                {% else %}
                    {{ groupe.description|markdown_to_html }}
                {% endif %}
            </div>
        </div>

        {% if canReadPrivate %}
            <div class="card text-bg mb-3 overflow-auto">
                <div class="header">
                    <h5 class="border-warning border-bottom"><i class="fa fa-user-secret text-warning"></i> Description
                        aux membres
                    </h5>
                </div>

                <div class="card-body">
                    {% if is_granted('ROLE_SCENARISTE', app.user) or user is defined %}
                        <div class="d-flex justify-content-end m-2">
                            <a class="btn btn-secondary"
                               href="{{ path('groupe.description.membres', {'groupe': groupe.id}) }}">
                                <i class="fa fa-pencil"></i> Modifier</a>
                        </div>
                    {% endif %}

                    {% if not groupe.descriptionMembres %}
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        Attention, ce groupe n'a pas de description.
                    {% else %}
                        {{ groupe.descriptionMembres|markdown_to_html }}
                    {% endif %}
                </div>
            </div>

            {% set participant = null %}
            {% if groupeGn is not defined and participant.groupeGn.groupe.id == groupe.id and  app.user.getLastParticipant is defined %}
                {% set participant = app.user.getLastParticipant %}
            {% endif %}

            {% if groupeGn is not defined and participant.groupeGn.groupe.id == groupe.id %}
                {% set groupeGn = participant.groupeGn %}
            {% endif %}

            {% if groupeGn.gn is defined and (is_granted('ROLE_SCENARISTE', app.user) or (participant and participant.isResponsable(groupeGn.groupe, groupeGn))) %}
                <div class="card text-bg mb-3 overflow-auto">
                    <div class="header">
                        <h5>Code pour le GN {{ groupeGn.gn.label }} (visible en qualité
                            de {% if is_granted('ROLE_SCENARISTE', app.user) %}scénariste{% else %}chef de groupe{% endif %}
                            ) </h5>
                    </div>

                    <div class="card-body">
                        <strong>{{ groupeGn.code|default('Non définie') }}</strong>
                        <div class="list-group-item-text">
                            Ce code permet à des joueurs invité par le chef de groupe de participer au groupe.
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="card text-bg mb-3 overflow-auto">
                <div class="header">
                    <h5>Serveur Discord</h5>
                </div>

                <div class="card-body">
                    {% if groupe.discord %}
                        <a href="{{ groupe.discord }}" target="_blank">{{ groupe.discord }}</a>
                    {% else %}
                        {% include '_partials/noResult.twig' with {'content' : 'Aucun', 'css' : 'w-100'} %}
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {# disabled for now #}
        {% if false %}
            <div class="card text-bg mb-3 overflow-auto">
                <div class="header"><h5>Jeu stratégique</h5></div>
                <div class="card-body">
                    {% if groupe.jeuStrategique %}
                        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                        participe au jeu stratégique.
                    {% else %}
                        ne participe pas au jeu stratégique.
                    {% endif %}
                </div>
            </div>

            <div class="card text-bg mb-3 overflow-auto">
                <div class="header"><h5>Jeu maritime</h5></div>
                <div class="card-body">
                    {% if groupe.jeuMaritime %}
                        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                        participe au jeu maritime.
                    {% else %}
                        ne participe pas au jeu maritime.
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {% if canReadPrivate %}
            <div class="card text-bg mb-3 overflow-auto">
                <div class="header"><h5>Economie</h5></div>
                <div class="card-body">
                    <strong>Richesse : </strong>
                    <ul>
                        {% set allRichesse = groupeService.allRichesseDisplay(groupe) %}
                        {% for richesse in allRichesse %}
                            <li>{{ richesse.label|raw }}</li>
                        {% endfor %}
                    </ul>

                    <strong>Ressources : </strong>


                    <ul>
                        {% set allRessource = groupeService.allRessource(groupe) %}

                        {% for groupeRessource in allRessource %}
                            <li>
                                <strong>{{ groupeRessource.quantite }}</strong> {{ groupeRessource.ressource.label|raw }}
                            </li>
                        {% endfor %}
                    </ul>

                    <strong>Ingrédients : </strong>
                    {% if groupe.ingredients|length == 0 %}
                        Aucun ingrédient n'est fourni par les territoires contrôlé par ce groupe
                    {% endif %}
                    <ul>
                        {% set allIngredient = groupeService.allIngredient(groupe) %}

                        {% for groupeHasIngredient in allIngredient %}
                            <li>
                                <strong>{{ groupeHasIngredient.quantite }}</strong> {{ groupeHasIngredient.ingredient.label|raw }}
                            </li>
                        {% endfor %}
                    </ul>
                    {# disabled for now #}
                    {% if is_granted('ROLE_SCENARISTE', app.user) and false %}
                        <div class="d-flex justify-content-end">
                            <a class="btn btn-secondary" href="{{ path('groupe.quete',{'groupe': groupe.id}) }}">
                                <i class="fa fa-balance-scale" aria-hidden="true"></i> Générer une quête commerciale
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}

        {# disabled for now #}
        {% if false %}
            <div class="card text-bg mb-3 overflow-auto">
                <div class="header"><h5>Composition du groupe</h5></div>
                <div class="card-body">
                    <p class="list-group-item-text"><strong>Nombre de places ouvertes
                            : </strong>{{ groupe.classeOpen }}
                    </p>

                    {% if groupe.classes|length == 0 %}
                        <i class="fa fa-exclamation-triangle"
                           aria-hidden="true"></i> Attention, ce groupe n'a pas de classes définies.
                    {% else %}
                        <ul>
                            {% for classe in groupe.classes %}
                                <li>
                                    <a href="{{ path('classe.detail', {'classe': classe.id}) }}">{{ classe.label }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if is_granted('ROLE_SCENARISTE', app.user) %}
                        <div class="d-flex justify-content-end mt-2">
                            <a class="btn btn-secondary" href="{{ path('groupe.composition', {'groupe': groupe.id}) }}">
                                <i class="fa fa-pencil"></i> Modifier la composition du groupe
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}

    </div>
    <div class="col-md-6 pt-2">
        {% if groupeGn is not defined or not groupeGn %}
            {% set groupeGn = groupe.nextSession %}
        {% endif %}

        {% if groupeGn.gn is defined and groupeGn.gn.id == groupeService.nextSessionGn.id %}
            <div class="card text-bg mb-3 overflow-auto">
                <div class="header"><h5>Résume pour {{ groupeGn.gn.label }}</h5></div>
                <div class="card-body">
                    {% set nbPlace = groupe.placeTotal|default(0) %}
                    {% set nbMembres =  groupeGn.participants|length|default(0) %}
                    {% set nbLibre =  nbPlace - nbMembres %}
                    {% set lockHtml %}
                        {% if groupe.lock %}
                            Le groupe est fermé. Les joueurs ne peuvent plus et modifier leur personnage
                        {% else %}
                            Le groupe est ouvert. Les joueurs peuvent créer et modifier leur personnage
                        {% endif %}
                    {% endset %}

                    {% include '_partials/listItems.twig'
                        with { 'items' : [
                        {'title': 'Places totales', 'text': nbPlace ~ ' joueurs possibles dans ce groupe.'},
                        {'title': 'Membres', 'text': nbMembres},
                        {'title': 'Places libre', 'text': nbLibre},
                        {'title': 'Etat du groupe', 'text': lockHtml},
                    ]
                    } %}
                </div>
            </div>
        {% endif %}

        <div class="card text-bg mb-3 overflow-auto">
            <div class="header"><h5>Territoires</h5></div>
            <div class="card-body">
                <div class="mb-2">
                    <div class="header">
                        <h5>Pays</h5>
                    </div>

                    {% if is_granted('ROLE_SCENARISTE', app.user) %}
                        <div class="d-flex justify-content-end mb-2">
                            <a class="btn btn-secondary" href="{{ path('groupe.pays', {'groupe': groupe.id}) }}">
                                <i class="fa fa-pencil"></i> Modifier le pays
                            </a>
                        </div>
                    {% endif %}

                    {% if groupe.territoire %}
                        <a href="{{ path('territoire.detail', {'territoire': groupe.territoire.id}) }}">{{ groupe.territoire.nom }}</a>
                    {% else %}
                        {% include '_partials/cardNotif.twig' with {'type' : 'warning', 'content' : "Ce groupe n'est pas rattaché à un pays."} %}
                    {% endif %}

                </div>

                {% if canReadPrivate %}

                    <div class="mb-2">
                        <div class="header">
                            <h5>Territoires contrôlés</h5>
                        </div>

                        {% if is_granted('ROLE_SCENARISTE', app.user) %}
                            <div class="d-flex justify-content-end mb-2">
                                <a class="btn btn-secondary"
                                   href="{{ path('groupe.territoire.add', {'groupe': groupe.id}) }}">
                                    <i class="fa fa-plus"></i> Ajouter un territoire
                                </a>
                            </div>
                        {% endif %}

                        <div class="list-group border-0">
                            {% for territoire in groupe.territoires %}
                                <div class="list-group-item d-flex justify-content-between{% if loop.first %} rounded-top-0{% endif %}">
                                    <div class="list-group-item-text">
                                        <a href="{{ path('territoire.detail', {'territoire': territoire.id}) }}">{{ territoire.nom }}</a>
                                    </div>
                                    {% if is_granted('ROLE_SCENARISTE', app.user) %}
                                        &nbsp;<a class="btn btn-secondary btn-sm"
                                                 href="{{ path('groupe.territoire.remove', {'groupe': groupe.id, 'territoire': territoire.id}) }}"
                                                 data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                 title="Supprimer">
                                        <i class="fa fa-times" aria-hidden="true"></i></a>
                                    {% endif %}
                                </div>
                            {% else %}
                                {% include '_partials/cardNotif.twig' with {'type' : 'info', 'content' : "Ce groupe ne contrôle aucun territoire."} %}
                            {% endfor %}
                        </div>
                    </div>

                {% endif %}
            </div>
        </div>

        {# diplomatie is off for now #}
        {% if canReadPrivate and false %}
            <div class="card text-bg mb-3 overflow-auto">
                <div class="header"><h5> Diplomatie</h5></div>
                <div class="card-body">

                    <div class="header">
                        <h5>Alliés</h5>
                    </div>

                    <ul>
                        {% for alliance in groupe.alliances %}
                            <li>
                                {% if alliance.groupe == groupe %}
                                    {{ alliance.requestedGroupe }}
                                {% else %}
                                    {{ alliance.groupe }}
                                {% endif %}
                            </li>
                        {% else %}
                            {% include '_partials/cardNotif.twig' with {'type' : 'info', 'content' : "Ce groupe n'a aucune alliance"} %}
                        {% endfor %}


                        {% for alliance in groupe.waitingAlliances %}
                            <li>
                                {% if alliance.groupe == groupe %}
                                    Vous avez demandé une alliance avec <strong>{{ alliance.requestedGroupe }}</strong>.
                                {% else %}
                                    Sollicité pour une alliance par <strong>{{ alliance.groupe }}</strong>.
                                {% endif %}
                            </li>
                        {% else %}
                            {% include '_partials/cardNotif.twig' with {'type' : 'info', 'content' : "Aucune alliane en attente"} %}
                        {% endfor %}
                    </ul>

                    <div class="header">
                        <h5>Ennemis</h5>
                    </div>

                    <ul>
                        {% for ennemi in groupe.ennemies %}
                            <li>
                                {% if ennemi.groupe == groupe %}
                                    Vous avez déclaré la guerre à <strong><a
                                            href="{{ path('groupe.detail', {'groupe': ennemi.requestedGroupe.id}) }}">{{ ennemi.requestedGroupe }}</a></strong>.
                                {% else %}
                                    <strong><a href="{{ path('groupe.detail', {'groupe': ennemi.requestedGroupe.id}) }}">{{ ennemi.groupe }}</a></strong> vous a déclaré la guerre.
                                {% endif %}
                            </li>
                        {% endfor %}
                        {% for war in groupe.waitingPeace %}
                            <li>
                                {% if war.groupe == groupe %}
                                    Vous avez demandé la paix avec <strong>{{ war.requestedGroupe }}</strong>.
                                {% else %}
                                    <strong>{{ war.groupe }}</strong> propose la paix.
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}

        {% if is_granted('ROLE_SCENARISTE', app.user) %}
            <div class="card text-bg mb-3 overflow-auto" data-turbo="false">
                <div class="header"><h5>Bonus</h5></div>
                <div class="card-body">
                    <div class="list-group border-0">
                        {% for bonus in groupeService.getAllBonus(groupe) %}
                            <div class="list-group-item d-flex justify-content-between{% if loop.first %} rounded-top-0{% endif %}">
                                <div class="list-group-item-text">
                                    {% if bonus.merveille.id is defined %}
                                        <a href="{{ path('merveille.detail', {'merveille': bonus.merveille.id }) }}">{{ bonus.merveille.nom }}</a>:
                                    {% endif %}
                                    <a href="{{ path('bonus.detail', {'bonus': bonus.id }) }}">{{ bonus.titre }}</a>
                                    {% if bonus.sourceTmp %}
                                        <span class="badge text-bg-secondary rounded-pill">{{ bonus.sourceTmp }}</span>
                                    {% endif %}
                                    <br/>
                                    {{ bonus.description }}
                                </div>
                                {# Todo see how to display "type: origin/groupe/merveille/... #}
                                {# see how to delete #}
                            </div>
                        {% else %}
                            <div class="list-group-item rounded-top-0">Aucun</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="card text-bg mb-3 overflow-auto" data-turbo="false">
            <div class="header"><h5>Jeux</h5></div>
            <div class="card-body">

                <strong>Participe à : </strong>
                <ul class="list-group mb-2">
                    {% for session in groupe.groupeGns %}
                        <li class="list-group-item"><a
                                    href="{{ path('gn.detail', {'gn': session.gn.id}) }}">{{ session.gn }}</a></li>
                    {% else %}
                        Aucun
                    {% endfor %}
                </ul>

                {% if isAdmin %}

                    {% set noticeTypeGroupeHtml %}
                        <strong>Type de groupe</strong> {% if groupe.pj %}Groupe de PJ{% else %}Groupe de PNJ{% endif %}


                        <a class="btn btn-secondary" href="{{ path('groupeGn.list', {'groupe': groupe.id}) }}">Gestion
                            des
                            sessions de jeu</a><br/>
                        <div id="groupe_lock" class="m-2">
                            {% if groupe.lock %}
                                Le groupe est <strong class="text-warning">verouillé aux modifications PJ</strong>.
                                <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                                   title="Ouvrir le groupe"
                                   href="{{ path('groupe.unlock', {'groupe' : groupe.id}) }}"><i
                                            class="fa fa-pencil"></i> déverouiller</a>
                            {% else %}
                                Le groupe est <strong class="text-success">ouvert aux modifications PJ</strong>.
                                <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                                   title="Fermer le groupe"
                                   href="{{ path('groupe.lock', {'groupe' : groupe.id}) }}"><i class="fa fa-pencil"></i>
                                    verouiller</a>
                            {% endif %}
                        </div>
                    {% endset %}
                    {% include '_partials/cardNotif.twig' with {'type' : 'gamemaster', 'content' : noticeTypeGroupeHtml, 'css' : 'mt-2'} %}
                {% endif %}

                <br/>
            </div>
        </div>

        {% if isAdmin %}
            <div class="card text-bg mb-3 overflow-auto border-gamemaster">
                <div class="header"><h5><i class="fa fa-feather text-gamemaster"> </i> Intrigues
                    </h5></div>
                <div class="text-body">
                    <ul>
                        {% for intrigueHasGroupe in groupe.intrigueHasGroupes %}
                            <li>
                                <a href="{{ path('intrigue.detail', {'intrigue': intrigueHasGroupe.intrigue.id}) }}">{{ groupe.nom }}
                                    -- {{ intrigueHasGroupe.intrigue.titre }}</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('intrigue.add') }}">Attention, aucune intrigue ne concerne votre
                                    groupe {{ groupe.nom }}. Vous devriez peut-être en définir une.</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}

    </div>
</div>
