<h5 class="mt-2">Enveloppe de groupe pour {{ groupe.nextSession.gn.label }}</h5>
<blockquote>Cette liste correspond au matériel qui sera présent dans l'enveloppe de début de jeu remise au groupe
</blockquote>

<h6><strong>Richesse</strong>
    {% if isAdmin %}
    <a
            href="{{ path('groupe.richesse', {'groupe': groupe.id}) }}">Modifier la richesse</a>
    {% endif %}</h6>
<div class="card p-2 mb-2">
    <p>La richesse de votre groupe est composé des pièces d'argent fournies par les territoires qu'il contrôle, ainsi de
        ce qui reste des enveloppes de retour du jeu précédent</p>
    <ul>
        {% if groupe.hasRichesse %}
            {% for territoire in groupe.territoires %}
                <li><strong>{{ 3*territoire.richesse|default(0) }} pièces d'argent</strong> fournies par
                    <strong>{{ territoire.nom }}</strong>. Etat {{ territoire.statut|default('stable')|lower }}
                    : {% if territoire.statut == 'Instable' %}0.5 x {% endif %}3 x ( {{ territoire.tresor|default(0) }}
                    [Fief]
                    {% for construction in territoire.constructions %}
                    {% if construction.id == 6 or construction.id == 10 %}
                        + 5 [{{ construction.label }}]
                    {% endif %}
                    {% if construction.id == 23 %}
                        + 10 [{{ construction.label }}]
                    {% endif %}
                    {% endfor %})
                </li>
            {% endfor %}
        {% else %}
            <li>Aucune pièces d'argent fournies par les territoires</li>
        {% endif %}
        <li><strong>{{ groupe.richesse|default(0) }} pièces d'argent</strong> supplémentaires</li>
    </ul>
    TOTAL : {{ groupe.richesseTotale|default(0) }} pièces d'argent
</div>

<h6><strong>Ressources</strong>
    {% if isAdmin %}
    <a
            href="{{ path('groupe.ressources', {'groupe': groupe.id}) }}">Modifier les ressources</a>
    {% endif %}
</h6>
<div class="card p-2 mb-2">
    <p>Les ressources de votre groupe sont composés des ressources fournis par les territoires qu'il contrôle, ainsi de
        ce qui reste des enveloppes de retour du jeu précédent</p>
    <ul>
        {% if groupe.hasRessource %}
            {% for territoire in groupe.territoires %}
                {% for ressource in territoire.exportations %}
                    {% set nbRessource = 3 %}
                    {% if territoire.statut == 'Instable' %}
                        {% set nbRessource = 2 %}
                    {% endif %}
                    <li><strong>{{ nbRessource }} {{ ressource.label }}</strong> fourni(e)s par
                        <strong>{{ territoire.nom }}</strong></li>
                {% endfor %}
            {% endfor %}
        {% else %}
            <li>Aucune ressource fourni par les territoire</li>
        {% endif %}

        {% for groupeHasRessource in groupe.groupeHasRessources %}
            <li><strong>{{ groupeHasRessource.quantite }} {{ groupeHasRessource.ressource.label }}</strong></li>
        {% else %}
            <li>Aucune ressource additionnelle</li>
        {% endfor %}
    </ul>
</div>

<h6><strong>Ingrédients</strong>
    {% if isAdmin %}
    <a
            href="{{ path('groupe.ingredients', {'groupe': groupe.id}) }}">Modifier les ingrédients</a>
    {% endif %}
</h6>
<div class="card p-2 mb-2">
    <p>Les ingrédients de votre groupe sont fournis par les territoires qu'il contrôle, ainsi de ce qui reste des
        enveloppes de retour du jeu précédent</p>
    <ul>
        {% if groupe.hasIngredient %}
            {% for territoire in groupe.territoires %}
                {% set nbIngredient = 5 %}
                {% if territoire.statut == 'Instable' %}
                    {% set nbIngredient = 3 %}
                {% endif %}
                {% for ingredient in territoire.ingredients %}
                    <li><strong>{{ nbIngredient }} {{ ingredient.label }}</strong> fourni(e)s par
                        <strong>{{ territoire.nom }}</strong></li>
                {% endfor %}
            {% endfor %}
        {% else %}
            <li>Aucun ingrédient fourni par les territoires</li>
        {% endif %}

        {% for groupeHasIngredient in groupe.groupeHasIngredients %}
            <li><strong>{{ groupeHasIngredient.quantite }} {{ groupeHasIngredient.ingredient.fullLabel }}</strong></li>
        {% else %}
            <li>Aucun ingrédient additionnel</li>
        {% endfor %}
    </ul>
</div>

<h6><strong>&nbspDocuments</strong>
    {% if isAdmin %}
    <a
            href=" {{ path('groupe.documents', {'groupe': groupe.id}) }}">Modifier la liste de documents</a>
    {% endif %}
</h6>
<div class="card p-2 mb-2">
    <p>Vous pouvez ajoutez des documents dans l'enveloppe de groupe. Si le document que vous voulez ajouter n'existe pas
        encore, vous pouvez le créer vous-même. Remarque, il est important que tous les documents que vous voulez
        ajouter soit défini dans la liste des documents AVANT que l'impression des documents ne soit lancée.</p>
    <ul>
        {% for document in groupe.documents %}
            <li><a href="{{ path('document.detail', {'document':document.id}) }}"><strong>{{ document.code }}</strong>&nbsp;{{ document.titre }}
                </a></li>
        {% else %}
            <li>Aucun</li>
        {% endfor %}
    </ul>
</div>

<h6><strong>&nbspObjets</strong>
    {% if isAdmin %}
    <a
            href=" {{ path('groupe.items', {'groupe': groupe.id}) }}">Modifier la liste des objets</a>
    {% endif %}
</h6>
<div class="card p-2 mb-2">
    <p>Vous pouvez ajoutez des objets dans l'enveloppe de groupe. Si l'objet que vous voulez ajouter n'existe pas
        encore, vous pouvez le créer vous-même.</p>
    <ul>
        {% for item in groupe.items %}
            <li>
                <a href="{{ path('item.detail', {'item':item.id}) }}"><strong>{{ item.numero }}</strong>&nbsp;{{ item.label }}
                </a></li>
        {% else %}
            <li>Aucun</li>
        {% endfor %}
    </ul>
</div>


<h6><strong>Autre</strong>
    {% if isAdmin %}
    <a
            href="{{ path('groupe.envelope', {'groupe':groupe.id}) }}"><strong>Modifier le contenu</strong></a>
    {% endif %}
</h6>
<div class="card p-2 mb-2">
    {{ groupe.materiel|default('Aucun')|markdown_to_html }}
</div>

{% if groupe.nextSession %}
    <h5>Enveloppes des personnages pour {{ groupe.nextSession.gn.label }}</h5>

    <div class="row">
        {% for participant in groupe.nextSession.participants %}
            <div class="col-md-6">
                {% if participant.personnage %}
                    <h6>
                        <strong>&nbsp;#{{ participant.personnage.id }}</strong> {{ participant.personnage.nom }}
                    </h6>
                    <div class="card p-2 mb-2">

                        Documents :
                        {% if isAdmin %}
                        <a href=" {{ path('personnage.documents', {'personnage': participant.personnage.id}) }}">Modifier
                            la
                            liste de documents</a>
                        {% endif %}
                        <ul>
                            {% for document in participant.personnage.documents %}
                                <li>
                                    <a href="{{ path('document.detail', {'document':document.id}) }}"><strong>{{ document.code }}</strong>&nbsp;{{ document.titre }}
                                    </a></li>
                            {% else %}
                                <li>Aucun</li>
                            {% endfor %}
                        </ul>

                        Objets :
                        {% if isAdmin %}
                        <a href=" {{ path('personnage.items', {'personnage': participant.personnage.id}) }}">Modifier la
                            liste
                            des objets</a>
                        {% endif %}
                        <ul>
                            {% for item in participant.personnage.items %}
                                <li>
                                    <a href="{{ path('item.detail', {'item':item.id}) }}"><strong>{{ item.numero }}</strong>&nbsp;{{ item.label }}
                                    </a></li>
                            {% else %}
                                <li>Aucun</li>
                            {% endfor %}
                        </ul>

                        Sorts :
                        {% if isAdmin %}
                        <a href="{{ path('personnage.update.sort', {'personnage': participant.personnage.id}) }}">Modifier
                            la liste des sorts</a>
                        {% endif %}
                        <ul>
                            {% for sort in participant.personnage.sorts %}
                                <li>{{ sort.label }} - {{ sort.domaine.label }} Niveau {{ sort.niveau }}</li>
                            {% else %}
                                <li>Aucun</li>
                            {% endfor %}
                        </ul>

                        Potions :
                        {% if isAdmin %}
                        <a href="{{ path('personnage.update.potion', {'personnage': participant.personnage.id}) }}">Modifier
                            la liste des potions</a>
                        {% endif %}
                        <ul>
                            {% for potion in participant.personnage.potions %}
                                <li>{{ potion.label }} - Niveau {{ potion.niveau }}</li>
                            {% else %}
                                <li>Aucune</li>
                            {% endfor %}
                        </ul>

                        Prières :
                        {% if isAdmin %}
                        <a href="{{ path('personnage.update.priere', {'personnage': participant.personnage.id}) }}">Modifier
                            la liste des prières</a>
                        {% endif %}
                        <ul>
                            {% for priere in participant.personnage.prieres %}
                                <li>{{ priere.sphere.label }} - Niveau {{ priere.niveau }} ({{ priere.label }})</li>
                            {% else %}
                                <li>Aucune</li>
                            {% endfor %}
                        </ul>

                        Ingrédients :
                        {% if isAdmin %}
                        <a href="{{ path('personnage.update.ingredient', {'personnage': participant.personnage.id}) }}">Modifier
                            la liste des ingrédients</a>
                        {% endif %}
                        <ul>
                            {% for personnageIngredient in participant.personnage.personnageIngredients %}
                                <li>{{ personnageIngredient.nombre }} {{ personnageIngredient.ingredient }}
                                    - {{ personnageIngredient.ingredient.color }}
                                    : {{ personnageIngredient.ingredient.dose }}</li>
                            {% else %}
                                <li>Aucun</li>
                            {% endfor %}
                        </ul>

                        Ressources :
                        {% if isAdmin %}
                        <a href="{{ path('personnage.update.ressource', {'personnage': participant.personnage.id}) }}">Modifier
                            la liste des ressources</a>
                        {% endif %}
                        <ul>
                            {% for personnageRessource in participant.personnage.personnageRessources %}
                                <li>{{ personnageRessource.nombre }} {{ personnageRessource.ressource }}</li>
                            {% else %}
                                <li>Aucun</li>
                            {% endfor %}
                        </ul>

                        Richesse :
                        {% if isAdmin %}
                        <a href="{{ path('personnage.update.richesse', {'personnage': participant.personnage.id}) }}">Modifier
                            la richesse</a>
                        {% endif %}
                        <ul>
                            <li>{{ participant.personnage.richesse|default(0) }} PA</li>
                        </ul>

                        Technologies :
                        {% if isAdmin %}
                        <a href="{{ path('personnage.update.technologie', {'personnage': participant.personnage.id}) }}">Modifier
                            les technologies</a>
                        {% endif %}
                        <ul>
                            {% for technologie in participant.personnage.technologies %}
                                <li>{{ technologie.label }}</li>
                            {% else %}
                                <li>Aucun</li>
                            {% endfor %}
                        </ul>

                    </div>


                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endif %}
