{% if groupe.nextSession.gn.label is defined %}
    <h5 class="mt-2">Enveloppe de groupe pour {{ groupe.nextSession.gn.label }}</h5>
{% else %}
    <h5 class="mt-2">Enveloppe de groupe le prochain GN</h5>
    {% include '_partials/cardNotif.twig' with {'type' : 'danger', 'content' : "Ce groupe n'est pas enregistrer pour le prochain GN" } %}
{% endif %}

<blockquote>Cette liste correspond au matériel qui sera présent dans l'enveloppe de début de jeu remise au groupe
</blockquote>

<h6><strong>Richesse</strong>
    {% if isAdmin %}
        <a
                href="{{ path('groupe.richesse', {'groupe': groupe.id}) }}">Modifier la richesse</a>
    {% endif %}</h6>
<div class="card p-2 mb-2">
    <p>La richesse de votre groupe est composé des pièces d'argent fournies par les territoires qu'il contrôle, ainsi de
        ce qui reste des enveloppes de retour du jeu précédent.</p>
    <ul>
        {% set allRichesse = groupeService.allRichesseDisplay(groupe) %}
        {% for richesse in allRichesse %}
            <li>{{ richesse.label|raw }}</li>
        {% else %}
            <li>Aucune</li>
        {% endfor %}
    </ul>
    TOTAL : {{ groupeService.allRichesse(groupe)|default(0) }} pièces d'argent
</div>

<h6><strong>Ressources</strong>
    {% if isAdmin %}
        <a
                href="{{ path('groupe.ressources', {'groupe': groupe.id}) }}">Modifier les ressources</a>
    {% endif %}
</h6>
<div class="card p-2 mb-2">
    <p>Les ressources de votre groupe sont composés des ressources fournies par les territoires qu'il contrôle, ainsi de
        ce qui reste des enveloppes de retour du jeu précédent.</p>
    <ul>
        {% set allRessource = groupeService.allRessource(groupe) %}

        {% for groupeRessource in allRessource %}
            <li>{{ groupeRessource.quantite }} {{ groupeRessource.ressource.label|raw }}</li>
        {% else %}
            <li>Aucune ressource additionnelle</li>
        {% endfor %}

    </ul>
</div>

<h6><strong>Ingrédients</strong>
    {% if isAdmin %}
        <a href="{{ path('groupe.ingredients', {'groupe': groupe.id}) }}">Modifier les ingrédients</a>
    {% endif %}
</h6>

<div class="card p-2 mb-2">
    <p>Les ingrédients de votre groupe sont fournis par les territoires qu'il contrôle, ainsi de ce qui reste des
        enveloppes de retour du jeu précédent.</p>
    <ul>
        {% set allIngredient = groupeService.allIngredient(groupe) %}

        {% for groupeHasIngredient in allIngredient %}
            <li>{{ groupeHasIngredient.quantite }} {{ groupeHasIngredient.ingredient.label|raw }}</li>
        {% else %}
            <li>Aucun ingrédient additionnel</li>
        {% endfor %}

    </ul>
</div>

<h6><strong>&nbspDocuments</strong>
    {% if isAdmin %}
        <a
                href=" {{ path('groupe.documents', {'groupe': groupe.id}) }}">Modifier la liste de documents</a>
    {% endif %}
</h6>
<div class="card p-2 mb-2">
    <p>Vous pouvez ajoutez des documents dans l'enveloppe de groupe. Si le document que vous voulez ajouter n'existe pas
        encore, vous pouvez le créer vous-même. Remarque, il est important que tous les documents que vous voulez
        ajouter soit défini dans la liste des documents AVANT que l'impression des documents ne soit lancée.</p>
    <ul>
        {% for document in groupe.documents %}
            <li><a href="{{ path('document.detail', {'document':document.id}) }}"><strong>{{ document.code }}</strong>&nbsp;{{ document.titre }}
                </a></li>
        {% else %}
            <li>Aucun</li>
        {% endfor %}
    </ul>
</div>

<h6><strong>&nbspObjets</strong>
    {% if isAdmin %}
        <a
                href=" {{ path('groupe.items', {'groupe': groupe.id}) }}">Modifier la liste des objets</a>
    {% endif %}
</h6>
<div class="card p-2 mb-2">
    <p>Vous pouvez ajoutez des objets dans l'enveloppe de groupe. Si l'objet que vous voulez ajouter n'existe pas
        encore, vous pouvez le créer vous-même.</p>
    <ul>
        {% set allItems = groupeService.allItems(groupe) %}
        {% for item in allItems %}
            <li>
                <a href="{{ path('item.detail', {'item':item.id}) }}">
                    <strong>{{ item.numero }}</strong>&nbsp;{{ item.label }}
                </a></li>
        {% else %}
            <li>Aucun</li>
        {% endfor %}
    </ul>
</div>


<h6><strong>Autre</strong>
    {% if isAdmin %}
        <a
                href="{{ path('groupe.envelope', {'groupe':groupe.id}) }}"><strong>Modifier le contenu</strong></a>
    {% endif %}
</h6>
<div class="card p-2 mb-2">
    {% set allMateriel = groupeService.allMateriel(groupe) %}
    {% for materiel in allMateriel %}
        {{ materiel|default('Aucun')|markdown_to_html }}<br/>
    {% else %}
        Aucun
    {% endfor %}


</div>

{% if groupe.nextSession %}
    <h5>Enveloppes des personnages pour {{ groupe.nextSession.gn.label }}</h5>

    <div class="row">
        {% for participant in groupe.nextSession.participants %}
            <div class="col-md-6">
                {% if participant.personnage %}
                    <h6>
                        <strong>&nbsp;#{{ participant.personnage.id }}</strong> {{ participant.personnage.nom }}
                    </h6>
                    <div class="card p-2 mb-2">

                        Documents :
                        {% if isAdmin %}
                            <a href=" {{ path('personnage.documents', {'personnage': participant.personnage.id}) }}">Modifier
                                la
                                liste de documents</a>
                        {% endif %}
                        <ul>
                            {% for document in participant.personnage.documents %}
                                <li>
                                    <a href="{{ path('document.detail', {'document':document.id}) }}"><strong>{{ document.code }}</strong>&nbsp;{{ document.titre }}
                                    </a></li>
                            {% else %}
                                <li>Aucun</li>
                            {% endfor %}
                        </ul>

                        Objets :
                        {% if isAdmin %}
                            <a href=" {{ path('personnage.items', {'personnage': participant.personnage.id}) }}">
                                Modifier la liste des objets</a>
                        {% endif %}

                        {% set items = personnageService.allItems(participant.personnage) %}
                        <ul>
                            {% for item in items %}
                                <li>
                                    <a href="{{ path('item.detail', {'item':item.id}) }}">
                                        <strong>{{ item.numero }}</strong>&nbsp;{{ item.label }}
                                    </a>
                                </li>
                            {% else %}
                                <li>Aucun</li>
                            {% endfor %}
                        </ul>

                        Sorts :
                        {% if isAdmin %}
                            <a href="{{ path('personnage.update.sort', {'personnage': participant.personnage.id}) }}">Modifier
                                la liste des sorts</a>
                        {% endif %}
                        <ul>
                            {% for sort in participant.personnage.sorts %}
                                <li>{{ sort.label }} - {{ sort.domaine.label }} Niveau {{ sort.niveau }}</li>
                            {% else %}
                                <li>Aucun</li>
                            {% endfor %}
                        </ul>

                        Potions :
                        {% if isAdmin %}
                            <a href="{{ path('personnage.update.potion', {'personnage': participant.personnage.id}) }}">Modifier
                                la liste des potions</a>
                        {% endif %}
                        <ul>
                            {% for potion in participant.personnage.potions %}
                                <li>{{ potion.label }} - Niveau {{ potion.niveau }}</li>
                            {% else %}
                                <li>Aucune</li>
                            {% endfor %}
                        </ul>

                        Prières :
                        {% if isAdmin %}
                            <a href="{{ path('personnage.update.priere', {'personnage': participant.personnage.id}) }}">Modifier
                                la liste des prières</a>
                        {% endif %}
                        <ul>
                            {% for priere in participant.personnage.prieres %}
                                <li>{{ priere.sphere.label }} - Niveau {{ priere.niveau }} ({{ priere.label }})</li>
                            {% else %}
                                <li>Aucune</li>
                            {% endfor %}
                        </ul>

                        Ingrédients :
                        {% if isAdmin %}
                            <a href="{{ path('personnage.update.ingredient', {'personnage': participant.personnage.id}) }}">Modifier
                                la liste des ingrédients</a>
                        {% endif %}

                        <ul>
                            {% for personnageIngredient in personnageService.allIngredient(participant.personnage) %}
                                <li>{{ personnageIngredient.nombre }} {{ personnageIngredient.ingredient }}
                                    - {{ personnageIngredient.ingredient.color }}
                                    : {{ personnageIngredient.ingredient.dose }}</li>
                            {% else %}
                                <li>Aucun</li>
                            {% endfor %}
                        </ul>

                        Ressources :
                        {% if isAdmin %}
                            <a href="{{ path('personnage.update.ressource', {'personnage': participant.personnage.id}) }}">Modifier
                                la liste des ressources</a>
                        {% endif %}
                        <ul>
                            {% for personnageRessource in personnageService.allRessource(participant.personnage) %}
                                <li>{{ personnageRessource.nombre }} {{ personnageRessource.ressource }}</li>
                            {% else %}
                                <li>Aucun</li>
                            {% endfor %}
                        </ul>

                        Richesse :
                        {% if isAdmin %}
                            <a href="{{ path('personnage.update.richesse', {'personnage': participant.personnage.id}) }}">Modifier
                                la richesse</a>
                        {% endif %}
                        <ul>
                            <li>{{ personnageService.allRichesse(participant.personnage)|default(0) }} PA</li>
                        </ul>

                        Technologies :
                        {% if isAdmin %}
                            <a href="{{ path('personnage.update.technologie', {'personnage': participant.personnage.id}) }}">Modifier
                                les technologies</a>
                        {% endif %}
                        <ul>
                            {% for technologie in participant.personnage.technologies %}
                                <li>{{ technologie.label }}</li>
                            {% else %}
                                <li>Aucun</li>
                            {% endfor %}
                        </ul>

                    </div>


                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endif %}
