{% if session is not defined %}
    {% set session = groupe.getGroupeGnById(app.request.query.get('gn')) %}
{% endif %}

{% if session %}
    <div class="row mt-2">
        <div class="col-md-12">
            <div class="header"><h5>Participations au GN {{ session.gn }}</h5></div>

            <div class="card mb-2">
                <div class="card-body">
                    {% if not session.code %}
                        Le groupe n'a pas encore de code.
                    {% else %}
                        Code du groupe : <strong>{{ session.code }}</strong>
                    {% endif %}
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header d-flex justify-content-between">
                    <h6>Liste des emails du groupe</h6>
                    <div class="btn-group">
                        <a class="btn btn-small btn-secondary" type="button" data-bs-toggle="collapse"
                           data-bs-placement="bottom" title="Afficher"
                           data-bs-target="#{{ session.gn|replace({' ': '_'}) }}_emailsCollapse" aria-expanded="false">
                            <i class="fa fa-caret-down"></i> Afficher
                        </a>
                        <a class="btn btn-small btn-secondary copyToClipBoard" type="button"
                           data-target="#{{ session.gn|replace({' ': '_'}) }}_emails" data-bs-toggle="tooltip"
                           data-bs-placement="bottom" title="Copier">
                            <i class="fa fa-copy"></i> Copier
                        </a>
                    </div>
                </div>
                <div class="collapse" id="{{ session.gn|replace({' ': '_'}) }}_emailsCollapse">
                    <div class="card-body" id="{{ session.gn|replace({' ': '_'}) }}_emails">
                        {% for participant in session.participants %}
                            {{ participant.user.email }},&nbsp;
                        {% endfor %}
                    </div>
                </div>
            </div>

            {# Ensure lead on top (not simple in SQL due to inverse relation #}
            <div class="row">
                {% set leadId = 0 %}
                {% if session.participant %}
                    {% set leadId = session.participant.getId %}
                    <div class="col-md-6">
                        {% include 'groupe/fragment/membre.twig' with {'participant' :session.participant, 'session': session} %}
                    </div>
                {% endif %}

                {% for participant in session.participants %}
                    {% if leadId != participant.getId() %}
                        <div class="col-md-6">
                            {% include 'groupe/fragment/membre.twig' with {'participant': participant, 'session': session} %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% else %}
    {% include '_partials/cardNotif.twig' with {'type' : 'info', 'content' : 'Aucune participation'} %}
{% endif %}
