{% extends "base.html.twig" %}

{% block title %}Nouvelle lignée{% endblock %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Accueil</a></li>
        <li><a href="{{ path("lignee.list") }}">Lignées</a></li>
        <li class="active">Ajout d'une lignée</li>
    </ol>

    <div class="well bs-component">
        {{ form_start(form, {"attr": {"action": path('lignee.add')}}" method="POST" {{ form_enctype(form) }} novalidate>
            <fieldset>
                <legend>Nouvelle lignée</legend>
                

                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ form_row(form.nom) }}
                        {{ form_row(form.description) }}
                    </div>
                </div>
                {{ form_rest(form) }}
            </fieldset>
        {{ form_end(form) }}
    </div>

{% endblock body %}