{% extends "base.html.twig" %}

{% block title %}{{ lignee.nom }} - Nouveau membre{% endblock title %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Accueil</a></li>
        <li><a href="{{ path("lignee.list") }}">Liste des lignees</a></li>
        <li><a href="{{ path('lignee.detail', {'lignee': lignee.id}) }}">{{ lignee.nom }}</a></li>
        <li class="active">Ajouter un membre</li>
    </ol>

    <div class="well bs-component">
        {{ form_start(form, {"attr": {"action": path('lignee.addMembre', {'lignee': lignee.id}) }}) }}
            <fieldset>
                <legend>{{ lignee.nom }} - Ajout d'un membre à la lignée (Attention ! Seuls les personnages sans lignée peuvent être ajoutés)</legend>
                
                {{ form(form) }}
            </fieldset>
        {{ form_end(form) }}
    </div>

{% endblock body %}