
{# TODO Used for sample usage of some TAB with active reloading => move to Design page #}
{% extends "base.html.twig" %}

{% block title %}{{ groupe.nom }}{% endblock title %}
{% block body %}

    {% set breadcrumb = [] %}
    {% if is_granted('ROLE_SCENARISTE', app.user) or is_granted('ROLE_ADMIN', app.user) %}
        {% set breadcrumb = breadcrumb|merge([{'name' : 'Liste des groupes', 'route': path('groupe.list') }]) %}
    {% endif %}
    {% set breadcrumb = breadcrumb|merge( [{'name' : 'Détail d\'un groupe' }]) %}

    {% include '_partials/breadcrumb.twig' with {'items' :breadcrumb} %}

    <div class="d-flex justify-content-end">
        <div class="w-auto mb-2 p-0">
            {% if is_granted('ROLE_SCENARISTE', app.user) or is_granted('ROLE_ADMIN', app.user) %}
                <div class="d-flex justify-content-end">
                    <div class="btn-toolbar d-flex justify-content-between m-0 p-0" role="toolbar">
                        <div class="btn-group m-0 p-0" role="group">
                            <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="Modifier"
                               href="{{ path('groupe.add') }}"><i
                                        class="fa fa-plus"></i> Ajouter</a>
                            <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="Modifier"
                               href="{{ path('groupe.update',{'groupe':groupe.id}) }}"><i
                                        class="fa fa-pencil"></i> Modifier</a>
                            <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="Supprimer"
                               href="{{ path('groupe.delete',{'groupe':groupe.id}) }}"><i
                                        class="fa fa-eraser"></i> Supprimer</a>

                            <div class="btn-group dropdown" role="group" aria-label="...">
                                <button type="button" class="btn btn-secondary dropdown-toggle"
                                        data-bs-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    Imprimer
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu p-0 border-2 rounded-3 border-secondary">
                                    <li class="d-grid gap-2 rounded-2">
                                        <a class="btn btn-small btn-secondary rounded-0 rounded-top-2"
                                           href="{{ path('groupe.print.materiel.groupe', {'groupe' : groupe.id}) }}">
                                            Matériel nécessaire (groupe)</a></li>
                                    <li class="d-grid gap-2">
                                        <a class="btn btn-small btn-secondary rounded-0"
                                           href="{{ path('groupe.print.materiel', {'groupe' : groupe.id}) }}">
                                            Matériel nécessaire (personnages)</a></li>
                                    <li class="d-grid gap-2">
                                        <a class="btn btn-small btn-secondary rounded-0"
                                           href="{{ path('groupe.print.perso', {'groupe' : groupe.id}) }}">
                                            Fiche de perso</a></li>
                                    <li class="d-grid gap-2 rounded-2">
                                        <a class="btn btn-small btn-secondary rounded-0 rounded-bottom-2"
                                           href="{{ path('groupe.print.background', {'groupe' : groupe.id}) }}">
                                            Background</a>
                                    </li>

                                </ul>
                            </div>

                            <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="Restauration"
                               href="{{ path('groupe.restauration',{'groupe':groupe.id}) }}"><i
                                        class="fa fa-coffee"></i> Restauration</a>

                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="well well-sm">

        <div class="header">
            <h4>Détail d'un groupe</h4>
        </div>

        <h5> {{ groupe.label }}</h5>

        <div class="row">
            <div class="col-md-12">
                <div>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link jsTabAnchor{% if tab == 'detail' %} active{% endif %}"
                               href="#">Détail</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Separated link</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>

                    <!-- Nav tabs -->
                    <nav class="nav nav-tabs" id="nav-page-tab" role="tablist">
                        <button class="nav-link jsTabAnchor{% if tab == 'detail' %} active{% endif %}"
                                id="nav-detail-tab" href="#detail" data-bs-toggle="tab"
                                data-bs-target="#detail" aria-current="page"
                                aria-selected="{% if tab == 'detail' %}true{% else %}false{% endif %}">Détail
                        </button>
                        <button class="nav-link nav-item dropdown dropdown-toggle jsTabAnchor{% if tab == 'membres' %} active{% endif %}"
                                id="nav-membres-tab" href="#membres" data-bs-toggle="tab"
                                data-bs-target="#membres"
                                aria-selected="{% if tab == 'membres' %}true{% else %}false{% endif %}">Membres
                        </button>
                        <button class="nav-link jsTabAnchor{% if tab == 'enveloppe' %} active{% endif %}"
                                id="nav-enveloppe-tab" href="#enveloppe" data-bs-toggle="tab"
                                data-bs-target="#enveloppe"
                                aria-selected="{% if tab == 'enveloppe' %}true{% else %}false{% endif %}">Enveloppe
                        </button>
                        <button class="nav-link jsTabAnchor{% if tab == 'domaine' %} active{% endif %}"
                                id="nav-domaine-tab" href="#domaine" data-bs-toggle="tab"
                                data-bs-target="#domaine"
                                aria-selected="{% if tab == 'domaine' %}true{% else %}false{% endif %}">Jeu de domaine
                        </button>
                        <button class="nav-link jsTabAnchor{% if tab == 'backgrounds' %} active{% endif %}"
                                id="nav-backgrounds-tab" href="#backgrounds" data-bs-toggle="tab"
                                data-bs-target="#backgrounds"
                                aria-selected="{% if tab == 'backgrounds' %}true{% else %}false{% endif %}">Backgrounds
                        </button>
                        <button class="nav-link jsTabAnchor{% if tab == 'debriefings' %} active{% endif %}"
                                id="nav-debriefings-tab" href="#debriefings" data-bs-toggle="tab"
                                data-bs-target="#debriefings"
                                aria-selected="{% if tab == 'debriefrings' %}true{% else %}false{% endif %}">Debriefings
                        </button>
                    </nav>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" role="tabpanel" id="detail"
                             aria-labelledby="detail-tab" tabindex="0">
                            {% include 'groupe/fragment/detail.twig' with {'groupe': groupe} %}
                        </div>
                        <div role="tabpanel" class="tab-pane" role="tabpanel" id="membres" aria-labelledby="membres-tab"
                             tabindex="0">
                            {% include 'groupe/fragment/membres.twig' with {'groupe': groupe} %}
                        </div>
                        <div role="tabpanel" class="tab-pane" role="tabpanel" id="enveloppe"
                             aria-labelledby="enveloppe-tab"
                             tabindex="0">
                            {% include 'groupe/fragment/enveloppe.twig' with {'groupe': groupe} %}
                        </div>
                        <div role="tabpanel" class="tab-pane" role="tabpanel" id="domaine" aria-labelledby="domaine-tab"
                             tabindex="0">
                            {% include 'groupe/fragment/domaine.twig' with {'groupe': groupe} %}
                        </div>
                        <div role="tabpanel" class="tab-pane" role="tabpanel" id="backgrounds"
                             aria-labelledby="backgrounds-tab"
                             tabindex="0">
                            {% include 'groupe/fragment/backgrounds.twig' with {'groupe': groupe} %}
                        </div>
                        <div role="tabpanel" class="tab-pane" role="tabpanel" id="debriefings"
                             aria-labelledby="debriefings-tab"
                             tabindex="0">
                            {% include 'groupe/fragment/debriefings.twig' with {'groupe': groupe} %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
    {% block javascripts %}

        {{ parent() }}

        <script type="text/javascript">
            // Keep active tag on page reloading
            $(document).ready(function () {
                $('button[data-bs-toggle="tab"]').on('show.bs.tab', function (e) {
                    localStorage.setItem('activeTab', $(e.target).attr('href'));
                });

                let activeTab = localStorage.getItem('activeTab');
                if (activeTab) {
                    $('#nav-page-tab button[href="' + activeTab + '"]').tab('show');
                }
                // allow copy to clipboard
                $('.copyToClipBoard').click(function () {
                    let textToCopy = $($(this).attr('data-target')).text();
                    navigator.clipboard.writeText(textToCopy);
                    $(this).find(".fa").removeClass('fa-copy')
                    $(this).find(".fa").addClass('fa-check')
                    setTimeout(() => {
                        $(this).find(".fa").addClass('fa-copy')
                        $(this).find(".fa").removeClass('fa-check')
                    }, 2000);

                });
            });

        </script>
    {% endblock javascripts %}
