{% extends "base.html.twig" %}

{% block title %}{{ groupe.nom }}{% endblock title %}
{% block body %}

    {% if tab is not defined %}
        {% set tab = 'detail' %}
    {% endif %}
    {% set isAdmin = is_granted('ROLE_REGLE', app.user) or is_granted('ROLE_ADMIN', app.user) or is_granted('ROLE_SCENARISTE', app.user) %}

    {% set breadcrumb = [] %}
    {% if isAdmin %}
        {% set breadcrumb = breadcrumb|merge([{'name' : 'Liste des groupes', 'route': path('groupe.list') }]) %}
    {% endif %}
    {% set breadcrumb = breadcrumb|merge( [{'name': groupe.label, 'route': path('groupe.detail', {'groupe': groupe.id})},{'name' : 'Détail d\'un groupe' }]) %}

    {% include '_partials/breadcrumb.twig' with {'items' :breadcrumb} %}

    {% if canSeePrivateDetail is not defined %}
        {% set canSeePrivateDetail = false %}
    {% endif %}

    <div class="d-flex justify-content-end">
        <div class="w-auto mb-2 p-0">
            {% if is_granted('ROLE_SCENARISTE', app.user) %}
                <div class="d-flex justify-content-end">
                    <div class="btn-toolbar d-flex justify-content-between m-0 p-0" role="toolbar">
                        <div class="btn-group m-0 p-0" role="group">
                            <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="Modifier"
                               href="{{ path('groupe.add') }}"><i
                                        class="fa fa-plus"></i> Ajouter</a>
                            <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="Modifier"
                               href="{{ path('groupe.update',{'groupe':groupe.id}) }}"><i
                                        class="fa fa-pencil"></i> Modifier</a>
                            <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="Supprimer"
                               href="{{ path('groupe.delete',{'groupe':groupe.id}) }}"><i
                                        class="fa fa-eraser"></i> Supprimer</a>

                            <div class="btn-group dropdown" role="group" aria-label="...">
                                <button type="button" class="btn btn-secondary dropdown-toggle"
                                        data-bs-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    Imprimer
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu p-0 border-2 rounded-3 border-secondary">
                                    <li class="d-grid gap-2 rounded-2">
                                        <a class="btn btn-small btn-secondary rounded-0 rounded-top-2"
                                           href="{{ path('groupe.print.materiel.groupe', {'groupe' : groupe.id}) }}">
                                            Matériel nécessaire (groupe)</a></li>
                                    <li class="d-grid gap-2">
                                        <a class="btn btn-small btn-secondary rounded-0"
                                           href="{{ path('groupe.print.materiel', {'groupe' : groupe.id}) }}">
                                            Matériel nécessaire (personnages)</a></li>
                                    <li class="d-grid gap-2">
                                        <a class="btn btn-small btn-secondary rounded-0"
                                           href="{{ path('groupe.print.perso', {'groupe' : groupe.id}) }}">
                                            Fiche de perso</a></li>
                                    <li class="d-grid gap-2 rounded-2">
                                        <a class="btn btn-small btn-secondary rounded-0 rounded-bottom-2"
                                           href="{{ path('groupe.print.background', {'groupe' : groupe.id}) }}">
                                            Background</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="well well-sm">

        <div class="header">
            <h4>Détail d'un groupe</h4>
        </div>

        <h4 class="bold">{{ groupe.label }}</h4>

        <div class="row" style="min-height:300px;">
            <div class="col-md-12">
                <div>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link{% if tab == 'detail' %} active{% endif %}"
                               href="{{ path('groupe.detail',  app.request.query.all|merge({'groupe': groupe.id,'tab': 'detail'})) }}"
                            >Détail</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle{% if tab == 'membres' %} active{% endif %}" data-bs-toggle="dropdown" href="#" role="button"
                               aria-expanded="false">Membres</a>
                            <ul class="dropdown-menu p-0 border-2 rounded-2 border-secondary">
                                {% for session in groupe.groupeGns|reverse %}
                                    <li class="d-grid gap-2{% if loop.first %} rounded-top-2{% elseif loop.last %} rounded-bottom-2{% endif %}">
                                        <a class="dropdown-item {% if loop.first %} rounded-top-2{% elseif loop.last %} rounded-bottom-2{% endif %}"
                                           href="{{ path('groupe.detail',  app.request.query.all|merge({'groupe': groupe.id,'tab': 'membres', 'gn': session.gn.id})) }}"
                                        >{{ session.gn }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>

                        {% if canSeePrivateDetail %}
                        <li class="nav-item">
                            <a class="nav-link {% if tab == 'enveloppe' %} active{% endif %}"
                               href="{{ path('groupe.detail',  app.request.query.all|merge({'groupe': groupe.id,'tab': 'enveloppe'})) }}"
                            >Enveloppe</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle{% if tab == 'domaine' %} active{% endif %}"
                               data-bs-toggle="dropdown" href="#" role="button"
                               aria-expanded="false"
                            >Jeu de domaine</a>
                            <ul class="dropdown-menu p-0 border-2 rounded-2 border-secondary">
                                {% for session in groupe.groupeGns|reverse %}
                                    <li class="d-grid gap-2{% if loop.first %} rounded-top-2{% elseif loop.last %} rounded-bottom-2{% endif %}">
                                        <a class="dropdown-item {% if loop.first %} rounded-top-2{% elseif loop.last %} rounded-bottom-2{% endif %}"
                                           href="{{ path('groupe.detail',  app.request.query.all|merge({'groupe': groupe.id,'tab': 'domaine', 'gn': session.gn.id})) }}"
                                        >{{ session.gn }}</a></li>
                                {% endfor %}

                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link{% if tab == 'backgrounds' %} active{% endif %}"
                               href="{{ path('groupe.detail',  app.request.query.all|merge({'groupe': groupe.id,'tab': 'backgrounds'})) }}"
                            >Backgrounds</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link{% if tab == 'debriefings' %} active{% endif %}"
                               href="{{ path('groupe.detail',  app.request.query.all|merge({'groupe': groupe.id,'tab': 'debriefings'})) }}"
                            >Debriefings</a>
                        </li>
                        {% endif %}
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" role="tabpanel">
                            {% include "groupe/fragment/#{tab|default('detail')}.twig" with {'groupe': groupe} %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
    {% block javascripts %}

        {{ parent() }}

        <script type="text/javascript">
            $(document).ready(function () {
                // allow copy to clipboard
                $('.copyToClipBoard').click(function () {
                    let textToCopy = $($(this).attr('data-target')).text();
                    navigator.clipboard.writeText(textToCopy);
                    $(this).find(".fa").removeClass('fa-copy')
                    $(this).find(".fa").addClass('fa-check')
                    setTimeout(() => {
                        $(this).find(".fa").addClass('fa-copy')
                        $(this).find(".fa").removeClass('fa-check')
                    }, 2000);

                });
            });

        </script>
    {% endblock javascripts %}
