{% extends "base.html.twig" %}

{% block title %}Groupes{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path("groupe.list") }}">Liste des groupes</a></li>
		<li><a href="{{ path("groupe.detail", {'groupe': groupe.id}) }}">{{ groupe.nom }}</a></li>
		<li class="active">Envelope</li>
	</ol>
	
	<div class="well well-sm">
		{{ form_start(form, {"attr": {"action": path('groupe.envelope',{'groupe': groupe.id}) }}) }}

			{{ form(form) }}

		{{ form_end(form) }}
	</div>
{% endblock %}
