{% extends "base.html.twig" %}

{% block title %}Groupes{% endblock title %}

{% block body %}


    {% include '_partials/breadcrumb.twig' with {'items' :
        [
            {'name' : 'Liste des groupes', 'route': path('groupe.list') },
            {'name' : groupe.nom, 'route': path('groupe.detail', {'groupe': groupe.id}) },
            {'name' : 'Modifier les ingredients du groupe' }
        ]
    } %}

    <div class="well well-sm bs-component">

        <div class="header">
            <h5>Ingrédients</h5>
        </div>

        {{ form_start(form, {"attr": {"action": path('groupe.ingredients',{'groupe': groupe.id}) }}) }}

        {{ form_start(form) }}

        <p>Ajoutez ici les ingredients additionnelles</p>

        <ul class="list-group groupeHasIngredients"
            data-prototype="{{ form_widget(form.groupeHasIngredients.vars.prototype)|e }}">
            {% for groupeHasIngredient in form.groupeHasIngredients %}
                <li class="list-group-item">
                    <div class="ingredient">
                        {{ form_widget(groupeHasIngredient.quantite) }}
                        {{ form_widget(groupeHasIngredient.ingredient) }}
                    </div>
                </li>
            {% endfor %}
        </ul>
        {{ form_end(form) }}
        {{ form_end(form) }}
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    {{ include("groupe/ingredientJs.twig") }}
{% endblock javascripts %}
