{% extends "base.html.twig" %}

{% block title %}Rejoindre un groupe{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Page d'accueil</a></li>
		<li><a href="{{ path('participant.index', {'participant' : participant.id}) }}">{{ participant.gn.label }}</a></li>
		<li class="active">Rejoindre un groupe</li>
	</ol>
	
	<div class="well well-sm">

		<div class="header">
			<h5>Rejoindre un groupe</h5>
		</div>
							
		<p>Vous n'êtes pour le moment inscrit dans aucun groupe. Entrez le code de votre groupe dans le formulaire ci-dessous. Le code doit vous être transmis par le responsable de votre groupe.</p>
						
						
		{{ form_start(form, {"attr": {"action": path('participant.groupe.join', {'participant': participant.id}) }}) }}
			
			{{ form(form) }}
		{{ form_end(form) }}
	</div>
	
{% endblock body %}