{% extends "base.html.twig" %}

{% block title %}Groupes{% endblock title %}

{% block body %}

	{% include '_partials/breadcrumb.twig' with {'items' : [{'name' : 'Liste des groupes'}]} %}


	<div class="well well-sm">

		<div class="header">
			<h5>Liste des groupes</h5>
		</div>

		{% if is_granted('ROLE_SCENARISTE', app.user) or is_granted('ROLE_ADMIN', app.user) %}
			{% set canAdd = {'title': 'Ajouter un groupe', 'path': path('groupe.add')} %}
			{% set print = {'title': 'Imprimer', 'path': path('groupe.print')} %}
		{% else %}
			{% set canAdd = null %}
			{% set print = null %}
		{% endif %}
		{% include '_partials/formListSearch.twig' with
			{
				'canAdd': canAdd,
				'print': print,
				'actionPath' : path('groupe.list')
			} %}
	</div>

	{% include '_partials/pagination.html.twig' %}

	<table class="table table-striped table-bordered table-condensed">
		{% include '_partials/thead.twig' with  { 'route': 'groupe.list', 'rows': [
			{'name' : 'Type', 'field' : 'secret', 'css' : 'text-center'},
			{'name' : 'Numéro', 'field' : 'numero', 'css' : 'text-center'},
			{'name' : 'Nom', 'field' : 'nom', 'css' : 'text-center'},
			{'name' : 'Session', 'css' : 'text-center'},
			{'name' : 'Statut', 'css' : 'text-center'},
			{'name' : 'Scenariste', 'field' : 'userRelatedByScenaristeId', 'css' : 'text-center'},
			{'name' : 'Actions', 'css' : 'text-center'},
		]} %}
		<tbody>
		{% for groupe in paginator %}
			<tr>
				<td>{% if groupe.pj %}PJ{%else%}PNJ{% endif %}</td>
				<td>{{ groupe.numero|highlight(pagerService.searchValue) }}</td>
				<td>{{ groupe.nom|highlight(pagerService.searchValue) }}</td>
				<td>
					<ul>
					{% for groupeGn in groupe.groupeGns|reverse %}
						<li><strong>{{ groupeGn.gn.label|highlight(pagerService.searchValue) }}</strong> : {{ groupeGn.participants|length }} / {{ groupe.placeTotal|default(0) }}</li>
					{% endfor %}
					</ul>
				</td>
				<td>{% if groupe.lock %}<span class="text-danger">Verrouillé</span>{% else %}Ouvert{% endif %}</td>
				<td>{% if groupe.scenariste %}{{ groupe.scenariste.etatCivil|highlight(pagerService.searchValue) }}{% else %}pas de scénariste{% endif %}</td>
				<td>
					<div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
						<div class="btn-group" role="group" aria-label="...">
							<a class="btn btn-secondary" href="{{ path('groupe.detail', {'groupe':groupe.id}) }}"><i class="fa fa-eye"></i></a>
							<a class="btn btn-secondary" href="{{ path('groupe.update', {'groupe':groupe.id}) }}"><i class="fa fa-pencil"></i></a>
						</div>
					</div>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

	{% include '_partials/pagination.html.twig' %}

{% endblock body %}
