{% extends "base.print.twig" %}


{% block content %}

    <h2>Groupe {{ groupe.numero }} - {{ groupe.nom }}</h2>

    <strong>Les personnages</strong>
    <ul>
        {% for participant in groupe.nextSession.participants %}
            {% if participant.personnage %}
                <li>
                    #{{ participant.personnage.id }} {{ participant.personnage.nom }}{% if participant.personnage.surnom %} ({{ participant.personnage.surnom }}){% endif %}</li>
            {% else %}
                <li>Attention le participant {{ participant.user.username }} / {{ participant.user.email }} n'a pas de
                    personnage
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    {% set allRichesse = groupeService.allRichesseDisplay(groupe) %}
    {% if allRichesse|length > 0 %}
        <strong>Richesse</strong>
        <ul>
            {% for richesse in allRichesse %}
                <li>{{ richesse.label|raw }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if groupe.documents|length > 0 %}
        <strong>Documents</strong>
        <ul>
            {% for document in groupe.documents %}
                <li>{{ document.code }} - {{ document.titre }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% set allIngredient = groupeService.allIngredient(groupe) %}
    {% if allIngredient|length > 0 %}
        <strong>Ingrédients</strong>
        <ul>
            {% for groupeHasIngredient in allIngredient %}
                <li>{{ groupeHasIngredient.quantite }} {{ groupeHasIngredient.ingredient.label|raw }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% set allRessource = groupeService.allRessource(groupe) %}
    {% if allRessource|length > 0 %}
        <strong>Ressources</strong>
        <ul>
            {% for groupeRessource in allRessource %}
                <li>{{ groupeRessource.quantite }} {{ groupeRessource.ressource.label|raw }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% set allMateriel = groupeService.allMateriel(groupe) %}
    <strong>Matériel supplémentaire</strong>
    <ul>
        <li>1 sac poubelle transparent (déchets recyclables)</li>
        <li>1 sac poubelle noir (déchets non recyclables)</li>
        <li>Bons douche</li>
        <li>1 Etiquette bannière</li>
        <li>1 Fiche retour de groupe</li>
        {% for materiel in allMateriel %}
            <li>{{ materiel|striptags }}</li>
        {% endfor %}
    </ul>

    <hr class="print-page-break"/>

    <strong>Jeu de domaine</strong><br/>

    <ul>
        <li>Nombre de bateau <strong>{{ session.bateaux }}</strong></li>
        {% if session.bateauxLocalisation %}
            <li>Localisation des bateaux: <strong>{{ session.bateauxLocalisation }}</strong></li>
        {% endif %}
        <li>Nombre d'agent <strong>{{ session.agents }}</strong></li>
        <li>Nombre d'armes de sièges <strong>{{ session.sieges }}</strong></li>
    </ul>

    {% if groupe.territoires|length > 0 %}
        <strong>Fiefs</strong><br/>
        <ul>
            {% for territoire in groupe.territoires %}
                <li>1 Feuille du fief <strong>{{ territoire }}</strong></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if groupe.territoires|length > 0 %}
        <strong>Titres</strong><br/>
        <ul>
            {# if session.suzerain(false) is not null #}
            <li>Suzerain: <strong>{{ session.suzerain(false).nom|default('Aucun') }}</strong></li>

            {#  if session.connetable() is not null #}
            <li>Chef de guerre<strong>: {{ session.connetable().nom|default('Aucun') }}</strong></li>

            {# if session.navigateur() is not null #}
            <li>Navigateur<strong>: {{ session.navigateur().nom|default('Aucun') }}</strong></li>

            {# if session.camarilla() is not null #}
            <li>Éminence grise<strong>: {{ session.camarilla().nom|default('Aucun') }}</strong></li>

            {# if session.intendant() is not null #}
            <li>Intendant<strong>: {{ session.intendant().nom|default('Aucun') }}</strong></li>

            {# if session.diplomate() is not null #}
            <li>Diplomate<strong>: {{ session.diplomate().nom|default('Aucun') }}</strong></li>

        </ul>
    {% endif %}

    {#
    <div>
        <h4>Quête commerciale pour #{{ groupe.numero }} {{ groupe.nom }}</h4>
        <p>La route commerciale doit partir de
            <strong>{% if groupe.territoire %}{{ groupe.territoire.nom }}{% else %}INCONNU{% endif %}</strong> et
            parvenir à <strong>{% if quete.cible %}{{ quete.cible.nom }}{% else %}INCONNU{% endif %}</strong></p>
        <strong>Les ressources demandées sont :</strong>
        <ul>
            {% for ressource in quete.needs %}
                <li>{{ ressource.label }}</li>
            {% endfor %}
        </ul>
        <strong>Récompenses : </strong>{{ quete.recompenses|join(', ') }}
    </div>
    #}

    {% set allItems = groupeService.allItems(groupe) %}
    {% if allItems|length > 0 %}
        <strong>Objets de jeu</strong> ou étiquette à récupérer au PC Joueur sur présentation de cette feuille.
        <ul>
            {% for item in allItems %}
                <li>{{ item.numero }} - {{ item.label }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock content %}
