{% extends "base.html.twig" %}

{% block title %}Groupes{% endblock title %}

{% block body %}

	{% include '_partials/breadcrumb.twig' with {'items' :
		[
			{'name' : 'Liste des groupes', 'route': path('groupe.list') },
			{'name' : 'Modification d\'un groupe' }
		]
	} %}

	<div class="well bs-component">
		{{ form(form) }}
	{#
		{{ form_start(form, {"attr": {"action": path('groupe.update', {'groupe': groupe.id}) }}) }}
		<fieldset>
			<legend>Modification d'un groupe</legend>
			
			
					<div class="panel panel-default">
						<div class="panel-heading">
							<h6>Informations générales</h6>
						</div>
						<div class="panel-body">
							{{ form_row(form.nom) }}
							{{ form_row(form.description) }}
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h6>Informations techniques</h6>
						</div>
						<div class="panel-body">
							{{ form_row(form.numero) }}
							{{ form_row(form.scenariste) }}
						</div>
					</div>
			
			{{ form_rest(form) }}
		</fieldset>
	{{ form_end(form) }}
	#}
	</div>
		
{% endblock body %}
