{% extends "base.html.twig" %}

{% block title %}{{ groupe.nom}} - membres{% endblock title %}
{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path("groupe.list") }}">Liste des groupes</a></li>
		<li><a href="{{ path("groupe.detail", {'groupe':groupe.id}) }}">{{ groupe.nom }}</a></li>
		<li class="active">Membres</li>
	</ol>

	<div class="well well-sm">
		
	</div>	    		
				
{% endblock body %}		    		
