{% extends "base.html.twig" %}

{% block title %}Genres{% endblock title %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Accueil</a></li>
        <li><a href="{{ path('genre.index') }}">Liste des genres</a></li>
        <li class="active">Detail d'un genre</li>
    </ol>


    <div class="well well-sm bs-component">
    <div class="header">
        <h5>
            {{ genre.label }}
        </h5>
    </div>


    <div class="list-group">

        <div class="list-group-item">
            <h4 class="list-group-item-heading">Description</h4>
            <p class="list-group-item-text">
                {% if not genre.description %}
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    Attention, ce genre n'a pas de description.
                {% else %}
                    {{ genre.description }}
                {% endif %}
            </p>
        </div>

        <div class="list-group-item">
            <div class="btn-group" role="group" aria-label="...">
                <a class="btn btn-primary" role="button"
                   href="{{ path('genre.update', {genre : genre.id}) }}">Modifier</a>
            </div>
        </div>
    </div>

{% endblock %}
