{% extends "base.html.twig" %}

{% block title %}Titres{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('titre.admin.list') }}">Liste des titres</a></li>
		<li class="active">Modifier un titre</li>
	</ol>
	
	
	<div class="well bs-component">
		{{ form_start(form, {"attr": {"action": path('titre.admin.update', {'titre': titre.id}) }}) }}
			<fieldset>
				<legend>Modification d'un titre</legend>
					
					{{ form(form) }}
			</fieldset>
		{{ form_end(form) }}
	</div>
				
{% endblock body %}