{% if showPersonnage is not defined %}
    {% set showPersonnage = false %}
{% endif %}

{% if showUser is not defined %}
    {% set showUser = true %}
{% endif %}

{% if showUser is defined and showPersonnage is not defined %}
    {% set showPersonnage = not showUser %}
{% endif %}
<table class="table table-condensed table-striped table-bordered table-hover">
    {% include '_partials/thead.twig' with  { 'route': 'connaissance.list', 'rows': [
        {'name' : 'GN', 'css' : 'text-center'},
        {'name' : 'Statut', 'css' : 'text-center'},
        {'name' : 'Billet', 'css' : 'text-center'},
        {'name' : 'Groupe', 'css' : 'text-center'},
        {'name' : 'Personnage', 'css' : 'text-center', 'visible': showPersonnage},
        {'name' : 'Utilisateur', 'css' : 'text-center', 'visible': showUser},
    ]} %}
    <tbody>
    {% for participant in participants|sort((a, b) => a.id <=> b.id) %}
        <tr>
            <td class="text-center col-1 align-middle">
                <a href="{{ path('gn.detail', {'gn': participant.gn.id}) }}">
                    {{ participant.gn.label }}
                </a>
            </td>
            <td class="text-center col-1 align-middle">
                <a href="{{ path('participant.detail', {'participant': participant.id}) }}">
                    {% if participant.gn.isPast %}
                        <span class="text-notice">Terminé</span>
                    {% else %}
                        <span class="text-notice">Inscrit</span>
                    {% endif %}
                </a>
            </td>
            <td class="col-2 text-center align-middle">
                {% if participant.billet %}
                    <span class="text-success"><i
                            class="fa-solid fa-ticket"></i> {{ participant.billet.label }}</span>
                {% else %}
                    <div>
                        <span class="text-danger">Un billet est obligatoire pour l'accès au jeu !</span>
                        <a class="btn btn-sm btn-secondary"
                           href="{{ path('gn.billetterie', {'gn': participant.gn.id}) }}"><i
                                class="fa-solid fa-ticket"></i> Billetterie</a>
                    </div>
                {% endif %}
            </td>
            <td class="col-4 align-middle">
                {% if participant.groupeGn %}
                    <i class="fa fa-users"></i> <a
                    href="{{ path('groupe.detail',{'groupeGn': participant.groupeGn.id, 'groupe': participant.groupeGn.groupe.id}) }}">{{ participant.groupeGn.groupe.nom }}</a>
                {% else %}
                    <div class="w-100 d-flex justify-content-center">
                        <a class="btn btn-sm btn-secondary"
                           href="{{ path('participant.groupe.join', {'participant': participant.id}) }}">
                            <i class="fa fa-users"></i> Rejoindre un groupe
                        </a>
                    </div>
                {% endif %}
            </td>
            {% if showPersonnage %}
                <td class="col-4 align-middle">
                    {% if participant.personnage %}
                        <i class="fa fa-user"></i> <a
                        href="{{ path('personnage.detail',{'gn': participant.gn.id, 'personnage': participant.personnage.id, 'participant': participant.id }) }}">{{ participant.personnage.nom }}{% if participant.personnage.surnom %} ({{ participant.personnage.surnom }}){% endif %}</a>
                    {% else %}
                        {% if participant.session %}
                            <div class="w-100 d-flex justify-content-center">
                                <a class="btn btn-sm btn-secondary me-2"
                                   href="{{ path('participant.personnage.old', {'participant': participant.id}) }}">
                                    <i class="fa fa-clock-rotate-left"></i> Reprendre un ancien
                                </a>
                                <a class="btn btn-sm btn-secondary"
                                   href="{{ path('participant.personnage.new', {'participant': participant.id}) }}">
                                    <i class="fa-solid fa-user-plus"></i> Créer un nouveau
                                </a>
                            </div>
                        {% else %}
                            <div class="d-flex justify-content-center">
                                <span class="text-danger">Requiert un groupe</span>
                            </div>
                        {% endif %}
                    {% endif %}
                </td>
            {% endif %}
            {% if showUser %}
                <td class="col-4 align-middle">
                    {% if participant.user %}
                        <i class="fa fa-user"></i> <a
                        href="{{ path('user.detail',{'user': participant.user.id }) }}">{{ participant.personnage.nom }}{% if participant.personnage.surnom %} ({{ participant.personnage.surnom }}){% endif %}</a>
                    {% else %}
                        <div class="d-flex justify-content-center">
                            <span class="text-danger">-</span>
                        </div>
                    {% endif %}
                </td>
            {% endif %}
        </tr>
    {% else %}
        {% include '_partials/noResultTableRow.twig' %}
    {% endfor %}
    </tbody>
</table>
