{% extends "base.html.twig" %}

{% block title %}Question{% endblock title %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Accueil</a></li>
        <li><a href="{{ path('question') }}">Liste des questions</a></li>
        <li class="active">Supprimer une question</li>
    </ol>


    <div class="well bs-component">
        <div class="header">
            <h5>Supprimer une question</h5>
        </div>

        <p>{{ question.label }}</p>
        <p>{{ question.text|markdown_to_html }}</p>

        {{ form(form) }}
    </div>

{% endblock body %}
