{% extends "base.html.twig" %}

{% block title %}Ages{% endblock title %}

{% block body %}

    {% include '_partials/breadcrumb.twig' with {'items' :
        [
            {'name' : 'Liste des ages', 'route': path('age.list') },
            {'name' : age.label, 'route': path('age.detail', {'age':age.id})  },
            {'name' : 'Détail' },
        ]
    } %}

    <div class="well well-sm">

        <div class="header">
            <h5>Détail d'un age</h5>
        </div>

        {% if age.enableCreation %}
            {% include '_partials/cardNotif.twig' with {'type' : 'info', 'content' : "Cet age n'est pas disponible lors de la création d'un personnage."} %}
        {% else %}
            {% include '_partials/cardNotif.twig' with {'type' : 'info', 'content' : "Cet age est disponible lors de la création d'un personnage."} %}
        {% endif %}

        <h4>{{ age.label }}</h4>

        <div class="panel panel-default">
            <p>XP en bonus: <span class="badge text-bg-secondary rounded-pill">{{ age.bonus|default(0) }}</span></p>

            <div class="panel-body">
                {% if not age.description %}
                    {% include '_partials/cardNotif.twig' with {'type' : 'warning', 'content' : "Attention, cet age n'a pas de description."} %}
                {% else %}
                    {{ age.description|markdown_to_html }}
                {% endif %}
            </div>
        </div>

        <div class="btn-toolbar d-flex justify-content-center" role="toolbar">
            <div class="btn-group" role="group">
                <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="Personnages ayant cet age"
                   href="{{ path('age.perso',{'age':age.id}) }}"><i
                            class="fa fa-users"></i> Personnages</a>
                <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="Modifier"
                   href="{{ path('age.update',{'age':age.id}) }}"><i
                            class="fa fa-pencil"></i> Modifier</a>
                <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="Supprimer"
                   href="{{ path('age.delete',{'age':age.id}) }}"><i
                            class="fa fa-eraser"></i> Supprimer</a>
            </div>
        </div>
    </div>

{% endblock %}
