{% extends "base.html.twig" %}

{% block title %}Age{% endblock title %}

{% block body %}

    {% include '_partials/breadcrumb.twig' with {'items' :
        [
            {'name' : 'Liste des ages', 'route': path('age.list') },
            {'name' : age.label, 'route': path('age.list', {'age':age.id})  },
            {'name' : 'Personnages ayant cet age' },
        ]
    } %}

    <div class="well well-sm">
        <div class="header">
            <h5>Personnages ayant l'age "{{ age.label }}"<small>
                    ({{ age.personnages|length }})
                </small></h5>
        </div>

        {% include '_partials/formListSearch.twig' with {'actionPath' : path('age.list')} %}

        {% include '_partials/pagination.html.twig' %}
        <!-- See if we use Identity or smaller Queries getter -->
        <table class="table table-striped table-bordered table-condensed table-hover">
            {% include '_partials/thead.twig' with  { 'route': 'age.list', 'rows': [
                {'name' : 'Id', 'field' : 'id'},
                {'name' : 'Vivant', 'field' : 'vivant'},
                {'name' : 'Nom', 'field' : 'nom'},
                {'name' : 'Surnom', 'field' : 'surnom'},
                {'name' : 'Classe', 'field' : 'classeName'},
                {'name' : 'Actions'},
            ]} %}
            <tbody>
            {% for personnage in paginator %}
                <tr>
                    <td class="text-center">
                        <a href="{{ path('personnage.detail', {'personnage':personnage.id}) }}">{{ personnage.id }}</a>
                    </td>
                    <td class="text-center">
                        {% if personnage.vivant %}
                            <i class="fa fa-heart-pulse" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="Vivant"></i>
                        {% else %}
                            <i class="fa fa-skull" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Mort"></i>
                        {% endif %}
                    </td>
                    <td>{{ personnage.nom|highlight(pagerService.searchValue) }}</td>
                    <td>{{ personnage.surnom|highlight(pagerService.searchValue) }}</td>
                    <td>
                        <a href="{{ path('classe.detail', {'classe':personnage.classe.id}) }}">{{ personnage.classeName|highlight(pagerService.searchValue) }}</a>
                    </td>
                    <td>
                        <div class="btn-toolbar d-flex justify-content-center" role="toolbar">
                            <div class="btn-group" role="group">
                                <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                   title="Voir"
                                   href="{{ path('personnage.detail',{'personnage':personnage.id}) }}"><i
                                            class="fa fa-pencil"></i> Voir</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% else %}
                {% include '_partials/noResultTableRow.twig' %}
            {% endfor %}
            </tbody>
        </table>
        {% include '_partials/pagination.html.twig' %}

    </div>

{% endblock %}
