{% extends "base.html.twig" %}

{% block title %}Ingredients{% endblock title %}

{% block body %}

	{% include '_partials/breadcrumb.twig' with {'items' : {1 : {'name' : 'Liste des ingredients'}}} %}

	<div class="well well-sm">
		<div class="header">
			<h5>Ingredients <small>({{ paginator|length }} ingredients)</small></h5>
		</div>

		<div class="btn-toolbar" role="toolbar" aria-label="...">
			<div class="btn-group" role="group" aria-label="...">
				<a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Ajouter un ingrédient" href="{{ path('ingredient.admin.add') }}"><i class="fa fa-add"></i> Ajouter</a>
			</div>
		</div>
	</div>

	{% include '_partials/pagination.html.twig' %}
	
	<table class="table table-bordered table-striped">
		{% include '_partials/thead.twig' with  { 'route': 'ingredient.list', 'rows': [
            {'name' : 'Nom', 'field' : 'label'},
            {'name' : 'Couleur', 'field' : 'niveau'},
            {'name' : 'Niveau', 'field' : 'niveau'},
            {'name' : 'Dose', 'field' : 'dose'},
            {'name' : 'Description'},
            {'name' : 'Actions'},
        ]} %}
		<tbody>
		{% for ingredient in paginator %}
		<tr>
			<th>{{ ingredient.label }}</th>
			<th>{{ ingredient.color }}</th>
			<th>{{ ingredient.niveau }}</th>
			<th>{{ ingredient.dose }}</th>
			<th>	
				{% if ingredient.description %}
					{{ ingredient.description|markdown_to_html }}
				{% else %}
					Aucune description
				{% endif %}
			</th>
			<th>
				<div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
					<div class="btn-group" role="group" aria-label="...">
						<a class="btn btn-secondary" href="{{ path('ingredient.admin.detail',{'ingredient':ingredient.id}) }}"><i class="fa fa-eye"></i></a>
						<a class="btn btn-secondary" href="{{ path('ingredient.admin.update',{'ingredient':ingredient.id}) }}"><i class="fa fa-pencil"></i></a>
						<a class="btn btn-danger" href="{{ path('ingredient.admin.delete',{'ingredient':ingredient.id}) }}"><i class="fa fa-eraser"></i></a>
					</div>
				</div>
			</th>
		{% endfor %}
		</tbody>
	</table>

	{% include '_partials/pagination.html.twig' %}
	
{% endblock %}
