{% extends "base.html.twig" %}

{% block title %}Connaissances{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('connaissance.list') }}">Liste des connaissances</a></li>
		<li class="active">Supprimer une connaissance</li>
	</ol>
	
	
	<div class="well bs-component">
		{{ form_start(form, {"attr": {"action": path('connaissance.delete', {'connaissance': connaissance.id}) }}) }}
			<fieldset>
				<legend>Supression d'une connaissance</legend>
					{{ connaissance.label }} -- {{ connaissance.niveau }}
					{{ connaissance.description|markdown_to_html }}
					
					{{ form(form) }}
			</fieldset>
		{{ form_end(form) }}
	</div>
				
{% endblock body %}
