{% extends "base.html.twig" %}

{% block title %}Connaissances{% endblock title %}

{% block body %}

    {% include '_partials/breadcrumb.twig'
        with {
        'items' : {
            1 : {'name' : 'Liste des connaissances'},
        }
    } %}

    <div class="well well-sm">

        <div class="header">
            <h5>Liste des connaissances</h5>
        </div>

        {% include '_partials/formListSearch.twig' with
            {
                'canAdd': {'title': 'Ajouter une connaissance', 'path': path('connaissance.add')},
                'actionPath' : path('connaissance.list')
            } %}
    </div>

    {% include '_partials/pagination.html.twig' %}

    <table class="table table-condensed table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>
                {% include '_partials/orderby.twig' with {'name' : 'Secrète', 'field' : 'secret', 'route': 'connaissance.list' } %}
            </th>
            <th>
                {% include '_partials/orderby.twig' with {'name' : 'Libellé', 'field' : 'label', 'route': 'connaissance.list' } %}
            </th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for connaissance in paginator %}
            <tr>
                <td>
                    {% if connaissance.secret %}<span class="text-danger">Oui</span>{% else %}<span class="text-info">Non</span>{% endif %}
                </td>
                <td>{{ connaissance.label|highlight(pagerService.searchValue) }}</td>
                <td>
                    {{ connaissance.description|markdown_to_html|highlight(pagerService.searchValue) }}

                    {% if connaissance.contraintes %}
                        {% include '_partials/cardNotif.twig' with {'type' : 'warning', 'title': 'Prérequis !', 'content' : connaissance.contraintes|markdown_to_html|highlight(pagerService.searchValue) } %}
                    {% endif %}
                </td>
                <td>
                    <div class="btn-toolbar pull-right" role="toolbar">
                        <div class="btn-group-vertical" role="group">
                            {% if connaissance.documentUrl %}
                                <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                   title="Télécharger le document associé"
                                   href="{{ path('connaissance.document', {'connaissance': connaissance.id, 'document': connaissance.documentUrl}) }}"><i
                                            class="fa-solid fa-download"></i> Télécharger</a>
                            {% endif %}
                            <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="Modifier"
                               href="{{ path('connaissance.update',{'connaissance':connaissance.id}) }}"><i
                                        class="fa fa-pencil"></i> Modifier</a>
                            <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="Détail" href="{{ path('connaissance.detail',{'connaissance':connaissance.id}) }}"><i
                                        class="fa fa-eye"></i> Detail</a>
                            <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="Personnages ayant cette connaissance"
                               href="{{ path('connaissance.personnages',{'connaissance':connaissance.id}) }}"><i
                                        class="fa fa-users"></i> Personnages ({{ connaissance.personnages|length }})</a>
                            <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="Supprimer"
                               href="{{ path('connaissance.delete',{'connaissance':connaissance.id}) }}"><i
                                        class="fa fa-eraser"></i> Supprimer</a>
                        </div>
                    </div>
                </td>
            </tr>
        {% else %}
            {% include '_partials/noResultTableRow.twig' %}
        {% endfor %}
        </tbody>
    </table>

    {% include '_partials/pagination.html.twig' %}

{% endblock %}
