{% extends "base.html.twig" %}

{% block title %}Connaissances{% endblock title %}

{% block body %}

	{% include '_partials/breadcrumb.twig' with {'items' :
		[
			{'name' : 'Liste des connaissance', 'route': path('connaissance.list') },
			{'name' : connaissance.label, 'route': path('connaissance.detail', {'connaissance': connaissance.id}) },
			{'name' : 'Personnages ayant cette connaissance' },
		]
	} %}
	
	{{ include('admin/personnage/search.twig',
		 	{
			 displayAdminToolbar: false, 
			 displaySearchFilter: false,
		  	}
  		)
	}}
	
	<!-- Previous code (before reusing the same template as admin search) - can probably be removed but keeping for now just in case
	<div class="list-group">
		{% for personnage in connaissance.personnages %}
			<a class="list-group-item" href="{{ path('personnage.admin.detail', {'personnage': personnage.id}) }}">{% if personnage.vivant == 0 %}💀 {% endif %}#{{ personnage.id }} - {{ personnage.identity }} -- {{ personnage.classeName }}</a>
		{% endfor %}
	</div>
	-->
	
{% endblock body %}
