{% extends "base.html.twig" %}

{% block title %}{{ rule.label }}{% endblock title %}

{% block body %}

    {% include '_partials/breadcrumb.twig' with {'items' :
        [
            {'name' : 'Liste des règles', 'route': path('rule.list') },
            {'name' : 'Détail d\'une règle' }
        ]
    } %}

    <div class="well well-sm">
        <div class="header">
            <h5>{{ rule.label }}</h5>
        </div>

        <blockquote>{{ rule.description|markdown_to_html }}</blockquote>

        {% if participant is defined %}
        <div class="list-group-item">
            Si le PDF n'apparait pas correctement dans votre navigateur, <a
                    href="{{ path('participant.rule.document',{'participant': participant.id, 'rule': rule.id}) }}">cliquez
                ici</a> pour télécharger le fichier.
        </div>
        <object type="application/pdf" width="100%" height="1200px"
                data="{{ path('participant.rule.document',{'participant': participant.id, 'rule': rule.id}) }}">
        </object>
        {% endif %}

        {% if rule is defined %}
            <div class="list-group-item">
                Si le PDF n'apparait pas correctement dans votre navigateur, <a
                        href="{{ path('rule.document',{'rule': rule.id}) }}">cliquez
                    ici</a> pour télécharger le fichier.
            </div>
            <embed src="{{ path('rule.document',{'rule': rule.id, 'stream': true}) }}"  type="application/pdf" width="100%" height="1200px" />
        {% endif %}

    </div>
{% endblock body %}
