{% extends "base.html.twig" %}

{% block title %}Règles{% endblock title %}

{% block body %}
    {% include '_partials/breadcrumb.twig' with {'items' : [{'name' : 'Liste des règles' }]} %}

    <div class="well bs-component">

        <div class="header"><h5>Liste des vidéos</h5></div>

        <div class="row mb-2">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h6>Vidéos d'exemples de règles</h6>
                    </div>
                    <div class="card-body text-center">
                        Vous pourrez retrouver ici quelques vidéos de règles <br/>
                        <a class="btn btn-secondary mt-2"
                           href="https://www.youtube.com/playlist?list=PLf4sB0v9r7NEAbDJME9RoWadn4mOGIKF3">Playlists
                            des règles
                            LH7</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h6>Important</h6>
                    </div>
                    <div class="card-body px-0">
                        <div class="list-group list-group-flush list-unstyled">
                            <div class="list-group-item">
                                <strong class="badge rounded-pill bg-secondary">LH7</strong>
                                Modification de certaines <strong>compétences</strong> (à consulter sur votre fiche), de
                                la menace
                            </div>
                            <div class="list-group-item">
                                <strong class="badge rounded-pill bg-secondary">LH7</strong>
                                Modification au sujet des <strong>annonces</strong> "Par XXX", de l'héroïsme et des
                                coups aux <strong>bras</strong>, des pièges et éléments relatifs aux langues.
                            </div>
                            <div class="list-group-item">
                                <strong class="badge rounded-pill bg-secondary">LH7</strong>
                                Modification au sujet de la <strong>santé</strong> des <strong>bandeaux</strong>,
                                de la <strong>mort</strong>, des <strong>relations charnelles</strong>
                            </div>
                            <div class="list-group-item">
                                <strong class="badge rounded-pill bg-secondary">LH7</strong>
                                Modification des titres, jeu de domaine
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="well well-sm">

        <div class="header">
            <h5>Liste des règles</h5>
        </div>

        {% if isAdmin %}
            <div class="d-flex justify-content-end">
                <div class="btn-toolbar d-flex justify-content-between" role="toolbar">
                    <div class="btn-group" role="group">
                        <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                           title="Ajouter"
                           href="{{ path('rule.add') }}"><i
                                    class="fa fa-plus"></i> Ajouter</a>
                    </div>
                </div>
            </div>
        {% endif %}

        <blockquote>Les fichiers ci-dessous contiennent les règles spécifiques à certains aspects du jeu. Lisez-les avec
            attention.
        </blockquote>

    </div>

    {% include '_partials/pagination.html.twig' %}

    <table class="table table-striped table-bordered table-condensed table-hover">

        <tbody>
        {% for rule in paginator %}
            <tr>
                <td>
                    <div class="d-flex justify-content-between">
                        <h5 class="list-group-item-heading">{{ rule.label }}</h5>

                        <div class="btn-group">

                            <a class="btn btn-sm btn-secondary" data-bs-toggle="tooltip"
                               data-bs-placement="bottom"
                               title="Voir"
                               href="{{ path('rule.detail', {'rule':rule.id}) }}"
                            >
                                <i class="fa fa-download"></i> Voir</a>

                            <a class="btn btn-sm btn-secondary" data-bs-toggle="tooltip"
                               data-bs-placement="bottom"
                               title="Télécharger {{ rule.label }}"
                               href="{{ path('rule.document', {'rule':rule.id}) }}"
                            >
                                <i class="fa fa-download"></i> Télécharger</a>

                            {% if isAdmin %}
                                <a class="btn btn-sm btn-secondary" data-bs-toggle="tooltip"
                                   data-bs-placement="bottom"
                                   title="Modifier"
                                   href="{{ path('rule.update', {'rule':rule.id}) }}">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a class="btn btn-sm btn-secondary" data-bs-toggle="tooltip"
                                   data-bs-placement="bottom"
                                   title="Supprimer {{ rule.label }}"
                                   href="{{ path('rule.delete', {'rule':rule.id}) }}"
                                   onclick="return confirm('Vous vous apprétez à retirer {{ rule.label }}}. Confirmer ?')">
                                    <i class="fa fa-trash"></i></a>

                            {% endif %}
                        </div>
                    </div>
                    <p class="list-group-item-text">{{ rule.description|markdown_to_html }}</p>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include '_partials/pagination.html.twig' %}

{% endblock body %}
