{% extends "base.html.twig" %}

{% block title %}Règles{% endblock title %}

{% block body %}
    {% include '_partials/breadcrumb.twig' with {'items' : [{'name' : 'Liste des règles' }]} %}

    <div class="well well-sm">

        <div class="header">
            <h5>Liste des règles</h5>
        </div>

        <div class="d-flex justify-content-end">
            <div class="btn-toolbar d-flex justify-content-between" role="toolbar">
                <div class="btn-group" role="group">
                    <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                       title="Ajouter"
                       href="{{ path('rule.add') }}"><i
                                class="fa fa-plus"></i> Ajouter</a>
                </div>
            </div>
        </div>

        <blockquote>Les fichiers ci-dessous contiennent les règles spécifiques à certains aspects du jeu. Lisez-les avec
            attention.
        </blockquote>

    </div>

    {% include '_partials/pagination.html.twig' %}

    <table class="table table-striped table-bordered table-condensed table-hover">

        <tbody>
        {% for rule in paginator %}
            <tr>
                <td>
                    <div class="d-flex justify-content-between">
                        <h5 class="list-group-item-heading">{{ rule.label }}</h5>

                        <div class="btn-group">

                            <a class="btn btn-sm btn-secondary" data-bs-toggle="tooltip"
                               data-bs-placement="bottom"
                               title="Voir"
                               href="{{ path('rule.detail', {'rule':rule.id}) }}"
                            >
                                <i class="fa fa-download"></i> Voir</a>

                            <a class="btn btn-sm btn-secondary" data-bs-toggle="tooltip"
                               data-bs-placement="bottom"
                               title="Télécharger {{ rule.label }}"
                               href="{{ path('rule.document', {'rule':rule.id}) }}"
                            >
                                <i class="fa fa-download"></i> Télécharger</a>

                            {% if isAdmin %}
                                <a class="btn btn-sm btn-secondary" data-bs-toggle="tooltip"
                                   data-bs-placement="bottom"
                                   title="Modifier"
                                   href="{{ path('rule.update', {'rule':rule.id}) }}">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a class="btn btn-sm btn-secondary" data-bs-toggle="tooltip"
                                   data-bs-placement="bottom"
                                   title="Supprimer {{ rule.label }}"
                                   href="{{ path('rule.delete', {'rule':rule.id}) }}"
                                   onclick="return confirm('Vous vous apprétez à retirer {{ rule.label }}}. Confirmer ?')">
                                    <i class="fa fa-trash"></i></a>

                            {% endif %}
                        </div>
                    </div>
                    <p class="list-group-item-text">{{ rule.description|markdown_to_html }}</p>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include '_partials/pagination.html.twig' %}

{% endblock body %}
