{% extends "base.html.twig" %}

{% block title %}Intrigues{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('intrigue.list') }}">Liste des intrigues</a></li>
		<li class="active">Suppression de {{ intrigue.titre }}</li>
	</ol>
	
	<div class="well well-sm">
		{{ form_start(form, {"attr": {"action": path('intrigue.delete', {'intrigue': intrigue.id}) }}) }}
			<fieldset>
				<legend>Suppression de {{ intrigue.titre }}</legend>
				
				<strong>Attention ! vous allez supprimer définitivement cette intrigue. Etes vous sur de vous ?</strong>
				{{ form(form) }}
			</fieldset>
		{{ form_end(form) }}
	</div>
	
{% endblock body %}