{% extends "base.html.twig" %}

{% block title %}Stratégie{% endblock title %}

{% block body %}

	{% include '_partials/breadcrumb.twig' with {'items' : {1 : {'name' : 'Stratégie'}}} %}

	<div class="well well-sm">
		<div class="header">
			<h5>Stratégie <small>({{ gn.label }})</small></h5>
		</div>

		<div class="btn-toolbar" role="toolbar" aria-label="...">
			<div class="btn-group" role="group" aria-label="...">
				<a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Export CSV" href="{{ path('strategie.csv') }}"><i class="fa fa-file-csv"></i> Fichier CSV</a>
			</div>
		</div>
	</div>
	
	{% include '_partials/pagination.html.twig' %}
			
	<table class="table table-bordered table-striped">
		<thead>
			<th>Nom</th>
			<th>Territoire</th>
			<th>Groupe</th>
			<th>Défense</th>
			<th>Espion(s)</th>
			<th>Navire(s)</th>
			<th>Constructions</th>
		</thead>
		<tbody>
	{% for territoire in paginator %}
		<tr>
			<th>{{ territoire.nom }}</th>
			<td>{{ territoire.root }}</td>
			<td>
				{% if territoire.groupe %}
					<a href="{{ path('groupe.detail', {'groupe':territoire.groupe.id}) }}">{{ territoire.groupe.nom }}</a>
				{% else %}
					Aucun groupe ne contrôle ce territoire
				{% endif %}
			</td>
			<td>{{ territoire.defense }}</td>
			<td>En cours de developpement</td>
			<td>En cours de developpement</td>
			<td>{{ territoire.constructions|join(', ') }}</td>
		</tr>
	{% endfor %}
		</tbody>
	</table>

	{% include '_partials/pagination.html.twig' %}
	
{% endblock body %}