{% extends "base.html.twig" %}

{% block title %}Compétences{% endblock title %}

{% block body %}

    {% include '_partials/breadcrumb.twig' with {'items' :
        [
            {'name' : 'Liste des competences', 'route': path('competence.list') },
            {'name' : competence.label }
        ]
    } %}

    <div class="well well-sm">

        <div class="header">
            <h5>Détail d'une compétence</h5>
        </div>

        <div class="d-flex justify-content-between">

            <h4>{{ competence.label }}</h4>

            <div class="btn-toolbar d-flex justify-content-center" role="toolbar">
                <div class="btn-group" role="group">
                    {% if isAdmin %}
                        <a class="btn btn-sm btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                           title="Personnages associés"
                           href="{{ path('competence.personnages',{'competence':competence.id}) }}"><i
                                class="fa fa-users"></i> Personnages {{ competence.personnages|length }}</a>
                        <a class="btn btn-sm btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                           title="Personnages associés sur {{ groupeService.nextSessionGn.label }}"
                           href="{{ path('competence.personnages.gn',{'competence':competence.id, gn:groupeService.nextSessionGn.id}) }}"><i
                                class="fa fa-users"></i>
                            (Personnages
                            {{ groupeService.nextSessionGn.label }}
                            {{ personnageService.PersonnagesCompetenceGn(competence, groupeService.nextSessionGn, true) }}
                            )
                        </a>
                        {% if competence.documentUrl %}
                            <a class="btn btn-sm btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="Télécharger le document associé"
                               href="{{ path('competence.document',{'competence':competence.id}) }}"><i
                                    class="fa fa-download"></i> Document</a>
                            <a class="btn btn-sm btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="Supprimer le document"
                               href="{{ path('competence.delete',{'competence':competence.id}) }}"><i
                                    class="fa fa-file-excel"></i> Supprimer document</a>
                        {% endif %}
                        <a class="btn btn-sm btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                           title="Modifier"
                           href="{{ path('competence.update',{'competence':competence.id}) }}"><i
                                class="fa fa-pencil"></i> Modifier</a>
                        <a class="btn btn-sm btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                           title="Supprimer"
                           href="{{ path('competence.delete',{'competence':competence.id}) }}"><i
                                class="fa fa-eraser"></i> Supprimer</a>
                    {% else %}
                        {% if competence.documentUrl %}
                            <a class="btn btn-sm btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="Télécharger le document associé"
                               href="{{ path('competence.document',{'competence':competence.id}) }}"><i
                                    class="fa fa-download"></i> Document</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">

            <div class="list-group">
                <div class="list-group-item">
                    <div class="list-group-item-heading fw-bold mb-1">Label</div>
                    <div class="list-group-item-text ps-1">{{ competence.label }}</div>
                </div>
                <div class="list-group-item">
                    <div class="list-group-item-heading fw-bold mb-1">Description</div>
                    <div class="list-group-item-text ps-1">
                        {% if competence.description %}
                            {{ competence.description|markdown_to_html }}
                        {% else %}
                            {% include '_partials/cardNotif.twig' with {'type' : 'info', 'content' : "Attention, cette compétence n'a pas de description."} %}
                        {% endif %}
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="list-group-item-heading fw-bold mb-1">Materiel</div>
                    <div class="list-group-item-text ps-1">{{ competence.materiel|markdown_to_html }}</div>
                </div>
            </div>

        </div>
    </div>



{% endblock %}
