{% extends "base.html.twig" %}

{% block title %}Compétences{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('competence') }}">Liste des compétences</a></li>
		<li class="active">Personnages ayant la compétence {{ competence.competenceFamily.label }} - <small>Niveau {{ competence.level.label }} ({{ competence.personnages|length }} personnages)</li>
	</ol>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div class="list-group">
				{% for participant in competence.personnagesGn(app['larp.manager'].getGnActif.id) %}
					{% if participant.personnage %}
						<a class="list-group-item" href="{{ path('personnage.detail',{'personnage':participant.personnage.id}) }}">{% if participant.personnage.vivant == 0 %}💀 {% endif %}#{{ participant.personnage.id }} - {{ participant.personnage.identity }} -- {{ participant.personnage.classeName }}</a>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>
	
{% endblock %}
