{% extends "base.html.twig" %}

{% block title %}Billets{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path("gn.list") }}">Liste des grandeur nature</a></li>
		<li><a href="{{ path("gn.detail", {'id': billet.gn.id}) }}">{{ billet.gn.label }}</a></li>
		<li class="active">Liste des utilisateurs -- {{ billet.label }}</li>
	</ol>

	<div class="well well-sm bs-component">
		<div class="header">
			<h5>Liste des utilisateurs -- {{ billet.label }}</h5>
		</div>
	</div>

	{% include '_partials/pagination.html.twig' %}
	
	<div class="well well-sm">
	<table class="table table-condensed table-striped table-bordered">
		<thead>
			<tr>
				<th>
					{% if app.request.get('order_dir') == 'ASC' and app.request.get('order_by') == 'nom' %}
						<a href="{{ path('billet.participants', {'billet': billet.id, 'order_by': 'nom', 'order_dir': 'DESC'}) }}">
					{%  else %}
						<a href="{{ path('billet.participants', {'billet': billet.id, 'order_by': 'nom', 'order_dir': 'ASC'}) }}">
					{% endif %}
						Nom	
					{% if app.request.get('order_by') == 'nom'  %}
						{% if app.request.get('order_dir') == 'ASC' %}
							<i class="fa-solid fa-caret-down"></i>
						{%else%}
							<i class="fa-solid fa-caret-up"></i>
							{% endif %}
					{% endif %}
					</a>
				</th>
				<th>
					{% if app.request.get('order_dir') == 'ASC' and app.request.get('order_by') == 'prenom' %}
						<a href="{{ path('billet.participants', {'billet': billet.id, 'order_by': 'prenom', 'order_dir': 'DESC'}) }}">
					{%  else %}
						<a href="{{ path('billet.participants', {'billet': billet.id, 'order_by': 'prenom', 'order_dir': 'ASC'}) }}">
					{% endif %}
						Prénom	
					{% if app.request.get('order_by') == 'prenom'  %}
						{% if app.request.get('order_dir') == 'ASC' %}
							<i class="fa-solid fa-caret-down"></i>
						{%else%}
							<i class="fa-solid fa-caret-up"></i>
							{% endif %}
					{% endif %}
					</a>
				</th>
				<th>
					{% if app.request.get('order_dir') == 'ASC' and app.request.get('order_by') == 'email' %}
						<a href="{{ path('billet.participants', {'billet': billet.id, 'order_by': 'email', 'order_dir': 'DESC'}) }}">
					{%  else %}
						<a href="{{ path('billet.participants', {'billet': billet.id, 'order_by': 'email', 'order_dir': 'ASC'}) }}">
					{% endif %}
						Email	
					{% if app.request.get('order_by') == 'email'  %}
						{% if app.request.get('order_dir') == 'ASC' %}
							<i class="fa-solid fa-caret-down"></i>
						{%else%}
							<i class="fa-solid fa-caret-up"></i>
							{% endif %}
					{% endif %}
					</a>
				</th>
			</tr>
		</thead>
		<tbody>
			{% for participant in paginator %}
			<tr>
				<td>{{ participant.user.etatCivil.nom }}</td>
				<td>{{ participant.user.etatCivil.prenom }}</td>
				<td>{{ participant.user.email }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	</div>

	{% include '_partials/pagination.html.twig' %}
	
{% endblock %}