{% extends "base.html.twig" %}

{% block title %}Classes{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path("classe.index") }}">Liste des classes</a></li>
		<li class="active">{{ classe.label }}</li>
	</ol>

	<div class="well well-sm bs-component">
		<div class="header">
			<h5>{{ classe.label }}</h5>
		</div>
		<a href="{{ path('classe.update', {'id': classe.id}) }}" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Modifier" role="button"><i class="fa fa-pencil"></i></a>
	</div>

	<div class="well well-sm bs-component">
		<div class="header">
			<h5>Description</h5>
		</div>
		{% if not classe.description %}
		<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
		Attention, cette classe n'a pas de description.
		{% else %}
			{{ classe.description|markdown_to_html }}
		{% endif %}
		<img width="184" height="250" alt="{{ classe.labelFeminin }}" src="{{ asset("classes/#{classe.imageF}") }}" />
		<div class="pull-right">
			<img width="184" height="250" alt="{{ classe.labelMasculin }}" src="{{ asset("classes/#{classe.imageM}")  }}" />
		</div>
	</div>

	<div class="well well-sm bs-component">
		<div class="header">
			<h5>Famille de compétences acquises à la création</h5>
		</div>
		{{ classe.competenceFamilyCreations|join(', ') }}
	</div>

	<div class="well well-sm bs-component">
		<div class="header">
			<h5>Famille de Compétences favorites</h5>
		</div>
		{{ classe.competenceFamilyFavorites|join(', ') }}
	</div>

	<div class="well well-sm bs-component">
		<div class="header">
			<h5>Famille de compétences normales</h5>
		</div>
		{{ classe.competenceFamilyNormales|join(', ') }}
	</div>	
			
{% endblock %}
