{% extends "base.html.twig" %}

{% block title %}Titre{% endblock title %}

{% block body %}

	{% include '_partials/breadcrumb.twig' 
		with {
			'items' : {
				1 : {'route': path('titre.list'), 'name' : 'Liste des titres'},
				2 : {'name' : 'Supprimer un titre' }
			}
		} 
	%}	
	
	
	<div class="well bs-component">
		{{ form_start(form, {"attr": {"action": path('titre.admin.delete', {'titre': titre.id}) }}) }}
			<fieldset>
				<legend>Supression d'un titre</legend>
					{{ titre.label }} -- {{ titre.renomme }} point de renommés necessaires
					
					{{ form(form) }}
			</fieldset>
		{{ form_end(form) }}
	</div>
				
{% endblock body %}