{% extends "base.html.twig" %}

{% block title %}Titres{% endblock title %}

{% block body %}

	{% include '_partials/breadcrumb.twig' with {'items' : [{'name' : 'Liste des titres'}]} %}

	<div class="well well-sm">
		<div class="header">
			<h5>Liste des titres <small>( {{ paginator|length }} titres)</small></h5>
		</div>

		<div class="btn-toolbar" role="toolbar" aria-label="...">
			<div class="btn-group" role="group" aria-label="...">
				<a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Ajouter un titre" href="{{ path('titre.add') }}"><i class="fa fa-plus"></i> Ajouter</a>
			</div>
		</div>
	</div>

	<table class="table table-striped table-bordered table-condensed table-hover">
		{% include '_partials/thead.twig' with  { 'route': 'titre.list', 'rows': [
            {'name' : 'Titre', 'field' : 'label'},
            {'name' : 'Renommée nécessaire', 'field' : 'renomme'},
            {'name' : 'Actions'},
        ]} %}
		<tbody>
		{% for titre in paginator %}
			<tr>
				<td>{{ titre.label }}</td>
				<td>{{ titre.renomme }}</td>
				<td>
					<div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
						<div class="btn-group" role="group" aria-label="...">
							<a class="btn btn-secondary" href="{{ path('titre.detail',{'titre':titre.id}) }}"><i class="fa fa-eye"></i></a>
							<a class="btn btn-secondary" href="{{ path('titre.update',{'titre':titre.id}) }}"><i class="fa fa-pencil"></i></a>
							<a class="btn btn-danger" href="{{ path('titre.delete',{'titre':titre.id}) }}"><i class="fa fa-eraser"></i></a>
						</div>
					</div>
				</td>
		{% endfor %}
	 	</tbody>
	</table>
	
{% endblock %}
