{% extends "base.html.twig" %}

{% block title %}Annonces{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path("annonce.list") }}">Liste des annonces</a></li>
		<li class="active">Suppression d'une annonce</li>
	</ol>
	
	<div class="well well-sm">
		{{ form_start(form, {"attr": {"action": path('annonce.delete', {'annonce': annonce.id}) }}) }}
			<fieldset>
				<legend>Supprimer {{ annonce.title }}</legend>
					{{ annonce.text|markdown_to_html }}
					
					{{ form(form) }}
			</fieldset>
		{{ form_end(form) }}
	</div>	
{% endblock body %}
