{% extends "base.html.twig" %}

{% block title %}Annonces{% endblock title %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Accueil</a></li>
        <li><a href="{{ path("annonce.list") }}">Liste des annonces</a></li>
        <li class="active">Suppression d'une annonce</li>
    </ol>

    <div class="well well-sm">
        <div class="header">
            <h5>Supprimer une annonce</h5>
        </div>

        <div class="list-group">
            <div class="list-group-item">
                <h6>Supprimer {{ annonce.title }}</h6>
            </div>
            <div class="list-group-item">
                {{ annonce.text|markdown_to_html }}
            </div>
            <div class="list-group-item">
                {{ form(form) }}
            </div>

        </div>
    </div>
{% endblock body %}
