{% extends "base.html.twig" %}

{% block title %}Annonces{% endblock title %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Accueil</a></li>
        <li class="active">Liste des annonces</li>
    </ol>

    <div class="well well-sm">

        <div class="header">
            <h5>Liste des annonces</h5>
        </div>

        {% if isAdmin %}
            <div class="btn-toolbar d-flex justify-content-end" role="toolbar">
                <div class="btn-group" role="group">
                    <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                       title="Ajouter"
                       href="{{ path('annonce.add') }}"><i
                                class="fa fa-add"></i> Ajouter</a>
                </div>
            </div>
        {% endif %}
    </div>

    {% include '_partials/pagination.html.twig' %}

    <table class="table table-striped table-bordered table-condensed table-hover">
        <thead>
        <tr>
            <th>
                {% if app.request.get('order_dir') == 'ASC' and app.request.get('order_by') == 'id' %}
                <a href="{{ path('annonce.list', {'order_by': 'id', 'order_dir': 'DESC'}) }}">
                    {% else %}
                    <a href="{{ path('annonce.list', {'order_by': 'id', 'order_dir': 'ASC'}) }}">
                        {% endif %}
                        Titre
                        {% if app.request.get('order_by') == 'id' %}
                            {% if app.request.get('order_dir') == 'ASC' %}
                                <i class="fa-solid fa-caret-down"></i>
                            {% else %}
                                <i class="fa-solid fa-caret-up"></i>
                            {% endif %}
                        {% endif %}
                    </a>
            </th>
            <th>
                {% if app.request.get('order_dir') == 'ASC' and app.request.get('order_by') == 'title' %}
                <a href="{{ path('annonce.list', {'order_by': 'title', 'order_dir': 'DESC'}) }}">
                    {% else %}
                    <a href="{{ path('annonce.list', {'order_by': 'title', 'order_dir': 'ASC'}) }}">
                        {% endif %}
                        Titre
                        {% if app.request.get('order_by') == 'title' %}
                            {% if app.request.get('order_dir') == 'ASC' %}
                                <i class="fa-solid fa-caret-down"></i>
                            {% else %}
                                <i class="fa-solid fa-caret-up"></i>
                            {% endif %}
                        {% endif %}
                    </a>
            </th>
            <th>
                {% if app.request.get('order_dir') == 'ASC' and app.request.get('order_by') == 'creation_date' %}
                <a href="{{ path('annonce.list', {'order_by': 'creation_date', 'order_dir': 'DESC'}) }}">
                    {% else %}
                    <a href="{{ path('annonce.list', {'order_by': 'creation_date', 'order_dir': 'ASC'}) }}">
                        {% endif %}
                        Date de création
                        {% if app.request.get('order_by') == 'creation_date' %}
                            {% if app.request.get('order_dir') == 'ASC' %}
                                <i class="fa-solid fa-caret-down"></i>
                            {% else %}
                                <i class="fa-solid fa-caret-up"></i>
                            {% endif %}
                        {% endif %}
                    </a>
            </th>
            <th>Etat</th>
            <th>
                {% if app.request.get('order_dir') == 'ASC' and app.request.get('order_by') == 'gn' %}
                <a href="{{ path('annonce.list', {'order_by': 'gn', 'order_dir': 'DESC'}) }}">
                    {% else %}
                    <a href="{{ path('annonce.list', {'order_by': 'gn', 'order_dir': 'ASC'}) }}">
                        {% endif %}
                        Gn
                        {% if app.request.get('order_by') == 'gn' %}
                            {% if app.request.get('order_dir') == 'ASC' %}
                                <i class="fa-solid fa-caret-down"></i>
                            {% else %}
                                <i class="fa-solid fa-caret-up"></i>
                            {% endif %}
                        {% endif %}
                    </a>
            </th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for annonce in paginator %}
            <tr>
                <td>{{ annonce.id }}</td>
                <td>{{ annonce.title }}</td>
                <td>{{ annonce.creationDate|date('Y-m-d') }}</td>
                <td>{% if annonce.archive %}Archivé{% else %}<span class="text-success">Publié</span>{% endif %}</td>
                <td>{% if annonce.gn %}{{ annonce.gn.label }}{% else %}Aucun{% endif %}</td>
                <td>
                    <div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
                        <div class="btn-group" role="group" aria-label="...">
                            <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Modifier"
                               href="{{ path('annonce.update',{'annonce':annonce.id}) }}"><i class="fa fa-pencil"
                                                                                             aria-hidden="true"></i></a>
                            <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Détail"
                               href="{{ path('annonce.detail',{'annonce':annonce.id}) }}"><i class="fa fa-eye"
                                                                                             aria-hidden="true"></i></a>
                            <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Supprimer"
                               href="{{ path('annonce.delete',{'annonce':annonce.id}) }}"><i class="fa fa-eraser"
                                                                                             aria-hidden="true"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include '_partials/pagination.html.twig' %}

{% endblock %}
