{% extends "base.print.twig" %}

{% block content %}

    {% for groupe in groupes %}

        {% for personnage in groupe.personnages %}

            {% for background in personnage.backgrounds('OWNER') %}
                {% if background.gn.id == gn.id %}
                    <h2>#{{ groupe.numero }} -- {{ groupe.nom }}</h2>
                    <h4>#{{ personnage.id }} -- {{ personnage.nom }} ({{ personnage.surnom }})</h4>
                    {{ background.text|markdown_to_html }}
                    <hr style="page-break-after: always;"/>
                {% endif %}
            {% endfor %}
        {% endfor %}

    {% endfor %}

{% endblock content %}
