{% extends "base.html.twig" %}

{% block title %}Gn -- {{ gn.label }}{% endblock title %}

{% block body %}
    {% include '_partials/breadcrumb.twig' with {'items' : [
        {'name' : 'Liste des grandeurs nature', 'route': path('gn.list') },
        {'name' : gn.label, 'route': path('gn.detail', {'gn':gn.id}) },
        {'name' : 'Les groupes recherchant des membres' }
    ]} %}

    <div class="well well-sm">

        <div class="header">
            <h5>{{ groupes|length }} groupes recherche des membres sur {{ gn.label }}</h5>
        </div>


        {% for groupe in groupes %}
            {% if groupe.pj %}
                {% set session = groupe.getSession(gn) %}
                <div class="card text-bg mb-3">
                    <div class="card-header">
                        <div class="btn-toolbar d-flex justify-content-between" role="toolbar">
                            <h5>  {{ groupe.numero }} - {{ groupe.nom }}</h5>
                            {% if is_granted('ROLE_SCENARISTE', app.user) %}
                                <div class="btn-group" role="group">
                                    <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                       title="Detail"
                                       href="{{ path('groupe.detail', {'groupe': groupe.id}) }}"><i
                                                class="fa fa-eye"></i> Détail</a>

                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <ul class="list-group-flush list-group">

                        <li class="list-group-item m-0 p-0 g-0">
                            <div class="d-flex justify-content-start">
                                <div class="col-md-2 bg-body-secondary d-flex align-items-center justify-content-center ">
                                    Statut
                                </div>
                                <div class="col-md-10 px-2 py-1">{% if session.free %}Ce groupe est libre{% else %}Ce groupe est réservé{% endif %}</div>
                            </div>
                        </li>

                        <li class="list-group-item m-0 p-0 g-0">
                            <div class="d-flex justify-content-start">
                                <div class="col-md-2 bg-body-secondary d-flex align-items-center justify-content-center ">
                                    Nombre de membres recherchées
                                </div>
                                <div class="col-md-10 px-2 py-1">{{ session.placeAvailable|default(0) }}</div>
                            </div>
                        </li>

                        <li class="list-group-item m-0 p-0 g-0">
                            <div class="d-flex justify-content-start">
                                <div class="col-md-2 bg-body-secondary d-flex align-items-center justify-content-center ">
                                    Contact
                                </div>
                                <div class="col-md-10 px-2 py-1">
                                    {% if session.responsable %}
                                        {{ session.responsable.user }}. <a
                                            href="{{ path('message.new', {'to': session.responsable.user.id }) }}"
                                            class="btn btn-primary">Envoyer un
                                        message</a>
                                    {% else %}
                                        Aucun
                                    {% endif %}
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item m-0 p-0 g-0">
                            <div class="d-flex justify-content-start">
                                <div class="col-md-2 bg-body-secondary d-flex align-items-center justify-content-center ">
                                    Description
                                </div>
                                <div class="col-md-10 px-2 py-1">
                                    {% if groupe.description %}
                                        {{ groupe.description|markdown_to_html }}
                                    {% else %}
                                        Aucune description
                                    {% endif %}
                                </div>
                            </div>
                        </li>


                    </ul>

                </div>
            {% endif %}
        {% else %}
            {% include '_partials/cardNotif.twig' with {'type' : 'info', 'content' : "Ce GN ne dispose d'aucun groupe qui cherche des membres"} %}
        {% endfor %}

    </div>
{% endblock body %}
