{% extends "base.html.twig" %}

{% block title %}Grandeur nature{% endblock title %}

{% block body %}

	{% include '_partials/breadcrumb.twig' with {'items' :
		[
			{'name' : 'Liste des GNs', 'route': path('gn.list') },
			{'name' : gn.label, 'route': path('gn.detail', {'gn':gn.id}) },
			{'name' : 'Liste des participants sans billets' }
		]
	} %}

	<div class="well well-sm">

	<div class="header">
		<h5>Liste des participants à {{ gn.label }} n'ayant pas encore de billets</h5>
	</div>

	<div class="btn-toolbar" role="toolbar" aria-label="...">
		<div class="btn-group" role="group" aria-label="...">
			<a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Export CSV" href="{{  path('gn.participants.withoutbillet.csv', {'gn': gn.id}) }}"><i class="fa fa-file-csv"></i> Export CSV</a>
		</div>
	</div>

		<table class="table table-condensed table-striped table-bordered table-hover">
			{% include '_partials/thead.twig' with  { 'route': 'gn.participants.withoutbillet', 'routeOptions': {'gn': gn.id}, 'rows': [
				{'name' : 'Participant', 'field' : 'user.etatCivil.nom'},
				{'name' : 'Email', 'field' : 'user.email'},
				{'name' : 'Action'},
			]} %}
		<tbody>
			{% for participant in participants %}
				<tr>
					<td>{{ participant.user.etatCivil }}</td>
					<td>{{ participant.user.email }}</td>
					<td>
						<div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
							<div class="btn-group" role="group" aria-label="...">
                                <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
								   title="Choisir le billet"
								   href="{{ path('participant.billet',{'participant':participant.id}) }}"><i
											class="fa fa-ticket"></i></a>
							</div>
						</div>
					</td>
				</tr>
			{% else %}
				{% include '_partials/noResultTableRow.twig' %}
			{% endfor %}
		</tbody>
	</table>

</div>

{% endblock body %}
