{% extends "base.html.twig" %}

{% block title %}{{ gn.label }} Participants{% endblock title %}

{% block body %}

    {% include '_partials/breadcrumb.twig' with {'items' : [
        {'name' : 'Liste des grandeurs nature', 'route': path('gn.list') },
        {'name' : gn.label, 'route': path('gn.detail', {'gn':gn.id}) },
        {'name' : 'Liste des participants' }
    ]} %}

    <div class="well well-sm">
        <div class="header">
            <h5>Liste des participants à {{ gn.label }}</h5>
        </div>

        {% include '_partials/formListSearch.twig' with
            {
                'actionPath' : path('gn.participants', {'gn':gn.id})
            } %}

        <div class="text-center">
            {% if paginator|length == 1 %}
                <strong>1</strong> participant trouvée
            {% else %}
                <strong>{{ paginator|length }}</strong> participants trouvés
            {% endif %}
        </div>
    </div>


    {% include '_partials/pagination.html.twig' %}

    <table class="table table-condensed table-striped table-bordered">
        {% include '_partials/thead.twig' with  { 'route': 'gn.participants', 'routeOptions': {'gn': gn.id}, 'rows': [
            {'name' : 'Participant', 'field' : 'user.nom', 'css' : 'text-center'},
            {'name' : 'Email', 'field' : 'user.email', 'css' : 'text-center'},
            {'name' : 'Billet', 'field' : 'billet.label', 'css' : 'text-center'},
            {'name' : 'Restauration', 'css' : 'text-center'},
            {'name' : 'Personnage', 'css' : 'text-center'},
            {'name' : 'Groupe', 'css' : 'text-center'},
            {'name' : 'Actions', 'css' : 'text-center'},
        ]} %}
        <tbody>
        {% for participant in paginator %}
            <tr>
                <td>{{ participant.user.etatCivil.nom|highlight(pagerService.searchValue) }} {{ participant.user.etatCivil.prenom|highlight(pagerService.searchValue) }}</td>
                <td>{{ participant.user.email|highlight(pagerService.searchValue) }}</td>
                <td>
                    {% if not participant.billet %}
                        <span class="text-danger">Ce participant n'a pas de billet !</span>
                    {% else %}
                        {{ participant.billet|highlight(pagerService.searchValue) }}
                    {% endif %}
                </td>
                <td>
                    {% if participant.participantHasRestaurations|length > 0 %}

                        {% for participantHasRestauration in participant.participantHasRestaurations %}
                            {{ participantHasRestauration.restauration.label }}<br/>
                        {% endfor %}

                    {% else %}
                        <span class="text-danger">Aucune restauration</span>
                    {% endif %}
                </td>
                <td>
                    {% if participant.personnage %}
                        <a href="{{ path('personnage.detail', {'personnage': participant.personnage.id}) }}">{{ participant.personnage.nom }}</a>
                    {% else %}
                        <span class="text-danger">Aucun personnage sélectionné</span>
                    {% endif %}
                </td>
                <td>
                    {% if participant.groupeGn %}
                        <a href="{{ path('groupe.detail', {'groupe': participant.groupeGn.groupe.id}) }}">{{ participant.groupeGn.groupe }}</a>
                    {% else %}
                        <span class="text-danger">Aucun groupe</span>
                    {% endif %}
                </td>
                <td>
                    <div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
                        <div class="btn-group" role="group" aria-label="...">

                            {% if participant.user.personnage %}
                                <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                                   title="Changer de personnage"
                                   href="{{ path('participant.personnage.old',{'participant':participant.id}) }}">
                                    <i class="fa fa-exchange"></i>
                                </a>
                            {% elseif participant.personnage %}
                                <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                                   title="Sélectionner un ancien personnage"
                                   href="{{ path('participant.personnage.old',{'participant':participant.id}) }}">
                                    <i class="fa fa-user"></i>
                                </a>
                            {% elseif participant.groupeGN %}
                                <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                                   title="Créer un nouveau personnage"
                                   href="{{ path('participant.personnage.new',{'participant':participant.id}) }}">
                                    <i class="fa fa-user-plus"></i>
                                </a>
                            {% endif %}

                            {% if participant.groupeGN %}
                                <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                                   title="Changer de groupe"
                                   href="{{ path('participant.groupe',{'participant':participant.id}) }}">
                                    <i class="fa fa-sign-out"></i></a>
                            {% else %}
                                <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                                   title="Ajouter à un groupe"
                                   href="{{ path('participant.groupe',{'participant':participant.id}) }}">
                                    <i class="fa fa-users"></i></a>
                            {% endif %}
                            <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                               title="Choisir le billet"
                               href="{{ path('participant.billet',{'participant':participant.id}) }}"><i
                                        class="fa fa-ticket"></i></a>
                            <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                               title="Modifier le lieu de restauration"
                               href="{{ path('participant.restauration',{'participant':participant.id}) }}"><i
                                        class="fa fa-coffee"></i></a>
                            <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                               title="Retirer le participant"
                               href="{{ path('participant.remove',{'participant':participant.id}) }}"><i
                                        class="fa fa-close"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
        {% else %}
            {% include '_partials/noResultTableRow.twig'  %}
        {% endfor %}
        </tbody>
    </table>

    {% include '_partials/pagination.html.twig' %}

{% endblock body %}
