{% for religion in religions %}
<div class="well well-sm bs-component">

	<div class="header">
		<h5>
			{{ religion.label }} <small>(<a href="{{ path('religion.perso', {'religion': religion.id}) }}">{{ religion.personnagesReligions|length }} personnages</a>)</small>
		</h5>
	</div>
	
	<p class="list-group-item-text">
		<div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
			<div class="btn-group" role="group" aria-label="...">
				<a href="{{ path('religion.detail', {'religion': religion.id}) }}" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Détail" role="button"><i class="fa fa-eye"></i></a>
				<a href="{{ path('religion.update', {'religion': religion.id}) }}" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Modifier" role="button"><i class="fa fa-pencil"></i></a>
				<a href="{{ path('religion.delete', {'religion': religion.id}) }}" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Supprimer" role="button"><i class="fa fa-eraser"></i></a>
			</div>
		</div>
		
		<p>
		{% if religion.description %}
			<p class="text-default">{{ religion.description|markdown_to_html }}</p>
		{% else %}
			<p class="text-warning">Attention, cette religion n'a pas de description</p>
		{%  endif %}</p>
		</p>
</div>
{% endfor %}
