{% extends "base.html.twig" %}

{% block body %}

    {% include '_partials/breadcrumb.twig' with {'items' :
        [
            {'name' : 'Liste des groupes secondaires', 'route': path('groupeSecondaire.list') },
            {'name' : "Détail de #{groupeSecondaire.label}" },
        ]
    } %}

    <div class="well well-sm">
        <div class="header">
            <h5>{% if groupeSecondaire.secret %}
                    <i class="fa fa-user-secret text-warning" data-toggle="tooltip"
                       data-placement="top"
                       title="Secret"></i>
                    - {% endif %}{{ groupeSecondaire.label }}
            </h5>
        </div>

        {% if groupeSecondaire.secret %}
            {% include '_partials/cardNotif.twig' with {'type' : 'warning', 'content' : 'Ce groupe est secret'} %}
        {% endif %}
        {% if groupeSecondaire.private %}
            {% include '_partials/cardNotif.twig' with {'type' : 'warning', 'content' : 'Ce groupe est anonyme, seul le chef peut voir les personnages. Vous pouvez contacter le chef sans savoir qui il est'} %}
        {% endif %}

        {% if isAdmin %}
            <div class="panel-heading d-flex justify-content-end mb-2">
                <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Modifier"
                   href="{{ path('groupeSecondaire.update', {'groupeSecondaire': groupeSecondaire.id}) }}"><i
                            class="fa fa-pencil"></i> Modifier</a>
            </div>
        {% endif %}

        <div class="panel-heading"><h5>Informations</h5></div>
        <div class="panel-body">
            <div class="list-group">
                <div class="list-group-item">
                    <h5>Description (publique)</h5>
                    <p>{{ groupeSecondaire.description|markdown_to_html }}</p>
                </div>

                {% if canReadSecret %}
                    <div class="list-group-item">
                        <h6><i class="fa fa-user-secret text-warning" data-toggle="tooltip" data-placement="top"
                               title="Secret"></i> Description (secrete)</h6>
                        <p>{{ groupeSecondaire.descriptionSecrete|markdown_to_html }}</p>
                    </div>
                {% endif %}

                {% if canRead %}
                    <div class="list-group-item">
                        <h6>Serveur Discord</h6>
                        {% if groupeSecondaire.discord %}
                            {% if groupeSecondaire.showDiscord %}
                                {{ groupeSecondaire.discord }}
                            {% endif %}
                        {% else %}
                            {% set discordInfo %}
                                Si le groupe ne dispose pas déjà d'un serveur Discord, vous pouvez :
                                <a href="https://discord.gg/xDYsCpuJnw" target="_blank">
                                    <i class="fa-brands fa-discord"></i>
                                    rejoindre le discord des groupes secondaire LH7
                                </a>
                            {% endset %}
                            {% include '_partials/cardNotif.twig' with {'type' : 'info', 'content' : discordInfo} %}
                        {% endif %}
                    </div>
                {% endif %}

                <div class="list-group-item">
                    <div class="list-group-item-heading">
                        <h6>Chef du groupe</h6>
                    </div>
                    <div class="list-group-item-text">
                        {% if groupeSecondaire.responsable %}
                            {% if not groupeSecondaire.private or canReadPrivate %}
                                <ul>
                                    <li>Personnage : {{ groupeSecondaire.responsable }}</li>
                                    {% if isAdmin and groupeSecondaire.responsable.user %}
                                        <li>
                                            Joueur : <a
                                                    href="{{ path('user.view', {'user' : groupeSecondaire.responsable.user.id}) }}">
                                                {{ groupeSecondaire.responsable.user.username }}
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            {% endif %}
                            <a class="btn btn-sm btn-secondary"
                               href="{{ path('groupeSecondaire.contact', {'groupeSecondaire':groupeSecondaire.id }) }}">
                                Contacter le chef
                            </a>
                        {% else %}
                            {% include '_partials/cardNotif.twig' with {'type' : 'warning', 'content' : 'Attention, ce groupe n\'a pas de responsable !'} %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if isAdmin %}
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-2">
                    <div class="header"><h5 class="rounded-top-2">Scenarisation</h5></div>

                    <div class="card-body">
                        <div class="list-group">
                            <div class="list-group-item">
                                <h5>Matériel</h5>
                                <p>{{ groupeSecondaire.materiel }}</p>

                                <div class="btn-group ">
                                    <a href="{{ path('groupeSecondaire.materiel.update', {'groupeSecondaire': groupeSecondaire.id}) }}"
                                       class="btn btn-secondary">Modifier</a><br/>
                                    <a href="{{ path('groupeSecondaire.materiel.print', {'groupeSecondaire': groupeSecondaire.id}) }}"
                                       class="btn btn-secondary">Impression</a>
                                </div>
                            </div>

                            <div class="list-group-item">
                                <h6>Documents</h6>
                                Ajouter (à venir)
                            </div>
                            <div class="list-group-item">
                                <h6>Objets</h6>
                                Ajouter (à venir)
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-2">
                    <div class="header"><h5 class="rounded-top-2">Intrigues</h5></div>
                    <div class="card-body">
                        <div class="list-group">
                            {% for intrigueHasGroupeSecondaire in groupeSecondaire.intrigueHasGroupeSecondaires %}
                                <li class="list-group-item"><a
                                            href="{{ path('intrigue.detail', {'intrigue': intrigueHasGroupeSecondaire.intrigue.id }) }}">
                                        {{ intrigueHasGroupeSecondaire.intrigue.titre }}
                                    </a></li>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% include 'groupeSecondaire/fragment/postulants.twig' %}

    <div class="well well-sm">
        <div class="header">
            <h5>Liste des membres</h5>
        </div>

        <div class="panel-body">

            {% if isAdmin %}
                <div class="panel-heading d-flex justify-content-end mb-2">
                    <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                       title="Ajouter un membre"
                       href="{{ path('groupeSecondaire.newMembre', {'groupeSecondaire': groupeSecondaire.id}) }}"><i
                                class="fa fa-plus"></i> Ajouter</a>
                </div>
            {% endif %}

            {% if canManage %}
                <ul class="list-group mb-2">
                    <li class="list-group-item">Nombre de membres : {{ groupeSecondaire.membres|length }}</li>
                    <li class="list-group-item">Nombre de membres inscrit à {{ gn.label }}
                        : {{ groupeSecondaire.getActifs(gn) }}</li>
                </ul>
            {% endif %}

            {#
            Le chef, les membres ayant accès voient les membres
            uniquement les pseudo
            #}
            {% if canRead and (not groupeSecondaire.private or (groupeSecondaire.private and canManage)) %}
                {% include 'groupeSecondaire/fragment/membres.twig' with {'groupeSecondaire' : groupeSecondaire} %}
            {% else %}
                {% include '_partials/cardNotif.twig' with {'type' : 'warning', 'content' : "Vous ne pouvez distinguer les membres"} %}
            {% endif %}
        </div>
    </div>

{% endblock body %}

    {% block javascripts %}

        {{ parent() }}

        <script type="text/javascript">
            $(document).ready(function () {
                // allow copy to clipboard
                $('.copyToClipBoard').click(function () {
                    let textToCopy = $($(this).attr('data-target')).text();
                    navigator.clipboard.writeText(textToCopy);
                    $(this).find(".fa").removeClass('fa-copy')
                    $(this).find(".fa").addClass('fa-check')
                    setTimeout(() => {
                        $(this).find(".fa").addClass('fa-copy')
                        $(this).find(".fa").removeClass('fa-check')
                    }, 2000);
                });
            });

        </script>
    {% endblock javascripts %}
