{% extends "base.html.twig" %}

{% block title %}Groupe secondaire{% endblock title %}

{% block body %}

    {% include '_partials/breadcrumb.twig' with {'items' :[{'name' : 'Liste des groupe secondaires' }]} %}

    <div class="well well-sm">

        <div class="header">
            <h5>Liste des groupes secondaires</h5>
        </div>

        {% set buttons = [] %}
        {% if isAdmin %}
            {% set buttons = [
                {'title': "Ajouter un groupe secondaire", 'route': path('groupeSecondaire.add'), 'icon': 'fa-plus', 'label': 'Ajouter'},
                {'title': "Ajouter un type de groupe secondaire", 'route': path('groupeSecondaireType.add'), 'icon': 'fa-folder-plus', 'label': 'Nouveau type'},
                {'title': "Imprimer les enveloppes", 'route': path('groupeSecondaire.materiel.printAll'), 'icon': 'fa-print', 'label': 'Imprimer'}
            ] %}
        {% endif %}
        {% include '_partials/formListSearch.twig' with {
            'actionPath' : path('groupeSecondaire.list'),
            'buttons' : buttons
        } %}
    </div>

    {% set discordInfo %}
        Pour rejoindre un groupe, vous devez postuler et être accepté.<br/>
        Une fois membre d'un groupe secondaire, si ce dernier ne dispose pas déjà d'un serveur Discord.<br>
        Vous pouvez :
        <a href="https://discord.gg/xDYsCpuJnw" target="_blank"><i class="fa-brands fa-discord"></i> rejoindre le
            discord
            des groupes secondaire LH7</a>
    {% endset %}
    {% include '_partials/cardNotif.twig' with {'type' : 'info', 'content' : discordInfo} %}

    {% include '_partials/pagination.html.twig' %}
    <table class="table table-striped table-bordered table-condensed table-hover">
        {% include '_partials/thead.twig' with  { 'route': 'groupeSecondaire.list', 'rows': [
            {'name' : 'Id', 'field' : 'id', 'css' : 'text-center', 'visible': isAdmin},
            {'name' : 'Secret', 'field' : 'secret', 'css' : 'text-center', 'visible': isAdmin},
            {'name' : 'Nom', 'field' : 'label', 'css' : 'text-center'},
            {'name' : 'Description', 'css' : 'text-center'},
            {'name' : 'Type', 'css' : 'text-center'},
            {'name' : 'Membres', 'css' : 'text-center', 'visible': isAdmin},
            {'name' : 'Actions', 'css' : 'text-center'},
        ]} %}
        <tbody>
        {% for groupeSecondaire in paginator %}
            <tr>
                {% if isAdmin %}
                    <td class="text-center">
                        <a href="{{ path('groupeSecondaire.update', {'groupeSecondaire':groupeSecondaire.id}) }}">{{ groupeSecondaire.id }}
                    </td>

                    <td>
                        {% if groupeSecondaire.secret %}
                            <span class="text-danger">
                                <i class="fa fa-user-secret text-danger" data-toggle="tooltip" data-placement="top"
                                   title="Secret"></i>  - Oui
                            </span>
                        {% else %}
                            <span class="text-info">Non</span>
                        {% endif %}
                    </td>
                {% endif %}

                <td>
                    {% if isAdmin %}
                        <a href="{{ path('groupeSecondaire.detail', {'groupeSecondaire':groupeSecondaire.id}) }}">{{ groupeSecondaire.label }} </a>
                    {% else %}
                        {{ groupeSecondaire.label }}
                    {% endif %}
                </td>
                <td>{{ groupeSecondaire.description|markdown_to_html|highlight(pagerService.searchValue) }}</td>
                <td>{{ groupeSecondaire.secondaryGroupType.label }}</td>
                {% if isAdmin %}
                    <td class="text-center">{{ groupeSecondaire.membres|length }}</td>
                {% endif %}
                <td class="text-center">
                    <div class="d-flex justify-content-center">

                        {% set displayPostuler = true %}
                        {% set displayVoir = false %}
                        {% if groupeSecondaire.isPostulant(app.user.personnage) %}
                        {% endif %}

                        {% include '_partials/btnGroup.twig' with { 'css': 'btn-group-vertical', 'display': true, 'buttons' :
                            [
                                {'title': 'Voir le groupe secondaire', 'route':path('groupeSecondaire.detail', {'groupeSecondaire':groupeSecondaire.id}), 'icon': 'fa-eye', 'visible': displayVoir, 'label': 'Voir' },
                                {'title': 'Modifier le groupe secondaire', 'route':path('groupeSecondaire.update', {'groupeSecondaire':groupeSecondaire.id}), 'icon': 'fa-pencil', 'isAdmin': true, 'label': 'Modifier' },
                                {'title': 'Postuler pour rejoindre le groupe', 'route':path('groupeSecondaire.postuler', {'groupeSecondaire':groupeSecondaire.id}), 'icon': 'fa-hand-point-up', 'label': 'Postuler', 'visible': displayPostuler }
                            ]
                        } %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include '_partials/pagination.html.twig' %}

{% endblock body %}
