{% extends "base.html.twig" %}

{% block title %}Groupe secondaire{% endblock title %}

{% block body %}

    {% include '_partials/breadcrumb.twig' with {'items' :
        [
            {'name' : 'Liste des groupe secondaires' }
        ]
    } %}

    <div class="well well-sm">

        <div class="header">
            <h5>Liste des groupes secondaires</h5>
        </div>

        {# Todo merge usage of buttons with btnGroup view and this options #}
        {% include '_partials/formListSearch.twig' with {
            'actionPath' : path('groupeSecondaire.list'),
            'buttons' : [
                {'title': "Ajouter un groupe secondaire", 'route': path('groupeSecondaire.admin.add'), 'icon': 'fa fa-plus'},
                {'title': "Ajouter un type de groupe secondaire", 'route': path('groupeSecondaireType.admin.add'), 'icon': 'fa fa-folder-plus'},
                {'title': "Imprimer les enveloppes", 'route': path('groupeSecondaire.materiel.printAll'), 'icon': 'fa fa-print'}
            ]
        } %}

        {# isAdmin is from Controller and check in the template
        {% include '_partials/btnGroup.twig' with {
            'title' : 'Action',
            'actions' :
            [
                {'path' : path('groupeSecondaire.admin.add'), 'label': 'Ajouter', 'title':'Ajouter un groupe secondaire', 'icon': 'fa-plus' },
                {'path' : path('groupeSecondaireType.admin.add'), 'label': 'Ajouter type', 'title':'Ajouter un type de groupe secondaire', 'icon': 'fa-folder-plus' },
                {'path' : path('groupeSecondaire.materiel.printAll'), 'label': 'Imprimer', 'title':'Imprimer les enveloppes', 'icon': 'fa-print' },
            ]
        } %}#}
    </div>

    {% include '_partials/pagination.html.twig' %}

    <table class="table table-striped table-bordered table-condensed table-hover">
        {% include '_partials/thead.twig' with  { 'route': 'technologie.list', 'rows': [
            {'name' : 'Id', 'field' : 'id', 'css' : 'text-center'},
            {'name' : 'Secret', 'field' : 'secret', 'css' : 'text-center'},
            {'name' : 'Nom', 'field' : 'label', 'css' : 'text-center'},
            {'name' : 'Description', 'css' : 'text-center'},
            {'name' : 'Type requises', 'css' : 'text-center'},
            {'name' : 'Membres', 'css' : 'text-center'},
        ]} %}
        <tbody>
        {% for groupeSecondaire in paginator %}
            <tr>
                <td>
                    <a href="{{ path('groupeSecondaire.admin.update', {'groupeSecondaire':groupeSecondaire.id}) }}">{{ groupeSecondaire.id }}
                </td>
                <td>{% if groupeSecondaire.secret %}<span style="color:red;">Secret</span>{% else %} -- {% endif %}</td>
                <td>
                    <a href="{{ path('groupeSecondaire.admin.detail', {'groupeSecondaire':groupeSecondaire.id}) }}">{{ groupeSecondaire.label }}
                </td>
                <td>{{ groupeSecondaire.description|markdown_to_html|highlight(pagerService.searchValue) }}</td>
                <td>{{ groupeSecondaire.secondaryGroupType.label }}</td>
                <td>{{ groupeSecondaire.membres|length }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include '_partials/pagination.html.twig' %}

{% endblock body %}
