{% extends "base.html.twig" %}

{% block title %}Groupe transverse{% endblock title %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Accueil</a></li>
        <li><a href="{{ path("groupeSecondaire.list") }}">Liste des groupes transverses</a></li>
        <li>
            <a href="{{ path('groupeSecondaire.detail', {'groupeSecondaire': groupeSecondaire.id}) }}">{{ groupeSecondaire.label }}</a>
        </li>
        <li class="active">Ajouter un membre</li>
    </ol>

    <div class="well bs-component">
        {{ form_start(form, {"attr": {"action": path('groupeSecondaire.newMembre', {'groupeSecondaire': groupeSecondaire.id}) }}) }}
        <fieldset>
            <legend>Ajout d'un membre au groupe transverse {{ groupeSecondaire.label }}</legend>

            {{ form(form) }}
        </fieldset>
        {{ form_end(form) }}
    </div>

{% endblock body %}
