{% extends "base.html.twig" %}

{% block title %}Classes{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li class="active">Liste des classes</li>
	</ol>

	<div class="well well-sm bs-component">

		<div class="header">
			<h5>Liste des classes <small>( {{ classes|length }} classes )</small></h5>
		</div>

		<div class="btn-toolbar" role="toolbar" aria-label="...">
			<div class="btn-group" role="group" aria-label="...">
				<a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Ajouter une classe" href="{{ path('classe.add') }}"><i class="fa fa-plus"></i></a>
			</div>
		</div>
	</div>


	{%  for classe in classes %}
	<div class="well well-sm bs-component">

		<div class="header">
			<h5>
				{{ classe.label }}
				<small>( <a href="{{ path('classe.perso', {'id': classe.id}) }}">{{ classe.personnages|length }} personnages</a>)</small>
			</h5>
		</div>

		<p class="list-group-item-text">
			<div class="btn-group pull-right" role="group" aria-label="...">
				<a href="{{ path('classe.detail', {'id': classe.id}) }}" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Détail" role="button"><i class="fa fa-eye"></i></a>
				<a href="{{ path('classe.update', {'id': classe.id}) }}" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Modifier" role="button"><i class="fa fa-pencil"></i></a>
			</div>
			
			{% if classe.description %}
				<p>{{ classe.description|markdown_to_html }}</p>
			{% else %}
				<p class="text-warning">Attention, cette classe n'a pas description</p>
			{%  endif %}
			
			{% if classe.competenceFamilyCreations|length != 0 %}
				<p>
					<strong>Famille de compétence acquises à la création : </strong>{{ classe.competenceFamilyCreations|join(', ') }}
				</p>
			{% else %}
				<p class="text-warning">Attention, cette classe n'a pas de famille de compétences acquises à la créations</p>
			{% endif %}

			{% if classe.competenceFamilyFavorites|length != 0 %}
				<p>
					<strong>Famille de compétence favorites : </strong>{{ classe.competenceFamilyFavorites|join(', ') }}
				</p>
			{% else %}
				<p class="text-warning">Attention, cette classe n'a pas de famille de compétences favorites</p>
			{% endif %}
		
			{% if classe.competenceFamilyNormales|length != 0 %}
				<p>
					<strong>Famille de compétence normales : </strong>{{ classe.competenceFamilyNormales|join(', ') }}
				</p>
			{% else %}
				<p class="text-warning">Attention, cette classe n'a pas de famille de compétences normales</p>
			{% endif %}
			
		</p>

		<img width="184" height="250" alt="{{ classe.labelFeminin }}" src="{{ asset("img/#{classe.imageF}") }}" />
		<div class="pull-right">
			<img width="184" height="250" alt="{{ classe.labelMasculin }}" src="{{ asset("img/#{classe.imageM}")  }}" />
		</div>	
	</div>
	{%  endfor %}

{% endblock %}
