{% extends "base.html.twig" %}

{% block title %}Classes{% endblock title %}

{% block body %}

	<a href="{{ path("classe.index") }}">Retour à la liste des classes</a>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-8">
			
				<div class="well bs-component">
					{{ form_start(form, {"attr": {"action": path('classe.update',{'id': classe.id})}}) }}
						<fieldset>
							<legend>Modification d'une classe</legend>
								{{ form(form) }}
						</fieldset>
					{{ form_end(form) }}
				</div>

			</div>
		</div>
	</div>
		
{% endblock body %}

{% block javascript %}

	{{ parent() }}

	{# inclusion du plugin tinymce pour la saisie du post #}   
	<script src="{{ app.request.basepath }}/js/tinymce/tinymce.min.js"></script>

	<script type="text/javascript">
		tinyMCE.init({
				mode: "textareas",
				theme: "modern",
				plugins : "spellchecker,insertdatetime,preview", 
		});
		
	</script>

{% endblock javascript %}