{% extends "base.html.twig" %}

{% block title %}Lieux de restauration{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('restauration.list') }}">Liste des lieux de restauration</a></li>
		<li class="active">{{ restauration.label }} - utilisateurs</li>
	</ol>

	<div class="well well-sm bs-component">

		<div class="header">
			<h5>{{ restauration.label }} - utilisateurs</h5>
		</div>

		<div class="btn-toolbar" role="toolbar" aria-label="...">
			<div class="btn-group" role="group" aria-label="...">
				<a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Exporter" href="{{ path('restauration.users.export', {'id' : restauration.id}) }}"><i class="fa-solid fa-file-arrow-down"></i> Exporter</a>
			</div>
		</div>
	</div>
	
	<div class="well well-sm bs-component">
		{% for userByGn in restaurations %}
			<div class="header"><h5>{{ userByGn.gn.label }} - {{ userByGn.count }} utilisateurs</h5></div>
			<ul class="list-group">
				{% for user in userByGn.users %}
					<li class="list-group-item"><a href="{{ path('user.view', {'id' : user.id}) }}">{{ user.etatCivil.nom }} {{ user.etatCivil.prenom }}</a> {% if user.restrictions|length > 0 %}&nbsp;--&nbsp;{{ user.restrictions|join(', ') }}{% endif %}</li>
				{% endfor %}			
			</ul>
		{% endfor %}
	</div>
	
{% endblock %}
