{% extends "base.html.twig" %}

{% block title %}Potions{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('magie.potion.list') }}">Liste des potions</a></li>
		<li class="active">Supprimer une potion</li>
	</ol>
	
	
	<div class="well bs-component">
		{{ form_start(form, {"attr": {"action": path('magie.potion.delete', {'potion': potion.id}) }}) }}
			<fieldset>
				<legend>Supression d'une potion</legend>
					{{ potion.label }} - Niveau {{ potion.niveau }}
					{{ potion.description|markdown_to_html }}
					
					{{ form(form) }}
			</fieldset>
		{{ form_end(form) }}
	</div>
				
{% endblock body %}
