{% extends "base.html.twig" %}

{% block title %}Blason{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path("religion") }}">Liste des religions</a></li>
		<li><a href="{{ path('religion.detail', {'index': religion.id}) }}">{{ religion.label }}</a></li>
		<li class="active">Modifier le blason</li>
	</ol>
	
	<div class="well well-sm">

		<div class="header"><h5>Ajouter un blason pour la religion {{ religion.label }}</h5></div>
		
		<blockquote>Choisissez votre fichier et téléversez le dans larpManager.</blockquote>
		
		{{ form_start(form, {"attr": {"action": path('religion.update.blason', {'religion': religion.id}) }}) }}			
				
				{{ form(form) }}
		{{ form_end(form) }}
		
	</div>

{% endblock body %}