{% extends "base.html.twig" %}

{% block title %}Backgrounds{% endblock title %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Accueil</a></li>
        <li><a href="{{ path('background.list') }}">Liste des backgrounds</a></li>
        <li class="active">Suppression du background {{ background.titre }}</li>
    </ol>

    <div class="panel panel-danger">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-danger-sign" aria-hidden="true"></span>
            Attention
        </div>
        <div class="panel-body">Vous vous apprétez à supprimer le background <strong>{{ background.titre }}</strong>.
            Etes-vous certain de ce que vous faites ?
        </div>
    </div>

    <div class="well well-sm bs-component">
        <div class="header">
            <h5>Suppression du background {{ background.titre }}</h5>
        </div>

        {{ form(form) }}
    </div>


    <div class="well well-sm">
        {{ background.text|markdown_to_html }}
    </div>
{% endblock body %}
