{% extends "base.html.twig" %}

{% block body %}

<div class="panel panel-default">
	<div class="panel-heading">{{ gn.label }}</div>
	<div class="panel-body">
		<p>{{ gn.description|markdown_to_html }}</p>
		<p>Ce GN se déroulera du {{ gn.dateDebut|date('Y-m-d') }} au {{ gn.dateFin|date('Y-m-d') }}.</p>
		<p>Lieu : {{ gn.adresse }}</p>
		
		
		{{ form_start(form, {"attr": {"action": path('inscriptionGn') }}) }}
				
		
				{{ form(form) }}
		{{ form_end(form) }}
	</div>
</div>

{% endblock body %}
