{% extends "base.html.twig" %}

{% block title %}Objets{% endblock title %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Accueil</a></li>
        <li class="active">Objets</li>
    </ol>

    <div class="well well-sm">

        <div class="header">
            <h5>Objets</h5>
        </div>

        <div class="d-flex justify-content-between">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="btn-toolbar" role="toolbar" aria-label="...">
                        {{ form_start(form, {"action": path('stockObjet.index')}) }}
                        <div class="form-group">
                            <div class="input-group">
                                {{ form_widget(form.value) }}
                                {{ form_widget(form.type) }}
                                {{ form_widget(form.tag) }}
                                {{ form_widget(form.rangement) }}
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default" data-toggle="tooltup"
                                            data-placement="top"
                                            title="Lancer la recherche"><i class="fa fa-search"></i></button>
                                    <a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Reset"
                                       href="{{ path('stockObjet.index') }}"><i class="fa fa-refresh"></i></a>
                                    <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                                       title="Ajouter un objet" href="{{ path('stockObjet.add') }}"><i
                                                class="fa fa-plus"></i> Ajouter</a>
                                </div>
                            </div>
                        </div>
                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>
                </li>
            </ul>
        </div>

    </div>

    {% include '_partials/pagination.html.twig' %}

    <table class="table table-striped table-bordered table-condensed table-hover">
        <thead>
        <tr>
            <th>
                <a href="{{ path('stockObjet.index', {'order_by': 'numero', 'order_dir': (orderDir == 'ASC' ? 'DESC' : 'ASC')}) }}">
                    Numéro de stock
                    {% if app.request.get('order_by') == 'numero' %}
                        <i class="fa-solid fa-caret-{{ orderDir == 'ASC' ? 'down' : 'up' }}"></i>
                    {% endif %}
                </a>
            </th>
            <th>
                <a href="{{ path('stockObjet.index', {'order_by': 'nom', 'order_dir': (orderDir == 'ASC' ? 'DESC' : 'ASC')}) }}">
                    Nom
                    {% if app.request.get('order_by') == 'nom' %}
                        <i class="fa-solid fa-caret-{{ orderDir == 'ASC' ? 'down' : 'up' }}"></i>
                    {% endif %}
                </a>
            </th>
            <th>Photo</th>
            <th>Description</th>
            <th>Tags</th>
            <th>Rangement</th>
            <th>Objet de jeu</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for objet in paginator %}
            <tr>
                <td>{{ objet.numero|highlight(searchValue) }}</td>
                <td>{{ objet.nom|highlight(searchValue) }}</td>
                <td>
                    {% if objet.photo %}
                        <div class="hover_img">
                            <a href="{{ path('stockObjet.photo', {'objet': objet.id }) }}" target="_blank" rel="noopener noreferrer">Show Image<span>
						    		<img src="{{ path('stockObjet.photo', {'objet': objet.id, 'miniature': true}) }}"
                                         alt="{{ objet.photo.name }} - {{ objet.nom }}" width="200px" />
						    		</span>
                            </a>
                        </div>
                    {% else %}
                        aucune photo
                    {% endif %}
                </td>
                <td>
                    {{ objet.description|highlight(searchValue) }}
                </td>
                <td>{{ objet.tags|join(', ') }}</td>
                <td>{{ objet.rangement.adresse }}</td>
                <td>
                    {% for item in objet.items %}
                        <strong>{{ item.numero|highlight(searchValue) }} - {{ item.label|highlight(searchValue) }}</strong>
                    {% else %}
                        <span class="text-success">Cet objet n'est pas utilisé en jeu.</span>
                    {% endfor %}
                </td>
                <td>
                    <div class="btn-group dropdown" role="group" aria-label="...">
                        <button type="button" class="btn btn-dark dropdown-toggle " data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Action
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="d-grid gap-2"><a class="btn btn-dark"
                                                        href="{{ path('stockObjet.tag', {'objet': objet.id}) }}">Modifier
                                    les tags</a></li>
                            <li class="d-grid gap-2"><a class="btn btn-dark"
                                                        href="{{ path('item.new', {'objet': objet.id}) }}">Creer un
                                    objet de jeu</a></li>
                            <li class="d-grid gap-2"><a class="btn btn-dark"
                                                        href="{{ path('stockObjet.detail', {'objet': objet.id}) }}">Voir</a>
                            </li>
                            <li class="d-grid gap-2"><a class="btn btn-dark"
                                                        href="{{ path('stockObjet.update', {'objet': objet.id}) }}">Modifier</a>
                            </li>
                            <li class="d-grid gap-2"><a class="btn btn-dark"
                                                        href="{{ path('stockObjet.clone', {'objet': objet.id}) }}">Cloner</a>
                            </li>
                            <li class="d-grid gap-2"><a class="btn btn-dark"
                                                        href="{{ path('stockObjet.delete', {'objet': objet.id}) }}">Supprimer</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include '_partials/pagination.html.twig' %}

{% endblock body %}
