{% extends "base.html.twig" %}

{% block title %}Loi{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('loi') }}">Liste des lois</a></li>
		<li class="active">Modification d'une loi</li>
	</ol>
	
	
	<div class="well bs-component">
		{{ form_start(form, {"attr": {"action": path('loi.update', {'loi': loi.id}) }}) }}
			<fieldset>
				<legend>Modification d'une loi</legend>
					
					{{ form(form) }}
			</fieldset>
		{{ form_end(form) }}
	</div>
				
{% endblock body %}