{% extends "base.html.twig" %}

{% block title %}Culture{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li class="active">Liste des cultures</li>
	</ol>

	<div class="well well-sm bs-component">

		<div class="header">
			<h5>Liste des cultures</h5>
		</div>

		<div class="btn-toolbar" role="toolbar" aria-label="...">
			<div class="btn-group" role="group" aria-label="...">
				<a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Ajouter une culture" href="{{ path('culture.add') }}"><i class="fa fa-plus"></i> Ajouter</a>
			</div>
		</div>
	</div>


	{% for culture in cultures %}
	<div class="well well-sm bs-component">

		<div class="header">
			<h5>
				{{ culture.label }}
			</h5>
		</div>

		<p class="list-group-item-text">
			<div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
				<div class="btn-group" role="group" aria-label="...">
					<a href="{{ path('culture.detail', {'culture': culture.id}) }}" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Détail" role="button"><i class="fa fa-eye"></i></a>
					<a href="{{ path('culture.update', {'culture': culture.id}) }}" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Modifier" role="button"><i class="fa fa-pencil"></i></a>
					<a href="{{ path('culture.delete', {'culture': culture.id}) }}" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Supprimer" role="button"><i class="fa fa-eraser"></i></a>
				</div>
			</div>

			<p>{{ culture.description|markdown_to_html }}</p>
		</p>
	</div>
	{% endfor %}
	
{% endblock %}
