{% extends "base.html.twig" %}

{% block title %}Personnages secondaires{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('personnageSecondaire.list') }}">Liste des personnages secondaires</a></li>
		<li class="active">Supression du personnage secondaire</li>
	</ol>

	<div class="well bs-component">	
		{{ form_start(form, {"attr": {"action": path('personnageSecondaire.delete', {'personnageSecondaire': personnageSecondaire.id}) }}) }}
			<fieldset>
				<legend>Supression du personnage secondaire {{ personnageSecondaire.classe.label }}</legend>
				
				<p class="text-danger">
					<span class="fa-stack fa-lg">
						<i class="fa fa-square-o fa-stack-2x"></i>
						<i class="fa fa-exclamation fa-stack-1x"></i>
					</span>
					Attention, vous vous appretez à supprimer définitivement un personnage secondaire</p>
				{{ form(form) }}
			</fieldset>
		{{ form_end(form) }}
	</div>
	
{% endblock body %}
