{% extends "base.html.twig" %}

{% block title %}Famille de compétence{% endblock title %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Accueil</a></li>
        <li><a href="{{ path('competenceFamily.index') }}">Liste des familles de compétences</a></li>
        <li class="active">Détail d'une famille de compétence</li>
    </ol>

    <div class="well well-sm">
        <div class="header"><h5>Liste des familles de compétences</h5></div>

        <div class="card">
            <div class="card-header">
                {{ competenceFamily.label }}
            </div>
            <div class="card-body">
                <p class="card-text">{{ competenceFamily.description|markdown_to_html }}</p>
            </div>
        </div>

        {% if is_granted('ROLE_REGLE', app.user) %}
        <div class="list-group">
            <div class="list-group-item">
                <div class="btn-group" role="group">
                    <a class="btn btn-secondary" role="button"
                       href="{{ path('competenceFamily.update', {competenceFamily : competenceFamily.id}) }}"><i
                                class="fa fa-edit"></i> Modifier</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>


{% endblock %}
