{% extends "base.html.twig" %}

{% block title %}Familles de compétences{% endblock title %}

{% block body %}

    {% include '_partials/breadcrumb.twig' with {'items' : [ {'name' : 'Liste des familles de compétences'}]} %}

    <div class="well well-sm">
        <div class="header">
            <h5>Liste des familles de compétences <small>( {{ paginator|length }} familles)</small></h5>
        </div>

        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group" role="group" aria-label="...">
                <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Ajouter une famille"
                   href="{{ path('competenceFamily.add') }}"><i class="fa fa-plus"></i> Ajouter</a>
            </div>
        </div>
    </div>

    {% include '_partials/pagination.html.twig' %}

    <table class="table table-striped table-bordered table-condensed table-hover">
        {% include '_partials/thead.twig' with  { 'route': 'competenceFamily.index', 'rows': [
            {'name' : 'Famille'},
            {'name' : 'Description'},
            {'name' : 'Niveaux associés'},
            {'name' : 'Actions'},
        ]} %}
        <tbody>
        {% for competenceFamily in paginator %}
        <tr>
            <td>{{ competenceFamily.label }}</td>
            <td>{{ competenceFamily.description|markdown_to_html }}</td>
            <td>
                {% for competence in competenceFamily.competences %}
                    <div class="badge text-bg-secondary rounded-pill link-underline link-underline-opacity-0">
                        {{ competence.level.label }}
                    </div>
                {% endfor %}
            </td>
            <td>
                <div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
                    <div class="btn-group" role="group" aria-label="...">
                        <a class="btn btn-secondary"
                           href="{{ path('competenceFamily.detail',{'competenceFamily':competenceFamily.id}) }}"><i
                                    class="fa fa-eye"></i></a>
                        <a class="btn btn-secondary"
                           href="{{ path('competenceFamily.update',{'competenceFamily':competenceFamily.id}) }}"><i
                                    class="fa fa-pencil"></i></a>
                        <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                           title="Ajouter une compétence"
                           href="{{ path('competence.add',{'competenceFamily':competenceFamily.id}) }}"><i
                                    class="fa fa-plus"></i></a>
                    </div>
                </div>
            </td>
            {% endfor %}
        </tbody>
    </table>

    {% include '_partials/pagination.html.twig' %}

{% endblock %}
