{% extends "base.html.twig" %}

{% block title %}Sorts{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('magie.sphere.list') }}">Liste des sphères</a></li>
		<li class="active">Modifier une sphère</li>
	</ol>
	
	
	<div class="well bs-component">
		{{ form_start(form, {"attr": {"action": path('magie.sphere.update', {'sphere': sphere.id}) }}) }}
			<fieldset>
				<legend>Modification d'une sphère</legend>
					
					{{ form(form) }}
			</fieldset>
		{{ form_end(form) }}
	</div>
				
{% endblock body %}