{% extends "base.html.twig" %}

{% block title %}{{ personnage.publicName }}{% endblock title %}

{% block body %}


	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('personnage.admin.list') }}">Liste des personnages</a></li>
		<li><a href="{{ path('personnage.admin.detail', {'personnage':personnage.id}) }}">Détail de {{ personnage.publicName }}</a></li>
		<li class="active">Modification de l'age de {{ personnage.nom }}</li>
	</ol>
	
	<div class="well bs-component">	
		{{ form_start(form, {"attr": {"action": path('personnage.admin.update.age', {'personnage': personnage.id}) }}) }}
			<fieldset>
				<legend>Choix de l'age</legend>
				
				{{ form(form) }}
			</fieldset>
		{{ form_end(form) }}
	</div>

{% endblock body %}