{% extends "base.html.twig" %}

{% block title %}{{ personnage.nom }} détails{% endblock title %}

{% block body %}

    {% set isAdmin = is_granted('ROLE_REGLE', app.user) or is_granted('ROLE_ADMIN', app.user) or is_granted('ROLE_SCENARISTE', app.user) %}
    {% set breadcrumb = [] %}
    {% if isAdmin %}
        {% set breadcrumb = breadcrumb|merge([{'name' : 'Liste des personnages', 'route': path('personnage.list') }]) %}
    {% elseif participant is defined %}
        {% set breadcrumb = breadcrumb|merge([{'name' : participant.gn.label, 'route': path('gn.detail', {'gn' : participant.gn.id}) }]) %}
    {% endif %}
    {% set breadcrumb = breadcrumb|merge([{'name' : "Detail de #{personnage.nom}" }]) %}

    {% include '_partials/breadcrumb.twig' with {'items' : breadcrumb} %}


    <div class="panel mb-0 border-bottom-0">
        <div class="header">
            <h5>Fiche de personnage</h5>
        </div>

        <div class="d-flex justify-content-between">

            <h3>
                {% if personnage.isPnj() %}🎭 PNJ - {% endif %}
                {{ personnage.nom }}{% if personnage.surnom %} <small>({{ personnage.surnom }})</small>{% endif %}
            </h3>
            <div class="fs-3">
                {% if personnage.genre == 'Masculin' %}
                    <i class="fa fa-mars" aria-hidden="true"></i>
                {% elseif personnage.genre == 'Feminin' %}
                    <i class="fa fa-venus" aria-hidden="true"></i>
                {% else %}
                    <i class="fa fa-transgender-alt" aria-hidden="true"></i>
                {% endif %}

                <small>{{ personnage.ageReel|default('x') }} ans ({{ personnage.age }})</small>

                {% if personnage.vivant %}<span class="text-success">Vivant</span>{% else %}<span
                        class="text-danger">💀 Mort</span>{% endif %}

            </div>
            <div class="fs-3">
                {{ personnage.classeName }}
            </div>
        </div>

        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group" role="group" aria-label="...">
                <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="Liste des groupes secondaires"
                   href="{{ path('participant.groupeSecondaire.list', {'participant': participant.id}) }}"><i
                            class="fa fa-user-secret" aria-hidden="true"></i></a>
                <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="Choisir une nouvelle religion"
                   href="{{ path('participant.religion.add',{'participant': participant.id}) }}"><i class="fa fa-cloud"
                                                                                                    aria-hidden="true"></i></a>
                <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="Acheter une compétence"
                   href="{{ path('participant.competence.add', {'participant': participant.id}) }}"><i
                            class="fa fa-graduation-cap" aria-hidden="true"></i></a>
                <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="Modifier votre personnage"
                   href="{{ path('participant.personnage.edit', {'participant': participant.id}) }}"><i
                            class="fa fa-pencil" aria-hidden="true"></i></a>
                {% if personnage.hasCompetence('Magie') %}
                    <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                       title="Découvrir la magie"
                       href="{{ path('participant.magie', {'participant': participant.id}) }}"><i class="fa fa-magic"
                                                                                                  aria-hidden="true"></i></a>
                {% endif %}
                <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="Imprimer votre personnage"
                   href="{{ path('personnage.export', {'personnage':personnage.id}) }}"><i class="fa fa-print"
                                                                                           aria-hidden="true"></i></a>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link{% if tab == 'detail' %} active{% endif %}"
                               href="{{ path('personnage.detail',  app.request.query.all|merge({'personnage': personnage.id,'tab': 'detail'})) }}"
                            >Générale</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link{% if tab == 'competences' %} active{% endif %}"
                               href="{{ path('personnage.detail',  app.request.query.all|merge({'personnage': personnage.id,'tab': 'competences'})) }}"
                            >Compétences</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link{% if tab == 'religions' %} active{% endif %}"
                               href="{{ path('personnage.detail',  app.request.query.all|merge({'personnage': personnage.id,'tab': 'religions'})) }}"
                            >Religions</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link{% if tab == 'backgrounds' %} active{% endif %}"
                               href="#"
                            >Biographie</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link{% if tab == 'groupes-secondaires' %} active{% endif %}"
                               href="#"
                            >Groupes secondaires</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link {% if tab == 'enveloppe' %} active{% endif %}"
                               href="#"
                            >Enveloppe</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" role="tabpanel">
            {% include "personnage/fragment/#{tab|default('detail')}.twig" with {'personnage': personnage} %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">


            {% include 'personnage/fragment/participations.twig' %}
            {% include 'personnage/fragment/secondaires.twig' %}


            <div class="well">
                <div class="header">
                    <h5>Informations de jeu</h5>
                </div>

                {% if isAdmin %}
                    {% include '_partials/dropDown.twig' with {
                        'title' : 'Action',
                        'actions' :
                        [
                            {'path' : path('personnage.admin.update.renomme', {'personnage': personnage.id}), 'label': 'Modifier la Renomée' },
                            {'path' : path('personnage.admin.update.heroisme', {'personnage': personnage.id}), 'label': 'Modifier l\'Héroïsme' },
                            {'path' : path('personnage.admin.update.pugilat', {'personnage': personnage.id}), 'label': 'Modifier le Pugilat' },
                            {'path' : path('personnage.admin.update.domaine', {'personnage': personnage.id}), 'label': 'Modifier la liste des domaines de magie' },
                            {'path' : path('personnage.admin.add.religion', {'personnage': personnage.id}), 'label': 'Ajouter une religion' },
                            {'path' : path('personnage.admin.update.origine', {'personnage': personnage.id}), 'label': 'Modifier l\'origine' },
                            {'path' : path('personnage.admin.update.langue', {'personnage': personnage.id}), 'label': 'Modifier les langages' },
                            {'path' : path('personnage.admin.update.sort', {'personnage': personnage.id}), 'label': 'Modifier la liste des sorts' },
                            {'path' : path('personnage.admin.update.potion', {'personnage': personnage.id}), 'label': 'Modifier la liste des potions' },
                            {'path' : path('personnage.admin.update.priere', {'personnage': personnage.id}), 'label': 'Modifier la liste des prieres' },
                            {'path' : path('personnage.admin.update.technologie', {'personnage': personnage.id}), 'label': 'Modifier la liste des technologies' },
                            {'path' : path('personnage.admin.update.connaissance', {'personnage': personnage.id}), 'label': 'Modifier la liste des connaissances' },
                        ]
                    } %}
                {% endif %}

                <div class="panel-body">
                    <p>Origine : <strong
                                class="text-success">{{ personnage.territoire|default("non définie") }}</strong>
                    </p>
                    <p>Renommée : <strong class="text-success">{{ personnage.renomme|default(0) }}</strong>
                        <a role="button" data-bs-toggle="collapse" href="#renommeHistory" aria-expanded="false"
                           aria-controls="collapseExample">
                            <i class="fa fa-history" aria-hidden="true"></i>
                        </a>
                    </p>
                    <div class="collapse" id="renommeHistory">
                        <h6>Historique</h6>
                        <div class="list-group">
                            {% for historique in personnage.renommeHistories %}
                                <div class="list-group-item">{{ historique.date|date("Y-m-d H:i:s") }}
                                    : {% if historique.renomme > 0 %}+{% endif %}{{ historique.renomme }} {% if historique.explication %} pour la raison suivante : "{{ historique.explication }}"{% endif %}
                                    .
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <p>Héroïsme : <strong class="text-success">{{ personnage.heroisme|default(0) }}</strong>
                        <a role="button" data-bs-toggle="collapse" href="#heroismeHistory" aria-expanded="false"
                           aria-controls="collapseExample">
                            <i class="fa fa-history" aria-hidden="true"></i>
                        </a></p>
                    <div class="collapse" id="heroismeHistory">
                        <h6>Historique</h6>
                        <div class="list-group">
                            {% for historique in personnage.displayHeroisme %}
                                <div class="list-group-item">{{ historique.date|date("Y-m-d H:i:s") }}
                                    : {% if historique.heroisme > 0 %}+{% endif %}{{ historique.heroisme }} {% if historique.explication %} pour la raison suivante : "{{ historique.explication }}"{% endif %}
                                    .
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <p>Pugilat : <strong class="text-success">{{ personnage.pugilat|default(0) }}</strong>
                        <a role="button" data-bs-toggle="collapse" href="#pugilatHistory" aria-expanded="false"
                           aria-controls="collapseExample">
                            <i class="fa fa-history" aria-hidden="true"></i>
                        </a></p>
                    <div class="collapse" id="pugilatHistory">
                        <h6>Historique</h6>
                        <div class="list-group">
                            {% for historique in personnage.displayPugilat %}
                                <div class="list-group-item">{{ historique.date|date("Y-m-d H:i:s") }}
                                    : {% if historique.pugilat > 0 %}+{% endif %}{{ historique.pugilat }} {% if historique.explication %} pour la raison suivante : "{{ historique.explication }}"{% endif %}
                                    .
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <h6>Religions :</h6>
                    <div class="list-group">
                        {% for personnageReligion in personnage.personnagesReligions %}
                            <div class="list-group-item">{% if personnageReligion.religion.secret %}<span
                                        style="color:red;">Secret</span> - {% endif %}{{ personnageReligion.religion.label }}
                                - {{ personnageReligion.religionLevel.label }} - <a
                                        href="{{ path('personnage.admin.delete.religion', {'personnage': personnage.id, 'personnageReligion': personnageReligion.id }) }}">Supprimer</a>
                            </div>
                        {% else %}
                            <div class="list-group-item-text">Sans - Fervent</div>
                        {% endfor %}
                    </div>

                    <h6>Langues connues :</h6>
                    {% set languesAnomalie = personnage.getLanguesAnomaliesMessage() %}
                    {% if languesAnomalie != "" %}
                        <div class="text-warning">{{ languesAnomalie }}</div>
                    {% endif %}
                    <div class="list-group">
                        {% for personnageLangue in personnage.personnageLangues %}
                            <div class="list-group-item">{% if personnageLangue.langue.secret %}<span
                                        style="color:red;">Secret</span> - {% endif %}
                                <strong>{{ personnageLangue.langue }}</strong> ({{ personnageLangue.source }}) -
                                <a href="{{ path('personnage.admin.delete.langue', {'personnage': personnage.id, 'personnageLangue' : personnageLangue.id }) }}">Supprimer</a>
                            </div>
                        {% endfor %}
                    </div>

                    <h6>Domaines de magie :</h6>
                    <div class="list-group">
                        {% for domaine in personnage.domaines %}
                            <div class="list-group-item">{{ domaine.label }}</div>
                        {% else %}
                            <div class="list-group-item">Aucun</div>
                        {% endfor %}
                    </div>

                    <h6>Sorts :</h6>
                    {% set sortAnomalie = personnage.getSortAnomalieMessage() %}
                    {% if sortAnomalie != "" %}
                        <div class="text-warning">{{ sortAnomalie }}</div>
                    {% endif %}
                    <div class="list-group">
                        <div class="list-group-item">
                            {% for sort in personnage.sorts %}
                                <div class="list-group-item-text">{% if sort.secret %}<span
                                            style="color:red;">Secret</span> - {% endif %}{{ sort.label }}
                                    - {{ sort.domaine.label }} Niveau {{ sort.niveau }}</div>
                            {% else %}
                                <div class="list-group-item-text">Aucun</div>
                            {% endfor %}
                        </div>
                    </div>

                    <h6>Potions :</h6>
                    {% set potionsAnomalie = personnage.getPotionAnomalieMessage() %}
                    {% if potionsAnomalie != "" %}
                        <div class="text-warning">{{ potionsAnomalie }}</div>
                    {% endif %}
                    <div class="list-group">
                        <div class="list-group-item">
                            {% for potion in personnage.potions %}
                                <div class="list-group-item-text">{% if potion.secret %}<span
                                            style="color:red;">Secret</span> - {% endif %}{{ potion.label }} -
                                    Niveau {{ potion.niveau }}</div>
                            {% else %}
                                <div class="list-group-item-text">Aucune</div>
                            {% endfor %}
                        </div>
                    </div>

                    <h6>Prières :</h6>
                    {% set sortAnomalie = personnage.getPrieresAnomalieMessage() %}
                    {% if sortAnomalie != "" %}
                        <div class="text-warning">{{ sortAnomalie }}</div>
                    {% endif %}
                    <div class="list-group">
                        <div class="list-group-item">
                            {% for priere in personnage.prieres %}
                                <div class="list-group-item-text">{{ priere.sphere.label }} -
                                    Niveau {{ priere.niveau }} ({{ priere.label }})
                                </div>
                            {% else %}
                                <div class="list-group-item-text">Aucune</div>
                            {% endfor %}
                        </div>
                    </div>

                    <h6>Technologies :</h6>
                    <div class="list-group">
                        <div class="list-group-item">
                            {% for technologie in personnage.technologies %}
                                <div class="list-group-item-text">{% if technologie.secret %}<span
                                            style="color:red;">Secret</span> - {% endif %}{{ technologie.label }}
                                </div>
                            {% else %}
                                <div class="list-group-item-text">Aucune</div>
                            {% endfor %}
                        </div>
                    </div>

                    <h6>Connaissances :</h6>
                    <div class="list-group">
                        <div class="list-group-item">
                            {% for connaissance in personnage.connaissances %}
                                <div class="list-group-item-text">{% if connaissance.secret %}<span
                                            style="color:red;">Secret</span> - {% endif %}{{ connaissance.label }}
                                </div>
                            {% else %}
                                <div class="list-group-item-text">Aucune</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="header">
                    <h5>Technique</h5>
                </div>

                {% if isAdmin %}
                    {#  {'path' : path('personnage.admin.token.add', {'personnage': personnage.id}), 'label': 'Ajouter un jeton vieillessee', 'token : 'VIEILLESSE'}, #}
                    {% include '_partials/dropDown.twig' with {
                        'title' : 'Action',
                        'actions' :
                        [
                            {'path' : path('personnage.admin.trigger.add', {'personnage': personnage.id}), 'label': 'Ajouter un déclencheur de compétence' },
                        ]
                    } %}
                {% endif %}

                <div class="panel-body">
                    <h6>Jetons de vieillesse</h6>
                    <div class="list-group">
                        {% for personnageToken in personnage.personnageHasTokens %}
                            <div class="list-group-item">
                                {{ personnageToken.token.label }}
                                --
                                <a href="{{ path('personnage.admin.token.delete', {'personnage': personnage.id, 'personnageHasToken': personnageToken.id}) }}">Supprimer</a>
                            </div>
                        {% else %}
                            <div class="list-group-item">La liste est vide</div>
                        {% endfor %}
                    </div>

                    <h6>Déclencheurs de compétences</h6>
                    <div class="list-group">
                        {% for trigger in personnage.personnageTriggers %}
                            <div class="list-group-item">
                                {{ trigger.tag }}
                                --
                                <a href="{{ path('personnage.admin.trigger.delete', {'personnage': personnage.id, 'trigger': trigger.id}) }}">Supprimer</a>
                            </div>
                        {% else %}
                            <div class="list-group-item">La liste est vide</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">




            {% if personnage.personnageLignee %}
                <div class="well">
                    <div class="header">
                        <h5>Lignée & Généalogie</h5>
                    </div>

                    {% if isAdmin %}
                        {% if personnage.personnageLignee|length == 0 %}
                            {% include '_partials/dropDown.twig' with {
                                'title' : 'Action',
                                'actions' :
                                [
                                    {'path' : path('personnage.admin.add.lignee', {'personnage': personnage.id}), 'label': 'Ajouter une lignée' },
                                ]
                            } %}
                        {% else %}
                            {% set actions = {} %}
                            {% for lignage in personnage.personnageLignee %}
                                {% set actions = actions|merge({
                                    'path':  path('personnage.admin.delete.lignee', {'personnage': personnage.id, 'personnageLignee' : lignage.id }),
                                    'label': 'Retirer'
                                }) %}
                            {% endfor %}

                            {% include '_partials/dropDown.twig' with {'title' : 'Action','actions' :actions} %}
                        {% endif %}
                    {% endif %}

                    <div class="panel-body">
                        <div class="list-group">
                            {# Gestion de la lignée du personnage #}
                            {% if personnage.personnageLignee|length > 0 %}
                                {% for lignage in personnage.personnageLignee %}
                                    {% if lignage.lignee %}
                                        <div class="list-group-item">
                                            Lignée :<a
                                                    href="{{ path('lignee.detail', {'lignee':lignage.lignee.id}) }}"> {{ lignage.lignee.nom }}</a>
                                        </div>
                                    {% endif %}
                                    <li class="list-group-item">
                                        <strong>Parents :</strong>
                                        <ul>
                                            {% if lignage.parent1 %}
                                                <li>
                                                    <a href="{{ path('personnage.admin.detail', {'personnage':lignage.parent1.id}) }}">{{ lignage.parent1.identity }}</a>
                                                    - {{ lignage.parent1.agereel }} ans
                                                </li>
                                                {% if lignage.parent2 %}
                                                    <li>
                                                        <a href="{{ path('personnage.admin.detail', {'personnage':lignage.parent2.id}) }}">{{ lignage.parent2.identity }}</a>
                                                        - {{ lignage.parent2.agereel }} ans
                                                    </li>
                                                {% endif %}
                                            {% else %}
                                                <li>Ni PJ, ni PNJ</li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                {% endfor %}
                            {% else %}
                                <p class="m-2 text-center">
                                    Ce personnage n'a pas de lignée.
                                </p>
                            {% endif %}
                            {% if descendants|length > 0 %}
                                <li class="list-group-item">
                                    <strong>Enfants :</strong>
                                    <ul>
                                        {% for descendant in descendants %}
                                            <li>
                                                <a href="{{ path('personnage.admin.detail', {'personnage':descendant.personnage.id}) }}">{{ descendant.personnage.identity }}</a>
                                                - {{ descendant.personnage.agereel }} ans
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="well">
                <div class="header">
                    <h5>Chronologie</h5>
                </div>

                {% if isAdmin %}
                    {% include '_partials/dropDown.twig' with {
                        'title' : 'Action',
                        'actions' :
                        [
                            {'path' : path('personnage.admin.add.chronologie', {'personnage': personnage.id}), 'label': 'Ajouter un évènement' },
                        ]
                    } %}
                {% endif %}


                <div class="panel-body">
                    <div class="list-group">
                        {# Gestion de la chronologie du personnage #}
                        {% if personnage.personnageChronologie|length > 0 %}
                            <table class="table table-condensed table-striped table-bordered m-0 rounded-2">
                                <thead>
                                <tr>
                                    <th class="text-center col-sm-2">Année</th>
                                    <th>Évènement</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for personnageChronologie in personnage.personnageChronologie %}
                                    <tr>
                                        <td class="text-center">{{ personnageChronologie.annee }}</td>
                                        <td>{{ personnageChronologie.evenement }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p class="list-group-item-text">
                                Ce personnage n'a pas de chronologie.
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if isAdmin %}
                <div class="panel panel-default">
                    <div class="header">
                        <h5>Enveloppe</h5>
                    </div>

                    {# TODO : fragment for enveloppe -> to also use it on groupe #}
                    {% if isAdmin %}
                        {% include '_partials/dropDown.twig' with {
                            'title' : 'Action',
                            'actions' :
                            [
                                {'path' : path('personnage.documents', {'personnage': personnage.id}), 'label': 'Modifier la liste des documents' },
                                {'path' : path('personnage.items', {'personnage': personnage.id}), 'label': 'Modifier la liste des objets' },
                                {'path' : path('personnage.admin.update.ingredient', {'personnage': personnage.id}), 'label': 'Modifier la liste des ingrédients' },
                                {'path' : path('personnage.admin.update.ressource', {'personnage': personnage.id}), 'label': 'Modifier la liste des ressources' },
                                {'path' : path('personnage.admin.update.richesse', {'personnage': personnage.id}), 'label': 'Modifier la richesse' },
                            ]
                        } %}
                    {% endif %}

                    <div class="panel-body">
                        <div class="list-group">

                            <div class="list-group-item">
                                <h6 class="list-group-item-heading">Renommée
                                    : {{ personnage.renomme|default(0) }}</h6>
                            </div>

                            <div class="list-group-item">
                                <h6 class="list-group-item-heading">Richesse : {{ personnage.richesse|default(0) }}
                                    pièces d'argent</h6>
                            </div>

                            <div class="list-group-item">
                                <h6 class="list-group-item-heading">Lié aux compétences :</h6>
                                {% for competence in personnage.competences %}
                                    {% if competence.materiel %}
                                        <div class="list-group-item-text">
                                            <strong>{{ competence.competenceFamily.label }}
                                                &nbsp({{ competence.level.label }}) : </strong>
                                            {{ competence.materielRaw }}
                                        </div>
                                    {% else %}
                                        <div class="list-group-item-text">Aucun</div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                            {% if personnage.hasCompetence('Prêtrise') %}
                                <div class="list-group-item">
                                    {% set enoughReligion = 0 %}
                                    <h6 class="list-group-item-heading">Divinité principale :</h6>
                                    {% for religion in personnage.personnagesReligions %}
                                        {% if religion.religionLevel.index >= 2 %}
                                            {% set enoughReligion = 1 %}
                                            <div class="list-group-item-text">
                                                <strong>{{ religion.religion }}</strong>
                                                ({{ religion.religionLevel.label }})
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    {% if enoughReligion == 0 %}
                                        <div class="list-group-item-text">CE PRÊTRE N'A PAS ASSEZ DE FERVEUR</div>
                                    {% endif %}
                                </div>
                            {% endif %}
                            <div class="list-group-item">
                                <h6 class="list-group-item-heading">Lié aux langues :</h6>
                                {% for materiel in personnage.langueMateriel %}
                                    <div class="list-group-item-text"><strong>{{ materiel }}</strong></div>
                                {% else %}
                                    <div class="list-group-item-text">Aucun</div>
                                {% endfor %}
                            </div>

                            <div class="list-group-item">
                                <h6 class="list-group-item-heading">Documents :</h6>
                                {% for document in personnage.documents %}
                                    <div class="list-group-item-text"><a
                                                href="{{ path('document.detail', {'document':document.id}) }}"><strong>{{ document.code }}</strong>
                                            - {{ document.titre }}</a></div>
                                {% else %}
                                    <div class="list-group-item-text">Aucun</div>
                                {% endfor %}
                            </div>

                            <div class="list-group-item">
                                <h6 class="list-group-item-heading">Objets :</h6>
                                {% for item in personnage.items %}
                                    <div class="list-group-item-text"><a
                                                href="{{ path('item.detail', {'item':item.id}) }}"><strong>{{ item.numero }}</strong>
                                            - {{ item.label }}</a></div>
                                {% else %}
                                    <div class="list-group-item-text">Aucun</div>
                                {% endfor %}
                            </div>

                            <div class="list-group-item">
                                <h6 class="list-group-item-heading">Ingrédients :</h6>
                                {% for personnageIngredient in personnage.personnageIngredients %}
                                    <div class="list-group-item-text">{{ personnageIngredient.nombre }} {{ personnageIngredient.ingredient }}
                                        - {{ personnageIngredient.ingredient.color }}
                                        : {{ personnageIngredient.ingredient.dose }}
                                        (Niveau {{ personnageIngredient.ingredient.niveau }})
                                    </div>
                                {% else %}
                                    <div class="list-group-item-text">Aucun</div>
                                {% endfor %}
                            </div>

                            <div class="list-group-item">
                                <h6 class="list-group-item-heading">Ressources :</h6>
                                {% for personnageRessource in personnage.personnageRessources %}
                                    <div class="list-group-item-text">{{ personnageRessource.nombre }} {{ personnageRessource.ressource }}</div>
                                {% else %}
                                    <div class="list-group-item-text">Aucune</div>
                                {% endfor %}
                            </div>

                            <div class="list-group-item">
                                <h6 class="list-group-item-heading">Matériel :</h6>
                                {% if personnage.materiel %}
                                    {{ personnage.materiel }}
                                {% else %}
                                    <div class="list-group-item-text">Aucun</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="header">
                    <h5>Background</h5>
                </div>

                {% if isAdmin %}
                    {% include '_partials/dropDown.twig' with {
                        'title' : 'Action',
                        'actions' :
                        [
                            {'path' : path('personnage.admin.add.background', {'personnage': personnage.id}), 'label': 'Ajouter un background' },
                        ]
                    } %}
                {% endif %}

                <div class="panel-body">
                    <div class="list-group">
                        <div class="list-group-item">
                            {# Gestion du background du personnage #}
                            {% if personnage.personnageBackgrounds|length > 0 %}
                                {% for background in personnage.personnageBackgrounds %}
                                    <h6 class="list-group-item-heading">Background ({{ background.gn.label }}) -
                                        <strong>{{ background.visibility }}</strong></h6>
                                    <a href="{{ path('personnage.admin.update.background', {'personnage': personnage.id, 'background': background.id}) }}">Modifier
                                        le background</a>
                                    {{ background.text|markdown_to_html }}
                                {% endfor %}
                            {% else %}
                                <p class="list-group-item-text">
                                    Ce personnage n'a pas de background individuel.
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                {% include 'personnage/fragment/religion.twig' with {'personnage' : personnage} %}
            </div>


        </div>
    </div>



{% endblock body %}
