{% extends "base.html.twig" %}

{% block title %}Debriefings{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('debriefing.list') }}">Liste des debriefings</a></li>
		<li class="active">Suppression du debriefing {{ debriefing.titre }}</li>
	</ol>
	
	<div class="panel panel-danger">
		<div class="panel-heading">
			<span class="glyphicon glyphicon-danger-sign" aria-hidden="true"></span>
			Attention
		</div>
		<div class="panel-body">Vous vous apprétez à supprimer le debriefing <strong>{{ debriefing.titre }}</strong>. Etes-vous certain de ce que vous faites ?</div>
	</div>
	
	<div class="well bs-component">
		{{ form_start(form, {"attr": {"action": path('debriefing.delete', {'debriefing': debriefing.id}) }}) }}
			<fieldset>
				<legend>Suppression du debriefing {{ debriefing.titre }}</legend>
				
				{{ form(form) }}
			</fieldset>
		{{ form_end(form) }}
	</div>


	<div class="well well-sm">
		{{ debriefing.text|markdown_to_html }}
	</div>
{% endblock body %}
