{% extends "base.html.twig" %}

{% block title %}Debriefings{% endblock title %}

{% block body %}

    {% include '_partials/breadcrumb.twig' with {'items' : {1 : {'name' : 'Liste des debriefings'}}} %}

    <div class="well well-sm">

        <div class="header">
            <h5>Liste des debriefings <small>( {{ paginator|length }} debriefings)</small></h5>
        </div>

        {% include '_partials/formListSearch.twig' with
            {
                'canAdd': {'title': 'Ajouter un debriefing', 'path': path('debriefing.add')},
                'actionPath' : path('debriefing.list')
            } 
        %}
    </div>

    {% include '_partials/pagination.html.twig' %}

    <table class="table table-striped table-bordered table-condensed table-hover">
        {% include '_partials/thead.twig' with  { 'route': 'debriefing.list', 'rows': [
            {'name' : 'Id', 'field' : 'id'},
            {'name' : 'Titre', 'field' : 'titre'},
            {'name' : 'GN', 'field' : 'gn'},
            {'name' : 'Groupe', 'field' : 'groupe'},
            {'name' : 'Création', 'field': 'creation_date'},
            {'name' : 'Dernière modification', 'field':'update_date'},
            {'name' : 'Scénariste', 'field': 'user.etat_civil.nom'},
            {'name' : 'Joueur', 'field': 'player_id'},
            {'name' : 'Visibilité'},
            {'name' : 'Document'},
        ]} %}
        <tbody>
        {% for debriefing in paginator %}
            <tr>
                <td><a href="{{ path('debriefing.update', {'debriefing':debriefing.id}) }}">{{ debriefing.id }}</a></td>
                <td>
                    <a href="{{ path('debriefing.detail', {'debriefing':debriefing.id}) }}">{{ debriefing.titre|highlight(pagerService.searchValue) }}</a>
                </td>
                <td>
                    {% if debriefing.gn is null %}
                        Non renseigné
                    {% else %}
                        {{ debriefing.gn.label|highlight(pagerService.searchValue) }}
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('groupe.detail', {'groupe': debriefing.groupe.id}) }}">{{ debriefing.groupe.nom|highlight(pagerService.searchValue) }}</a>
                </td>
                <td>{{ debriefing.creationDate|date('Y-m-d') }}</td>
                <td>{{ debriefing.updateDate|date('Y-m-d') }}</td>
                <td>
                    <a href="{{ path('user.view', {'user': debriefing.user.id}) }}">{{ debriefing.user.displayName|highlight(pagerService.searchValue) }}</a>
                </td>
                <td>
                    {% if debriefing.player is null %}
                        Non renseigné
                    {% else %}
                        <a href="{{ path('user.view', {'user': debriefing.player.id}) }}">{{ debriefing.player.displayName|highlight(pagerService.searchValue) }}</a>
                    {% endif %}
                </td>
                <td>{{ debriefing.visibility }}</td>
                <td>
                    {% if debriefing.documentUrl %}
                        <a class="btn btn-default" data-toggle="tooltip" data-placement="top"
                           title="Télécharger document"
                           href="{{ path('debriefing.document', {'debriefing': debriefing.id}) }}">
                            <i class="fa fa-download"></i>
                        </a>
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include '_partials/pagination.html.twig' %}

{% endblock body %}
