{% extends "base.html.twig" %}

{% block title %}Culture{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('culture.index') }}">Liste des cultures</a></li>
		<li class="active">Détail d'une culture</li>
	</ol>

	<div class="well well-sm bs-component">
		<div class="header">
			<h5>{{ culture.label }}</h5>
		</div>
	</div>

	<div class="well well-sm bs-component">

		<div class="header">
			<h5>Description</h5>
		</div>
		<p>{{ culture.description|markdown_to_html }}</p>

		<div class="header">
			<h5>Description complète</h5>
		</div>
		<p>{{ culture.descriptionComplete|markdown_to_html }}</p>
		
	</div>
	
{% endblock body %}
