{% extends "base.html.twig" %}

{% block title %}Construction{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('culture.index') }}">Liste des cultures</a></li>
		<li class="active">Modification d'une culture</li>
	</ol>
	
	
	<div class="well bs-component">
		{{ form_start(form, {"attr": {"action": path('culture.update', {'culture': culture.id}) }}) }}
			<fieldset>
				<legend>Modification d'une culture</legend>
					
					{{ form(form) }}
			</fieldset>
		{{ form_end(form) }}
	</div>
				
{% endblock body %}