{% extends "base.html.twig" %}

{% block title %}Objets{% endblock title %}

{% block style %}
<style>
.hover_img a { position:relative; }
.hover_img a span { position:absolute; display:none; z-index:99; }
.hover_img a:hover span { display:block; }
table {width: 100%; table-layout: fixed}
td {white-space: normal; text-overflow: ellipsis;}
</style>
{% endblock style %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li class="active">Objets</li>
	</ol>

	<div class="well well-sm">
		<div class="header">
			<h5>Liste des objets <small>( {{ paginator|length }} objets)</small></h5>
		</div>

		<div class="btn-toolbar" role="toolbar" aria-label="...">
			<div class="btn-group" role="group" aria-label="...">
				<a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Fichier CSV" href="{{ path('item.print-csv') }}"><i class="fa fa-file-csv"></i> Fichier CSV</a>
				<a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Imprimer les photos" href="{{ path('item.print-photo') }}"><i class="fa fa-print"></i> Imprimer les photos</a>
				<a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Imprimer les etiquettes" href="{{ path('item.print-all') }}"><i class="fa fa-print"></i> Imprimer les étiquettes</a>
			</div>
		</div>
	</div>

	{% include '_partials/pagination.html.twig' %}
	
	<table class="table table-condensed table-striped table-bordered">
		<thead>
			<tr>
				<th>Numéro</th>
				<th>Qualité et identification</th>
				<th>Label</th>
				<th>Photo</th>
				<th>Quantité</th>
				<th>Description</th>
				<th>Spécial</th>
				<th>Groupe</th>
				<th>Personnage</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
		{% for item in paginator%}
			<tr>
				<td>{{ item.numero }}</td>
				<td>{{ item.quality.numero }}{{ item.identification }}</td>
				<td>{{ item.label }}</td>
				<td>
					<div class="hover_img">
						<a href="{{ path('stockObjet.photo', {'objet': item.objet.id }) }}" target="_blank" rel="noopener noreferrer">Show Image<span>
								<img src="{{ path('stockObjet.photo', {'objet': item.objet.id, 'miniature': true}) }}" width="200px" />
								</span>
						</a>
					</div>

				</td>
				<td>{{ item.quantite }}</td>
				<td>{{ item.description|markdown_to_html }}</td>
				<td>{{ item.special|markdown_to_html }}</td>
				<td>
					{% for groupe in item.groupes %}
						<a href="{{ path('groupe.detail', {'groupe':groupe.id}) }}">{{ groupe }}</a><br />
					{% endfor %}
				</td>
				<td>
					{% for personnage in item.personnages %}
						<a href="{{ path('personnage.admin.detail', {'personnage':personnage.id}) }}">{{ personnage }}</a><br />
					{% endfor %}
				</td>
				<td>
					<div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
						<div class="btn-group" role="group" aria-label="...">
							<a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Imprimer" href="{{ path('item.print', {'item': item.id}) }}"><i class="fa fa-print"></i></a>
							<a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Détail" href="{{ path('item.detail',{'item':item.id}) }}"><i class="fa fa-eye"></i></a>
							<a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Modifier" href="{{ path('item.update',{'item':item.id}) }}"><i class="fa fa-pencil"></i></a>
							<a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Supprimer" href="{{ path('item.delete',{'item':item.id}) }}"><i class="fa fa-eraser"></i></a>
						</div>
					</div>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

	{% include '_partials/pagination.html.twig' %}
	
{% endblock body %}
