{% if add != false %}
    <div class="btn-toolbar mb-3 d-flex justify-content-end" role="toolbar" aria-label="...">
        <a href="{{ path('stockObjet.add') }}" class="btn btn-secondary">
            <i class="fa fa-plus"></i> Ajouter un objet
        </a>
    </div>
{% endif %}
<ul class="list-group">
    {% for objet in objets %}
        <li class="list-group-item list-group-item-action">
            <div class="d-flex justify-content-between">
                <h4 class="list-group-item-heading fw-semibold">
                    {{ objet.code }}
                </h4>

                <div class="pull-right btn-group" role="group" aria-label="...">
                    <a href="{{ path('stockObjet.detail', {'objet': objet.id}) }}" class="btn btn-secondary"
                       role="button"><i class="fa fa-eye"></i> Voir</a>
                    <a href="{{ path('stockObjet.update', {'objet': objet.id}) }}" class="btn btn-secondary"
                       role="button"><i class="fa fa-edit"></i> Modifier</a>
                    <a href="{{ path('stockObjet.clone', {'objet': objet.id}) }}" class="btn btn-secondary"
                       role="button"><i class="fa fa-clone"></i> Cloner</a>
                </div>
            </div>

            <div class="list-group-item-text">
                <h6 class="fw-semibold">{{ objet.nom }} :</h6>
                <p><small>{{ objet.description }}</small></p>
                <div class="list-group-item-text">
                    <small>Créé le {{ objet.creationDate|date('Y-m-d H:i:s') }}</small>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>
