{% extends "base.html.twig" %}

{% block title %}Debriefing{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('debriefing.list') }}">Liste des debriefing</a></li>
		<li class="active">Modification d'un debriefing</li>
	</ol>

	<div class="well bs-component">	
		{{ form_start(form, {"attr": {"action": path('debriefing.update', {'debriefing': debriefing.id}) }}" method="POST" {{ form_enctype(form) }}  novalidate>
			<fieldset>
				<legend>Modification d'un debriefing</legend>
				
	
				{{ form(form) }}
			</fieldset>
		{{ form_end(form) }}
	</div>
	
{% endblock body %}