{% extends "base.html.twig" %}

{% block title %}Sorts{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('magie.domaine.list') }}">Liste des sorts</a></li>
		<li class="active">Supprimer un sort</li>
	</ol>
	
	
	<div class="well bs-component">
		{{ form_start(form, {"attr": {"action": path('magie.sort.delete', {'sort': sort.id}) }}) }}
			<fieldset>
				<legend>Supression d'un sort</legend>
					{{ sort.label }} -- {{ sort.niveau }}
					{{ sort.description|markdown_to_html }}
					
					{{ form(form) }}
			</fieldset>
		{{ form_end(form) }}
	</div>
				
{% endblock body %}
