{% extends "base.html.twig" %}

{% block title %}Magie{% endblock title %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Accueil</a></li>
        <li><a href="{{ path('gn.detail', {'gn' : participant.gn.id}) }}">{{ participant.gn.label }}</a></li>
        <li><a href="{{ path('gn.personnage', {'gn': participant.gn.id}) }}">{{ participant.personnage.nom }}</a></li>
        <li class="active">La magie</li>
    </ol>

    <div class="row">
        <div class="col-sm-12">
            {% include 'personnage/fragment/coutSorts.twig' %}

            {% include 'personnage/fragment/domainesCatalogue.twig' %}
        </div>
    </div> <!-- end row -->

{% endblock body %}
