{% extends "base.html.twig" %}

{% block title %}Economie{% endblock title %}

{% block body %}

	{% include '_partials/breadcrumb.twig' with {'items' : [{'name' : 'Economie'}]} %}

	<div class="well well-sm">
		<div class="header">
			<h5>Economie <small>({{ gn.label }})</small></h5>
		</div>

		<div class="btn-toolbar" role="toolbar" aria-label="...">
			<div class="btn-group" role="group" aria-label="...">
				<a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Export CSV" href="{{ path('economie.csv') }}"><i class="fa fa-file-csv"></i> Fichier CSV</a>
			</div>
		</div>
	</div>
	
	<div class="well well-sm">
		<div class="header">
			<h5>Masse monétaire</h5>
		</div>
		
		Prévue au début du jeu : <strong>{{ masseMonetaire }} PA</strong>
	</div>

	<div class="well well-sm">
		<div class="header">
			<h5>Ressources disponibles</h5>
		</div>
		
		<ul>
		{% for ressource in ressources %}
			<li>
				<strong>{{ ressource.label }}</strong> : {{ ressource.nombre }}
				<p style="text-indent:20px;">
					{% for territoire in ressource.territoires %}
						<a href="{{ path('territoire.detail', {'territoire': territoire.id}) }}">{{ territoire.nom }}</a>,
					{% endfor %}
				</p>
			</li>
		{% endfor %}
		</ul>
	</div>

	<div class="well well-sm">
		<div class="header">
			<h5>Ingrédients disponibles</h5>
		</div>
				
		<ul>
		{% for ingredient in ingredients %}
			<li>
				<strong>{{ ingredient.label }}</strong> : {{ ingredient.nombre }}
				<p style="text-indent:20px;">
					{% for territoire in ingredient.territoires %}
						<a href="{{ path('territoire.detail', {'territoire': territoire.id}) }}">{{ territoire.nom }}</a>,
					{% endfor %}
				</p>
			</li>
		{% endfor %}
		</ul>
	</div>

	<div class="well well-sm">
		<div class="header">
			<h5>Constructions</h5>
		</div>
		
		<ul>
		{% for construction in constructions %}
			<li>
				<strong>{{ construction.label }}</strong> : {{ construction.nombre }}
				<p style="text-indent:20px;">
					{% for territoire in construction.territoires %}
						<a href="{{ path('territoire.detail', {'territoire': territoire.id}) }}">{{ territoire.nom }}</a>,
					{% endfor %}
				</p>
			</li>
		{% endfor %}
		</ul>
	</div>
	
{% endblock body %}
