{% extends "base.html.twig" %}

{% block title %}Jetons{% endblock title %}

{% block body %}

    {% include '_partials/breadcrumb.twig' with {'items' : [{'name' : 'Liste des jetons'}]} %}

    {% include '_partials/cardNotif.twig' with {
        'type' : 'info',
        'title' : "Qu'est-ce qu'un jeton ?",
        'content' : "Un jeton correspond à des éléments de jeu qu'un personnage peux posséder. Par exemple, après
        chaque GN tous les personnages collectent un jeton de vieillesse. Cela permet de déterminer l'age des
        personnages. D'autres usages peuvent être envisagés."
    } %}

    <div class="well well-sm">

        <div class="header">
            <h5>Liste des jetons <small>({{ paginator|length }} types)</small></h5>
        </div>

        {% include '_partials/formListSearch.twig' with {
            'canAdd': {'title': 'Ajouter un jeton', 'path': path('token.add')},
            'actionPath' : path('token.list'),
            'buttons' : [
                {'title': "Voir pour faire vieillir les personnages", 'route': path('personnage.vieillir'), 'icon': 'fa fa-users'},
                {'title': "Imprimer la liste", 'route': path('token.print'), 'icon': 'fa-print', 'target':'_blank'},
                {'title': "Télécharger la liste (CSV)", 'route': path('token.download'), 'icon': 'fa-download'}
            ]
        } %}
    </div>

    {% include '_partials/pagination.html.twig' %}
    <table class="table table-striped table-bordered table-condensed table-hover">
        {% include '_partials/thead.twig' with  { 'route': 'level.list', 'rows': [
            {'name' : 'Id', 'field' : 'id'},
            {'name' : 'Libellé', 'field' : 'label'},
            {'name' : 'Jeton', 'field' : 'tag'},
            {'name' : 'Description', 'field' : 'description'},
            {'name' : 'Actions'},
        ]} %}
        <tbody>
        {% for token in paginator %}
            <tr>
                <td><a href="{{ path('token.detail', {'token':token.id}) }}">{{ token.id }}</a></td>
                <td>{{ token.label|highlight(pagerService.searchValue) }}</td>
                <td>{{ token.tag|highlight(pagerService.searchValue) }}</td>
                <td>{{ token.description|markdown_to_html|highlight(pagerService.searchValue) }}</td>
                <td>
                    <div class="btn-toolbar d-flex justify-content-center" role="toolbar">
                        <div class="btn-group" role="group">
                            <a class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Modifier"
                               href="{{ path('token.update',{'token':token.id}) }}"><i class="fa fa-pencil"></i></a>
                            <a class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Détail"
                               href="{{ path('token.detail',{'token':token.id}) }}"><i class="fa fa-eye"></i></a>
                            <a class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Supprimer"
                               href="{{ path('token.delete',{'token':token.id}) }}"><i class="fa fa-eraser"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include '_partials/pagination.html.twig' %}


{% endblock body %}
