{% extends "base.html.twig" %}

{% block title %}Jetons{% endblock title %}

{% block body %}

    {% include '_partials/breadcrumb.twig' with {'items' : [{'name' : 'Liste des jetons'}]} %}

    {% include '_partials/cardNotif.twig' with {
        'type' : 'info',
        'title' : "Qu'est-ce qu'un jeton ?",
        'content' : "Un jeton correspond à des éléments de jeu qu'un personnage peux posséder. Par exemple, après
        chaque GN tous les personnages collectent un jeton de vieillesse. Cela permet de déterminer l'age des
        personnages. D'autres usages peuvent être envisagés."
    } %}

    <div class="well well-sm">

        <div class="header">
            <h5>Liste des jetons <small>({{ paginator|length }} types)</small></h5>
        </div>

        {% include '_partials/formListSearch.twig' with {
            'canAdd': {'title': 'Ajouter un jeton', 'path': path('token.add')},
            'actionPath' : path('token.list')
        } %}

        <div class="btn-toolbar" role="toolbar" aria-label="...">
            <div class="btn-group" role="group" aria-label="...">
                <a class="btn btn-default" data-toggle="tooltip" data-placement="top"
                   title="Faire vieillir les personnages"
                   href="{{ path('personnage.vieillir') }}"><i class="fa fa-users"></i></a>
                <a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Imprimer la liste"
                   href="{{ path('token.print') }}"><i class="fa fa-print"></i></a>
                <a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Télécharger la liste (CSV)"
                   href="{{ path('token.download') }}"><i class="fa fa-download"></i></a>
            </div>
        </div>

        <div class="list-group">
            {% for token in paginator %}

                <div class="list-group-item">
                    <div class="list-group-item-heading">
                        <div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
                            <div class="btn-group" role="group" aria-label="...">
                                <a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Modifier"
                                   href="{{ path('token.update',{'token':token.id}) }}"><i class="fa fa-pencil"></i></a>
                                <a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Détail"
                                   href="{{ path('token.detail',{'token':token.id}) }}"><i class="fa fa-eye"></i></a>
                                <a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Supprimer"
                                   href="{{ path('token.delete',{'token':token.id}) }}"><i class="fa fa-eraser"></i></a>
                            </div>
                        </div>
                        <h5>#{{ token.id }} {{ token.label }} -- {{ token.tag }}</h5>
                    </div>
                    <div class="list-group-item-text">{{ token.description|markdown_to_html }}</div>
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock body %}
