{% extends "base.html.twig" %}

{% block title %}Jetons{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('token.list') }}">Liste des jetons</a></li>
		<li class="active">Modifier le jeton {{ token.label }}</li>
	</ol>
		
	<div class="well bs-component">
		{{ form_start(form, {"attr": {"action": path('token.update', {'token': token.id}) }}" method="POST" {{ form_enctype(form) }}  novalidate>
			<fieldset>
				<legend>Modification du jeton {{ token.label }}</legend>
				
				{{ form(form) }}
			</fieldset>
		{{ form_end(form) }}
	</div>

{% endblock body %}