{% extends "base.html.twig" %}

{% block title %}Personnages{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('personnage.list') }}">Liste des personnages</a></li>
		<li><a href="{{ path('personnage.detail', {'personnage': personnage.id}) }}">Détail de {{ personnage.publicName }}</a></li>
		<li class="active">Ajout d'un déclencheur</li>
	</ol>

	<div class="well bs-component">	
		{{ form_start(form, {"attr": {"action": path('personnage.trigger.add', {'personnage': personnage.id}) }}) }}
			<fieldset>
				<legend>Ajout d'un déclencheur lié a {{ personnage.publicName }}</legend>
				
				<ul>
					<li><strong>ALCHIMIE APPRENTI</strong> : permet de choisir une nouvelle potion de niveau Apprenti</li>
					<li><strong>ALCHIMIE INITIE</strong> : permet de choisir une nouvelle potion de niveau Initié</li>
					<li><strong>ALCHIMIE EXPERT</strong> : permet de choisir une nouvelle potion de niveau Expert</li>
					<li><strong>ALCHIMIE MAITRE</strong> : permet de choisir une nouvelle potion de niveau Maître</li>
					<li><strong>MAGIE APPRENTI</strong> : permet de choisir un domaine de magie</li>
					<li><strong>MAGIE EXPERT</strong> : permet de choisir un domaine de magie</li>
					<li><strong>SORT APPRENTI</strong> : permet de choisir un sort de niveau Apprenti</li>
					<li><strong>SORT INITIE</strong> : permet de choisir un sort de niveau Initié</li>
					<li><strong>SORT EXPERT</strong> : permet de choisir un sort de niveau Expert</li>
					<li><strong>SORT MAITRE</strong> : permet de choisir un sort de niveau Maître</li>										
					<li><strong>LITTERATURE INITIE</strong> : permet de choisir trois langues supplémentaires sauf parmis les anciennes</li>
					<li><strong>LITTERATURE EXPERT</strong> : permet de choisir trois langues supplémentaires dont 1 ancienne</li>
					<li><strong>PRETRISE INITIE</strong> : permet de choisir trois descriptifs de religion</li>
					<li><strong>TECHNOLOGIE</strong> : permet de choisir une technologie</li>
				</ul>
				{{ form(form) }}
			</fieldset>
		{{ form_end(form) }}
	</div>
	
{% endblock body %}
