{% extends "base.html.twig" %}

{% block title %}Personnages{% endblock title %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Accueil</a></li>
        <li><a href="{{ path('personnage.list') }}">Liste des personnages</a></li>
        <li><a href="{{ path('personnage.detail', {'personnage': personnage.id}) }}">Détail
                de {{ personnage.publicName }}</a></li>
        <li class="active">Ajout d'un déclencheur</li>
    </ol>

    <div class="well well-sm bs-component">
        <div class="header">
            <h5>Ajout d'un déclencheur</h5>
        </div>

        <ul class="list-group">
            <li class="list-group-item"><strong>ALCHIMIE APPRENTI</strong> : permet de choisir une nouvelle recette de
                potion de niveau Apprenti
            </li>
            <li class="list-group-item"><strong>ALCHIMIE INITIE</strong> : permet de choisir une nouvelle recette de
                potion de niveau Initié
            </li>
            <li class="list-group-item"><strong>ALCHIMIE EXPERT</strong> : permet de choisir une nouvelle recette de
                potion de niveau Expert
            </li>
            <li class="list-group-item"><strong>ALCHIMIE MAITRE</strong> : permet de choisir une nouvelle recette de
                potion de niveau Maître
            </li>
            <li class="list-group-item"><strong>MAGIE APPRENTI</strong> : permet de choisir un domaine de magie</li>
            <li class="list-group-item"><strong>MAGIE EXPERT</strong> : permet de choisir un domaine de magie</li>
            <li class="list-group-item"><strong>SORT APPRENTI</strong> : permet de choisir un sort de niveau Apprenti
            </li>
            <li class="list-group-item"><strong>SORT INITIE</strong> : permet de choisir un sort de niveau Initié</li>
            <li class="list-group-item"><strong>SORT EXPERT</strong> : permet de choisir un sort de niveau Expert</li>
            <li class="list-group-item"><strong>SORT MAITRE</strong> : permet de choisir un sort de niveau Maître</li>
            <li class="list-group-item"><strong>LITTERATURE INITIE</strong> : permet de choisir trois langues
                supplémentaires sauf parmis les anciennes
            </li>
            <li class="list-group-item"><strong>LITTERATURE EXPERT</strong> : permet de choisir trois langues
                supplémentaires dont 1 ancienne
            </li>
            <li class="list-group-item"><strong>PRETRISE INITIE</strong> : permet de choisir trois descriptifs de
                religion
            </li>
            <li class="list-group-item"><strong>TECHNOLOGIE</strong> : permet de choisir une technologie</li>
        </ul>

        <div class="mt-2">
            {{ form(form) }}
        </div>
    </div>

{% endblock body %}
