{% extends "base.html.twig" %}

{% block title %}Personnages{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('personnage.admin.list') }}">Liste des personnages</a></li>
		<li><a href="{{ path('personnage.admin.detail', {'personnage': personnage.id}) }}">Détail de {{ personnage.publicName }}</a></li>
		<li class="active">Supression du personnage</li>
	</ol>

	<div class="well bs-component">	
		{{ form_start(form, {"attr": {"action": path('personnage.admin.delete', {'personnage': personnage.id}) }}) }}
			<fieldset>
				<legend>Supression du personnage {{ personnage.publicName }}</legend>
				
				<p class="text-danger">
					<span class="fa-stack fa-lg">
						<i class="fa fa-square-o fa-stack-2x"></i>
						<i class="fa fa-exclamation fa-stack-1x"></i>
					</span>
					Attention, vous vous appretez à supprimer définitivement un personnage</p>
				{{ form(form) }}
			</fieldset>
		{{ form_end(form) }}
	</div>
	
{% endblock body %}