{% extends "base.html.twig" %}

{% block title %}Personnages{% endblock title %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Accueil</a></li>
        <li><a href="{{ path('personnage.list') }}">Liste des personnages</a></li>
        <li><a href="{{ path('personnage.detail', {'personnage': personnage.id}) }}">Détail
                de {{ personnage.publicName }}</a></li>
        <li class="active">Supression d'un déclencheur</li>
    </ol>

    <div class="well bs-component">
        {{ form_start(form, {"attr": {"action": path('personnage.trigger.delete', {'personnage': personnage.id, 'trigger': trigger.id}) }}) }}
        <fieldset>
            <legend>Supression du déclencheur {{ trigger.tag.value|default('-') }} lié
                a {{ personnage.publicName }}</legend>

            <p class="text-danger">
					<span class="fa-stack fa-lg">
						<i class="fa fa-square-o fa-stack-2x"></i>
						<i class="fa fa-exclamation fa-stack-1x"></i>
					</span>
                Attention, vous vous appretez à supprimer définitivement un déclencheur. Le joueur ne pourra plus
                l'utiliser</p>
            {{ form(form) }}
        </fieldset>
        {{ form_end(form) }}
    </div>

{% endblock body %}
