{% extends "base.html.twig" %}

{% block title %}{{ personnage.publicName }}{% endblock title %}

{% block body %}

    <div class="container-fluid">

        {% include '_partials/breadcrumb.twig' with {'items' :
            [
                {'name' : participant.gn.label, 'route': path('gn.detail', {'gn' : participant.gn.id}) },
                {'name' : participant.personnage.nom, 'route': path('gn.personnage', {'gn' : participant.gn.id}) },
                {'name' : "Choix d'un domaine de magie" }
            ]
        } %}

        <div class="well bs-component">
            <div class="header">
                <h5>Choix d'un domaine de magie</h5>
            </div>

            {% include '_partials/cardNotif.twig' with {'type' : 'info', 'content' : "Votre compétence vous permet de choisir un domaine de magie."} %}

            {{ form(form) }}
        </div>

        <div class="well well-sm">
            <div class="header">
                <h5>Coût de lancement des sorts</h5>
            </div>
            <table class="table table-condensed table-bordered">
                <thead>
                <tr>
                    <th>Niveau du sort</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Coût en Perles dans le domaine du mage</th>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                </tr>
                <tr>
                    <th>Coût en Perles en dehors du domaine du mage</th>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                </tr>
                </tbody>
            </table>

            <p>Exemple : Un sort de niveau 2 coutera 3 Perles au mage connaissant le domaine de magie du sort, et 4
                Perles au mage ne connaissant pas le domaine de magie.</p>
        </div>

        {% for domaine in domaines %}

            <div class="well well-sm">
                <div class="header">
                    <h5>{{ domaine.label }}</h5>
                </div>
                <p>{{ domaine.description|markdown_to_html }}</p>
                <div class="list-group">
                    {% for sort in domaine.sorts %}
                        {% if sort.niveau <= personnage.competenceNiveau('Magie') %}
                            <div class="list-group-item">
                                <div class="list-group-item-heading">{{ sort.label }} - Niveau {{ sort.niveau }}</div>
                                <div class="list-group-item-text">{{ sort.description|markdown_to_html }}</div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock body %}
