{% extends "base.html.twig" %}

{% block title %}Votre personnage{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Page d'accueil</a></li>
		<li><a href="{{ path('gn.detail', {'gn' : participant.gn.id}) }}">{{ participant.gn.label }}</a></li>
		<li><a href="{{ path('gn.personnage', {'gn': participant.gn.id}) }}">{{ participant.personnage.nom }}</a></li>
		<li class="active">Modification</li>
	</ol>
	
	<div class="well bs-component">
		{{ form_start(form, {"attr": {"action": path('participant.personnage.edit', {'participant': participant.id}) }}) }}
			<fieldset>
				
				{{ form(form) }}
			</fieldset>
		{{ form_end(form) }}
	</div>
	
{% endblock body %}