{% extends "base.html.twig" %}

{% block title %}{{ personnage.publicName }}{% endblock title %}

{% block body %}

    {% include 'personnage/fragment/breadcrumb.twig' with {'name': "Matériel pour #{personnage.publicName}"} %}

    <div class="well well-sm bs-component">
        {{ form_start(form, {attr: {'novalidate': 'novalidate'}}) }}
        <div class="header">
            <h5>{{ form_label(form.materiel) }}</h5>
        </div>
        {{ form_widget(form.materiel) }}

        {{ form_end(form) }}
    </div>


{% endblock body %}
