{% extends "base.html.twig" %}

{% block title %}{{ personnage.publicName }}{% endblock title %}

{% block body %}


	{% include '_partials/breadcrumb.twig' with {'items' :
		[
			{'route' : path('gn.detail', {'gn':  participant.gn.id}), 'name' : participant.gn.label},
			{'route' : path('personnage.detail', {'personnage':  participant.personnage.id}), 'name' : participant.personnage.nom},
			{'name' : "Choix d'une nouvelle potion"}
		]
	} %}

	<div class="header">
		<h5>Choix d'une nouvelle potion</h5>
	</div>

	<div class="well bs-component">

		{% include '_partials/cardNotif.twig' with {'type' : 'info', 'content' : "Votre compétence vous permet de choisir une nouvelle potion. Le descriptif des potions disponibles est visible en bas de page."} %}

			{{ form(form) }}
	</div>
		
	{% for potion in potions %}
		<div class="well well-sm">
			<div class="header">
				<h5>{{ potion.label }} - Niveau {{ potion.niveau }}</h5>
			</div>
			<p>{{ potion.description|markdown_to_html }}</p>
		</div>
	{% endfor %}


{% endblock body %}
