{% extends "layout.twig" %}

{% block title %}{{ personnage.publicName }}{% endblock title %}

{% block content %}

    <div class="container-fluid">

        <ol class="breadcrumb">
            <li><a href="{{ path('homepage') }}">Accueil</a></li>
            <li><a href="{{ path('personnage') }}">Votre personnage</a></li>
            <li class="active">Choix d'une nouvelle prière</li>
        </ol>

        <div class="well bs-component">
            <div>Votre compétence vous permet de choisir une nouvelle priere. Le descriptif des prieres disponibles est
                visible en bas de page.
            </div>
            {{ form(form) }}

        </div>

        {% for priere in prieres %}

            <div class="well well-sm">
                <div class="header">
                    <h5>{{ priere.domaine }} - Niveau {{ priere.niveau }}</h5>
                    <h5>{{ priere.label }}</h5>
                </div>
                <p>{{ priere.description|markdown_to_html }}</p>
            </div>
        {% endfor %}
    </div>

{% endblock content %}
