{% extends "base.html.twig" %}

{% block title %}Personnages{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('personnage.admin.list') }}">Liste des personnages</a></li>
		<li><a href="{{ path('personnage.admin.detail', {'personnage': personnage.id}) }}">Détail de {{ personnage.publicName }}</a></li>
		<li class="active">Retrait d'une compétence</li>
	</ol>

	<div class="well bs-component">	
		{{ form_start(form, {"attr": {"action": path('personnage.admin.delete.competence', {'personnage': personnage.id}) }}) }}
			<fieldset>
				<legend>Retrait d'une compétence</legend>
				
				Attention, vous vous appretez à retirer la compétence <b>{{ competence.label }}</b>
				{{ form(form) }}
			</fieldset>
		{{ form_end(form) }}
	</div>
	
{% endblock body %}