{% extends "base.html.twig" %}

{% block title %}{{ personnage.publicName }}, liste de prières{% endblock title %}

{% block body %}


    {% include 'personnage/fragment/breadcrumb.twig' with {'name': "Modification de #{personnage.publicName}"} %}

    <div class="well bs-component">

        <div class="header">
            <h5>Choix des prières</h5>
        </div>

        {% include '_partials/formListSearch.twig' with {'actionPath' : path('personnage.admin.update.priere', {'personnage': personnage.id})} %}

    </div>

    {% include '_partials/pagination.html.twig' %}

    <table class="table table-condensed table-striped table-bordered table-hover">
        {% include '_partials/thead.twig' with  { 'route': 'personnage.admin.update.priere', 'routeOptions': {'personnage': personnage.id}, 'rows': [
            {'name' : 'Nom', 'field' : 'label', 'css' : 'text-center'},
            {'name' : 'Niveau', 'field' : 'niveau', 'css' : 'text-center'},
            {'name' : 'Sphere', 'field' : 'sphere.label', 'css' : 'text-center'},
            {'name' : 'Description', 'css' : 'text-center'},
            {'name' : 'Actions', 'css' : 'text-center'},
        ]} %}
        <tbody>
        {% for priere in paginator %}
            <tr>
                <td>{{ priere.label|highlight(pagerService.searchValue) }}</td>
                <td class="text-center">{{ priere.niveau|highlight(pagerService.searchValue) }}</td>
                <td>{{ priere.sphere.label|highlight(pagerService.searchValue) }}</td>
                <td>{{ priere.description|markdown_to_html|highlight(pagerService.searchValue) }}</td>
                <td  class="text-center">{% if personnage in priere.personnages %}
                        <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                           title="Retirer cette priere"
                           href="{{ path('personnage.admin.priere.delete',{'personnage':personnage.id, 'priere':priere.id}) }}">
                            <i class="fa fa-minus text-danger"></i>
                        </a>
                    {% else %}
                        <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                           title="Ajouter cette prière"
                           href="{{ path('personnage.admin.add.priere',{'personnage':personnage.id, 'priere':priere.id}) }}">
                            <i class="fa fa-plus text-info"></i>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock body %}
