{% extends "base.html.twig" %}

{% block title %}{{ personnage.publicName }}{% endblock title %}

{% block body %}

    {% include 'personnage/fragment/breadcrumb.twig' with {'name': "Modification de #{personnage.publicName}"} %}

    <div class="well bs-component">
        <div class="header">
            <h5>Choix des technologies</h5>
        </div>
        {% if errorLevel != 1 %}
            {% include '_partials/formListSearch.twig' with {'actionPath' : path('personnage.update.technologie', {'personnage': personnage.id})} %}
        {% endif %}
    </div>

    {% include '_partials/pagination.html.twig' %}

    {% if message %}
        {% include '_partials/cardNotif.twig' with {'type' : 'warning', 'content' : message} %}
    {% endif %}

    {% if errorLevel != 1 %}
        <table class="table table-condensed table-striped table-bordered table-hover">
            {% include '_partials/thead.twig' with  { 'route': 'personnage.update.technologie', 'routeOptions': {'personnage': personnage.id}, 'rows': [
                {'name' : 'Nom', 'field' : 'label', 'css' : 'text-center'},
                {'name' : 'Secret', 'field' : 'secret', 'css' : 'text-center'},
                {'name' : 'Compétence', 'field' : 'competenceFamily.label', 'css' : 'text-center'},
                {'name' : 'Description', 'css' : 'text-center'},
                {'name' : 'Actions', 'css' : 'text-center'},
            ]} %}
            <tbody>
            {% for technologie in paginator %}
                {# n'affiche que les technologies accessibles au personnage #}
                {# if technologie.competenceFamily.id in competenceFamilies and technologie.competenceFamily.id in competencesExpert #}
                {% set hasTechnologie = personnage in technologie.personnages %}
                {% if errorLevel != 2 or (errorLevel == 2 and hasTechnologie) %}
                    <tr>
                        <td class="text-center">{{ technologie.label|highlight(pagerService.searchValue) }}</td>
                        <td class="text-center">
                            {% if technologie.secret %}
                                <i class="fa fa-user-secret text-warning" data-toggle="tooltip" data-placement="top"
                                   title="Secret"></i>
                            {% else %}
                                Non
                            {% endif %}
                        </td>
                        <td>{{ technologie.competenceFamily.label|highlight(pagerService.searchValue) }}</td>
                        <td>{{ technologie.description|markdown_to_html|highlight(pagerService.searchValue) }}</td>
                        <td class="text-center">
                            {% if hasTechnologie %}
                                <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                                   title="Retirer cette technologie"
                                   href="{{ path('personnage.delete.technologie',{'personnage':personnage.id, 'technologie':technologie.id}) }}">
                                    <i class="fa fa-minus text-danger"></i></a>
                            {% else %}
                                <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                                   title="Ajouter cette technologie"
                                   href="{{ path('personnage.add.technologie',{'personnage':personnage.id, 'technologie':technologie.id}) }}">
                                    <i class="fa fa-plus text-info"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% else %}
                {% include '_partials/noResultTableRow.twig' %}
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% include '_partials/pagination.html.twig' %}

{% endblock body %}
