{% extends "base.html.twig" %}

{% block title %}{{ personnage.publicName }}{% endblock title %}

{% block body %}
<div class="container-fluid">

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('personnage.admin.list') }}">Liste des personnages</a></li>
		<li><a href="{{ path('personnage.admin.detail', {'personnage': personnage.id}) }}">Détail de {{ personnage.publicName }}</a></li>
		<li class="active">Choix des langues</li>
	</ol>
	
	<div class="well bs-component">
		{{ form_start(form, {"attr": {"action": path('personnage.admin.update.langue',{'personnage':personnage.id}) }}) }}
			<fieldset>
				<legend>Choix des langues</legend>
				
	
				{{ form_row(form.langues) }}
				{{ form_rest(form) }}
			</fieldset>
		{{ form_end(form) }}
	</div>
{% endblock body %}