{% extends "base.html.twig" %}

{% block title %}{{ personnage.publicName }} liste de sorts{% endblock title %}

{% block body %}
    {% include 'personnage/fragment/breadcrumb.twig' with {'name': "Modification de #{personnage.publicName}"} %}

    <div class="well bs-component">
        <div class="header">
            <h5>Choix des sortilèges</h5>
        </div>

        {% include '_partials/formListSearch.twig' with {'actionPath' : path('personnage.update.sort', {'personnage': personnage.id})} %}
    </div>

    {% include '_partials/pagination.html.twig' %}


    <table class="table table-condensed table-striped table-bordered table-hover">
        {% include '_partials/thead.twig' with  { 'route': 'personnage.update.sort', 'routeOptions': {'personnage': personnage.id}, 'rows': [
            {'name' : 'Nom', 'field' : 'label', 'css' : 'text-center'},
            {'name' : 'Niveau', 'field' : 'niveau', 'css' : 'text-center'},
            {'name' : 'Secret', 'field' : 'secret', 'css' : 'text-center'},
            {'name' : 'Domaine', 'field' : 'domaine.label', 'css' : 'text-center'},
            {'name' : 'Description', 'css' : 'text-center'},
            {'name' : 'Actions', 'css' : 'text-center'},
        ]} %}
        <tbody>
        {% for sort in paginator %}
            <tr>
                <td class="text-center">{{ sort.label|highlight(pagerService.searchValue) }}</td>
                <td class="text-center">{{ sort.niveau|highlight(pagerService.searchValue) }}</td>
                <td class="text-center">
                    {% if sort.secret %}
                        <i class="fa fa-user-secret text-warning" data-toggle="tooltip" data-placement="top"
                           title="Secret"></i>
                    {% else %}
                        Non
                    {% endif %}
                </td>
                <td>{{ sort.domaine.label|highlight(pagerService.searchValue) }}</td>
                <td>{{ sort.description|markdown_to_html|highlight(pagerService.searchValue) }}</td>
                <td class="text-center">
                    {% if personnage in sort.personnages %}
                        <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                           title="Retirer ce sort"
                           href="{{ path('personnage.delete.sort',{'personnage':personnage.id, 'sort':sort.id}) }}">
                            <i class="fa fa-minus text-danger"></i></a>
                    {% else %}
                        <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                           title="Ajouter ce sort"
                           href="{{ path('personnage.add.sort',{'personnage':personnage.id, 'sort':sort.id}) }}">
                            <i class="fa fa-plus text-info"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock body %}
