{% extends "base.html.twig" %}

{% block title %}{{ personnage.publicName }}{% endblock title %}

{% block body %}

    {% include 'personnage/fragment/breadcrumb.twig' with {'name': "Modification de #{personnage.publicName}"} %}

    <div class="well bs-component">

        <div class="header">
            <h5>Choix des potions</h5>
        </div>

        {% include '_partials/formListSearch.twig' with {'actionPath' : path('personnage.admin.update.potion', {'personnage': personnage.id})} %}
    </div>

    {% include '_partials/pagination.html.twig' %}

    <table class="table table-condensed table-striped table-bordered table-hover">
        {% include '_partials/thead.twig' with  { 'route': 'personnage.admin.update.potion', 'routeOptions': {'personnage': personnage.id}, 'rows': [
            {'name' : 'Numero', 'field' : 'numero', 'css' : 'text-center'},
            {'name' : 'Nom', 'field' : 'label', 'css' : 'text-center'},
            {'name' : 'Niveau', 'field' : 'niveau', 'css' : 'text-center'},
            {'name' : 'Secret', 'field' : 'secret', 'css' : 'text-center'},
            {'name' : 'Description', 'css' : 'text-center'},
            {'name' : 'Actions', 'css' : 'text-center'},
        ]} %}
        <tbody>
        {% for potion in paginator %}
            <tr>
                <td class="text-center">{{ potion.numero|highlight(pagerService.searchValue) }}</td>
                <td class="text-center">{{ potion.label|highlight(pagerService.searchValue) }}</td>
                <td class="text-center">{{ potion.niveau|highlight(pagerService.searchValue) }}</td>
                <td class="text-center">
                    {% if potion.secret %}
                        <i class="fa fa-user-secret text-warning" data-toggle="tooltip" data-placement="top"
                           title="Secret"></i>
                    {% else %}
                        Non
                    {% endif %}
                </td>
                <td>{{ potion.description|markdown_to_html|highlight(pagerService.searchValue) }}</td>
                <td class="text-center">{% if personnage in potion.personnages %}
                        <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                           title="Retirer cette potion"
                           href="{{ path('personnage.admin.delete.potion',{'personnage':personnage.id, 'potion':potion.id}) }}">
                            <i class="fa fa-minus text-danger"></i></a>
                    {% else %}
                        <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                           title="Ajouter cette potion"
                           href="{{ path('personnage.admin.add.potion',{'personnage':personnage.id, 'potion':potion.id}) }}">
                            <i class="fa fa-plus text-info"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include '_partials/pagination.html.twig' %}

{% endblock body %}
