{% extends "base.html.twig" %}

{% block title %}{{ personnage.publicName }} liste de connaissances{% endblock title %}

{% block body %}

    {% include 'personnage/fragment/breadcrumb.twig' with {'name': "Modification de #{personnage.publicName}"} %}

    <div class="well bs-component">
        <div class="header">
            <h5>Choix des connaissances</h5>
        </div>

        {% include '_partials/formListSearch.twig' with {'actionPath' : path('personnage.admin.update.connaissance', {'personnage': personnage.id})} %}
    </div>

    {% include '_partials/pagination.html.twig' %}

    <table class="table table-condensed table-striped table-bordered table-hover">
        {% include '_partials/thead.twig' with  { 'route': 'personnage.admin.update.connaissance', 'routeOptions': {'personnage': personnage.id}, 'rows': [
            {'name' : 'Nom', 'field' : 'label', 'css' : 'text-center'},
            {'name' : 'Secret', 'field' : 'secret', 'css' : 'text-center'},
            {'name' : 'Description', 'css' : 'text-center'},
            {'name' : 'Contraintes', 'css' : 'text-center'},
            {'name' : 'Actions', 'css' : 'text-center'},
        ]} %}
        <tbody>
        {% for connaissance in paginator %}
            <tr>
                <td class="text-center">{{ connaissance.label|highlight(pagerService.searchValue) }}</td>
                <td class="text-center">
                    {% if connaissance.secret %}
                        <i class="fa fa-user-secret text-warning" data-toggle="tooltip" data-placement="top"
                           title="Secret"></i>
                    {% else %}
                        Non
                    {% endif %}
                </td>
                <td>{{ connaissance.description|markdown_to_html|highlight(pagerService.searchValue) }}</td>
                <td>{{ connaissance.contraintes|markdown_to_html|highlight(pagerService.searchValue) }}</td>
                <td class="text-center">{% if personnage in connaissance.personnages %}
                        <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                           title="Retirer cette connaissance"
                           href="{{ path('personnage.admin.delete.connaissance',{'personnage':personnage.id, 'connaissance':connaissance.id}) }}">
                            <i class="fa fa-minus text-danger"></i></a>
                    {% else %}
                        <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                           title="Ajouter cette connaissance"
                           href="{{ path('personnage.admin.add.connaissance',{'personnage':personnage.id, 'connaissance':connaissance.id}) }}">
                            <i class="fa fa-plus text-info"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include '_partials/pagination.html.twig' %}

{% endblock body %}
