{% extends "base.html.twig" %}

{% block title %}Technologie{% endblock title %}

{% block body %}

    {% include '_partials/breadcrumb.twig' with {'items' :
        [
            {'name' : 'Liste des technologies' },
        ]
    } %}

    <div class="well well-sm">

        {% include '_partials/formListSearch.twig' with
            {
                'canAdd': {'title': 'Ajouter une technologie', 'path': path('technologie.add')},
                'actionPath' : path('technologie.list')
            } %}

        {% include '_partials/pagination.html.twig' %}

        <table class="table table-condensed table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>
                    {% include '_partials/orderby.twig' with {'name' : 'Secret', 'field' : 'secret', 'route': 'technologie.list' } %}
                </th>
                <th>
                    {% include '_partials/orderby.twig' with {'name' : 'Nom', 'field' : 'label', 'route': 'technologie.list' } %}
                </th>
                <th>
                    {% include '_partials/orderby.twig' with {'name' : 'Expert', 'field' : 'competenceFamily.label', 'route': 'technologie.list' } %}
                </th>
                <th>Description</th>
                <th>Ressources requises</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for technologie in paginator %}
                <tr>
                    <td class="text-center">
                        {% if technologie.secret %}
                            <span class="text-danger">
                                <i class="fa fa-user-secret text-danger" data-toggle="tooltip" data-placement="top"
                                   title="Secret"></i>  - Oui
                            </span>
                        {% else %}
                            <span class="text-info">Non</span>
                        {% endif %}
                    </td>
                    <td>{{ technologie.label|highlight(pagerService.searchValue) }}</td>
                    <td>{{ technologie.competenceFamily.label|highlight(pagerService.searchValue) }}</td>
                    <td>
                        {{ technologie.description|markdown_to_html|highlight(pagerService.searchValue) }}
                    </td>
                    <td>

                        <div class="list-group">
                            {% if technologie.ressources|length < 1 %}
                                {% include '_partials/cardNotif.twig' with {'type' : 'warning', 'content' : "#{technologie.label} ne requiert actuellement aucune Ressource ; Veuillez en ajouter :" } %}
                            {% else %}
                                {% for technologieRessource in technologie.ressources %}
                                    <div class="list-group-item d-flex justify-content-between">
                                        <div>
                                            {{ technologieRessource.quantite }} {{ technologieRessource.ressource.label }}
                                        </div>
                                        <div class="btn-group">

                                            <a class="btn btn-sm btn-secondary" data-toggle="tooltip"
                                               data-placement="top"
                                               title="Modifier"
                                               href="{{ path('technologie.ressource.update', {'technologie':technologie.id, 'technologiesRessources':technologieRessource.id}) }}">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a class="btn btn-sm btn-secondary" data-toggle="tooltip"
                                               data-placement="top"
                                               title="Retirer {{ technologieRessource.ressource.label }}"
                                               href="{{ path('technologie.ressource.delete', {'technologie':technologie.id, 'technologiesRessources':technologieRessource.id}) }}"
                                               onclick="return confirm('Vous vous apprétez à retirer {{ technologieRessource.ressource.label }} de {{ technologie.label }}. Confirmer ?')">
                                                <i class="fa fa-trash"></i></a>
                                        </div>
                                    </div>

                                {% endfor %}
                            {% endif %}
                            <a class="btn btn-sm btn-secondary" data-toggle="tooltip" data-placement="top"
                               title="Ajouter une Ressource"
                               href="{{ path('technologie.ressource.add', {'technologie':technologie.id}) }}">
                                <i class="fa fa-plus"></i> Ajouter
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="btn-toolbar pull-right" role="toolbar">
                            <div class="btn-group-vertical" role="group">
                                {% if technologie.documentUrl %}
                                    <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                       title="Télécharger le document associé"
                                       href="{{ path('technologie.document', {'technologie': technologie.id, 'document': technologie.documentUrl}) }}"><i
                                                class="fa-solid fa-download"></i> Télécharger</a>
                                {% endif %}
                                <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                   title="Modifier"
                                   href="{{ path('technologie.update',{'technologie':technologie.id}) }}"><i
                                            class="fa fa-pencil"></i> Modifier</a>
                                <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                   title="Détail"
                                   href="{{ path('technologie.detail',{'technologie':technologie.id}) }}"><i
                                            class="fa fa-eye"></i> Detail</a>
                                <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                   title="Personnages associés"
                                   href="{{ path('technologie.personnages',{'technologie':technologie.id}) }}"><i
                                            class="fa fa-users"></i> Personnages ({{ technologie.personnages|length }})</a>
                                <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                                   title="Supprimer"
                                   href="{{ path('technologie.delete',{'technologie':technologie.id}) }}"><i
                                            class="fa fa-eraser"></i> Supprimer</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% else %}
                {% include '_partials/noResultTableRow.twig' %}
            {% endfor %}
            </tbody>
        </table>

        {% include '_partials/pagination.html.twig' %}


    </div>

{% endblock %}
