{% extends "base.html.twig" %}

{% block title %}Groupes{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path("groupe.admin.list") }}">Liste des groupes</a></li>
		<li><a href="{{ path("groupe.detail", {'groupe': groupeGn.groupe.id}) }}">{{ groupeGn.groupe.nom }}</a></li>
		<li><a href="{{ path("groupeGn.list", {'groupe': groupeGn.groupe.id}) }}">Liste des sessions</a></li>
		<li class="active">Retirer un joueur d'une session</li>
	</ol>
	
	<div class="well well-sm">
		{{ form_start(form, {"action": path('groupeGn.participants.remove',{'groupeGn': groupeGn.id, 'participant': participant.id})}) }}		
			<blockquote>Vous allez retirer {{ participant.user.etatCivil }} de la session {{ groupeGn.gn }}. Etes vous certain ?</blockquote>
			{{ form(form) }}
		{{ form_end(form) }}
	</div>
{% endblock %}