{% extends "base.html.twig" %}

{% block title %}Groupes{% endblock title %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Accueil</a></li>
        <li><a href="{{ path("gn.detail", {'gn': groupeGn.gn.id}) }}">{{ groupeGn.gn.label }}</a></li>
        <li><a href="{{ path("groupe.detail", {'groupe': groupe.id}) }}">{{ groupe.nom }}</a></li>
        <li><a href="{{ path("groupeGn.list", {'groupe': groupe.id}) }}">Sessions de jeu</a></li>
        <li class="active">Session de jeu d'un groupe</li>
    </ol>

    <div class="d-flex justify-content-end">
        <div class="w-auto mb-2 p-0 btn-toolbar d-flex justify-content-between m-0 p-0" role="toolbar">
            <div class="btn-group m-0 p-0" role="group">
                    <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                       title="Voir la liste de tous les groupes"
                       href="{{ path('groupe.list') }}"><i
                            class="fa fa-users-line"></i> Voir tous les groupes</a>
            </div>
        </div>
    </div>

    {% set descriptionHtml %}
        <h6>Fonctionnement des titres</h6>

        <ul class="list-group">
            <li class="list-group-item">Sans Suzerain nommé, le responsable administratif du groupe est considéré
                Suzerain
            </li>
            <li class="list-group-item">Seul le Suzerain (ou un scénariste) peu distribuer des titres</li>
            <li class="list-group-item">Le Suzerain doit être un membre du groupe</li>
            <li class="list-group-item">Le Suzerain peu nommer n'importe quel personnage qui participe au GN</li>
            <li class="list-group-item">Chaque personnage ne peut avoir qu'un seul titre</li>
            <li class="list-group-item">Une fois un titre distribué. Le Suzerain reste l'autorité suprême sur celui-ci.
                Il peut mener les actions que requiert la détention du titre comme s'il l'avait repris
            </li>
        </ul>
    {% endset %}

    {% include '_partials/cardNotif.twig' with {'type' : 'info', 'content' : descriptionHtml } %}

    {% if app.user.personnage is not defined or (app.user.personnage is defined and not groupeGn.isSuzerain(app.user.personnage) and groupeService.hasOnePersonnageSuzerain(groupeGn, app.user)) %}
        {% set notValidActivePersonnageHtml %}
            {% if app.user.personnage is defined %}
                <p>
                    Votre personnage actif {{ app.user.personnage.nameSurname|default('Aucun') }} n'est pas le suzerain
                    de
                    ce groupe.
                </p>
            {% else %}
                <p>
                    Vous n'avez pas de personnage actif par défaut.
                </p>
            {% endif %}
            <p>
                Vous pouvez temporairement modifier ces titres. Mais à l'avenir vous devrez choisir le bon personnage
                actif pour éditer les titres.
            </p>
            <p>
                <a class="btn btn-sm btn-secondary" href="{{ path('user.personnageDefault', {'user': app.user.id}) }}">Choisir
                    un
                    personnage actif par défaut</a>
            </p>
        {% endset %}
        {% include '_partials/cardNotif.twig' with {'type' : 'danger', 'content' : notValidActivePersonnageHtml } %}
    {% endif %}

    <div class="well well-sm">
        {{ form(form) }}
    </div>
{% endblock %}
