{% if css is not defined %}
    {% set css = 'well' %}
{% endif %}

 {% if isAdmin %}
     <div class="{{ css }}">
         <div class="header">
             <h5>Informations scénariste</h5>
         </div>

         {% if isAdmin %}
             {% include '_partials/dropDown.twig' with {
                 'title' : 'Action',
                 'actions' :
                 [
                     {'path' : path('personnage.update.renomme', {'personnage': personnage.id}), 'label': 'Modifier la Renomée' },
                     {'path' : path('personnage.update.heroisme', {'personnage': personnage.id}), 'label': 'Modifier l\'Héroïsme' },
                     {'path' : path('personnage.update.pugilat', {'personnage': personnage.id}), 'label': 'Modifier le Pugilat' },
                     {'path' : path('personnage.update.domaine', {'personnage': personnage.id}), 'label': 'Modifier la liste des domaines de magie' },
                     {'path' : path('personnage.add.religion', {'personnage': personnage.id}), 'label': 'Ajouter une religion' },
                     {'path' : path('personnage.update.origine', {'personnage': personnage.id}), 'label': 'Modifier l\'origine' },
                     {'path' : path('personnage.update.langue', {'personnage': personnage.id}), 'label': 'Modifier les langages' },
                     {'path' : path('personnage.update.sort', {'personnage': personnage.id}), 'label': 'Modifier la liste des sorts' },
                     {'path' : path('personnage.update.potion', {'personnage': personnage.id}), 'label': 'Modifier la liste des potions' },
                     {'path' : path('personnage.update.priere', {'personnage': personnage.id}), 'label': 'Modifier la liste des prieres' },
                     {'path' : path('personnage.update.technologie', {'personnage': personnage.id}), 'label': 'Modifier la liste des technologies' },
                     {'path' : path('personnage.update.connaissance', {'personnage': personnage.id}), 'label': 'Modifier la liste des connaissances' },
                 ]
             } %}
         {% endif %}

         <div class="panel">
             <div class="card mb-4">
                 <div class="card-header">
                     <h6>Religions</h6>
                 </div>
                 <div class="list-group border-0">
                     {% for personnageReligion in personnage.personnagesReligions %}
                         <div class="list-group-item d-flex justify-content-between{% if loop.first %} rounded-top-0{% endif %}">
                             <div>
                                 {% if personnageReligion.religion.secret %}
                                     <i class="fa fa-user-secret text-warning" data-toggle="tooltip"
                                        data-placement="top"
                                        title="Secret"></i> -
                                 {% endif %}
                                 <a href="{{ path('religion.detail', {'religion': personnageReligion.religion.id }) }}">{{ personnageReligion.religion.label }}</a>
                                 <span class="badge display-6 rounded-pill text-bg-secondary">{{ personnageReligion.religionLevel.label }}</span>
                             </div>
                             <a class="btn btn-sm btn-secondary"
                                href="{{ path('personnage.delete.religion', {'personnage': personnage.id, 'personnageReligion': personnageReligion.id }) }}">Supprimer</a>
                         </div>
                     {% else %}
                         <div class="list-group-item d-flex justify-content-between{% if loop.first %} rounded-top-0{% endif %}">
                             Sans religion
                         </div>
                     {% endfor %}
                 </div>
             </div>

             <div class="card mb-4">
                 <div class="card-header">
                     <h6>Langues connues</h6>
                 </div>
                 {% set languesAnomalie = personnage.getLanguesAnomaliesMessage() %}
                 {% if languesAnomalie != "" %}
                     {% include '_partials/cardNotif.twig' with {'type' : 'warning', 'content' : languesAnomalie } %}
                 {% endif %}
                 <div class="list-group border-0">
                     {% for personnageLangue in personnageService.allLangues(personnage) %}
                         <div class="list-group-item d-flex justify-content-between{% if loop.first %} rounded-top-0{% endif %}">
                             <div>
                                 {% if personnageLangue.langue.secret %}
                                     <i class="fa fa-user-secret text-warning" data-toggle="tooltip"
                                        data-placement="top"
                                        title="Secret"></i> -
                                 {% endif %}
                                 {% if personnageLangue.langue.id %}
                                     <a href="{{ path('langue.detail', {'langue': personnageLangue.langue.id }) }}"><strong>{{ personnageLangue.langue }}</strong></a>
                                     ({{ personnageLangue.source }})
                                 {% endif %}
                             </div>
                             {% if personnageLangue.id is defined and personnageLangue.id %}
                                 <a class="btn btn-sm btn-secondary"
                                    href="{{ path('personnage.delete.langue', {'personnage': personnage.id, 'personnageLangue' : personnageLangue.id }) }}">Supprimer</a>
                             {% endif %}
                         </div>
                     {% else %}
                         <div class="list-group-item d-flex justify-content-between{% if loop.first %} rounded-top-0{% endif %}">
                             Aucune
                         </div>
                     {% endfor %}
                 </div>
             </div>

             <div class="card mb-4">
                 <div class="card-header">
                     <h6>Domaines de magie</h6>
                 </div>
                 <div class="list-group border-0">
                     {% for domaine in personnage.domaines %}
                         <div class="list-group-item d-flex justify-content-between{% if loop.first %} rounded-top-0{% endif %}">
                             <div>
                                 <a href="{{ path('magie.domaine.detail', {'domaine': domaine.id }) }}">{{ domaine.label }}</a>
                             </div>
                             <a class="btn btn-sm btn-secondary"
                                href="{{ path('personnage.delete.domaine', {'personnage': personnage.id, 'domaine': domaine.id }) }}">Supprimer</a>
                         </div>
                     {% else %}
                         <div class="list-group-item d-flex justify-content-between{% if loop.first %} rounded-top-0{% endif %}">
                             Aucun
                         </div>
                     {% endfor %}
                 </div>
             </div>

             <div class="card mb-4">
                 <div class="card-header">
                     <h6>Sorts</h6>
                 </div>
                 {% set sortAnomalie = personnage.getSortAnomalieMessage() %}
                 {% if sortAnomalie != "" %}
                     {% include '_partials/cardNotif.twig' with {'type' : 'warning', 'content' : sortAnomalie } %}
                 {% endif %}
                 <div class="list-group border-0">
                     {% for sort in personnage.sorts %}
                         <div class="list-group-item d-flex justify-content-between{% if loop.first %} rounded-top-0{% endif %}">
                             <div class="list-group-item-text">
                                 {% if sort.secret %}
                                     <i class="fa fa-user-secret text-warning" data-toggle="tooltip"
                                        data-placement="top"
                                        title="Secret"></i> -
                                 {% endif %}
                                 <a href="{{ path('magie.sort.detail', {'sort': sort.id }) }}">{{ sort.label }}</a>
                                 - {{ sort.domaine.label }} Niveau {{ sort.niveau }}
                             </div>
                             <a class="btn btn-sm btn-secondary"
                                href="{{ path('personnage.delete.sort', {'personnage': personnage.id, 'sort': sort.id }) }}">Supprimer</a>
                         </div>
                     {% else %}
                         <div class="list-group-item rounded-top-0">Aucun</div>
                     {% endfor %}
                 </div>
             </div>

             <div class="card mb-4">
                 <div class="card-header">
                     <h6>Recette de potions</h6>
                 </div>
                 {% set potionsAnomalie = personnage.getPotionAnomalieMessage() %}
                 {% if potionsAnomalie != "" %}
                     {% include '_partials/cardNotif.twig' with {'type' : 'warning', 'content' : potionsAnomalie } %}
                 {% endif %}
                 <div class="list-group border-0">
                     {% for potion in personnage.potions %}
                         <div class="list-group-item d-flex justify-content-between{% if loop.first %} rounded-top-0{% endif %}">
                             <div class="list-group-item-text">
                                 {% if potion.secret %}
                                     <i class="fa fa-user-secret text-warning" data-toggle="tooltip"
                                        data-placement="top"
                                        title="Secret"></i> -
                                 {% endif %}
                                 <a href="{{ path('magie.potion.detail', {'potion': potion.id }) }}">{{ potion.label }}</a>
                                 - Niveau {{ potion.niveau }}
                             </div>
                             <div>
                                 {% if personnage.lastParticipant %}
                                     <a class="btn btn-sm btn-secondary"
                                        href="{{ path('participant.potion.depart.add', {'personnage': personnage.id, 'potion': potion.id, 'participant':personnage.lastParticipant.id }) }}">potion
                                         de départ</a>
                                 {% endif %}
                                 <a class="btn btn-sm btn-secondary"
                                    href="{{ path('personnage.delete.potion', {'personnage': personnage.id, 'potion': potion.id }) }}">Supprimer</a>
                             </div>
                         </div>
                     {% else %}
                         <div class="list-group-item rounded-top-0">Aucune</div>
                     {% endfor %}
                 </div>
             </div>

             <div class="card mb-4">
                 {% if personnage.lastParticipant.gn is defined %}
                     <div class="card-header">
                         <h6>Potions de départ pour {{ personnage.lastParticipant.gn.label }}</h6>
                     </div>
                     <div class="list-group border-0">
                         {% for potion in personnage.lastParticipant.potionsDepart %}
                             <div class="list-group-item d-flex justify-content-between{% if loop.first %} rounded-top-0{% endif %}">
                                 <div class="list-group-item-text">
                                     {% if potion.secret %}
                                         <i class="fa fa-user-secret text-warning" data-toggle="tooltip"
                                            data-placement="top"
                                            title="Secret"></i> -
                                     {% endif %}
                                     <a href="{{ path('magie.potion.detail', {'potion': potion.id }) }}">{{ potion.label }}</a>
                                     - Niveau {{ potion.niveau }}
                                 </div>
                                 <a class="btn btn-sm btn-secondary"
                                    href="{{ path('participant.potion.depart.delete', {'personnage': personnage.id, 'potion': potion.id, 'participant': participant.id }) }}">Supprimer</a>
                             </div>
                         {% else %}
                             <div class="list-group-item rounded-top-0">Aucune</div>
                         {% endfor %}
                     </div>
                 {% endif %}
             </div>

             <div class="card mb-4">
                 <div class="card-header">
                     <h6>Prières</h6>
                 </div>
                 {% set priereAnomalie = personnage.getPrieresAnomalieMessage() %}
                 {% if priereAnomalie != "" %}
                     {% include '_partials/cardNotif.twig' with {'type' : 'warning', 'content' : priereAnomalie } %}
                 {% endif %}
                 <div class="list-group border-0">
                     {% for priere in personnage.prieres %}
                         <div class="list-group-item d-flex justify-content-between{% if loop.first %} rounded-top-0{% endif %}">
                             <div class="list-group-item-text">
                                 <a href="{{ path('magie.priere.detail', {'priere': priere.id }) }}">{{ priere.sphere.label }}</a>
                                 - Niveau {{ priere.niveau }} ({{ priere.label }})
                             </div>
                             <a class="btn btn-sm btn-secondary"
                                href="{{ path('personnage.priere.delete', {'personnage': personnage.id, 'priere': priere.id }) }}">Supprimer</a>
                         </div>
                     {% else %}
                         <div class="list-group-item rounded-top-0">Aucune</div>
                     {% endfor %}
                 </div>
             </div>

             <div class="card mb-4">
                 <div class="card-header">
                     <h6>Technologies</h6>
                 </div>
                 <div class="list-group border-0">
                     {% for technologie in personnage.technologies %}
                         <div class="list-group-item d-flex justify-content-between{% if loop.first %} rounded-top-0{% endif %}">
                             <div class="list-group-item-text">
                                 {% if technologie.secret %}
                                     <i class="fa fa-user-secret text-warning" data-toggle="tooltip"
                                        data-placement="top"
                                        title="Secret"></i> -
                                 {% endif %}
                                 <a href="{{ path('technologie.detail', {'technologie': technologie.id }) }}">{{ technologie.label }}</a>
                             </div>
                             <a class="btn btn-sm btn-secondary"
                                href="{{ path('personnage.delete.technologie', {'personnage': personnage.id, 'technologie': technologie.id }) }}">Supprimer</a>
                         </div>
                     {% else %}
                         <div class="list-group-item rounded-top-0">Aucune</div>
                     {% endfor %}
                 </div>
             </div>

             <div class="card mb-4">
                 <div class="card-header">
                     <h6>Connaissances</h6>
                 </div>
                 <div class="list-group border-0">
                     {% for connaissance in personnage.connaissances %}
                         <div class="list-group-item d-flex justify-content-between{% if loop.first %} rounded-top-0{% endif %}">
                             <div class="list-group-item-text">
                                 {% if connaissance.secret %}
                                     <i class="fa fa-user-secret text-warning" data-toggle="tooltip"
                                        data-placement="top"
                                        title="Secret"></i> -
                                 {% endif %}
                                 <a href="{{ path('connaissance.detail', {'connaissance': connaissance.id }) }}">{{ connaissance.label }}</a>
                             </div>
                             <a class="btn btn-sm btn-secondary"
                                href="{{ path('personnage.delete.connaissance', {'personnage': personnage.id, 'connaissance': connaissance.id }) }}">Supprimer</a>
                         </div>
                     {% else %}
                         <div class="list-group-item rounded-top-0">Aucune</div>
                     {% endfor %}
                 </div>
             </div>

             <div class="card mb-4">
                 <div class="card-header">
                     <h6>Bonus</h6>
                 </div>
                 <div class="list-group border-0">
                     {% for bonus in personnageService.getAllBonus(personnage) %}
                         <div class="list-group-item d-flex justify-content-between{% if loop.first %} rounded-top-0{% endif %}">
                             <div class="list-group-item-text">
                                 {% if bonus.merveille.id is defined %}
                                     <a href="{{ path('merveille.detail', {'merveille': bonus.merveille.id }) }}">{{ bonus.merveille.nom }}</a>:
                                 {% endif %}
                                 <a href="{{ path('bonus.detail', {'bonus': bonus.id }) }}">{{ bonus.titre }}</a>
                                 {% if bonus.sourceTmp %}
                                     <span class="badge text-bg-secondary rounded-pill">{{ bonus.sourceTmp }}</span>
                                 {% endif %}
                                 <br/>
                                 {{ bonus.description }}
                             </div>
                             {# Todo Add a delete button for Personnage bonus (from personage_bonus table)  #}
                         </div>
                     {% else %}
                         <div class="list-group-item rounded-top-0">Aucun</div>
                     {% endfor %}
                 </div>
             </div>
         </div>
     </div>
 {% endif %}
