{% if css is not defined %}
    {% set css = 'well' %}
{% endif %}
{# Compétences #}
<div class="{{ css }}">
    <div class="header">
        <h5>Compétences</h5>
    </div>

    {% if isAdmin %}
        {% include '_partials/dropDown.twig' with {
            'title' : 'Action',
            'actions' :
            [
                {'path' : path('personnage.xp', {'personnage': personnage.id}), 'label': 'Ajouter des points d\'expérience' },
                {'path' : path('personnage.apprentissage', {'personnage': personnage.id}), 'label': 'Ajouter un apprentissage de compétence' },
                {'path' : path('personnage.add.competence', {'personnage': personnage.id}), 'label': 'Ajouter une compétence' },
                {'path' : path('personnage.delete.competence', {'personnage': personnage.id}), 'label': 'Retirer la dernière compétence acquise' },
            ]
        } %}
    {% else %}
        <div class="btn-toolbar d-flex justify-content-end" role="toolbar">
            <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
               title="Ajouter une compétence"
               href="{{ path('personnage.add.competence', {'personnage': personnage.id}) }}"><i
                        class="fa fa-plus"></i> Ajouter</a>
        </div>
    {% endif %}

    <ul class="list-group">
        {% set currentFamillyId = null %}

        {% for competence in personnageService.allCompetences(personnage) %}

            {% if currentFamillyId != competence.competenceFamily.id %}
                {% if not true and FakeLiForIDE is defined %}<li> Shouldn't be used{% endif %}
                {% if not loop.first %}
                    </li>
                {% endif %}
            {% endif %}

            {% if loop.first or currentFamillyId != competence.competenceFamily.id %}
                <li class="list-group-item">
                <h5 class="__{{ competence.competenceFamily.id }}__{{ currentFamillyId }}">
                    {{ competence.competenceFamily.label }}
                    {% if personnage.classe.isFavoriteCompetenceFamily(competence.competenceFamily) %}
                        <i class="fa fa-star text-success" data-toggle="tooltip" data-placement="top"
                           title="Favorite"></i>
                    {% elseif competence.competenceFamily.isSecretCompetenceFamily() %}
                        <i class="fa fa-user-secret text-warning" data-toggle="tooltip" data-placement="top"
                           title="Secrète"></i>
                    {% elseif not personnage.classe.isCommonCompetenceFamily(competence.competenceFamily) %}
                        <i class="fa fa-face-tired text-danger" data-toggle="tooltip" data-placement="top"
                           title="Méconnue"></i>
                    {% endif %}
                </h5>
            {% endif %}

            <h6 class="__{{ competence.competenceFamily.id }}__{{ currentFamillyId }}">{{ competence.level.label }}</h6>
            <div class="list-group-item-text border-top mt-1">{{ competence.description|markdown_to_html }}</div>
            <p class="list-group-item-text">
                {% if competence.documentUrl %}
                    {% if participant is defined %}
                        <a class="btn btn-secondary btn-sm"
                           href="{{ path('participant.competence.detail',{'participant': participant.id, 'competence' : competence.id}) }}">
                            <i class="fa fa-file"></i> Imprimer l'aide de jeu
                        </a>
                    {% elseif isAdmin %}
                        <a class="btn btn-secondary btn-sm"
                           href="{{ path('competence.detail',{'competence' : competence.id}) }}">
                            <i class="fa fa-file"></i> Imprimer l'aide de jeu
                        </a>
                    {% endif %}
                {% endif %}
            </p>

            {% if loop.last %}
                </li>
            {% endif %}
            {% set currentFamillyId = competence.competenceFamily.id %}
        {% endfor %}
    </ul>
</div>
