<div class="print-center">
    <h2>#{{ personnage.id }} - {{ personnage.identity }}</h2>
</div>
{# <br/>

    {% if personnage.user %}
        {% set participant = personnage.user.participants|last %}
        <strong>Personnage Secondaire : </strong>
        {% if participant.personnageSecondaire %}
            {{ participant.personnageSecondaire.classe.label }}
        {% else %}
            PAS DE PERSONNAGE SECONDAIRE
        {% endif %}
    {% endif %} #}
<br/>
{% if personnageService.allRenomme(personnage)|default(0) > 4 %}
    <strong>Renommée :</strong> {{ personnageService.allRenomme(personnage)|default(0) }}<br/>
{% endif %}

    {% if personnage.richesse|default(0) > 0 %}
        <strong>Richesse :</strong> {{ personnageService.allRichesse(personnage)|default(0) }} pièces d'argent<br/>
    {% endif %}

    {% set materielHtml %}
        {% for competence in personnageService.allCompetences(personnage) %}
            {% if competence.materiel %}
                <li><strong>{{ competence.competenceFamily.label }}&nbsp({{ competence.level.label }})
                        : </strong>{{ competence.materielRaw }}</li>
                {% set hasMateriel = 1 %}
            {% endif %}
        {% endfor %}
    {% endset %}

    {% if materielHtml %}
        <strong>Lié aux compétences</strong>
        <ul>
            {{ materielHtml }}
        </ul>
    {% endif %}

    {# On utilise plus la divinité principal en impression d'enveloppe
    {% if personnage.hasCompetence(constant('App\\Enum\\CompetenceFamilyType::PRIESTHOOD')) %}
        {% set enoughReligion = 0 %}
        {% for religion in personnage.personnagesReligions %}
            {% if religion.religionLevel.index >= 2 %}
                {% set enoughReligion = 1 %}
                <strong>Divinité principale : </strong>{{ religion.religion }} ({{ religion.religionLevel.label }})<br/>
                <br/>
            {% endif %}
        {% endfor %}
        {% if enoughReligion == 0 %}
            CE PRÊTRE N'A PAS ASSEZ DE FERVEUR
        {% endif %}
    {% endif %}
    #}

<strong>Lié aux langues</strong>
<ul>
    {% set bracelets = [] %}
    {% if personnage.bracelet %}
        Géré par l'interprète du personnage
    {% else %}
        {% for personnageLangue in personnageService.allLangues(personnage) %}
            {% if personnageLangue.langue.diffusion > 0 and personnageLangue.langue.secret == 0 %}
                {% set mykey = personnageLangue.langue.groupeLangue.couleur %}
                {% if mykey not in bracelets|keys %}
                    {% set bracelets = bracelets|merge({(mykey): (personnageLangue.langue.label)}) %}
                    <li>Bracelet {{ personnageLangue.langue.groupeLangue.couleur }}
                        ({{ personnageLangue.langue.label }})
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
</ul>

{# documents #}
    {% if personnage.documents|length > 0 %}
        <strong>Documents</strong>
        <ul>
            {% for document in personnage.documents %}
                <li><strong>{{ document.code }}</strong> - {{ document.titre }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {# objets #}
    {% set items = personnageService.allItems(personnage) %}
    {% if items|length > 0 %}
        <strong>Objets</strong>
        <ul>
            {% for item in items %}
                <li><strong>{{ item.numero }}</strong> - {{ item.label }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {# ingredients #}
    {% if personnageService.allIngredient(personnage)|length > 0 %}
        <strong>Ingrédients</strong>
        <ul>
            {% for personnageIngredient in personnageService.allIngredient(personnage) %}
                <li>{{ personnageIngredient.nombre }} {{ personnageIngredient.ingredient }}
                    - {{ personnageIngredient.ingredient.color }} : {{ personnageIngredient.ingredient.dose }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {# ressources #}
    {% if personnageService.allRessource(personnage)|length > 0 %}
        <strong>Ressources</strong>
        <ul>
            {% for personnageRessource in personnageService.allRessource(personnage) %}
                <li>{{ personnageRessource.nombre }} {{ personnageRessource.ressource }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {# Matériel supplémentaire #}
<strong>Matériel supplémentaire</strong>
<ul>
    <li>1 Bandeau blanc</li>
    <li>1 Bandeau rougeâtre (ou blanc tâché de rouge)</li>
    <li>1 Fiche de personnage (dans une pochette plastifiée)</li>
    <li>1 Fiche retour de personnage</li>
    {% for materiel in personnageService.allMateriel(personnage) %}
        <li>{{ materiel|markdown_to_html }}</li>
    {% endfor %}
</ul>

{% if personnage.isSensible %}
    <strong>Personnage sensible</strong>
    <ul>
        <li>Brassard jaune avec un poing gravé</li>
    </ul>
{% endif %}
