{% if css is not defined %}
    {% set css = 'well' %}
{% endif %}
{# Groupe principal #}
{% if participant %}
    <div class="{{ css }}">
        <div class="header">
            <h5>Groupe principal actif</h5>
        </div>

        <div class="list-group">
            {% if participant.groupeGn %}
                <div class="list-group-item">
                    <a href="{{ path('groupe.detail', {'groupeGn': participant.groupeGn.id, 'groupe': participant.groupeGn.groupe.id }) }}">{{ participant.session.groupe.id }}
                        - {{ participant.session.groupe.nom }}</a>
                </div>

                {% if participant.session.groupe.scenariste %}
                    <div class="list-group-item">Scénariste
                        du groupe: {{ participant.session.groupe.scenariste.etatCivil }}
                        &nbsp;({{ participant.session.groupe.scenariste.email }})
                    </div>
                {% else %}
                    {% include '_partials/cardNotif.twig' with {'type' : 'warning', 'content' : "Attention, ce groupe n'a pas de scénariste."} %}
                {% endif %}
            {% else %}
                <div class="list-group-item">
                    Votre groupe n'est pas encore actif.
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}
