{% if css is not defined %}
    {% set css = 'well' %}
{% endif %}

{% if isAdmin is not defined %}
    {% set isAdmin = false %}
{% endif %}

{% if personnage.items|length > 0 or personnage.materiel %}
    <div class="{{ css }}">
        <div class="header">
            <h5>Vos objets</h5>
        </div>


        <div class="list-group">
            {% for item in personnage.items %}
                <div class="list-group-item  d-flex justify-content-between">
                    <div class="list-group-item-text">
                        <a href="{{ path('personnage.item.detail', {'personnage':personnage.id, 'item':item.id}) }}">
                            <strong>{{ item.numero }}</strong> - {{ item.label }}
                        </a>
                    </div>
                    {% if isAdmin %}
                        <div class="btn-group" role="group">
                            <a class="btn btn-sm btn-secondary"
                               href="{{ path('item.detail', {'item':item.id}) }}"
                               aria-expanded="false"
                               role="button">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}

            {% if personnage.materiel %}
                <div class="list-group-item  d-flex justify-content-between">
                    <div class="list-group-item-text">{{ personnage.materiel|markdown_to_html }}</div>
                </div>
            {% endif %}
        </div>

    </div>
{% endif %}
