<div class="well">
    <div class="header">
        <h5>Historique des participations</h5>
    </div>
    <div class="list-group">
        {% if personnage.user %}
            {% for participant in personnage.user.participants %}
                {% if participant.personnage %}
                    {% if participant.groupeGn %}
                        {% if participant.groupeGn.groupe %}
                            <a class="list-group-item"
                               href="{{ path('groupe.detail', {'groupe': participant.groupeGn.groupe.id}) }}">#{{ participant.personnage.id }} {{ participant.personnage.nom }}
                                - {{ participant.gn }} -
                                #{{ participant.groupeGn.groupe.numero }} {{ participant.groupeGn.groupe.nom }}</a>
                        {% else %}
                            <a class="list-group-item">{{ participant.personnage.nom }} - {{ participant.gn }} - N'est
                                pas lié à un groupe</a>
                        {% endif %}
                    {% else %}
                        <a class="list-group-item">#{{ participant.personnage.id }} {{ participant.personnage.nom }}
                            - {{ participant.gn }} - N'est pas lié à un groupe</a>
                    {% endif %}
                {% else %}
                    {% if participant.groupeGn %}
                        <a class="list-group-item">Personnage #{{ personnage.id }} {{ personnage.nom }} non récupéré
                            - {{ participant.gn }} -
                            #{{ participant.groupeGn.groupe.numero }} {{ participant.groupeGn.groupe.nom }}</a>
                    {% else %}
                        <a class="list-group-item">Personnage #{{ personnage.id }} {{ personnage.nom }} non récupéré
                            - {{ participant.gn }} - N'est pas lié à un groupe</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% else %}
            <li class="list-group-item">Ce personnage ne fait pas partie d'un groupe.</li>
        {% endif %}
    </div>
</div>
