{# Used in Competence TAB #}

{% if css is not defined %}
    {% set css = 'well' %}
{% endif %}

{% if isAdmin is not defined %}
    {% set isAdmin = false %}
{% endif %}

{% if hasOne is not defined %}
    {% set hasOne = false %}
{% endif %}

{% if personnage.isPriest() %}
    <div class="{{ css }}">
        <div class="header">
            <h5 id="priest_">Prêtrise</h5>
        </div>

        <div class="list-group">

            {# accés à toutes les descriptions pour pratiquants des religions de leur pays #}
            {% if personnage.hasCompetenceLevel(
                constant('App\\Enum\\CompetenceFamilyType::PRIESTHOOD'),
                constant('App\\Enum\\LevelType::APPRENTICE'),
            ) %}
                {% if  personnage.territoire.religion %}
                    <div class="card mt-2">
                        {# principal du pays d'origine #}
                        <div class="card-header d-flex justify-content-between"
                             id="territory_religion_principale">
                            <div>&nbsp;</div>
                            <h6>Religion principale du pays d'origine</h6>
                            {% if tab is defined %}
                                <a href="#sommaire_religion" class="btn btn-sm btn-secondary" title="sommaire"
                                   data-toggle="tooltip"
                                   data-placement="top"><i class="fa-solid fa-arrow-up"></i></a>
                            {% endif %}
                        </div>
                        <div class="list-group-item d-flex justify-content-between">
                            <div>
                                {% if personnage.territoire.religion.secret %}
                                    <i class="fa fa-user-secret text-warning" data-toggle="tooltip"
                                       data-placement="top"
                                       title="Secret"></i> -&nbsp;
                                {% endif %}

                                {{ personnage.territoire.religion.label }}
                            </div>

                            <div class="btn-group" role="group">
                                <button id="t_religion_{{ personnage.territoire.religion.id }}"
                                        class="btn btn-sm btn-secondary" data-bs-toggle="collapse"
                                        href="#religion_{{ personnage.territoire.religion.id }}"
                                        aria-expanded="false"
                                        aria-controls="religion_{{ personnage.territoire.religion.id }}"
                                        role="button">
                                    <i class="fa-solid fa-circle-info"></i>
                                </button>
                            </div>
                        </div>
                        <div class="list-group-item bg-body-secondary collapse p-0"
                             id="religion_{{ personnage.territoire.religion.id }}">
                            <ul class="list-group list-group-flush p-0 m-0">
                                <li class="fw-bold text-center list-group-item list-group-item-secondary">Description
                                    principale
                                </li>
                                <li class="list-group-item">
                                    {{ personnage.territoire.religion.description|markdown_to_html }}
                                </li>

                                <li class="fw-bold text-center list-group-item list-group-item-secondary">
                                    Informations supplémentaires pour les Pratiquants
                                </li>
                                <li class="list-group-item">
                                    {{ personnage.territoire.religion.descriptionPratiquant|markdown_to_html }}
                                </li>

                                {# LH 7 : Apprenti - Vous connaissez le niveau Fervent de toutes les Religions liées à votre Origine. #}

                                <li class="fw-bold text-center list-group-item list-group-item-secondary">
                                    Informations supplémentaires pour les Fervents
                                </li>
                                <li class="list-group-item">
                                    {{ personnage.territoire.religion.descriptionFervent|markdown_to_html }}
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endif %}

                <div class="card mt-2">
                    {% for religion in personnage.territoire.religions %}

                        {% if loop.first %}
                            <div class="card-header d-flex justify-content-between" id="territory_religions">
                                <div>&nbsp;</div>
                                <h6>Religion secondaire du pays d'origine</h6>
                                {% if tab is defined %}
                                    <a href="#sommaire_religion" class="btn btn-sm btn-secondary" title="sommaire"
                                       data-toggle="tooltip"
                                       data-placement="top"><i class="fa-solid fa-arrow-up"></i></a>
                                {% endif %}
                            </div>
                        {% endif %}

                        <div class="list-group-item d-flex justify-content-between">
                            <div>
                                {% if religion.secret %}
                                    <i class="fa fa-user-secret text-warning" data-toggle="tooltip"
                                       data-placement="top"
                                       title="Secret"></i> -&nbsp;
                                {% endif %}

                                <div id="territory_religion_{{ religion.id }}">{{ religion.label }}</div>
                            </div>

                            <div class="btn-group" role="group">
                                <button class="btn btn-sm btn-secondary" data-bs-toggle="collapse"
                                        href="#religionterritory_{{ religion.id }}"
                                        aria-expanded="false" aria-controls="religionterritory_{{ religion.id }}"
                                        role="button">
                                    <i class="fa-solid fa-circle-info"></i>
                                </button>
                            </div>
                        </div>
                        <div class="list-group-item bg-body-secondary collapse p-0"
                             id="religionterritory_{{ religion.id }}">
                            <ul class="list-group list-group-flush p-0 m-0">
                                <li class="fw-bold text-center list-group-item list-group-item-secondary">Description
                                </li>
                                <li class="list-group-item">
                                    {{ religion.description|markdown_to_html }}
                                </li>

                                <li class="fw-bold text-center list-group-item list-group-item-secondary">
                                    Informations supplémentaires pour les Pratiquants
                                </li>
                                <li class="list-group-item">
                                    {{ religion.descriptionPratiquant|markdown_to_html }}
                                </li>

                                <li class="fw-bold text-center list-group-item list-group-item-secondary">
                                    Informations supplémentaires pour les Fervents
                                </li>
                                <li class="list-group-item">
                                    {{ religion.descriptionFervent|markdown_to_html }}
                                </li>
                            </ul>
                        </div>

                    {% endfor %}
                </div>

            {% endif %}

            {# Peuvent choisir 3 religions pour acceder à leur description pour pratiquants #}
            {# LH7 prêtre initié : Vous connaissez le niveau fervent d'une Religion supplémentaire. #}
            {# Via religions.twig by Trigger #}

            {% if personnage.personnagesReligions|length == 0 %}
                {% include '_partials/cardNotif.twig' with {'type': 'info','content' : "Vous n'avez pas encore choisie de religion pour laquelle prêcher"} %}
            {% endif %}

            <div class="card mt-2">
                {% for religion in personnage.religions %}
                    {% if loop.first %}
                        <div class="card-header d-flex justify-content-between">
                            <div>&nbsp;</div>
                            <h5 id="priest_religions">Description de religions choisies en prêtrise</h5>
                            {% if tab is defined %}
                                <a href="#sommaire_religion" class="btn btn-sm btn-secondary" title="sommaire"
                                   data-toggle="tooltip"
                                   data-placement="top"><i class="fa-solid fa-arrow-up"></i></a>
                            {% endif %}
                        </div>
                    {% endif %}

                    <div id="priest_religion_h_{{ religion.id }}"
                         class="list-group-item d-flex justify-content-between{% if loop.first %} rounded-top-0{% endif %}">
                        <div>
                            {% if religion.secret %}
                                <i class="fa fa-user-secret text-warning" data-toggle="tooltip"
                                   data-placement="top"
                                   title="Secret"></i> -
                            {% endif %}
                            {{ religion.label }}
                        </div>
                        <button class="btn btn-sm btn-secondary" data-bs-toggle="collapse"
                                href="#priest_religion_{{ religion.id }}"
                                aria-expanded="false"
                                aria-controls="priest_religion_{{ religion.id }}"
                                role="button">
                            <i class="fa-solid fa-circle-info"></i>
                        </button>
                    </div>

                    <div class="list-group-item bg-body-secondary collapse p-0"
                         id="priest_religion_{{ religion.id }}">
                        <ul class="list-group list-group-flush p-0 m-0">
                            <li class="fw-bold text-center list-group-item list-group-item-secondary">Description
                            </li>
                            <li class="list-group-item">
                                {{ religion.description|markdown_to_html }}
                            </li>

                            <li class="fw-bold text-center list-group-item list-group-item-secondary">
                                Informations supplémentaires pour les Pratiquants
                            </li>
                            <li class="list-group-item">
                                {{ religion.descriptionPratiquant|markdown_to_html }}
                            </li>

                            <li class="fw-bold text-center list-group-item list-group-item-secondary">
                                Informations supplémentaires pour les Fervents
                            </li>
                            <li class="list-group-item">
                                {{ religion.descriptionFervent|markdown_to_html }}
                            </li>
                        </ul>
                    </div>
                {% else %}
                    Aucune
                {% endfor %}

            </div>

            <div class="card mt-2">
                <div class="card-header d-flex justify-content-between">
                    <div>&nbsp;</div>
                    <h5>Prières</h5>
                    {% if tab is defined %}
                        <a href="#sommaire_religion" class="btn btn-sm btn-secondary" title="sommaire"
                           data-toggle="tooltip"
                           data-placement="top"><i class="fa-solid fa-arrow-up"></i></a>
                    {% endif %}
                </div>

                <div class="list-group border-0">
                    {% for priere in personnage.prieres %}
                        <div id="pray_{{ priere.id }}"
                             class="list-group-item d-flex justify-content-between{% if loop.first %} rounded-top-0{% endif %}">

                            {% if isAdmin %}
                                <div class="list-group-item-text">
                                    <a href="{{ path('magie.priere.detail', {'priere': priere.id }) }}">{{ priere.label }}</a>
                                </div>

                                <div class="btn-group" role="group">
                                    {# TODO a confirm PAGE !
                                    <a class="btn btn-sm btn-secondary"
                                       data-bs-toggle="tooltip" data-bs-placement="bottom"
                                       title="Supprimer"
                                       href="{{ path('personnage.priere.delete', {'personnage': personnage.id, 'priere': priere.id }) }}">
                                        <i class="fa fa-eraser"></i>
                                    </a>
                                    #}
                                    <button class="btn btn-sm btn-secondary" data-bs-toggle="collapse"
                                            href="#religion_pray_{{ priere.id }}"
                                            aria-expanded="false"
                                            aria-controls="religion_pray_{{ priere.id }}"
                                            role="button">
                                        <i class="fa-solid fa-circle-info"></i>
                                    </button>
                                </div>
                            {% else %}
                                <div class="list-group-item-text">
                                    {{ priere.label }}
                                </div>


                                <div class="btn-group" role="group">
                                    <button class="btn btn-sm btn-secondary" data-bs-toggle="collapse"
                                            href="#religion_pray_{{ priere.id }}"
                                            aria-expanded="false"
                                            aria-controls="religion_pray_{{ priere.id }}"
                                            role="button">
                                        <i class="fa-solid fa-circle-info"></i>
                                    </button>
                                </div>

                            {% endif %}
                        </div>
                        <div class="list-group-item bg-body-secondary collapse p-0"
                             id="religion_pray_{{ priere.id }}">
                            <ul class="list-group list-group-flush p-0 m-0">
                                <li class="fw-bold text-center list-group-item list-group-item-secondary">
                                    Description
                                </li>
                                <li class="list-group-item">
                                    {{ priere.description|markdown_to_html }}
                                </li>

                                <li class="fw-bold text-center list-group-item list-group-item-secondary">
                                    Annonce
                                </li>
                                <li class="list-group-item">
                                    {{ priere.annonce|markdown_to_html|default('Aucune') }}
                                </li>

                                {% if priere.documentUrl %}
                                    <li class="fw-bold text-center list-group-item list-group-item-secondary">
                                        <a class="btn btn-secondary" data-bs-toggle="tooltip"
                                           data-bs-placement="bottom"
                                           title="Télécharger le document associé"
                                           href="{{ path(
                                               'personnage.priere.document',
                                               {'personnage': personnage.id, 'priere': priere.id, 'document': priere.documentUrl}
                                           ) }}">
                                            <i class="fa-solid fa-download"></i> Télécharger</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    {% else %}
                        <div class="list-group-item rounded-top-0">Aucune</div>
                    {% endfor %}
                </div>
            </div>

        </div>

    </div>
{% endif %}
