{# Used in Competence TAB #}

{% if css is not defined %}
    {% set css = 'well' %}
{% endif %}

{% if isAdmin is not defined %}
    {% set isAdmin = false %}
{% endif %}

{% if hasOne is not defined %}
    {% set hasOne = false %}
{% endif %}

{% if personnage.prieres|length > 0 %}
    <div class="{{ css }}">
        <div class="header">
            <h5>Prières</h5>
        </div>

        <div class="list-group">

            {% for priere in personnage.prieres %}

                <div class="list-group-item d-flex justify-content-between">
                    <div>
                        {{ priere.label }}
                        <span class="badge text-bg-secondary rounded-pill">Niveau {{ priere.niveau }}</span>
                    </div>

                    <div class="btn-group" role="group">
                        {% if priere.description %}
                            <button class="btn btn-sm btn-secondary" data-bs-toggle="collapse"
                                    href="#priere_{{ priere.id }}"
                                    aria-expanded="false" aria-controls="priere_{{ priere.id }}"
                                    role="button">
                                <i class="fa-solid fa-circle-info"></i>
                            </button>
                        {% endif %}
                        {% if priere.documentUrl %}
                            {% if isAdmin %}
                                <a class="btn btn-sm btn-secondary"
                                   href="{{ path('magie.priere.document',{'priere':priere.id, 'document': priere.documentUrl}) }}"
                                   aria-expanded="false"
                                >
                                    <i class="fa-solid fa-file"></i>
                                </a>
                            {% elseif participant is defined %}
                                <a class="btn btn-sm btn-secondary"
                                   href="{{ path('participant.priere.document',{'priere':priere.id, 'participant': participant.id,'document': priere.documentUrl}) }}"
                                >
                                    <i class="fa-solid fa-file"></i>
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                {% if priere.description %}
                    <div class="list-group-item bg-body-secondary collapse p-2"
                         id="priere_{{ priere.id }}">
                        {{ priere.description|markdown_to_html }}
                        {% if priere.annonce %}
                            <h6>Annonce</h6>
                            {{ priere.annonce|markdown_to_html }}
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}

        </div>
    </div>
{% endif %}
