{% if css is not defined %}
    {% set css = 'well' %}
{% endif %}

<div class="{{ css }}">
    <div class="header" id="religions_head">
        <h5>Religions du personnage</h5>
    </div>

    {% if participant.id is defined %}
    <div class="d-flex justify-content-end mb-2">

        <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
           title="Choisir une nouvelle religion"
           href="{{ path('personnage.religion.add',{'personnage': personnage.id}) }}">
            <i class="fa-solid fa-person-praying"></i>
            Nouvelle</a>
    </div>
    {% endif %}

    <div class="card">
        <div class="list-group">
            {% for personnageReligion in personnage.personnagesReligions %}
                <div class="card-header bg-body-secondary" id="religion_{{ personnageReligion.religion.id }}">
                    <div class="d-flex justify-content-between align-items-start">
                        <div>
                            <div class="card-title">
                                {% if personnageReligion.religion.secret %}
                                    <i class="fa fa-user-secret text-warning" data-toggle="tooltip" data-placement="top"
                                       title="Secret"></i> -
                                {% endif %}
                                {{ personnageReligion.religion.label }}
                                <span
                                    class="badge display-6 rounded-pill text-bg-secondary">{{ personnageReligion.religionLevel.label }}</span>
                            </div>
                        </div>
                        <div>
                            <div class="btn-group">
                                {% if isAdmin %}
                                    <a href="{{ path('personnage.delete.religion', {'personnage': personnage.id, 'personnageReligion': personnageReligion.id }) }}"
                                       class="btn btn-sm btn-gamemaster" title="supprimer" data-toggle="tooltip"
                                       data-placement="top"><i class="fa-solid fa-eraser"></i> supprimer</a>
                                {% endif %}
                                {% if personnageReligion.religion.hasStl %}
                                    <a href="{{ path('personnage.personnage.religion.stl', {'personnage': personnage.id, 'religion': personnageReligion.religion.id }) }}"
                                       class="btn btn-sm btn-secondary" title="Fichier 3D"
                                       data-toggle="tooltip"
                                       data-placement="top"><i class="fa fa-cube"></i> Fichier 3D</a>
                                {% endif %}
                                {% if tab is defined %}
                                    <a href="#sommaire_religion" class="btn btn-sm btn-secondary" title="sommaire"
                                       data-toggle="tooltip"
                                       data-placement="top"><i class="fa-solid fa-arrow-up"></i> sommaire</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-text">
                    <ul class="list-group list-group-flush">
                        <li class="fw-bold text-center list-group-item list-group-item-secondary">Description</li>
                        <li class="list-group-item">
                            {{ personnageReligion.religion.description|markdown_to_html }}
                        </li>

                        {% if personnageReligion.religionLevel.index >= 1 %}
                            <li class="fw-bold text-center list-group-item list-group-item-secondary">
                                Informations supplémentaires pour les Pratiquants
                            </li>
                            <li class="list-group-item">
                                {{ personnageReligion.religion.descriptionPratiquant|markdown_to_html }}
                            </li>
                        {% endif %}

                        {% if personnageReligion.religionLevel.index >= 2 %}
                            <li class="fw-bold text-center list-group-item list-group-item-secondary">
                                Informations supplémentaires pour les Fervents
                            </li>
                            <li class="list-group-item">
                                {{ personnageReligion.religion.descriptionFervent|markdown_to_html }}
                            </li>
                        {% endif %}

                        {% if personnageReligion.religionLevel.index >= 3 %}
                            <li class="fw-bold text-center list-group-item list-group-item-secondary">
                                Informations supplémentaires pour les Fanatiques
                            </li>
                            <li class="list-group-item">
                                {{ personnageReligion.religion.descriptionFanatique|markdown_to_html }}
                            </li>
                        {% endif %}

                    </ul>

                </div>
            {% else %}
                <div class="card-header bg-body-secondary" id="religion_no">
                    <div class="d-flex justify-content-between align-items-start">
                        <div>
                            <div class="card-title">
                                Sans
                                <span class="badge display-6 rounded-pill text-bg-secondary">Pratiquant</span>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
</div>
