{% if css is not defined %}
    {% set css = 'well' %}
{% endif %}

<div class="{{ css }}">
    <div class="header">
        <h5>Groupes secondaires</h5>
    </div>

    {% if participant %}
    <div class="d-flex justify-content-end">
        <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
           title="Voir les groupes secondaires"
           href="{{ path('participant.groupeSecondaire.list', {'participant': participant.id}) }}">
            <i class="fa fa-people-group"></i> Voir les groupes
        </a>
    </div>
    {% endif %}


    <h5>Recruteur des groupes</h5>
    <ul class="list-group mb-4">
        {% for groupeSecondaire in personnage.secondaryGroups %}
            <li class="list-group-item">
                {% if groupeSecondaire.secret %}
                    <i class="fa fa-user-secret text-warning" data-toggle="tooltip" data-placement="top"
                       title="Secret"></i> -
                {% endif %}
                <a href="{{ path('groupeSecondaire.detail', {'groupeSecondaire': groupeSecondaire.id}) }}">{{ groupeSecondaire.label }}</a>
            </li>
        {% else %}
            <li class="list-group-item">Aucun</li>
        {% endfor %}
    </ul>

    <h5>Membre des groupes</h5>
    <ul class="list-group mb-4">
        {% for membre in personnage.membres %}
            {% if membre.secondaryGroup.personnage.id != membre.personnage.id %}
                <li class="list-group-item">
                    <a
                            href="{{ path('groupeSecondaire.detail', {'groupeSecondaire': membre.secondaryGroup.id}) }}">
                        {% if membre.secondaryGroup.secret %}
                            <i class="fa fa-user-secret text-warning" data-toggle="tooltip" data-placement="top"
                               title="Secret"></i> -
                        {% endif %}
                        {{ membre.secondaryGroup.label }}
                    </a>
                </li>
            {% endif %}
        {% else %}
            <li class="list-group-item">Ce personnage ne fait pas partie d'un groupe transverse.</li>
        {% endfor %}
    </ul>

    <h5>Candidature(s)</h5>
    <ul class="list-group mb-4">
        {% for postulant in personnage.postulants %}
            <li class="list-group-item">
                <a href="{{ path('groupeSecondaire.detail', {'groupeSecondaire': postulant.secondaryGroup.id}) }}">
                    {{ postulant.secondaryGroup.label }}
                    en attente de validation
                    .</a>
            </li>
        {% else %}
            <li class="list-group-item">Aucune</li>
        {% endfor %}
    </ul>
</div>
