<div class="row ">
    <div class="col-md-12 ">

        {% if personnage.personnagesReligions|length>0 %}
            <div class="card mb-2 border-0 rounded-top-0">

                <div class="card-header">
                    <h5 class="card-title" id="sommaire_religion">
                        Sommaire
                    </h5>
                </div>

                <div class="card-text">
                    <div class="list-group">
                        <div class="list-group-item border-0">
                            <a href="#religions_head">Religions du personnage</a>
                        </div>
                        {% for personnageReligion in personnage.personnagesReligions %}
                            <div class="list-group-item border-0 ms-2">
                                {% if personnageReligion.religion.secret %}
                                    <i class="fa fa-user-secret text-warning" data-toggle="tooltip" data-placement="top"
                                       title="Secret"></i> -
                                {% endif %} <a
                                        href="#religion_{{ personnageReligion.religion.id }}">{{ personnageReligion.religion.label }}</a>
                                <span class="badge display-6 rounded-pill text-bg-secondary">{{ personnageReligion.religionLevel.label }}</span>
                            </div>
                        {% endfor %}

                        {% if personnage.isPriest() %}
                            <div class="list-group-item border-0">
                                <a href="#priest_">Prêtrise religieuses</a>
                            </div>
                            {% if personnage.hasCompetenceLevel(
                                constant('App\\Enum\\CompetenceFamilyType::PRIESTHOOD'),
                                constant('App\\Enum\\LevelType::APPRENTICE'),
                            ) %}
                                {# principal du pays d'origine #}
                                {% if personnage.territoire.religion %}
                                    <div class="list-group-item border-0">
                                        <a href="#territory_religion_principale">Religion principale du pays d'origine</a>
                                    </div>
                                    <div class="list-group-item border-0 ms-2">
                                        {% if personnage.territoire.religion.secret %}
                                            <i class="fa fa-user-secret text-warning" data-toggle="tooltip"
                                               data-placement="top"
                                               title="Secret"></i> - {% endif %}
                                        <a href="#t_religion_{{ personnage.territoire.religion.id }}">{{ personnage.territoire.religion.label }}</a>
                                    </div>
                                {% endif %}

                                {# secondaire du pays d'origine #}
                                {% for religion in personnage.territoire.religions %}
                                    {% if loop.first %}
                                        <div class="list-group-item border-0">
                                            <a href="#territory_religions">Religions secondaires du pays d'origine</a>
                                        </div>
                                    {% endif %}
                                    <div class="list-group-item border-0 ms-2">
                                        {% if religion.secret %}
                                            <i class="fa fa-user-secret text-warning" data-toggle="tooltip"
                                               data-placement="top"
                                               title="Secret"></i> - {% endif %}
                                        <a href="#territory_religion_{{ religion.id }}">{{ religion.label }}</a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% if personnage.hasCompetenceLevel(
                            constant('App\\Enum\\CompetenceFamilyType::PRIESTHOOD'),
                            constant('App\\Enum\\LevelType::INITIATED'),
                        ) %}
                            {# Via choix de prêtrise #}
                            {% for religion in personnage.religions %}
                                {% if loop.first %}
                                    <div class="list-group-item border-0">
                                        <a href="#priest_religions">Religions choisies par la prêtrise</a>
                                    </div>
                                {% endif %}
                                <div class="list-group-item border-0 ms-2">
                                    {% if religion.secret %}
                                        <i class="fa fa-user-secret text-warning" data-toggle="tooltip"
                                           data-placement="top"
                                           title="Secret"></i> - {% endif %}
                                    <a href="#priest_{{ religion.id }}">{{ religion.label }}</a>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% endif %}

                    </div>
                </div>

            </div>
        {% endif %}

        {# Religion #}
        {% include 'personnage/fragment/religions.twig' with {'personnage': personnage, 'participant': participant, css: 'well'} %}
        {# Priere #}
        {% include 'personnage/fragment/priere.twig' with {'personnage': personnage, 'participant': participant, css: 'well'} %}
    </div>
</div>
