{% if css is not defined %}
    {% set css = 'well' %}
{% endif %}
<div class="{{ css }}">

    <div class="header">
        <h5>Background</h5>
    </div>

    {% if isAdmin %}
        {% include '_partials/dropDown.twig' with {
            'title' : 'Action',
            'actions' :
            [
                {'path' : path('personnage.admin.add.background', {'personnage': personnage.id}), 'label': 'Ajouter un background' },
            ]
        } %}
    {% endif %}

    <div class="panel-body">
        <div class="list-group">
            <div class="list-group-item">
                {# Gestion du background du personnage #}
                {% if personnage.personnageBackgrounds|length > 0 %}
                    {% for background in personnage.personnageBackgrounds %}
                        <h6 class="list-group-item-heading">Background ({{ background.gn.label }}) -
                            <strong>{{ background.visibility }}</strong></h6>
                        <a href="{{ path('personnage.admin.update.background', {'personnage': personnage.id, 'background': background.id}) }}">Modifier
                            le background</a>
                        {{ background.text|markdown_to_html }}
                    {% endfor %}
                {% else %}
                    <p class="list-group-item-text">
                        Ce personnage n'a pas de background individuel.
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="well">
            <div class="header">
                <h5>Chronologie</h5>
            </div>

            {% if isAdmin %}
                {% include '_partials/dropDown.twig' with {
                    'title' : 'Action',
                    'actions' :
                    [
                        {'path' : path('personnage.admin.add.chronologie', {'personnage': personnage.id}), 'label': 'Ajouter un évènement' },
                    ]
                } %}
            {% endif %}


            <div class="panel-body">
                <div class="list-group">
                    {# Gestion de la chronologie du personnage #}
                    {% if personnage.personnageChronologie|length > 0 %}
                        <table class="table table-condensed table-striped table-bordered m-0 rounded-2">
                            <thead>
                            <tr>
                                <th class="text-center col-sm-2">Année</th>
                                <th>Évènement</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for personnageChronologie in personnage.personnageChronologie %}
                                <tr>
                                    <td class="text-center">{{ personnageChronologie.annee }}</td>
                                    <td>{{ personnageChronologie.evenement }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p class="list-group-item-text">
                            Ce personnage n'a pas de chronologie.
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        {% if personnage.personnageLignee %}
            <div class="well">
                <div class="header">
                    <h5>Lignée & Généalogie</h5>
                </div>

                {% if isAdmin %}
                    {% if personnage.personnageLignee|length == 0 %}
                        {% include '_partials/dropDown.twig' with {
                            'title' : 'Action',
                            'actions' :
                            [
                                {'path' : path('personnage.admin.add.lignee', {'personnage': personnage.id}), 'label': 'Ajouter une lignée' },
                            ]
                        } %}
                    {% else %}
                        {% set actions = {} %}
                        {% for lignage in personnage.personnageLignee %}
                            {% set actions = actions|merge({
                                'path':  path('personnage.admin.delete.lignee', {'personnage': personnage.id, 'personnageLignee' : lignage.id }),
                                'label': 'Retirer'
                            }) %}
                        {% endfor %}

                        {% include '_partials/dropDown.twig' with {'title' : 'Action','actions' :actions} %}
                    {% endif %}
                {% endif %}

                <div class="panel-body">
                    <div class="list-group">
                        {# Gestion de la lignée du personnage #}
                        {% if personnage.personnageLignee|length > 0 %}
                            {% for lignage in personnage.personnageLignee %}
                                {% if lignage.lignee %}
                                    <div class="list-group-item">
                                        Lignée :<a
                                                href="{{ path('lignee.detail', {'lignee':lignage.lignee.id}) }}"> {{ lignage.lignee.nom }}</a>
                                    </div>
                                {% endif %}
                                <li class="list-group-item">
                                    <strong>Parents :</strong>
                                    <ul>
                                        {% if lignage.parent1 %}
                                            <li>
                                                <a href="{{ path('personnage.admin.detail', {'personnage':lignage.parent1.id}) }}">{{ lignage.parent1.identity }}</a>
                                                - {{ lignage.parent1.agereel }} ans
                                            </li>
                                            {% if lignage.parent2 %}
                                                <li>
                                                    <a href="{{ path('personnage.admin.detail', {'personnage':lignage.parent2.id}) }}">{{ lignage.parent2.identity }}</a>
                                                    - {{ lignage.parent2.agereel }} ans
                                                </li>
                                            {% endif %}
                                        {% else %}
                                            <li>Ni PJ, ni PNJ</li>
                                        {% endif %}
                                    </ul>
                                </li>
                            {% endfor %}
                        {% else %}
                            <p class="m-2 text-center">
                                Ce personnage n'a pas de lignée.
                            </p>
                        {% endif %}
                        {% if descendants|length > 0 %}
                            <li class="list-group-item">
                                <strong>Enfants :</strong>
                                <ul>
                                    {% for descendant in descendants %}
                                        <li>
                                            <a href="{{ path('personnage.admin.detail', {'personnage':descendant.personnage.id}) }}">{{ descendant.personnage.identity }}</a>
                                            - {{ descendant.personnage.agereel }} ans
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}


    </div>
</div>
