<div class="row border-top-0">
    <div class="col-md-6">
        {% include 'personnage/fragment/information.twig' with {'css' : 'panel'} %}

        {% if isAdmin %}
            <div class="well">
                <div class="header">
                    <h5>Informations de jeu admin</h5>
                </div>

                {% if isAdmin %}
                    {% include '_partials/dropDown.twig' with {
                        'title' : 'Action',
                        'actions' :
                        [
                            {'path' : path('personnage.admin.update.renomme', {'personnage': personnage.id}), 'label': 'Modifier la Renomée' },
                            {'path' : path('personnage.admin.update.heroisme', {'personnage': personnage.id}), 'label': 'Modifier l\'Héroïsme' },
                            {'path' : path('personnage.admin.update.pugilat', {'personnage': personnage.id}), 'label': 'Modifier le Pugilat' },
                            {'path' : path('personnage.admin.update.domaine', {'personnage': personnage.id}), 'label': 'Modifier la liste des domaines de magie' },
                            {'path' : path('personnage.admin.add.religion', {'personnage': personnage.id}), 'label': 'Ajouter une religion' },
                            {'path' : path('personnage.admin.update.origine', {'personnage': personnage.id}), 'label': 'Modifier l\'origine' },
                            {'path' : path('personnage.admin.update.langue', {'personnage': personnage.id}), 'label': 'Modifier les langages' },
                            {'path' : path('personnage.admin.update.sort', {'personnage': personnage.id}), 'label': 'Modifier la liste des sorts' },
                            {'path' : path('personnage.admin.update.potion', {'personnage': personnage.id}), 'label': 'Modifier la liste des potions' },
                            {'path' : path('personnage.admin.update.priere', {'personnage': personnage.id}), 'label': 'Modifier la liste des prieres' },
                            {'path' : path('personnage.admin.update.technologie', {'personnage': personnage.id}), 'label': 'Modifier la liste des technologies' },
                            {'path' : path('personnage.admin.update.connaissance', {'personnage': personnage.id}), 'label': 'Modifier la liste des connaissances' },
                        ]
                    } %}
                {% endif %}

                <div class="panel-body">
                    <p>Origine : <strong
                                class="text-success">{{ personnage.territoire|default("non définie") }}</strong>
                    </p>
                    <p>Renommée : <strong class="text-success">{{ personnage.renomme|default(0) }}</strong>
                        <a role="button" data-bs-toggle="collapse" href="#renommeHistory" aria-expanded="false"
                           aria-controls="collapseExample">
                            <i class="fa fa-history" aria-hidden="true"></i>
                        </a>
                    </p>
                    <div class="collapse" id="renommeHistory">
                        <h6>Historique</h6>
                        <div class="list-group">
                            {% for historique in personnage.renommeHistories %}
                                <div class="list-group-item">{{ historique.date|date("Y-m-d H:i:s") }}
                                    : {% if historique.renomme > 0 %}+{% endif %}{{ historique.renomme }} {% if historique.explication %} pour la raison suivante : "{{ historique.explication }}"{% endif %}
                                    .
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <p>Héroïsme : <strong class="text-success">{{ personnage.heroisme|default(0) }}</strong>
                        <a role="button" data-bs-toggle="collapse" href="#heroismeHistory" aria-expanded="false"
                           aria-controls="collapseExample">
                            <i class="fa fa-history" aria-hidden="true"></i>
                        </a></p>
                    <div class="collapse" id="heroismeHistory">
                        <h6>Historique</h6>
                        <div class="list-group">
                            {% for historique in personnage.displayHeroisme %}
                                <div class="list-group-item">{{ historique.date|date("Y-m-d H:i:s") }}
                                    : {% if historique.heroisme > 0 %}+{% endif %}{{ historique.heroisme }} {% if historique.explication %} pour la raison suivante : "{{ historique.explication }}"{% endif %}
                                    .
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <p>Pugilat : <strong class="text-success">{{ personnage.pugilat|default(0) }}</strong>
                        <a role="button" data-bs-toggle="collapse" href="#pugilatHistory" aria-expanded="false"
                           aria-controls="collapseExample">
                            <i class="fa fa-history" aria-hidden="true"></i>
                        </a></p>
                    <div class="collapse" id="pugilatHistory">
                        <h6>Historique</h6>
                        <div class="list-group">
                            {% for historique in personnage.displayPugilat %}
                                <div class="list-group-item">{{ historique.date|date("Y-m-d H:i:s") }}
                                    : {% if historique.pugilat > 0 %}+{% endif %}{{ historique.pugilat }} {% if historique.explication %} pour la raison suivante : "{{ historique.explication }}"{% endif %}
                                    .
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <h6>Religions :</h6>
                    <div class="list-group">
                        {% for personnageReligion in personnage.personnagesReligions %}
                            <div class="list-group-item">{% if personnageReligion.religion.secret %}<span
                                        style="color:red;">Secret</span> - {% endif %}{{ personnageReligion.religion.label }}
                                - {{ personnageReligion.religionLevel.label }} - <a
                                        href="{{ path('personnage.admin.delete.religion', {'personnage': personnage.id, 'personnageReligion': personnageReligion.id }) }}">Supprimer</a>
                            </div>
                        {% else %}
                            <div class="list-group-item-text">Sans - Fervent</div>
                        {% endfor %}
                    </div>

                    <h6>Langues connues :</h6>
                    {% set languesAnomalie = personnage.getLanguesAnomaliesMessage() %}
                    {% if languesAnomalie != "" %}
                        <div class="text-warning">{{ languesAnomalie }}</div>
                    {% endif %}
                    <div class="list-group">
                        {% for personnageLangue in personnage.personnageLangues %}
                            <div class="list-group-item">{% if personnageLangue.langue.secret %}<span
                                        style="color:red;">Secret</span> - {% endif %}
                                <strong>{{ personnageLangue.langue }}</strong> ({{ personnageLangue.source }}) -
                                <a href="{{ path('personnage.admin.delete.langue', {'personnage': personnage.id, 'personnageLangue' : personnageLangue.id }) }}">Supprimer</a>
                            </div>
                        {% endfor %}
                    </div>

                    <h6>Domaines de magie :</h6>
                    <div class="list-group">
                        {% for domaine in personnage.domaines %}
                            <div class="list-group-item">{{ domaine.label }}</div>
                        {% else %}
                            <div class="list-group-item">Aucun</div>
                        {% endfor %}
                    </div>

                    <h6>Sorts :</h6>
                    {% set sortAnomalie = personnage.getSortAnomalieMessage() %}
                    {% if sortAnomalie != "" %}
                        <div class="text-warning">{{ sortAnomalie }}</div>
                    {% endif %}
                    <div class="list-group">
                        <div class="list-group-item">
                            {% for sort in personnage.sorts %}
                                <div class="list-group-item-text">{% if sort.secret %}<span
                                            style="color:red;">Secret</span> - {% endif %}{{ sort.label }}
                                    - {{ sort.domaine.label }} Niveau {{ sort.niveau }}</div>
                            {% else %}
                                <div class="list-group-item-text">Aucun</div>
                            {% endfor %}
                        </div>
                    </div>

                    <h6>Potions :</h6>
                    {% set potionsAnomalie = personnage.getPotionAnomalieMessage() %}
                    {% if potionsAnomalie != "" %}
                        <div class="text-warning">{{ potionsAnomalie }}</div>
                    {% endif %}
                    <div class="list-group">
                        <div class="list-group-item">
                            {% for potion in personnage.potions %}
                                <div class="list-group-item-text">{% if potion.secret %}<span
                                            style="color:red;">Secret</span> - {% endif %}{{ potion.label }} -
                                    Niveau {{ potion.niveau }}</div>
                            {% else %}
                                <div class="list-group-item-text">Aucune</div>
                            {% endfor %}
                        </div>
                    </div>

                    <h6>Prières :</h6>
                    {% set sortAnomalie = personnage.getPrieresAnomalieMessage() %}
                    {% if sortAnomalie != "" %}
                        <div class="text-warning">{{ sortAnomalie }}</div>
                    {% endif %}
                    <div class="list-group">
                        <div class="list-group-item">
                            {% for priere in personnage.prieres %}
                                <div class="list-group-item-text">{{ priere.sphere.label }} -
                                    Niveau {{ priere.niveau }} ({{ priere.label }})
                                </div>
                            {% else %}
                                <div class="list-group-item-text">Aucune</div>
                            {% endfor %}
                        </div>
                    </div>

                    <h6>Technologies :</h6>
                    <div class="list-group">
                        <div class="list-group-item">
                            {% for technologie in personnage.technologies %}
                                <div class="list-group-item-text">{% if technologie.secret %}<span
                                            style="color:red;">Secret</span> - {% endif %}{{ technologie.label }}
                                </div>
                            {% else %}
                                <div class="list-group-item-text">Aucune</div>
                            {% endfor %}
                        </div>
                    </div>

                    <h6>Connaissances :</h6>
                    <div class="list-group">
                        <div class="list-group-item">
                            {% for connaissance in personnage.connaissances %}
                                <div class="list-group-item-text">{% if connaissance.secret %}<span
                                            style="color:red;">Secret</span> - {% endif %}{{ connaissance.label }}
                                </div>
                            {% else %}
                                <div class="list-group-item-text">Aucune</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="col-md-6">
        {% include 'personnage/fragment/trombinoscope.twig' with {'personnage': personnage, 'participant': participant, css: 'panel'} %}
        {% include 'personnage/fragment/qrcode.twig' with {'personnage': personnage, 'participant': participant} %}
    </div>

</div>
