{% if css is not defined %}
    {% set css = 'well' %}
{% endif %}
{% if personnage.technologies|length > 0 %}
    <div class="{{ css }}">
        <div class="header">
            <h5>Vos technologies</h5>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="list-group">

                    {% for technologie in personnage.technologies %}
                        <div class="list-group-item d-flex justify-content-between">
                            <div>
                                {% if technologie.secret %}
                                    <i class="fa fa-user-secret text-warning" data-bs-toggle="tooltip"
                                       data-bs-placement="top"
                                       title="Secret"></i> -&nbsp;
                                {% endif %}

                                {{ technologie.label }}
                            </div>

                            <div class="btn-group" role="group">
                                <button class="btn btn-sm btn-secondary" data-bs-toggle="collapse"
                                        href="#technologie_{{ technologie.id }}"
                                        aria-expanded="false" aria-controls="technologie_{{ technologie.id }}"
                                        role="button">
                                    <i class="fa-solid fa-circle-info"></i>
                                </button>
                                {% if technologie.documentUrl %}
                                    {% if isAdmin %}
                                        <button class="btn btn-sm btn-secondary"
                                                href="{{ path('technologie.document',{'technologie':technologie.id, 'document': technologie.documentUrl}) }}"
                                                aria-expanded="false"
                                                role="button">
                                            <i class="fa-solid fa-file"></i>
                                        </button>
                                    {% elseif participant is defined %}
                                        <button class="btn btn-sm btn-secondary"
                                                href="{{ path('participant.technologie.document',{'technologie':technologie.id, 'participant': participant.id,'document': technologie.documentUrl}) }}"
                                                role="button">
                                            <i class="fa-solid fa-file"></i>
                                        </button>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="list-group-item bg-body-secondary collapse" id="technologie_{{ technologie.id }}">
                            {{ technologie.description|markdown_to_html }}
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endif %}
