{% if isAdmin %}
    {% if css is not defined %}
        {% set css = 'well' %}
    {% endif %}
    <div class="{{ css }}">
        <div class="header">
            <h5>Technique</h5>
        </div>

        {% if isAdmin %}
            {% include '_partials/dropDown.twig' with {
                'title' : 'Action',
                'actions' :
                [
                    {'path' : path('personnage.trigger.add', {'personnage': personnage.id}), 'label': 'Ajouter un déclencheur de compétence' },
                    {'path' : path('personnage.apprentissage', {'personnage': personnage.id}), 'label': 'Ajouter un apprentissage de compétence' },
                ]
            } %}
        {% endif %}

        <div class="panel-body">
            {% if isAdmin %}
                <h6>Jetons de vieillesse</h6>
                <div class="list-group mb-2">
                    {% for personnageToken in personnage.personnageHasTokens %}
                        <div class="list-group-item  d-flex justify-content-between">
                            <div>{{ personnageToken.token.label }}</div>
                            <div>
                                <a class="btn btn-sm btn-secondary"
                                   href="{{ path('personnage.token.delete', {'personnage': personnage.id, 'personnageHasToken': personnageToken.id}) }}">Supprimer</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="list-group-item">La liste est vide</div>
                    {% endfor %}
                </div>

                <h6>Apprentissage</h6>
                <div class="list-group mb-2">
                    {% for apprentissage in personnage.apprentissages %}
                        <div class="list-group-item  d-flex justify-content-between">
                            <div>{{ apprentissage.competence.label }}</div>
                            <div>
                                <a class="btn btn-sm btn-secondary"
                                   href="{{ path('personnage.apprentissage.detail', {'personnage': personnage.id, 'apprentissage': apprentissage.id}) }}">Voir</a>
                                <a class="btn btn-sm btn-secondary"
                                   href="{{ path('personnage.apprentissage.delete', {'personnage': personnage.id, 'apprentissage': apprentissage.id}) }}">Supprimer</a>

                            </div>
                        </div>
                    {% else %}
                        <div class="list-group-item">La liste est vide</div>
                    {% endfor %}
                </div>
            {% endif %}

            <h6>Déclencheurs de compétences</h6>
            <div class="list-group">
                {% for trigger in personnage.personnageTriggers %}
                    <div class="list-group-item d-flex justify-content-between">
                        {% if trigger.tag.value is defined %}
                            <div>{{ trigger.tag.value }}</div>
                        {% else %}
                            <div>{{ trigger.tag|default('-') }}</div>
                        {% endif %}
                        {% if isAdmin %}
                            <div>
                                <a class="btn btn-sm btn-secondary"
                                   href="{{ path('personnage.trigger.delete', {'personnage': personnage.id, 'trigger': trigger.id}) }}">Supprimer</a>
                            </div>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="list-group-item">La liste est vide</div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
