{% if css is not defined %}
    {% set css = 'well' %}
{% endif %}

{% if personnage is not defined and participant is defined %}
    {% set personnage = participant.personnage %}
{% endif %}

{% if personnage is not defined %}
    {% set personnage = app.user.personnage %}
{% endif %}

{% set alchemyTrigger %}
    {% if participant is defined and personnage.hasCompetence(constant('App\\Enum\\CompetenceFamilyType::ALCHEMY')) %}
        {% for niveau in 1..personnage.getCompetenceNiveau(constant('App\\Enum\\CompetenceFamilyType::ALCHEMY')) %}
            {% if niveau > 0 and not participant.hasPotionsDepartByLevel(niveau) %}
                <li class="list-group-item"><a
                            href="{{ path('participant.potion.depart', {'niveau' : niveau, 'participant' : participant.id}) }}">
                        Choisir votre potion de niveau {{ niveau }} à ajouter à votre enveloppe de
                        départ</a></li>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endset %}

{% set activeTriggers = personnage.getActiveTriggers %}
   {% if activeTriggers|length > 0
       or alchemyTrigger|trim is not empty %}

       {# Compétences #}
       <div class="{{ css }}">
           <div class="header">
               <h5>Choix à déterminer</h5>
           </div>

           {% include '_partials/cardNotif.twig' with {'type' : 'warning', 'content' : 'Vos compétences vous permettent de choisir des connaissances supplémentaires' } %}

           <ul class="list-group">
               {% for trigger in activeTriggers %}

                   {% if  trigger.tag and trigger.tag.isLangueCourante %}
                       <li class="list-group-item"><a
                                   href="{{ path('personnage.langueCourante', {'personnage': personnage.id}) }}">
                               Choisir une langue courante supplémentaire</a></li>
                   {% endif %}
                   {% if  trigger.tag and trigger.tag.isLangueAncienne %}
                       <li class="list-group-item"><a
                                   href="{{ path('personnage.langueAncienne', {'personnage': personnage.id}) }}">
                               Choisir une langue ancienne supplémentaire</a></li>
                   {% endif %}
                   {% if  trigger.tag and trigger.tag.isAlchimieApprenti %}
                       <li class="list-group-item"><a
                                   href="{{ path('personnage.potion', {'niveau' : 1, 'personnage' : personnage.id}) }}">
                               Choisir une nouvelle recette de potion de niveau Apprenti</a></li>
                   {% endif %}
                   {% if  trigger.tag and trigger.tag.isAlchimieInitie %}
                       <li class="list-group-item"><a
                                   href="{{ path('personnage.potion', {'niveau' : 2, 'personnage' : personnage.id}) }}">
                               Choisir une nouvelle recette de potion de niveau Initié</a></li>
                   {% endif %}
                   {% if  trigger.tag and trigger.tag.isAlchimieExpert %}
                       <li class="list-group-item"><a
                                   href="{{ path('personnage.potion', {'niveau' : 3, 'personnage' : personnage.id}) }}">
                               Choisir une nouvelle recette de potion de niveau Expert</a></li>
                   {% endif %}
                   {% if  trigger.tag and trigger.tag.isAlchimieMaitre %}
                       <li class="list-group-item"><a
                                   href="{{ path('personnage.potion', {'niveau' : 4, 'personnage' : personnage.id}) }}">
                               Choisir une nouvelle recette de potion de niveau Maitre</a></li>
                   {% endif %}
                   {% if  trigger.tag and trigger.tag.isDomaineMagie %}
                       <li class="list-group-item"><a
                                   href="{{ path('personnage.domaine', {'personnage': personnage.id}) }}">
                               Choisir un domaine de magie</a></li>
                   {% endif %}
                   {% if  trigger.tag and trigger.tag.isSortApprenti %}
                       <li class="list-group-item"><a
                                   href="{{ path('personnage.sort.choose', {'personnage': personnage.id, 'sort' : 1}) }}">
                               Choisir un sort de niveau Apprenti</a></li>
                   {% endif %}
                   {% if trigger.tag and trigger.tag.isSortInitie %}
                       <li class="list-group-item"><a
                                   href="{{ path('personnage.sort.choose', {'personnage': personnage.id, 'sort' : 2}) }}">
                               Choisir un sort de niveau Initié</a></li>
                   {% endif %}
                   {% if trigger.tag and trigger.tag.isSortExpert %}
                       <li class="list-group-item"><a
                                   href="{{ path('personnage.sort.choose', {'personnage': personnage.id, 'sort' : 3}) }}">
                               Choisir un sort de niveau Expert</a></li>
                   {% endif %}
                   {% if trigger.tag and  trigger.tag.isSortMaitre %}
                       <li class="list-group-item"><a
                                   href="{{ path('personnage.sort.choose', {'personnage': personnage.id, 'sort' : 4}) }}">
                               Choisir un sort de niveau Maitre</a></li>
                   {% endif %}
                   {% if trigger.tag and trigger.tag.isPretriseInitie %}
                       <li class="list-group-item"><a
                                   href="{{ path('personnage.religion.description', {'personnage': personnage.id}) }}">
                               Choisir une description de religion</a></li>
                   {% endif %}
                   {% if trigger.tag and trigger.tag.isTechnologie %}
                       <li class="list-group-item"><a
                                   href="{{ path('personnage.technologie', {'personnage': personnage.id}) }}">
                               Choisir une technologie</a></li>
                   {% endif %}

                   {% if participant is defined and loop.last and personnage.hasCompetence(constant('App\\Enum\\CompetenceFamilyType::ALCHEMY')) %}

                       {% for niveau in 1..personnage.getCompetenceNiveau(constant('App\\Enum\\CompetenceFamilyType::ALCHEMY')) %}
                           {% if niveau > 0 and not participant.hasPotionsDepartByLevel(niveau) %}
                               <li class="list-group-item"><a
                                           href="{{ path('participant.potion.depart', {'niveau' : niveau, 'participant' : participant.id}) }}">
                                       Choisir votre potion de niveau {{ niveau }} à ajouter à votre enveloppe de
                                       départ</a></li>
                           {% endif %}
                       {% endfor %}

                   {% endif %}
               {% else %}
                   {{ alchemyTrigger }}
               {% endfor %}
           </ul>
       </div>
   {% endif %}
