{% if css is not defined %}
    {% set css = 'well' %}
{% endif %}

{% set alchemyTrigger %}
    {% if personnage.hasCompetence(constant('App\\Enum\\CompetenceFamilyType::ALCHEMY')) %}
        {% for niveau in 1..personnage.getCompetenceNiveau(constant('App\\Enum\\CompetenceFamilyType::ALCHEMY')) %}
            {% if niveau > 0 and not participant.hasPotionsDepartByLevel(niveau) %}
                <li class="list-group-item"><a
                            href="{{ path('participant.potion.depart', {'niveau' : niveau, 'participant' : participant.id}) }}">
                        Choisir votre potion de niveau {{ niveau }} à ajouter à votre enveloppe de
                        départ</a></li>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endset %}

   {% if personnage.personnageTriggers|length > 0
       or alchemyTrigger|trim is not empty %}

       {# Compétences #}
       <div class="{{ css }}">
           <div class="header">
               <h5>Choix à déterminer</h5>
           </div>

           {% include '_partials/cardNotif.twig' with {'type' : 'warning', 'content' : 'Vos compétences vous permettent de choisir des connaissances supplémentaires' } %}

           <ul class="list-group">
               {% for trigger in personnage.personnageTriggers %}
                   {% if  trigger.tag and trigger.tag.value == 'LANGUE COMMUNE' %}
                       <li class="list-group-item"><a
                                   href="{{ path('participant.langueCommune', {'participant': participant.id}) }}">
                               Choisir une langue commune supplémentaire</a></li>
                   {% endif %}
                   {% if  trigger.tag and trigger.tag.value == 'LANGUE COURANTE' %}
                       <li class="list-group-item"><a
                                   href="{{ path('participant.langueCourante', {'participant': participant.id}) }}">
                               Choisir une langue courante supplémentaire</a></li>
                   {% endif %}
                   {% if  trigger.tag and trigger.tag.value == 'LANGUE ANCIENNE' %}
                       <li class="list-group-item"><a
                                   href="{{ path('participant.langueAncienne', {'participant': participant.id}) }}">
                               Choisir une langue ancienne supplémentaire</a></li>
                   {% endif %}
                   {% if  trigger.tag and trigger.tag.value == 'ALCHIMIE APPRENTI' %}
                       <li class="list-group-item"><a
                                   href="{{ path('participant.potion', {'niveau' : 1, 'participant' : participant.id}) }}">
                               Choisir une nouvelle recette de potion de niveau Apprenti</a></li>
                   {% endif %}
                   {% if  trigger.tag and trigger.tag.value == 'ALCHIMIE INITIE' %}
                       <li class="list-group-item"><a
                                   href="{{ path('participant.potion', {'niveau' : 2, 'participant' : participant.id}) }}">
                               Choisir une nouvelle recette de potion de niveau Initié</a></li>
                   {% endif %}
                   {% if  trigger.tag and trigger.tag.value == 'ALCHIMIE EXPERT' %}
                       <li class="list-group-item"><a
                                   href="{{ path('participant.potion', {'niveau' : 3, 'participant' : participant.id}) }}">
                               Choisir une nouvelle recette de potion de niveau Expert</a></li>
                   {% endif %}
                   {% if  trigger.tag and trigger.tag.value == 'ALCHIMIE MAITRE' %}
                       <li class="list-group-item"><a
                                   href="{{ path('participant.potion', {'niveau' : 4, 'participant' : participant.id}) }}">
                               Choisir une nouvelle recette de potion de niveau Maitre</a></li>
                   {% endif %}
                   {% if  trigger.tag and trigger.tag.value == 'DOMAINE MAGIE' %}
                       <li class="list-group-item"><a
                                   href="{{ path('participant.personnage.domaine', {'participant': participant.id}) }}">
                               Choisir un domaine de magie</a></li>
                   {% endif %}
                   {% if  trigger.tag and trigger.tag.value == 'SORT APPRENTI' %}
                       <li class="list-group-item"><a
                                   href="{{ path('participant.sort.choose', {'participant': participant.id, 'sort' : 1}) }}">
                               Choisir un sort de niveau Apprenti</a></li>
                   {% endif %}
                   {% if trigger.tag and trigger.tag.value == 'SORT INITIE' %}
                       <li class="list-group-item"><a
                                   href="{{ path('participant.sort.choose', {'participant': participant.id, 'sort' : 2}) }}">
                               Choisir un sort de niveau Initié</a></li>
                   {% endif %}
                   {% if trigger.tag and trigger.tag.value == 'SORT EXPERT' %}
                       <li class="list-group-item"><a
                                   href="{{ path('participant.sort.choose', {'participant': participant.id, 'sort' : 3}) }}">
                               Choisir un sort de niveau Expert</a></li>
                   {% endif %}
                   {% if trigger.tag and  trigger.tag.value == 'SORT MAITRE' %}
                       <li class="list-group-item"><a
                                   href="{{ path('participant.sort.choose', {'participant': participant.id, 'sort' : 4}) }}">
                               Choisir un sort de niveau Maitre</a></li>
                   {% endif %}
                   {% if trigger.tag and trigger.tag.value == 'PRETRISE INITIE' %}
                       <li class="list-group-item"><a
                                   href="{{ path('personnage.religion.description', {'personnage': participant.personnage.id}) }}">
                               Choisir une description de religion</a></li>
                   {% endif %}
                   {% if trigger.tag and trigger.tag.value == 'TECHNOLOGIE' %}
                       <li class="list-group-item"><a
                                   href="{{ path('participant.technologie', {'participant': participant.id}) }}">
                               Choisir une technologie</a></li>
                   {% endif %}

                   {% if loop.last and personnage.hasCompetence(constant('App\\Enum\\CompetenceFamilyType::ALCHEMY')) %}

                       {% for niveau in 1..personnage.getCompetenceNiveau(constant('App\\Enum\\CompetenceFamilyType::ALCHEMY')) %}
                           {% if niveau > 0 and not participant.hasPotionsDepartByLevel(niveau) %}
                               <li class="list-group-item"><a
                                           href="{{ path('participant.potion.depart', {'niveau' : niveau, 'participant' : participant.id}) }}">
                                       Choisir votre potion de niveau {{ niveau }} à ajouter à votre enveloppe de
                                       départ</a></li>
                           {% endif %}
                       {% endfor %}

                   {% endif %}
               {% else %}
                   {{ alchemyTrigger }}
               {% endfor %}
           </ul>
       </div>
   {% endif %}
