{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock title %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Accueil</a></li>
        <li class="active">Messagerie</li>
    </ol>

    <div class="well well-sm">
        <div class="header">
            <h5>Mes messages</h5>
        </div>

        <div class="btn-toolbar mb-2" role="toolbar">
            <div class="btn-group" role="group">
                <a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Messages envoyés"
                   class="btn btn-secondary" href="{{ path('message.envoye') }}"><i class="fa fa-paper-plane"
                                                                                    aria-hidden="true"></i> Envoyé</a>
                <a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Messages archivés"
                   class="btn btn-secondary" href="{{ path('message.archives') }}"><i class="fa fa-archive"
                                                                                      aria-hidden="true"></i>
                    Archivé</a>
                <a data-bs-toggle="tooltip" data-bs-placement="bottom" title="Nouveau message" class="btn btn-secondary"
                   href="{{ path('message.new') }}"><i class="fa fa-plus" aria-hidden="true"></i> Nouveau</a>

            </div>
        </div>

        <div class="accordion" id="messageList">
            {% for message in user.messageRelatedByDestinataires|filter(message => message.lu != 1) %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button d-flex justify-content-between collapsed" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse{{ loop.index }}" aria-expanded="true"
                                aria-controls="collapse{{ loop.index }}">
                            <span class="p-2">De {{ message.userRelatedByAuteur.userName }}</span>
                            <span class="p-2 flex-grow-1"><strong>{{ message.title }}</strong></span>
                            <span class="p-2">Le {{ message.creationDate|date('Y-m-d H:i:s') }}</span>
                        </button>
                    </h2>
                    <div id="collapse{{ loop.index }}" class="accordion-collapse collapse"
                         data-bs-parent="#messageList">
                        <div class="accordion-body row">
                            {{ message.text|markdown_to_html }}
                            <div class="btn-toolbar justify-content-center my-2" role="toolbar">
                                <div class="btn-group" role="group">
                                    <a href="{{ path('message.response', {'message': message.id}) }}"
                                       class="btn btn-secondary"
                                       data-bs-toggle="tooltip" data-bs-placement="bottom" title="Répondre"><i
                                                class="fa fa-reply" aria-hidden="true"></i>
                                        Répondre</a>
                                    <a href=" {{ path('message.archive', {'message': message.id}) }}"
                                       class="message_archiver btn btn-secondary"
                                       data-bs-toggle="tooltip" data-bs-placement="bottom" title="Archiver"><i
                                                class="fa fa-check"
                                                aria-hidden="true"></i> Archiver</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}

                <div class="card mb-3 border-info">
                    <div class="card-header"><i class="fa fa-info text-info"></i> Information</div>
                    <div class="card-body">
                        <p class="card-text">
                            Aucun message non lu.
                        </p>
                    </div>
                </div>

            {% endfor %}
        </div>

    </div>


{% endblock body %}
