{% extends "base.html.twig" %}

{% block title %}Nouveau message{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage')  }}">Accueil</a></li>
		<li><a href="{{ path('messagerie') }}">Messagerie</a></li>
		<li class="active">Nouveau message</li>
	</ol>

	<div class="well well-sm">
		{{ form_start(form, {"attr": {"action": path('message.new') }}" 
				method="POST" {{ form_enctype(form) }}
				novalidate >
						
			<fieldset>
				<legend>Envoi d'un message</legend>
				
				{{ form_label(form.title) }}
				{{ form_widget(form.title) }}
							
				{{ form_label(form.userRelatedByDestinataire) }}
				{{ form_widget(form.userRelatedByDestinataire) }}
				
				{{ form_rest(form) }}
			</fieldset>
		{{ form_end(form) }}
	</div>

{% endblock %}