<!DOCTYPE html>
<html lang="fr" data-bs-theme="dark">
<head>
    {% block head %}
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>LarpManager - {% block title %}{% endblock title %}</title>

        <link rel="shortcut icon" href="{{ app.request.basepath }}/favicon.ico" type="image/x-icon">
        <link rel="icon" href="{{ app.request.basepath }}/favicon.ico" type="image/x-icon"/>

    {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
    {% endblock %}
    {% endblock head %}
</head>
<body>
{% block layout %}
    {# menu #}
    <div id="menu">
        {% block menu %}
            {% include 'menu.twig' %}
        {% endblock menu %}
    </div>
{% endblock %}

{# corps de la page #}
<div id="content" class="container-fluid">

    {% for message in app.session.getFlashBag.get('info') %}
        <div class="alert alert-info d-flex align-items-center" role="alert">
            <div class="p-2 flex-grow-1"><i class="fa-solid fa-circle-info"></i> {{ message }}</div>
            <button type="button" class="btn-close p-2" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    {% for message in app.session.getFlashBag.get('success') %}
        <div class="alert alert-success d-flex flex-row align-items-center" role="alert">
            <div class="p-2 flex-grow-1"><i class="fa-solid fa-circle-check"></i> {{ message }}</div>
            <button type="button" class="btn-close p-2" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    {% for message in app.session.getFlashBag.get('alert') %}
        <div class="alert alert-warning d-flex align-items-center" role="alert">
            <div class="p-2 flex-grow-1"><i class="fa-solid fa-triangle-exclamation"></i> {{ message }}</div>
            <button type="button" class="btn-close p-2" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    {% for message in app.session.getFlashBag.get('error') %}
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <div class="p-2 flex-grow-1"><i class="fa-solid fa-circle-exclamation"></i> {{ message }}</div>
            <button type="button" class="btn-close p-2" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

    {% block body %}{% endblock body %}

    <hr />
    <h3>Test Design</h3>
    <div class="well well-sm">
        <div class="header">
            <h5>Titre</h5>
        </div>

        <p>
        Texte
        </p>

    </div>
    <div class="container shadow min-vh-50 py-2 panel">
        <div class="row">
            <div class="col">
                <h2>Bootstrap 5.3 Dark Mode Switch</h2>
                <p>
                    <button class="btn btn-primary me-2 element">Primary</button>
                    <button class="btn btn-secondary me-2">Secondary</button>
                    <button class="btn btn-danger me-2">Danger</button>
                </p>
            </div>
            <Div class="col-auto">

                <button class="btn btn-dark shadow" id="btnSwitch">Toggle Mode</button>
            </Div>
        </div>
        <div>
            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
                Tooltip on top
            </button>

            <button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tooltip on bottom">
                Tooltip on bottom
            </button>

            <a href="#" data-bs-toggle="tooltip" title="" data-bs-original-title="Default tooltip">inline links Tooltips</a></div>
        </div>

    <div class="row">
        <div class="alert alert-success d-flex flex-row align-items-center" role="alert">
            <div class="p-2 flex-grow-1"><i class="fa-solid fa-circle-check"></i> Notif OK</div>
            <button type="button" class="btn-close p-2" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

    End Test
    <hr />

    {# Pied de page #}
    <footer>
        <div class="pull-left" style="margin-left: 50px;">
            <ul>
                <li><a href="http://www.fedegn.org/">FédéGN</a></li>
                <li><a href="http://www.eveoniris.com/">Eve-oniris</a></li>
            </ul>
        </div>
        <div class="pull-right" style="margin-right: 50px;">
            <ul>
                <li><a href="{{ path('legal') }}">Mentions légales</a></li>
                <li><a href="{{ path('dev') }}">Développement</a></li>
            </ul>
        </div>
    </footer>
</div>
</body>
</html>
