<!DOCTYPE html>
<html lang="fr" data-bs-theme="dark">
<head>
    {% block head %}
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <title>LarpManager - {% block title %}{% endblock title %}</title>

        <link rel="shortcut icon" href="{{ app.request.basepath }}/favicon.ico" type="image/x-icon">
        <link rel="icon" href="{{ app.request.basepath }}/favicon.ico" type="image/x-icon"/>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    {% block javascripts %}
        <script src="{{ app.request.basepath }}/worldmap/js/jquery-3.7.1.min.js"></script>
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    {% endblock head %}
</head>
<body>
{% block layout %}
    {# menu #}
    <div id="menu">
        {% block menu %}
            {% include 'menu.twig' %}
        {% endblock menu %}
    </div>
{% endblock %}

{# corps de la page #}
<div id="content" class="container-fluid" data-turbo="false">
    {% for message in app.session.getFlashBag.get('info') %}
        {% include '_partials/alert.twig' with {'type' : 'info', 'message' : message} %}
    {% endfor %}

    {% for message in app.session.getFlashBag.get('success') %}
        {% include '_partials/alert.twig' with {'type' : 'success', 'message' : message} %}

    {% endfor %}

    {% for message in app.session.getFlashBag.get('alert') %}
        {% include '_partials/alert.twig' with {'type' : 'alert', 'message' : message} %}

    {% endfor %}

    {% for message in app.session.getFlashBag.get('error') %}
        {% include '_partials/alert.twig' with {'type' : 'error', 'message' : message} %}

    {% endfor %}

    {% for message in app.session.getFlashBag.get('gamemaster') %}
        {% include '_partials/alert.twig' with {'type' : 'gamemaster', 'message' : message} %}

    {% endfor %}

    {% block body %}{% endblock body %}

    {# Modal #}
    <div class="modal fade" id="mainModal" tabindex="-1" aria-labelledby="mainModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="mainModalTitle">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="mainModalContent">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="footer-close-mainmodal">
                        Fermer
                    </button>
                    <form method="POST" id="mainModalFooterForm">
                        <button type="button" class="btn btn-secondary btn-modal-confirm" id="footer-confirm-mainmodal">
                            Confirmer
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {# Pied de page #}
    <footer class="d-flex justify-content-center">
        <div class="p-2"><a href="http://www.fedegn.org/">FédéGN</a></div>
        <div class="p-2"><a href="http://www.eveoniris.com/">Eve-oniris</a></div>
        <div class="p-2"><a href="{{ path('legal') }}">Mentions légales</a></div>
        <div class="p-2"><a href="{{ path('dev') }}">Développement</a></div>
    </footer>
</div>
</body>
</html>
