<nav class="navbar navbar-expand-lg bg-dark-subtle">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('homepage') }}">LarpManager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" aria-current="page" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        {% if app.user %}Bienvenue {{ app.user.name }}{% else %}Connectez-vous !{% endif %}
                    </a>
                    <ul class="dropdown-menu">
                        {% if app.user %}
                            <li><a class="dropdown-item" href="{{ path('user.self') }}">Mon compte</a></li>
                            <li><a class="dropdown-item" href="{{ path('gn.list') }}">Mes Grandeurs natures</a></li>
                            <li><a class="dropdown-item" href="{{ path('messagerie') }}">Ma messagerie</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnection</a></li>
                        {% else %}
                            <li><a class="dropdown-item" href="{{ path('app_login') }}">Connection</a></li>
                            <li><a class="dropdown-item" href="{{ path('user.register') }}">S'enregistrer</a>
                            </li>
                            <li><a class="dropdown-item" href="{{ path('user.forgot-password') }}">Mot de passe
                                    oublié ?</a></li>
                        {% endif %}
                    </ul>
                </li>

                {# Menus reservé aux admins #}
                {% if is_granted('ROLE_REDACTEUR', app.user) or is_granted('ROLE_ADMIN', app.user) %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Admin
                    </a>
                    <ul class="dropdown-menu">
                        {% if is_granted('ROLE_ADMIN', app.user) %}
                            <li><a class="dropdown-item" href="{{ path('gn.list') }}">Grandeurs natures</a></li>
                            <li><a class="dropdown-item" href="{{ path('billet.list') }}">Billets</a></li>
                            <li><a class="dropdown-item" href="{{ path('user.admin.list') }}">Utilisateurs</a>
                            </li>
                            <li><a class="dropdown-item" href="{{ path('restriction.list') }}">Restrictions
                                    alimentaires</a></li>
                            <li><a class="dropdown-item" href="{{ path('restauration.list') }}">Lieux de
                                    restauration</a></li>
                            <li><a class="dropdown-item" href="{{ path('right.admin.list') }}">Liste des
                                    droits</a></li>
                            <li><a class="dropdown-item" href="{{ path('statistique') }}">Statistiques</a></li>
                            <li><a class="dropdown-item" href="{{ path('admin') }}">Administration</a></li>
                            <li><a class="dropdown-item" href="{{ path('admin.rappels') }}">Rappels</a></li>
                            <li><a class="dropdown-item" href="{{ path('question') }}">Questions</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                        {% endif %}
                            <li><a class="dropdown-item" href="{{ path('annonce.list') }}">Annonces</a>
                            </li>
                    </ul>
                </li>
                {% endif %}

                {# Menus reservé à la cohérence monde et univers #}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Univers
                    </a>
                    <ul class="dropdown-menu">
                        {% if is_granted('ROLE_CARTOGRAPHE', app.user) or is_granted('ROLE_ADMIN', app.user) %}
                            <li><a class="dropdown-item" href="{{ path('territoire.list') }}">Territoires</a>
                            </li>
                            <li><a class="dropdown-item" href="{{ path('territoire.fief') }}">Fiefs</a>
                            </li>
                            <li><a class="dropdown-item" href="{{ path('culture.index') }}">Cultures</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                        {% endif %}
                        <li><a class="dropdown-item" href="{{ path('religion.index') }}">Religions</a></li>
                        <li><a class="dropdown-item" href="{{ path('world') }}">Carte</a></li>
                    </ul>
                </li>

                {# Menus reservé aux scénaristes #}
                {% if is_granted('ROLE_SCENARISTE', app.user) or is_granted('ROLE_ADMIN', app.user) %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Scénario
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ path('groupe.admin.list') }}">Liste des groupes</a>
                            </li>
                            <li><a class="dropdown-item" href="{{ path('groupeSecondaire.admin.list') }}">Liste des
                                    groupes
                                    secondaires</a>
                            </li>
                            <li><a class="dropdown-item" href="{{ path('personnage.admin.list') }}">Liste des
                                    personnages</a></li>
                            <li><a class="dropdown-item" href="{{ path('intrigue.list') }}">Intrigues</a></li>
                            <li><a class="dropdown-item" href="{{ path('background.list') }}">Backgrounds</a>
                            </li>
                            <li><a class="dropdown-item" href="{{ path('debriefing.list') }}">Debriefings</a>
                            </li>
                            <li><a class="dropdown-item" href="{{ path('rumeur.list') }}">Rumeurs</a></li>
                            <li><a class="dropdown-item" href="{{ path('chronologie.index') }}">Chronologie</a>
                            </li>
                            <li><a class="dropdown-item" href="{{ path('lieu.index') }}">Lieux</a></li>
                            <li><a class="dropdown-item" href="{{ path('document.index') }}">Documents</a></li>
                            <li><a class="dropdown-item" href="{{ path('item.index') }}">Objets</a></li>
                            <li><a class="dropdown-item" href="{{ path('lignee.list') }}">Lignées</a></li>
                        </ul>
                    </li>
                {% endif %}

                {# Menus reservé aux scénaristes #}
                {% if is_granted('ROLE_SCENARISTE', app.user) or is_granted('ROLE_ADMIN', app.user) %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Jeu
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ path('loi.index') }}">Lois</a></li>
                            <li><a class="dropdown-item" href="{{ path('economie.index') }}">Economie</a></li>
                            <li><a class="dropdown-item" href="{{ path('strategie.index') }}">Stratégie</a></li>
                            <li><a class="dropdown-item" href="{{ path('groupe.diplomatie') }}">Diplomatie</a>
                            </li>
                            <li><a class="dropdown-item" href="{{ path('groupe.quetes') }}">Quêtes
                                    commerciales</a></li>
                            <li><a class="dropdown-item"
                                   href="{{ path('trombinoscope.index') }}">Trombinoscope</a></li>
                            <li><a class="dropdown-item" href="{{ path('appelation.index') }}">Appelations</a>
                            </li>
                            <li><a class="dropdown-item" href="{{ path('titre.list') }}">Titres</a></li>
                            <li><a class="dropdown-item" href="{{ path('langue.index') }}">Langues</a></li>
                            <li><a class="dropdown-item" href="{{ path('ressource.index') }}">Ressources</a>
                            </li>
                            <li><a class="dropdown-item" href="{{ path('ingredient.list') }}">Ingredients</a>
                            </li>
                            <li><a class="dropdown-item" href="{{ path('religion.level') }}">Fanatisme</a></li>
                            <li><a class="dropdown-item" href="{{ path('monnaie.list') }}">Monnaie</a></li>
                            <li><a class="dropdown-item" href="{{ path('quality.list') }}">Qualité</a></li>
                        </ul>
                    </li>
                {% endif %}

                {# Menus reservé aux règles #}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Règles
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('rules.list') }}">Règles</a></li>
                        <li><a class="dropdown-item" href="{{ path('competence.list') }}">Compétences</a></li>
                        <li><a class="dropdown-item" href="{{ path('classe.index') }}">Classes</a></li>
                        {% if is_granted('ROLE_REGLE', app.user) or is_granted('ROLE_ADMIN', app.user) %}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ path('competenceFamily.index') }}">Famille de
                                    compétences</a></li>
                            <li><a class="dropdown-item" href="{{ path('attributeType.index') }}">Attributs de
                                    compétences</a></li>
                            <li><a class="dropdown-item" href="{{ path('level.list') }}">Niveaux</a></li>
                            <li><a class="dropdown-item" href="{{ path('age.list') }}">Ages</a></li>
                            <li><a class="dropdown-item" href="{{ path('genre.index') }}">Genres</a></li>
                            <li><a class="dropdown-item" href="{{ path('token.list') }}">Jetons</a></li>
                            <li><a class="dropdown-item"
                                   href="{{ path('construction.index') }}">Constructions</a></li>
                            <li><a class="dropdown-item" href="{{ path('technologie.index') }}">Technologies</a>
                            </li>
                            <li><a class="dropdown-item" href="{{ path('magieDomaine.list') }}">Domaine de
                                    magie</a></li>
                            <li><a class="dropdown-item" href="{{ path('magieSort.list') }}">Sorts</a></li>
                            <li><a class="dropdown-item" href="{{ path('magiePotion.list') }}">Potions</a></li>
                            <li><a class="dropdown-item" href="{{ path('magieSphere.list') }}">Sphères</a></li>
                            <li><a class="dropdown-item" href="{{ path('magiePriere.list') }}">Prières</a></li>
                            <li><a class="dropdown-item"
                                   href="{{ path('connaissance.list') }}">Connaissances</a></li>
                            <li><a class="dropdown-item" href="{{ path('personnageSecondaire.list') }}">Personnages
                                    secondaires</a>
                            </li>
                        {% endif %}
                    </ul>
                </li>

                {# Menus reservé au stock #}
                {% if is_granted('ROLE_STOCK', app.user) or is_granted('ROLE_ADMIN', app.user) %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Stock
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ path('stock.index') }}">Tableau de bord</a>
                            </li>
                            <li><a class="dropdown-item" href="{{ path('stockEtat.index') }}">Etats</a></li>
                            <li><a class="dropdown-item" href="{{ path('stockTag.index') }}">Tags</a></li>
                            <li><a class="dropdown-item" href="{{ path('stockLocalisation.index') }}">Localisations</a>
                            </li>
                            <li><a class="dropdown-item"
                                   href="{{ path('stockRangement.index') }}">Rangements</a></li>
                            <li><a class="dropdown-item" href="{{ path('stockProprietaire.index') }}">Proprietaires</a>
                            </li>
                            <li><a class="dropdown-item" href="{{ path('stockObjet.index') }}">Objets</a></li>
                            <li><a class="dropdown-item" href="{{ path('stockObjet.export') }}">Exporter</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                {% endif %}

                {% if is_granted('ROLE_ADMIN', app.user) %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Larp
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ path('install') }}">Tableau de bord</a></li>
                        </ul>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                {% endif %}

                {% block module_menu %}
                    {% include 'module/menu.twig' %}
                {% endblock module_menu %}

            </ul>
            <!-- form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Rechercher">
                <button type="submit" class="btn btn-outline-secondary" data-toggle="tooltup" data-placement="top" title="Lancer la recherche"><i class="fa fa-search"></i></button>
            </form -->
        </div>
    </div>
</nav>
