{% extends "base.html.twig" %}

{% block title %}Trombinoscope{% endblock title %}

{% block style %}
<style>
ul, li {
  
  list-style: none;
}

a {

  text-decoration: none;
}

.waterfall .pin {
  width: 160px;
  height: auto;
  margin: 0 0 10px 20px;
}

.waterfall .pin a {
  width: 100%;
  height: 100%;
}

.waterfall.gallery .pin {
  width: 180px;
}
</style>
{% endblock style %}

{% block body %}

{% include '_partials/breadcrumb.twig' with {'items' : [{'name' : 'Trombinoscope'}]} %}

	<div class="well well-sm">
		<div class="header">
			<h5>Personnages participants à {{ gn.label }} <small>({{ paginator|length }} personnages trouvés)</small></h5>
		</div>

		{% include '_partials/formListSearch.twig' with
            {
                'actionPath' : path('trombinoscope.index')
            } 
        %}
	</div>

	{% include '_partials/pagination.html.twig' %}

	<table class="table table-striped table-bordered table-condensed table-hover">
        {% include '_partials/thead.twig' with  { 'route': 'trombinoscope.index', 'rows': [
            {'name' : 'Nom', 'field' : 'nom'},
            {'name' : 'Tromine'},
            {'name' : 'Groupe', 'field' : 'groupe'},
            {'name' : 'Joueur', 'field' : 'joueur'},
        ]} %}
        <tbody>
		{% for participant in paginator %}
			<tr>
				<td>{{ participant.personnage.nom }}</td>
				<td>
					<a href="{{ path('personnage.detail', {'personnage': participant.personnage.id}) }}">
						{% if participant.personnage.trombineUrl %}
							<img src="{{ path('personnage.trombine', {'personnage' : participant.personnage.id }) }}" alt="{{ participant.personnage.nom }}" />
						{% else %}
							<img width="160" src="{{ app.request.basepath }}/img/no_trombine.png" />
						{% endif %}
					</a>
				</td>
				<td>
					{% if participant.groupeGn %}
						<a href="{{ path('groupe.detail', {'groupe': participant.groupeGn.groupe.id} ) }}">{{ participant.groupeGn.groupe.nom }}</a>
					{% else %}
						Groupe
					{% endif %}
				</td>
				<td>
					<a href="{{ path('user.view', {'user': participant.user.id}) }}">{{ participant.user.username }}</a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

	{% include '_partials/pagination.html.twig' %}

{% endblock body %}
