{% extends "base.html.twig" %}

{% block title %}Construction{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('construction') }}">Liste des constructions</a></li>
		<li class="active">Ajouter une construction</li>
	</ol>
	
	
	<div class="well bs-component">
		{{ form_start(form, {"attr": {"action": path('construction.add') }}) }}
			<fieldset>
				<legend>Ajout d'une construction</legend>
					
					{{ form(form) }}
			</fieldset>
		{{ form_end(form) }}
	</div>
				
{% endblock body %}