{% extends "base.html.twig" %}

{% block title %}Construction{% endblock title %}

{% block body %}

	{% include '_partials/breadcrumb.twig' with {'items' :
        [
            {'name' : 'Liste des constructions', 'route': path('construction.index') },
			{'name' : construction.label, 'route': path('construction.detail', {'construction':construction.id})  },
            {'name' : 'Supprimer' },
        ]
    } %}	
	
	<div class="well bs-component">
		{{ form_start(form, {"attr": {"action": path('construction.delete', {'construction': construction.id}) }}) }}
			<fieldset>
				<legend>Supression d'une construction</legend>
					{{ construction.label }} -- {{ construction.defense }}
					{{ construction.description|markdown_to_html }}
					
					{{ form(form) }}
			</fieldset>
		{{ form_end(form) }}
	</div>
				
{% endblock body %}
