{% extends "base.html.twig" %}

{% block title %}Construction{% endblock title %}

{% block body %}

	{% include '_partials/breadcrumb.twig' with {'items' : {1 : {'name' : 'Liste des constructions'}}} %}

	<div class="well well-sm">
		<div class="header">
			<h5>Liste des constructions <small>( {{ paginator|length }} constructions)</small></h5>
		</div>

		<div class="btn-toolbar" role="toolbar" aria-label="...">
			<div class="btn-group" role="group" aria-label="...">
				<a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Ajouter une construction" href="{{ path('construction.add') }}"><i class="fa fa-plus"></i> Ajouter</a>
			</div>
		</div>
	</div>

	{% include '_partials/pagination.html.twig' %}

	<table class="table table-striped table-bordered table-condensed table-hover">
		{% include '_partials/thead.twig' with  { 'route': 'construction.index', 'rows': [
            {'name' : 'Construction', 'field' : 'label'},
			{'name' : 'Défense', 'field' : 'defense'},
            {'name' : 'Description'},
            {'name' : 'Actions'},
        ]} %}
		<tbody>
		{% for construction in paginator %}
			<tr>
				<td>{{ construction.label }}</td>
				<td>{{ construction.defense }}</td>
				<td>{{ construction.description|markdown_to_html }}</td>
				<td>
					<div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
						<div class="btn-group" role="group" aria-label="...">
							<a class="btn btn-secondary" href="{{ path('construction.detail',{'construction':construction.id}) }}"><i class="fa fa-eye"></i></a>
							<a class="btn btn-secondary" href="{{ path('construction.update',{'construction':construction.id}) }}"><i class="fa fa-pencil"></i></a>
							<a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Liste des territoires avec cette construction" href="{{ path('construction.territoires',{'construction':construction.id}) }}"><i class="fa fa-map"></i></a>
							<a class="btn btn-danger" href="{{ path('construction.delete',{'construction':construction.id}) }}"><i class="fa fa-eraser"></i></a>
						</div>
					</div>
				</td>
			</tr>
		{% endfor %}
	 	</tbody>
	</table>

    {% include '_partials/pagination.html.twig' %}
	
{% endblock %}
