{% extends "base.html.twig" %}

{% block title %}Documents{% endblock title %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Accueil</a></li>
        <li><a href="{{ path('document.index') }}">Liste des documents</a></li>
        <li class="active">Suppression d'un document</li>
    </ol>

    <div class="well well-sm bs-component">
        <div class="header">
            <h5>Suppression d'un document</h5>

            <p>{{ document.code }} -- {{ document.titre }}</p>
        </div>
        {{ form(form) }}
    </div>

{% endblock %}
