{% extends "base.html.twig" %}

{% block title %}Documents{% endblock title %}

{% block body %}

    {% include '_partials/breadcrumb.twig' with {'items' :[{'name' : 'Liste des document' },]} %}


    <div class="well well-sm">

        <div class="header">
            <h5>Liste des documents <small>({{ paginator|length }} documents)</small></h5>

            {% include '_partials/formListSearch.twig' with
                {
                    'canAdd': {'title': 'Ajouter un document', 'path': path('document.add')},
                    'actionPath' : path('document.list'),
                    'buttons' : [
                    {'label': 'Imprimer', 'title': "Imprimer la liste", 'route': path('document.print'), 'icon': 'fa-print', 'target':'_blank'},
                    {'label': 'Liste CSV','title': "Télécharger la liste (CSV)", 'route': path('document.download'), 'icon': 'fa-download'}
                ]
                } %}
        </div>


    </div>


    {% include '_partials/pagination.html.twig' %}

    <table class="table table-condensed table-striped table-bordered">
        {% include '_partials/thead.twig' with  { 'route': 'document.list', 'rows': [
            {'name' : 'Code', 'field' : 'code'},
            {'name' : 'Titre', 'field' : 'titre'},
            {'name' : 'Impression', 'field' : 'impression', 'css' : 'text-center'},
            {'name' : 'Description', 'field' : 'description', 'css' : 'text-center'},
            {'name' : 'Langues', 'field' : 'langues', 'css' : 'text-center'},
            {'name' : 'Lieux', 'field' : 'lieus.lieus', 'css' : 'text-center'},
            {'name' : 'Groupe',  'field' : 'groupe', 'css' : 'text-center'},
            {'name' : 'Personnages', 'field' : 'personnages', 'css' : 'text-center'},
            {'name' : 'Auteur', 'field' : 'auteur', 'css' : 'text-center'},
            {'name' : 'Date de création', 'field' : 'creation_date', 'css' : 'text-center'},
            {'name' : 'Date de mise à jour', 'field' : 'update_date', 'css' : 'text-center'},
            {'name' : 'Actions', 'css' : 'text-center'},
        ]} %}
        <tbody>
        {% for document in paginator %}
            <tr>
                <td>{{ document.code|highlight(pagerService.searchValue) }}</td>
                <td>{{ document.titre|highlight(pagerService.searchValue) }}</td>
                <td>{% if document.impression %}Imprimé{% else %}Non imprimé{% endif %}</td>
                <td>{{ document.description|markdown_to_html|highlight(pagerService.searchValue) }}</td>
                <td>{% if document.langues|length > 0 %}{{ document.langues|join(', ')|highlight(pagerService.searchValue) }}{% else %}Aucune langue définie{% endif %}</td>
                <td>{% if document.lieus|length > 0 %}{{ document.lieus|join(', ')|highlight(pagerService.searchValue) }}{% else %}Non défini{% endif %}</td>
                <td>{% if document.groupes|length > 0 %}{{ document.groupes|join(', ')|highlight(pagerService.searchValue) }}{% else %}Non défini{% endif %}</td>
                <td>{% if document.personnages|length > 0 %}{{ document.personnages|join(', ')|highlight(pagerService.searchValue) }}{% else %}Non défini{% endif %}</td>
                <td>{{ document.auteur|default('Inconnu')|highlight(pagerService.searchValue) }}</td>
                <td>{{ document.creationDate|date('Y-m-d')|highlight(pagerService.searchValue) }}</td>
                <td>{{ document.updateDate|date('Y-m-d')|highlight(pagerService.searchValue) }}</td>
                <td>
                    <div class="btn-toolbar pull-right" role="toolbar">
                        <div class="btn-group" role="group">
                            <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="Télécharger le document associé"
                               href="{{ path('document.get', {'document': document.id}) }}"><i
                                        class="fa-solid fa-download"></i></a>
                            <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="Modifier"
                               href="{{ path('document.update',{'document':document.id}) }}"><i
                                        class="fa fa-pencil"></i></a>
                            <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="Détail"
                               href="{{ path('document.detail',{'document':document.id}) }}"><i
                                        class="fa fa-eye"></i></a>
                            <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="Supprimer"
                               href="{{ path('document.delete',{'document':document.id}) }}"><i
                                        class="fa fa-eraser"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include '_partials/pagination.html.twig' %}

{% endblock %}
