{% extends "base.html.twig" %}

{% block title %}Documents{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('document') }}">Liste des documents</a></li>
		<li class="active">Modification d'un document</li>
	</ol>
	
	<div class="well bs-component">
		{{ form_start(form, {"attr": {"action": path('document.update', {'document':document.id}) }}" method="POST" {{ form_enctype(form) }}  novalidate>
			<fieldset>
				<legend>Modification d'un document</legend>
				
	
				{{ form(form) }}
			</fieldset>
		{{ form_end(form) }}
	</div>
	
{% endblock %}