{% extends "base.html.twig" %}

{% block title %}Annonces{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path("annonce.list") }}">Liste des annonces</a></li>
		<li class="active">Détail d'une annonce</li>
	</ol>

	<div class="well well-sm">

		<div class="header">
			<h5>Modification d'une annonce</h5>
		</div>

		<div class="list-group">
	    	<div class="list-group-item">
		    	<h4 class="list-group-item-heading">{{ annonce.title|markdown_to_html }}</h4>
	   			<p class="list-group-item-text">
	   				{{ annonce.text|markdown_to_html }}
				</p>
	   		</div>
	   		<div class="list-group-item">
		 		<a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Modifier une annonce" href="{{ path('annonce.update', {'annonce': annonce.id}) }}"><i class="fa fa-edit"></i> Modifier</a>
		 		<a class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Supprimer une annonce" href="{{ path('annonce.delete', {'annonce': annonce.id}) }}"><i class="fa fa-edit"></i> Supprimer</a>
			</div>
		</div>
	</div>


{% endblock %}
