{% extends "base.html.twig" %}

{% block title %}Qualité{% endblock title %}

{% block body %}

	{% include '_partials/breadcrumb.twig' with {'items' : [ {'name' : 'Liste des qualités'}]} %}

	<div class="well well-sm">
		<div class="header">
			<h5>Qualités <small>({{ qualities|length }} qualités)</small></h5>
		</div>

		<div class="btn-toolbar" role="toolbar" aria-label="...">
			<div class="btn-group" role="group" aria-label="...">
				<a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Ajouter une qualité" href="{{ path('quality.add') }}"><i class="fa fa-add"></i> Ajouter</a>
			</div>
		</div>
	</div>	
	
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Label</th>
				<th>Numéro</th>
				<th>Valeur</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for quality in qualities %}
			<tr>
				<td>{{ quality.label }}</td>
				<td>{{ quality.numero }}</td>
				<td>
					<ul>
					{% for qualityValeur in quality.qualityValeurs %}
						<li>{{ qualityValeur.nombre }} {{ qualityValeur.monnaie.label }}</li>
					{% endfor %}
					</ul>
				</td>
				<td>
					<div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
						<div class="btn-group" role="group" aria-label="...">
							<a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Détail" href="{{ path('quality.detail',{'quality':quality.id}) }}"><i class="fa fa-eye"></i></a>
							<a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Modifier" href="{{ path('quality.update',{'quality':quality.id}) }}"><i class="fa fa-pencil"></i></a>
							<a class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Supprimer" href="{{ path('quality.delete',{'quality':quality.id}) }}"><i class="fa fa-eraser"></i></a>
						</div>
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	
{% endblock %}
