{% extends "base.html.twig" %}

{% block title %}Territoire{% endblock title %}

{% block body %}

    {% if canReadPrivate is not defined %}
        {% set canReadPrivate = false %}
    {% endif %}
    {% if isMappingInitiated is not defined %}
        {% set isMappingInitiated = false %}
    {% endif %}


    {% include '_partials/breadcrumb.twig' with {'items' :
        [
            {'name' : 'Liste des territoires', 'route': path('territoire.list') },
            {'name' : "Détail d'un territoire" },
        ]
    } %}

    {% if isAdmin %}
        <div class="btn-toolbar d-flex justify-content-end" role="toolbar">
            <div class="btn-group" role="group">
                <a class="btn btn-secondary" data-bs-toggle="tooltip"
                   data-bs-placement="bottom"
                   title="Modifier"
                   href="{{ path('territoire.update', {'territoire' : territoire.id}) }}"><i
                        class="fa fa-pencil"></i> Modifier</a>
                <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                   title="Supprimer"
                   href="{{ path('territoire.delete', {'territoire' : territoire.id}) }}"><i
                        class="fa fa-eraser"></i> Supprimer</a>
            </div>
        </div>
    {% endif %}

    <div class="well well-sm">
        <div class="header">
            <h5>Détail d'un territoire</h5>
        </div>

        <div class="d-flex justify-content-between align-items-center">
            <div class="w-50 text-center align-middle">
                <h1 class="fs-1">
                    {{ territoire.nom }}
                </h1>
            </div>

            <div class="text-center w-50 align-middle">
                {% if territoire.blason %}
                    <img height="200" class="rounded-2 border border-2 border-secondary"
                         src="{{ path('territoire.blason', {'territoire' : territoire.id }) }}"
                         alt="Blason {{ territoire.nom }}"/><br/>
                {% endif %}
                {% if isAdmin %}
                    <a class="btn btn-sm btn-outline-gamemaster mt-1"
                       data-bs-toggle="tooltip" data-bs-placement="bottom"
                       title="Modifier"
                       href="{{ path('territoire.updateBlason', {'territoire': territoire.id}) }}">
                        <i class="fa-solid fa-feather"></i>
                        Modifier Blason
                    </a>
                {% endif %}
            </div>
        </div>

        {% if canReadPrivate %}
            <div class="row">

                <div class="col-sm-12 pt-2">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card mb-2">
                                <div class="card-header border-warning d-flex justify-content-between">
                                    <h5 class="align-content-center">
                                        <i class="fa fa-user-secret text-warning" data-toggle="tooltip"
                                           data-placement="top"
                                           title="Secret"></i>
                                        Quêtes commerciales
                                    </h5>
                                    {% if isAdmin %}
                                        <div class="d-flex justify-content-end">
                                            <a class="btn btn-sm btn-outline-gamemaster"
                                               data-bs-toggle="tooltip" data-bs-placement="bottom"
                                               title="Modifier"
                                               href="{{ path('territoire.updateCibles', {'territoire': territoire.id }) }}">
                                                <i class="fa-solid fa-feather"></i>
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="card-body">

                                    <strong>Liste des pays cibles : </strong>
                                    <ul class="l">
                                        {% for t in territoire.territoireCibles %}
                                            <li>{{ t.nom }}</li>
                                        {% else %}
                                            <li>Aucune cibles définies</li>
                                        {% endfor %}
                                    </ul>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="card mb-2 ">
                                <div class="card-header border-warning d-flex justify-content-between">
                                    <h5 class="align-content-center">
                                        <i class="fa fa-user-secret text-warning" data-toggle="tooltip"
                                           data-placement="top"
                                           title="Secret"></i>
                                        Jeu stratégique
                                    </h5>
                                    {% if isAdmin %}
                                        <div class="d-flex justify-content-end">
                                            <a class="btn btn-sm btn-outline-gamemaster"
                                               data-bs-toggle="tooltip" data-bs-placement="bottom"
                                               title="Modifier"
                                               href="{{ path('territoire.updateStrategie', {'territoire': territoire.id}) }}">
                                                <i class="fa-solid fa-feather"></i>
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="card-body">
                                    {% include '_partials/listItems.twig'
                                        with { 'items' : [
                                        {'title': 'Resistance de base', 'text': territoire.resistance|default(0) },
                                        {'title': 'Defense du territoire', 'text': territoire.defense|default(0) ~ '(prend en compte les constructions)' },
                                        {'title': 'Trésor de base', 'text': territoire.tresor|default(0) },
                                        {'title': 'Richesse réelle', 'text': territoire.richesse|default(0) ~ '(prend en compte les
                                            constructions et le statut du territoire)' },
                                    ]
                                    } %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-sm-12  pt-2">

                <div class="row">

                    <div class="col-sm-6">
                        <div class="card mb-2">
                            <div class="card-header d-flex justify-content-between">
                                <h5 class="align-content-center">Culture</h5>
                                {% if isAdmin %}
                                    <a class="btn btn-sm btn-outline-gamemaster"
                                       data-bs-toggle="tooltip" data-bs-placement="bottom"
                                       title="Modifier"
                                       href="{{ path('territoire.updateCulture', {'territoire': territoire.id }) }}">
                                        <i class="fa-solid fa-feather"></i>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <div class="list-group list-group-flush">
                                    <div
                                        class="list-group-item">{{ territoire.culture.label|default('Non définie') }}</div>
                                    <div class="list-group-item">
                                        <h6>Description</h6>
                                        {% if territoire.culture.description is defined %}
                                            {{ territoire.culture.description|markdown_to_html }}
                                        {% else %}
                                            Non définie
                                        {% endif %}
                                    </div>
                                    {% if true or canReadPrivate %}
                                        <div class="list-group-item">
                                            <h6 class="border-bottom border-warning">
                                                <i class="fa fa-user-secret text-warning" data-toggle="tooltip"
                                                   data-placement="top"
                                                   title="Secret"></i> Description secrète
                                            </h6>
                                            {% if territoire.culture.descriptionComplete is defined %}

                                                {{ territoire.culture.descriptionComplete|markdown_to_html }}
                                            {% else %}
                                                Non définie
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="card mb-2">
                            <div class="card-header d-flex justify-content-between">
                                <h5 class="align-content-center">Loi</h5>
                                {% if isAdmin %}
                                    <a class="btn btn-sm btn-outline-gamemaster mt-2"
                                       data-bs-toggle="tooltip" data-bs-placement="bottom"
                                       title="Modifier"
                                       href="{{ path('territoire.updateLoi', {'territoire': territoire.id }) }}">
                                        <i class="fa-solid fa-feather"></i>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <ul class="list-group">
                                    {% for loi in territoire.lois %}
                                        <li class="list-group-item d-flex justify-content-between">
                                            <div>
                                                {{ loi.label }}
                                            </div>
                                            <div class="btn-group" role="group">
                                                <button class="btn btn-sm btn-secondary" data-bs-toggle="collapse"
                                                        href="#loi_{{ loi.id }}"
                                                        aria-expanded="false" aria-controls="loi_{{ loi.id }}"
                                                        role="button">
                                                    <i class="fa-solid fa-circle-info"></i>
                                                </button>
                                                {% if loi.documentUrl %}
                                                    {% if personnage is defined %}
                                                        <a class="btn btn-sm btn-secondary"
                                                           href="{{ path('personnage.loi.document',{ 'loi': loi.id, 'personnage': personnage.id}) }}"
                                                           aria-expanded="false"
                                                           role="button">
                                                            <i class="fa-solid fa-file"></i>
                                                        </a>
                                                    {% elseif isAdmin %}
                                                        <a class="btn btn-sm btn-secondary"
                                                           href="{{ path('loi.document',{'loi': loi.id}) }}"
                                                           aria-expanded="false"
                                                           role="button">
                                                            <i class="fa-solid fa-file"></i>
                                                        </a>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </li>
                                        <li class="list-group-item bg-body-secondary collapse" id="loi_{{ loi.id }}">
                                            {{ loi.description|markdown_to_html }}
                                        </li>
                                    {% else %}
                                        <li class="list-group-item">Aucune loi définie</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="card mb-2">
                            <div class="card-header d-flex justify-content-between">
                                <h5 class="align-content-center">Informations politiques</h5>
                            </div>
                            <div class="card-body">
                                {% include '_partials/listItems.twig'
                                    with { 'items' : [
                                    {'title': 'Capitale', 'text': territoire.capitale|default('Aucune') },
                                    {'title': 'Système politique', 'text': territoire.politique|default('Inconnu') },
                                    {'title': 'Dirigeant', 'text': territoire.dirigeant|default('Aucun') },
                                ]
                                } %}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="card mb-2">
                            <div class="card-header d-flex justify-content-between">
                                <h5 class="align-content-center">Cultes</h5>
                            </div>
                            <div class="card-body">
                                {% include '_partials/listItems.twig'
                                    with { 'items' : [
                                    {'title': 'Religion dominante', 'text': territoire.religion|default('Aucune') },
                                    {'title': 'Religions secondaires', 'text':territoire.religions|join(', ')|default('Aucunes')  },
                                ]
                                } %}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="card mb-2">
                            <div class="card-header d-flex justify-content-between">
                                <h5 class="align-content-center">Autres informations</h5>
                            </div>
                            <div class="card-body">
                                {% include '_partials/listItems.twig'
                                    with { 'items' : [
                                    {'title': 'Population', 'text': territoire.population|default('Inconnue') },
                                    {'title': 'Symbole', 'text': territoire.symbole|default('Aucun')  },
                                    {'title': 'Niveau technologique', 'text': territoire.techLevel|default('Aucun') },
                                    {'title': 'Langues parlées', 'text': territoire.langues|join(', ')|default('Aucunes') },
                                    {'title': 'Langue principal', 'text': territoire.langue|default('Aucune') },
                                ]
                                } %}
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6">
                        <div class="card mb-2">
                            <div class="card-header d-flex justify-content-between">
                                <h5 class="align-content-center">Economie</h5>

                                {% set editImportBtns = [{}] %}
                                {% set editExportBtns = [{}] %}
                                {% set editIngredientBtns = [{}] %}
                                {% if isAdmin %}
                                    {% set editImportBtns = [{'type': 'gamemaster', 'path' : path('territoire.update', {'territoire': territoire.id}) ~ '#territoire_form_importations' }] %}
                                    {% set editExportBtns = [{'type': 'gamemaster', 'path' : path('territoire.update', {'territoire': territoire.id}) ~ '#territoire_form_exportations' }] %}
                                    {% set editIngredientBtns = [{'type': 'gamemaster', 'path' : path('territoire.updateIngredients', {'territoire': territoire.id}) }] %}
                                {% endif %}
                            </div>
                            <div class="card-body">
                                {% include '_partials/listItems.twig'
                                    with { 'items' : [
                                    {'title': 'Importation', 'text': territoire.importations|join(', ')|default('-'), 'btns': editImportBtns },
                                    {'title': 'Production / Export', 'text': territoire.exportations|join(', ')|default('-'), 'btns': editExportBtns },
                                    {'title': 'Ingrédients fournis', 'text': territoire.ingredients|join(', ')|default('-'), 'btns': editIngredientBtns},
                                ]
                                } %}
                            </div>
                        </div>
                    </div>

                    {% if territoire.territoire %}
                        <div class="col-sm-6">
                            <div class="card mb-2">
                                <div class="card-header d-flex justify-content-between">
                                    <h5 class="align-content-center">Ce territoire dépend de</h5>
                                </div>
                                <div class="card-body">
                                    <p class="list-group-item-text">
                                        <a href="{{ path('territoire.detail',{'territoire': territoire.territoire.id}) }}">{{ territoire.territoire.nom }}</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>


            {% if canReadPrivate %}

                <div class="col-sm-6">
                    <div class="card mb-2">
                        <div class="card-header border-warning d-flex justify-content-between">
                            <h5 class="align-content-center">
                                <i class="fa fa-user-secret text-warning" data-toggle="tooltip" data-placement="top"
                                   title="Secret"></i>
                                Statut
                            </h5>
                            {% if isAdmin %}
                                <a class="btn btn-sm btn-outline-gamemaster"
                                   data-bs-toggle="tooltip" data-bs-placement="bottom"
                                   title="Modifier"
                                   href="{{ path('territoire.updateStatut', {'territoire': territoire.id}) }}">
                                    <i class="fa-solid fa-feather"></i>
                                </a>
                            {% endif %}
                        </div>
                        <div class="card-body">
                            <div class="fs-2 text-center">
                                {% if territoire.statut.value|default('stable')|lower == 'stable' %}
                                    <i class="fa-solid fa-hand-peace text-success"></i>
                                {% elseif territoire.statut.value|default('stable')|lower == 'attack' %}
                                    <i class="fa-solid fa-bell text-danger"></i>
                                {% else %}
                                    <i class="fa-solid fa-hand-fist text-gamemaster"></i>
                                {% endif %}
                                {{ territoire.statut.value|default('stable') }}
                            </div>

                            {% if isAdmin %}
                                {% set suzerain = groupeService.getSuzerain(territoire) %}
                                {% set checkStatutHtml %}

                                    {% if not suzerain %}
                                        Il n'y a aucun suzerain nommé par le groupe rattaché à ce territoire.
                                    {% else %}
                                        Statut au regard de la renommée du Suzerain<br/>
                                        <a href="{{ path('personnage.detail', {'personnage': suzerain.id}) }}">
                                            {{ suzerain.idName }}
                                        </a>
                                        <br/>
                                        Renommée de <span
                                        class="badge text-bg-secondary rounded-pill">
                                            {{ suzerain.renomme }}</span> pour <span
                                        class="badge text-bg-secondary rounded-pill">
                                            {{ groupeService.getRenommeRequired(territoire) }}</span> requise pour {{ max(territoire.territoires|length|default(1), 1) }} fiefs.
                                        <br/>
                                        {% set infoStatut = groupeService.statutTerritoire(territoire).value %}
                                        {% if infoStatut == 'stable' %}
                                            <span class="badge text-bg-success rounded-pill">
                                                <i class="fa-solid fa-hand-peace"></i>
                                                {{ infoStatut }}
                                            </span>
                                        {% elseif infoStatut == 'instable' %}
                                            <span class="badge text-bg-gamemaster rounded-pill">
                                             <i class="fa-solid fa-bell border-danger "></i>
                                                {{ infoStatut }}
                                            </span>
                                        {% elseif infoStatut == 'attaque' %}
                                            <span class="badge text-bg-danger rounded-pill">
                                                <i class="fa-solid fa-bell"></i>
                                                {{ infoStatut }}
                                            </span>
                                        {% else %}
                                            <span class="badge text-bg-secondary rounded-pill">{{ infoStatut }}</span>
                                        {% endif %}

                                    {% endif %}

                                {% endset %}
                                {% include '_partials/cardNotif.twig' with {'type' : 'gamemaster', 'content' : checkStatutHtml, 'css' : 'mt-2 text-center'} %}

                            {% endif %}
                        </div>
                    </div>
                </div>


            {% endif %}

            <div class="col-sm-6">
                <div class="card mb-2">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="align-content-center">Constructions</h5>
                        {% if isAdmin %}
                            <a class="btn btn-sm btn-outline-gamemaster"
                               data-bs-toggle="tooltip" data-bs-placement="bottom"
                               title="Modifier"
                               href="{{ path('territoire.constructionAdd', {'territoire': territoire.id}) }}">
                                <i class="fa-solid fa-feather"></i>
                            </a>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <table class="table table-condensed table-striped table-bordered table-hover">
                            {% include '_partials/thead.twig' with  { 'route': 'connaissance.list', 'rows': [
                                {'name' : 'Nom', 'css' : 'text-center'},
                                {'name' : 'Défense', 'css' : 'text-center'},
                                {'name' : 'Action', 'css' : 'text-center', visible: isAdmin},
                            ]} %}
                            <tbody>
                            {% for construction in territoire.constructions %}
                                <tr>
                                    <td>{{ construction.label }}</td>
                                    <td class="text-center">{{ construction.defense }}</td>
                                    {% if isAdmin %}
                                        <td class="text-center">
                                            <a
                                                class="btn btn-sm btn-outline-gamemaster"
                                                href="{{ path('territoire.constructionRemove', {'territoire': territoire.id, 'construction': construction.id}) }}">
                                                <i class="fa fa-eraser text-gamemaster"></i>
                                                Retirer
                                            </a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% else %}
                                {% include '_partials/noResultTableRow.twig' %}
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card mb-2">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="align-content-center">
                            Groupe rattaché
                        </h5>
                    </div>
                    <div class="card-body">
                        <ul>
                            {% if territoire.groupe.id is defined %}
                                <a href="{{ path('groupe.detail',{'groupe': territoire.groupe.id}) }}">{{ territoire.groupe.nom }}</a>
                            {% else %}
                                Aucun
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card mb-2">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="align-content-center">
                            Merveille
                        </h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-unstyled">
                            {% for merveille in territoire.merveilles %}
                                <li>
                                    <strong>
                                        {% if isAdmin %}
                                            <a class="link-gamemaster"
                                               href="{{ path('merveille.detail',{'merveille': merveille.id}) }}">
                                                <i class="fa fa-feather"></i>
                                                {{ merveille.label }}
                                            </a>
                                        {% else %}
                                            {{ merveille.label }}
                                        {% endif %}
                                    </strong>
                                    <br/>
                                    <div>
                                        {% if canReadPrivate or isMappingInitiated %}
                                            {{ merveille.descriptionCartographe|markdown_to_html|default('Description non connue') }}
                                        {% endif %}
                                        {% if isAdmin %}
                                            <hr>
                                            <h6 class="text-gamemaster"><i class="fa fa-feather"></i> Description
                                                scénariste</h6>
                                            {{ merveille.descriptionScenariste|default('Aucune')|markdown_to_html }}
                                        {% endif %}
                                    </div>
                                </li>
                            {% else %}
                                <li>Aucune</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card mb-2">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="align-content-center">
                            Territoires rattachés
                            <span class="rounded-pill">{{ territoire.territoires|length }} territoires</span>
                        </h5>
                    </div>
                    <div class="card-body">
                        <ul>
                            {% for territoire in territoire.territoires %}
                                <li>
                                    <a href="{{ path('territoire.detail',{'territoire': territoire.id}) }}">
                                        {{ territoire.nomTree }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            {% if canReadPrivate %}
                <div class="col-sm-6">
                    <div class="card mb-2">
                        <div class="card-header d-flex justify-content-between border-warning">
                            <h5 class="align-content-center">
                                <i data-bs-toggle="tooltip" data-bs-placement="bottom"
                                   class="fa fa-user-secret text-warning" title="Secret"></i>
                                Bonus d'origine des personnages
                            </h5>
                        </div>
                        <div class="card-body">
                            {% if territoire.getValideOrigineBonus()|length > 0 %}
                                <div class="list-group">
                                    {% for origineBonus in territoire.getValideOrigineBonus() %}
                                        <div class="list-item">
                                            <div class="d-flex justify-content-between">
                                                <h6>
                                                    <a href="{{ path('bonus.detail',{'bonus': origineBonus.bonus.id}) }}">
                                                        {{ origineBonus.bonus.titre|markdown_to_html }}
                                                    </a>
                                                </h6>
                                                {# TODO
                                                <div>
                                                    <a class="btn btn-sm btn-outline-gamemaster"
                                                       data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                       title="Modifier"
                                                       href="{{ path('territoire.updateBonus', {'territoire': territoire.id}) }}">
                                                        <i class="fa fa-feather"></i>
                                                    </a>
                                                </div> #}
                                            </div>
                                            <div>
                                                {{ origineBonus.bonus.description|markdown_to_html }}
                                            </div>

                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                Aucun - <a
                                class="btn btn-sm btn-outline-gamemaster"
                                href="{{ path('territoire.updateBonus', {'territoire': territoire.id}) }}">
                                <i class="fa-solid fa-feather text-gamemaster"></i> Modifier
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card mb-2">
                    <div class="card-header d-flex justify-content-between">
                        <h5 class="align-content-center">
                            Informations d'interprétation
                        </h5>
                    </div>
                    <div class="card-body">

                        {% include '_partials/listItems.twig'
                            with { 'items' : [
                            {'title': 'Type racial', 'text':  territoire.typeRacial|default('Non défini') },
                            {'title': 'Inspiration', 'text': territoire.armesPredilection|default('Non défini') },
                            {'title': 'Vêtements', 'text': territoire.vetements|default('Non défini') },
                            {'title': 'Nom masculin', 'text': territoire.nomsMasculin|default('Non défini') },
                            {'title': 'Nom féminin', 'text': territoire.nomsFeminin|default('Non défini') },
                            {'title': 'Fontières', 'text': territoire.frontieres|default('Non défini') },
                        ]
                        } %}
                    </div>
                </div>
            </div>

            <div class="col-sm-12 pt2 mb-2">
                <div class="card">
                    <div class="list-group-item">
                        <div class="card-header d-flex justify-content-between">
                            <h5 class="align-content-center">Description</h5>
                        </div>
                        <div class="card-body">

                            <div class="list-group-item-text">
                                {% if not territoire.description %}
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                    Attention, ce territoire n'a pas de description.
                                {% else %}
                                    {{ territoire.description|markdown_to_html }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% if canReadPrivate %}
                <div class="col-sm-12 pt2">
                    <div class="card">
                        <div class="list-group-item">
                            <div class="card-header d-flex justify-content-between border-warning">
                                <h5 class="align-content-center">
                                    <i class="fa fa-user-secret text-warning"></i>
                                    Description secrète
                                </h5>
                            </div>

                            <div class="card-body">
                                <div class="list-group-item-text">
                                    {% if not territoire.descriptionSecrete %}
                                        {% if isAdmin %}
                                            {% set noDescriptionHtml %}
                                                Attention, ce territoire n'a pas de description connue des seuls habitants.
                                            {% endset %}
                                            {% include '_partials/cardNotif.twig' with {'type' : 'gamemaster', 'content' : noDescriptionHtml} %}
                                        {% else %}
                                            Aucune
                                        {% endif %}
                                    {% else %}
                                        {{ territoire.descriptionSecrete|markdown_to_html }}
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>


{% endblock %}
