{% extends "base.html.twig" %}

{% block title %}Territoire{% endblock title %}

{% block body %}

    {% include '_partials/breadcrumb.twig' with {'items' :
        [
            {'name' : 'Liste des territoires' },
        ]
    } %}

    <div class="well well-sm bs-component">

        <div class="header">
            <h5>Liste des territoires <small>( {{ paginator|length }} territoires )</small></h5>
        </div>

        {% if isAdmin %}
            <div class="btn-toolbar mb-2" role="toolbar">
                <div class="btn-group" role="group">
                    <a class="btn btn-secondary" href="{{ path('territoire.add') }}" title="Ajouter un territoire"><i class="fa fa-plus"></i> Ajouter</a>
                    <a class="btn btn-secondary" href="{{ path('territoire.print') }}" title="Imprimer la liste"><i class="fa fa-print"></i> Imprimer</a>
                    <a class="btn btn-secondary" href="{{ path('groupe.quetes') }}" title="Imprimer les quêtes"><i class="fa fa-print"></i> Quêtes</a>
                    <a class="btn btn-secondary" href="{{ path('groupe.quetes', {'csv': true}) }}" title="Exporter les quêtes"><i class="fa fa-file-csv"></i> Quêtes (csv)</a>
                    <a class="btn btn-secondary" href="{{ path('territoire.quete') }}" title="Générer une quête"><i class="fa fa-list"></i> Quête individuelle</a>
                    <a class="btn btn-secondary" href="{{ path('territoire.noble') }}" title="Imprimer les nobles"><i class="fa fa-print"></i> Nobles</a>
                </div>
            </div>
        {% endif %}

        {% include '_partials/formListSearch.twig' with {'actionPath': path('territoire.list')} %}
    </div>

    {% include '_partials/pagination.html.twig' %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <ul class="list-group">
                    {% for territoire in paginator %}
                        {% include 'territoire/fragment/territoire_item.twig' with {'t': territoire, 'isAdmin': isAdmin} %}
                        {% for region in territoire.territoires %}
                            {% include 'territoire/fragment/territoire_item.twig' with {'t': region, 'isAdmin': isAdmin} %}
                            {% for fief in region.territoires %}
                                {% include 'territoire/fragment/territoire_item.twig' with {'t': fief, 'isAdmin': isAdmin} %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    {% include '_partials/pagination.html.twig' %}

{% endblock %}
