{% extends "base.html.twig" %}

{% block body %}


	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path("territoire.list") }}">Liste des territoires</a></li>
		<li><a href="{{ path("territoire.detail", {'territoire': territoire.id}) }}">{{ territoire.nom }}</a></li>
		<li class="active">Retirer un territoire d'un  groupe</li>
	</ol>

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<div class="well bs-component">
				
					{{ form_start(form, {"attr": {"action": path('territoire.ingredients.update', {'territoire': territoire.id}) }}) }}
						<fieldset>
							<legend>Choisissez les ingrédients fournis par {{ territoire.nom }}</legend>
							
							{{ form(form) }}
						</fieldset>
					{{ form_end(form) }}
					
					
				</div>
			</div>
		</div>
	</div>
	
{% endblock body %}