{% extends "base.html.twig" %}

{% block title %}Sphères{% endblock title %}

{% block body %}

    {% include '_partials/breadcrumb.twig' with {'items' :
        [
            {'name' : 'Liste des sphères', 'route': path('magie.sphere.list') },
            {'name' : 'Détail d\'une sphère' }
        ]
    } %}

    <div class="well well-sm">

        <div class="header">
            <h5>Détail d'une sphère</h5>
        </div>

        <div class="d-flex justify-content-end">

            <div class="btn-toolbar d-flex justify-content-between" role="toolbar">
                <div class="btn-group" role="group">
                    <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                       title="Modifier"
                       href="{{ path('magie.sphere.update',{'sphere':sphere.id}) }}"><i
                                class="fa fa-pencil"></i> Modifier</a>
                    <a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
                       title="Supprimer"
                       href="{{ path('magie.sphere.delete',{'sphere':sphere.id}) }}"><i
                                class="fa fa-eraser"></i> Supprimer</a>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">

                <div class="list-group">

                    <div class="list-group-item">
                        <div class="list-group-item-heading fw-bold mb-1">Label</div>
                        <div class="list-group-item-text ps-1">{{ sphere.label }}</div>
                    </div>


                    <div class="list-group-item">
                        <div class="list-group-item-heading fw-bold mb-1">Liste des prières associés</div>
                        <div class="list-group-item-text ps-1">
                            <ul>
                                {% for priere in  sphere.prieres %}
                                    <li><a href="{{ path('magie.priere.detail', {'priere': priere.id}) }}">{{ priere.label }} - {{ priere.niveau }}</a> :
                                        {{ priere.description|markdown_to_html }}
                                    </li>
                                {% else %}
                                    <li>Aucune</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="list-group-item">
                        <div class="list-group-item-heading fw-bold mb-1">Liste des religions associés</div>
                        <div class="list-group-item-text ps-1">
                            <ul>
                                {% for religion in sphere.religions %}
                                    <li>{% if religion.secret %}
                                        <i class="fa fa-user-secret text-danger" data-toggle="tooltip" data-placement="top"
                                           title="Secret"></i> - {% endif %}<a
                                                href="{{ path('religion.detail', {'religion': religion.id}) }}">{{ religion.label }}</a>
                                    </li>
                                {% else %}
                                    <li>Aucune</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>

{% endblock body %}
