{% extends "base.html.twig" %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}

    {% include '_partials/breadcrumb.twig' with {'items' : [
        {'name' : 'Liste des utilisateurs' }
    ]} %}

    <div class="well well-sm">

        <div class="header">
            <h5>Liste des utilisateurs</h5>
        </div>

        {% include '_partials/formListSearch.twig' with
            {
                'canAdd': {'title': 'Ajouter un utilisateur', 'path': path('user.new')},
                'actionPath' : path('user.list')
            } %}
    </div>

    {% include '_partials/pagination.html.twig' %}

    <table class="table table-striped table-bordered table-condensed table-hover">
        {% include '_partials/thead.twig' with  { 'route': 'user.list', 'rows': [
            {'name' : '#', 'field' : 'user.id', 'css' : 'text-center'},
            {'name' : 'Pseudo', 'field' : 'user.username', 'css' : 'text-center'},
            {'name' : 'Email', 'field' : 'user.email', 'css' : 'text-center'},
            {'name' : 'Etat-civil', 'css' : 'text-center'},
            {'name' : 'Droits', 'css' : 'text-center'},
            {'name' : 'Participations', 'css' : 'text-center'},
            {'name' : 'Actions', 'css' : 'text-center'},
        ]} %}
        <tbody>
        {% for user in paginator %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% if not user.etatCivil %}
                        <span class="text-warning">Etat-civil non renseigné</span>
                    {% else %}
                        {{ user.etatCivil.nom|highlight(pagerService.searchValue) }} {{ user.etatCivil.prenom|highlight(pagerService.searchValue) }}
                    {% endif %}
                </td>
                <td>
                    {% for role in user.roles %}
                        {% if role %}{{ role|highlight(pagerService.searchValue) }}<br/>{% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for participant in user.participants %}
                        {{ participant.gn.label|highlight(pagerService.searchValue) }}<br/>
                    {% else %}
                        aucune participation.
                    {% endfor %}
                </td>
                <td>
                    <div class="btn-toolbar pull-right" role="toolbar" aria-label="...">
                        <div class="btn-group" role="group" aria-label="...">
                            <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top"
                               title="Ajouter une participation"
                               href="{{ path('participant.new',{'user':user.id}) }}"><i class="fa fa-bookmark"></i></a>
                            <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Détail"
                               href="{{ path('user.view',{'user':user.id}) }}"><i class="fa fa-eye"></i></a>
                            {% if user.etatCivil %}<a class="btn btn-secondary" data-toggle="tooltip"
                                                      data-placement="top" title="Voir l'état civil"
                                                      href="{{ path('etatCivil.detail', {'id':user.etatCivil.id}) }}"><i
                                        class="fa fa-user"></i></a>{% endif %}
                            <a class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Modifier"
                               href="{{ path('user.edit',{'user':user.id}) }}"><i class="fa fa-pencil"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% include '_partials/pagination.html.twig' %}

{% endblock %}
