{% extends "base.html.twig" %}

{% block title %}Fanatisme{% endblock title %}

{% block body %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('religion.level') }}">Liste des niveaux de religion</a></li>
		<li class="active">Modifier un niveau de religion</li>
	</ol>
	
	<div class="well bs-component">
		{{ form_start(form, {"attr": {"action": path('religion.level.update',{'index': religionLevel.id}) }}) }}
			<fieldset>
				<legend>Modification d'un niveau de religion</legend>
					
					{{ form(form) }}
			</fieldset>
		{{ form_end(form) }}
	</div>
				
{% endblock body %}