{% extends "base.html.twig" %}

{% block title %}Domaine de magie{% endblock title %}

{% block body %}

	{% include '_partials/breadcrumb.twig' with {'items' :
		[
			{'name' : 'Liste des domaines de magie', 'route': path('magie.domaine.list') },
		]
	} %}
	
	<div class="well well-sm">

		{% include '_partials/formListSearch.twig' with
			{
				'canAdd': {'title': 'Ajouter une domaine', 'path': path('magie.domaine.add')},
				'actionPath' : path('magie.domaine.list')
			} %}

		{% include '_partials/pagination.html.twig' %}

		<table class="table table-condensed table-striped table-bordered table-hover">
			<thead>
			<tr>
				<th>
					{% include '_partials/orderby.twig' with {'name' : 'Libellé', 'field' : 'label', 'route': 'magie.domaine.list' } %}
				</th>
				<th>Description</th>
				<th>Actions</th>
			</tr>
			</thead>
			<tbody>
			{% for domaine in paginator %}
				<tr>
					<td>{{ domaine.label|highlight(pagerService.searchValue) }}</td>
					<td>
						{{ domaine.description|markdown_to_html|highlight(pagerService.searchValue) }}
					</td>
					<td>
						<div class="btn-toolbar pull-right" role="toolbar">
							<div class="btn-group-vertical" role="group">
								<a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
								   title="Modifier"
								   href="{{ path('magie.domaine.update',{'domaine':domaine.id}) }}"><i
											class="fa fa-pencil"></i> Modifier</a>
								<a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
								   title="Détail" href="{{ path('magie.domaine.detail',{'domaine':domaine.id}) }}"><i
											class="fa fa-eye"></i> Detail</a>
								<a class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="bottom"
								   title="Supprimer"
								   href="{{ path('magie.domaine.delete',{'domaine':domaine.id}) }}"><i
											class="fa fa-eraser"></i> Supprimer</a>
							</div>
						</div>
					</td>
				</tr>
			{% else %}
				{% include '_partials/noResultTableRow.twig' %}
			{% endfor %}
			</tbody>
		</table>

		{% include '_partials/pagination.html.twig' %}

	</div>
	
{% endblock %}
