<ul class="list-group">
	{%  for rangement in rangements %}
		<a href="{{ path('stockRangement.update', {rangement: rangement.id}) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
			<div class="ms-2 me-auto">
				<h5 class="fw-bold">{{ rangement.label }}</h5>
				<p class="mb-1">{{ rangement.precision }} / {%  if rangement.localisation %} {{ rangement.localisation.label }} {%  endif %}</p>
			</div>
			<span class="badge text-bg-info">{{ rangement.objets|length }}</span>
		</a>
	{%  endfor %}
</ul>
