{% extends "base.html.twig" %}

{% block title %}{{ groupe.nom }}{% endblock title %}

{% block body %}

<div class="well well-sm">
	{{ form_start(form, {"attr": {"action": path('participant.admin.personnage.old', {'participant': participant.id}) }}) }}
		<fieldset>
			<legend>{{ groupe.nom }} - <small>Récupération d'un personnage</small></legend>
			
			{{ form(form) }}
		</fieldset>
	{{ form_end(form) }}
</div>

{% endblock body %}
